.font-weight-normal {
  font-weight: normal;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center !important;
}

.cursor-pointer {
  cursor: pointer;
}

.inline {
  display: inline;
}

.float-right {
  float: right;
}

.gray-icon {
  color: #D9D9D9;
}

.cyan-icon {
  color: #49C1BA;
}

.dark-gray-icon {
  color: #AAA;
}

.pt-10 {
  padding-top: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.h-22 {
  height: 22px;
}

.w-18 {
  width: 18px;
}

.bold {
  font-weight: bold;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.edit-input:hover {
  padding: 3px;
  border: 1px solid #999;
}

.time-input {
  min-width: 115px;
  min-height: 15px;
  display: inline-block;
}

.datetime-input:invalid {
  border: 1px solid #dc3545;

  &:focus-visible {
    outline: unset !important;
    border: 1px solid #dc3545;
    -webkit-box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  }
}

.datetime-input:invalid+span:after {
  content: '✖';
  color: #dc3545;
  padding-left: 5px;
}

#tree-dnd > table > thead nsj-button-dropdown.mr-18 button {
  margin-right: 18px;
}

#tree-dnd > table > tbody > tr > td > span > span > span.collapse-expand-icon {
  font-size: 28px;
  font-weight: bold;
}


/**
* Dropdown de adição da tree
*/
nsj-button-dropdown.escopo-dropdown-action > nsj-button-group > div > nsj-button > button {
  border: 0;
  margin: 0;
  height: 22px;
  width: 18px;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: unset !important;

  > span > span {
    color: #999;
  }

  &:hover, &:active {
    border-color: unset !important;
    color: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
  }
}
/**
* Fim dropdown de adição da tree
*/

.inline-block {
  display: inline-block;
}

.reduced-input {
  width: 80%;
}

.normal-input {
  width: 95%;
}

.table-veiculo-ocupado-modal {
  overflow-x: auto;
  max-width: 100%;
  display: inline-block;

  table {
    border: 0 !important;

    td, th {
        border: 1px solid #ddd;
    }
    .hide-tr-label {
        border: 0 !important;
    }

    th:last-child, td:last-child {
        width: 0;
        padding: 0 !important;
        border: 0 !important;
        min-width: auto;
    }
  }
}

#projetos-secao-escopo {
  // Skeleton
  .skeleton-container {
    &.totais-superiores {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        flex-direction: row;

        .item-skeleton {
            width: 200px;
        }
    }

    table.table.table-skeleton-escopo {
        .item-skeleton {
            width: 100%;
        }
        // Header
        thead {
            tr {
                th {
                    
                    &:nth-child(2){
                        .item-skeleton {
                            max-width: 130px;
                        }
                    }
                    &:nth-child(3){
                        .item-skeleton {
                            max-width: 155px;
                        }
                    }
                    &:nth-child(4){
                        .item-skeleton {
                            max-width: 135px;
                        }
                    }
                    &:nth-child(5){
                        .item-skeleton {
                            max-width: 40px;
                        }
                    }
                    &:nth-child(6){
                        .item-skeleton {
                            max-width: 85px;
                        }
                    }
                    &:nth-child(7){
                        .item-skeleton {
                            max-width: 100px;
                        }
                    }
                    &:nth-child(8){
                        .item-skeleton {
                            max-width: 130px;
                        }
                    }
                    &:last-child {
                        .item-skeleton {
                            max-width: 80px;
                        }
                    }
                }
            }
        }
        // Body
        tbody {
            tr {
                td {
                    border: none !important;
                    &:first-child {
                        .item-skeleton {
                            margin-left: 25px;
                        }
                    }

                    &:nth-child(1){
                        .item-skeleton {
                            max-width: 155px;
                        }
                    }
                    &:nth-child(2){
                        .item-skeleton {
                            max-width: 130px;
                        }
                    }
                    &:nth-child(3){
                        .item-skeleton {
                            max-width: 130px;
                        }
                    }
                    &:nth-child(4){
                      .item-skeleton {
                        max-width: 130px;
                      }
                    }
                    &:nth-child(5){
                        .item-skeleton {
                            max-width: 130px;
                        }
                    }
                    &:nth-child(6),&:nth-child(7),&:nth-child(8){
                        .item-skeleton {
                            max-width: 130px;
                        }
                    }
                    &:last-child {
                        .item-skeleton {
                            max-width: 80px;
                        }
                    }
                }
            }
        }
    }
  }
}

#projetos-secao-escopo > div > div.body {
  padding: 0 !important;

  > escopo-component > tree-dnd > table {
    margin-bottom: 0px;
    border-top: 0px !important;
  }
}

.border-top-0 {
  border-top: 0 !important;
}

/**
* Ajuste na largura da primeira coluna da tree
*/
@media screen and (min-width: 992px) {
  .width-70 {
    width: 70px;
    min-width: 70px;
  }
}

/**
* Fim ajuste de largura na primeira coluna da tree
*/

// Labels personalizadas para status em ordens de serviço
.label-preliminar {
  background: #31b0d5;
}

.label-agendada {
  background: #31b0d5;
}

.labe-encerrada {
  background: #449d44;
}

.label-faturadaSemCobranca {
  background: #449d44;
}

.label-faturada {
  background: #449d44;
}

.label-cancelada {
  background: #c9302c;
}

.label-faturadoParcialmente {
  background: #ec971f;
}

.label-aCaminho {
  background: #ec971f;
}

.label-aguardando {
  background: #ec971f;
}

.label-emExecucao {
  background: #ec971f;
}

.label-emPausa {
  background: #ec971f;
}

.label-realizadaComSucesso {
  background: #ec971f;
}

.label-realizadoComPendencia {
  background: #ec971f;
}

.label-naoRealizado {
  background: #ec971f;
}

.label-impedido {
  background: #ec971f;
}

.label-emTransito {
  background: #ec971f;
}
