<!-- Header da tela -->
<nsj-headline headline-sub="true" class="crm-listadavez-header">
    <!-- Lado esquerdo do header -->
    <div class="headline-fixed-listadavez">
        <div class="nsj-breadcrumb-back fixed-nsj-back">
            <label>
                <span class="titulo-tela">Lista da Vez</span>
            </label>
        </div>

        <!-- Ações: Lado direito do header -->
        <div class="acoes pull-right" resizer>
            <span ng-class="{ 'btn-fixed dropdown btn-group-vertical' : isLarge }">
                <!-- Lista: Criar -->
                <button type="button" tem-permissao="crm_listadavezvendedores_create"
                    ng-click="crm_lstvez_full_cntrllr.abrirModalLista()"
                    class="btn btn-sm btn-default btn-save btn-geral btn-acao btn-acao-lista-criar"
                    ng-if="crm_lstvez_full_cntrllr.mostrarAcao(crm_lstvez_full_cntrllr.EnumAcoesTela.atListaCriar)">

                    <i class="fas fa-plus"></i>
                    <span class="texto">Nova Lista</span>
                </button>
                <!-- Regras: Editar -->
                <button type="button"
                    ng-click="crm_lstvez_full_cntrllr.abaRegrasCtrl.onAcaoEditar()"
                    class="btn btn-sm btn-default btn-save btn-geral btn-acao btn-acao-regra-editar"
                    ng-if="crm_lstvez_full_cntrllr.mostrarAcao(crm_lstvez_full_cntrllr.EnumAcoesTela.atRegrasEditar)"
                    ng-disabled="crm_lstvez_full_cntrllr.abaRegrasCtrl.isBusy()">

                    <i class="fas fa-edit icone"></i>
                    <span class="texto">Editar</span>
                </button>
                <!-- Regras: Cancelar edição -->
                <a class="btn btn-sm btn-acao btn-acao-regra-cancelar-edicao"
                    ng-click="crm_lstvez_full_cntrllr.abaRegrasCtrl.onAcaoCancelarEdicao()"
                    ng-if="crm_lstvez_full_cntrllr.mostrarAcao(crm_lstvez_full_cntrllr.EnumAcoesTela.atRegrasCancelarEdicao)"
                    ng-disabled="crm_lstvez_full_cntrllr.abaRegrasCtrl.isBusy()"
                >
                    Cancelar
                </a>
                <!-- Regras: Salvar -->
                <button type="button" 
                    ng-click="crm_lstvez_full_cntrllr.abaRegrasCtrl.onAcaoSalvar()"
                    class="btn btn-sm btn-default btn-save btn-geral btn-acao btn-acao-regra-salvar"
                    ng-if="crm_lstvez_full_cntrllr.mostrarAcao(crm_lstvez_full_cntrllr.EnumAcoesTela.atRegrasSalvar)"
                    ng-disabled="crm_lstvez_full_cntrllr.abaRegrasCtrl.isBusy()">

                    <span class="texto">Salvar</span>
                </button>
            </span>
        </div>
    </div>
</nsj-headline>
<!-- Corpo da tela -->
<div class="height-full" style="overflow-y:auto;">
    <div id="crm-listadavez-container" class="crm-listadavez-container">
        <div class="abas-container">
            <ul class="nav nav-tabs">
                <li class="nav-item"
                    tem-permissao="crm_listadavezvendedores_index"
                    ng-click="crm_lstvez_full_cntrllr.ativarAba(crm_lstvez_full_cntrllr.EnumAbasTela.atListas)"
                    ng-class="{'ativa': crm_lstvez_full_cntrllr.abaAtiva == crm_lstvez_full_cntrllr.EnumAbasTela.atListas}">
                    Listas
                </li>
                <li class="nav-item"
                    tem-permissao="crm_configuracoes_listadavezconfiguracoes"
                    ng-click="crm_lstvez_full_cntrllr.ativarAba(crm_lstvez_full_cntrllr.EnumAbasTela.atRegras)"
                    ng-class="{'ativa': crm_lstvez_full_cntrllr.abaAtiva == crm_lstvez_full_cntrllr.EnumAbasTela.atRegras}">
                    Regras
                </li>
            </ul>
            <div class="tab-conteudo">
                <!-- Aba de lista de vendedores -->
                <div class="aba-listas tab-pane active"
                    ng-if="crm_lstvez_full_cntrllr.abaAtiva == crm_lstvez_full_cntrllr.EnumAbasTela.atListas">
                    <div ng-controller="CrmListaDaVezListasController as crm_lstvez_listas_cntrllr" ng-inject="{}">
                        <div class="listadavez-listas-container">
                            <div class="table-container">
                                <!-- Listagem de dados -->
                                <table
                                    class="table nsj-table table-striped table-hover table-condensed lst-listas btns-actions">
                                    <thead>
                                        <tr>
                                            <th class="nome">
                                                Nome da lista
                                            </th>
                                            <th class="qtd">
                                                Quantidade de Membros
                                            </th>
                                            <th class="data-criacao">
                                                Data de Criação
                                            </th>
                                            <th class="ultima-atualizacao">
                                                Última atualizaçao
                                            </th>
                                            <th class="actions"></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-if="!crm_lstvez_listas_cntrllr.isBusy()">
                                        <tr ng-repeat="lista in crm_lstvez_listas_cntrllr.entities" class="linha-lista">
                                            <td class="nome">
                                                {{ lista.nome }}
                                            </td>
                                            <td class="qtd">
                                                {{ lista.totalmembros }}
                                            </td>
                                            <td class="data-cricao">
                                                {{ crm_lstvez_listas_cntrllr.getDataFormatada(lista.created_at) }}
                                            </td>
                                            <td class="ultima-atualiacao">
                                                {{ crm_lstvez_listas_cntrllr.getDataFormatada(lista.updated_at) }}
                                            </td>
                                            <td class="actions">
                                                <div class='table-btns-actions'>
                                                    <nsj-actions>
                                                        <!-- Visualizar lista de vendedores -->
                                                        <nsj-action tem-permissao="crm_listadavezvendedores_get"
                                                            ng-click="crm_lstvez_full_cntrllr.abrirModalLista(lista)"
                                                            icon="fas fa-eye" title="Visualizar">
                                                        </nsj-action>
                                                        <!-- Excluir lista de vendedores -->
                                                        <nsj-action tem-permissao="crm_listadavezvendedores_delete"
                                                            ng-click="crm_lstvez_listas_cntrllr.excluirLista(lista)"
                                                            icon="fas fa-trash" title="Excluir">
                                                        </nsj-action>
                                                    </nsj-actions>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="sem-dados"
                                    ng-if="!crm_lstvez_listas_cntrllr.isBusy() && crm_lstvez_listas_cntrllr.entities.length == 0">
                                    <div class="texto">
                                        NENHUMA LISTA CRIADA
                                    </div>
                                </div>
                                <!-- Loading da lista -->
                                <div class="content-loading" ng-if="crm_lstvez_listas_cntrllr.isBusy()">
                                    <div class="center-loading text-center">
                                        <div class="onloading"></div>
                                        Carregando...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Aba de regras -->
                <div class="aba-regras tab-pane active"
                    ng-if="crm_lstvez_full_cntrllr.abaAtiva == crm_lstvez_full_cntrllr.EnumAbasTela.atRegras">
                    <div ng-controller="CrmListaDaVezRegrasController as crm_lstvez_regras_cntrllr" ng-inject="{abaRegrasCtrl: crm_lstvez_full_cntrllr.abaRegrasCtrl}">
                        <div class="listadavez-regras-container form-loading-layout-wrapper-body">
                            <div class="barra-ferramentas">
                                <!-- Checkbox de marcar/desmarcar todos -->
                                <div class="check-all-container">
                                    <label class="custom-checkbox">
                                        <input 
                                            type="checkbox" 
                                            ng-checked="crm_lstvez_regras_cntrllr.estaoTodosMarcados()" 
                                            ng-click="crm_lstvez_regras_cntrllr.marcarDesmarcarTodos()" />
                                        <span class="checkmark">
                                        </span>
                                    </label>
                                </div>
                                <!-- Apresentação do total de selecionados-->
                                <div class="total-selecionados-container">
                                    <span class="valor">{{ crm_lstvez_regras_cntrllr.getTotalSelecionados() }}</span>
                                    <span class="texto">itens selecionados</span>
                                </div>
                                <!-- Ação de excluir em massa -->
                                <div class="excluir-em-massa-container">
                                    <a class="btn btn-excluir" title="Excluir configurações" 
                                        ng-click="crm_lstvez_regras_cntrllr.acaoOnExcluirEmMassa()" >
                                        <span class="icone-container btn-excluir" >
                                            <i class="fas fa-trash" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- Tree de configurações -->
                            <tree-grid 
                                ng-if="!crm_lstvez_regras_cntrllr.isBusyCarregamento()"
                                tree-data="crm_lstvez_regras_cntrllr.dadosTreeEmCascata"
                                campo-expansao="crm_lstvez_regras_cntrllr.campoExpansao"
                                tree-control="crm_lstvez_regras_cntrllr.treeConfiguracoes"
                                col-defs="crm_lstvez_regras_cntrllr.col_defs" 
                                sorted-asc="fas fa-sort-alpha-up-alt" 
                                sorted-desc="fas fa-sort-alpha-down-alt" 
                                icon-expand="fas fa-chevron-right" 
                                icon-collapse="fas fa-chevron-down">
                            </tree-grid>
                        
                            <div ng-if="crm_lstvez_regras_cntrllr.dadosTreeEmCascata.length == 0 && !crm_lstvez_regras_cntrllr.isBusy()"
                                class="msg-sem-dados">
                                <div class="texto">NENHUMA REGRA CRIADA.</div>
                            </div>
                            <div class="content-loading" ng-if="crm_lstvez_regras_cntrllr.isBusy()">
                                <div class="center-loading text-center">
                                    <div class="onloading"></div>
                                    Carregando...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>