<div class="listadavez-listas-container">
    <div class="table-container">
        <!-- Listagem de dados -->
        <table class="table nsj-table table-striped table-hover table-condensed lst-listas btns-actions">
            <thead>
                <tr>
                    <th class="nome">
                        Nome da lista
                    </th>
                    <th class="qtd">
                        Quantidade de Membros
                    </th>
                    <th class="data-criacao">
                        Data de Criação
                    </th>
                    <th class="ultima-atualizacao">
                        Última atualizaçao
                    </th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody ng-if="!crm_lstvez_listas_cntrllr.isBusy()">
                <tr ng-repeat="lista in crm_lstvez_listas_cntrllr.entities" class="linha-lista">
                    <td class="nome">
                        {{ lista.nome }}
                    </td>
                    <td class="qtd">
                        {{ lista.totalmembros }}
                    </td>
                    <td class="data-cricao">
                        {{ crm_lstvez_listas_cntrllr.getDataFormatada(lista.created_at) }}
                    </td>
                    <td class="ultima-atualiacao">
                        {{ crm_lstvez_listas_cntrllr.getDataFormatada(lista.updated_at) }}
                    </td>
                    <td class="actions">
                        <div class='table-btns-actions'>
                            <nsj-actions>
                                <!-- Visualizar lista de vendedores -->
                                <nsj-action tem-permissao="crm_listadavezvendedores_get"
                                    ng-click="crm_lstvez_full_cntrllr.abrirModalLista(lista)" icon="fas fa-eye"
                                    title="Visualizar">
                                </nsj-action>
                                <!-- Excluir lista de vendedores -->
                                <nsj-action tem-permissao="crm_listadavezvendedores_delete"
                                    ng-click="crm_lstvez_listas_cntrllr.excluirLista(lista)" icon="fas fa-trash"
                                    title="Excluir">
                                </nsj-action>
                            </nsj-actions>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="sem-dados"
            ng-if="!crm_lstvez_listas_cntrllr.isBusy() && crm_lstvez_listas_cntrllr.entities.length == 0">
            <div class="texto">
                NENHUMA LISTA CRIADA
            </div>
        </div>
        <!-- Loading da lista -->
        <div class="content-loading" ng-if="crm_lstvez_listas_cntrllr.isBusy()">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </div>
</div>