   

 



<div ng-class="{'nsj-loading-page' : fnncs_cntrts_lst_cntrllr.busy }" class='financas_contratos nsj-layout '> 
    <div class="nsj-aside-list height-full col-md-4" ng-class="{ 'hidden-sm hidden-xs' : (('financas_contratos_show'| isStateEq) || ('financas_contratos_edit'| isStateEq) || ('financas_contratos_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
<nsj-headline headline-title="Contratos" ng-class="{ 'hidden-sm hidden-xs' : (('financas_contratos_show'| isStateEq) || ('financas_contratos_edit'| isStateEq) || ('financas_contratos_new'| isStateEq ))}">
    </nsj-headline>

<nsj-toolbar ng-on-change_toolbar="fnncs_cntrts_lst_cntrllr.search($event.detail)" search="false" refresh = "true" holder="Busca" model-search="{{fnncs_cntrts_lst_cntrllr.service.filter}}" select="{{fnncs_cntrts_lst_cntrllr.selectPage && fnncs_cntrts_lst_cntrllr.selected.length === fnncs_cntrts_lst_cntrllr.entities.length && !fnncs_cntrts_lst_cntrllr.selectAll && !fnncs_cntrts_lst_cntrllr.service.loadParams.finished}}" select-all="{{fnncs_cntrts_lst_cntrllr.selectAll}}" item-in-page="{{fnncs_cntrts_lst_cntrllr.entities.length}}" item-all="{{fnncs_cntrts_lst_cntrllr.entities[0].full_count}}">
                    </nsj-toolbar>
                <div class="panel-body height-full">
                                        <div class="list-group" id="financas_contratos_list" infinite-scroll='fnncs_cntrts_lst_cntrllr.nextPage()' infinite-scroll-disabled='fnncs_cntrts_lst_cntrllr.isBusy()' infinite-scroll-distance='1'>    <a href   class="list-group-item" ng-repeat="entity in fnncs_cntrts_lst_cntrllr.entities" ui-sref-active="active">
                        
                    </a>            <p class="list-group-item" ng-if="!fnncs_cntrts_lst_cntrllr.finished && (fnncs_cntrts_lst_cntrllr.service.to_load <= 0)">
            <a href="" ng-click="fnncs_cntrts_lst_cntrllr.loadMore()">Ver mais...</a>
        </p>
        <p class="text-center article-loading height-full" ng-class="{'onloading' : fnncs_cntrts_lst_cntrllr.isBusy() }" ng-if="fnncs_cntrts_lst_cntrllr.isBusy()"></p>
    <p class="text-center nfound" ng-if="fnncs_cntrts_lst_cntrllr.entities.length == 0 && !fnncs_cntrts_lst_cntrllr.isBusy()">Nenhum dado encontrado</p>
</div>
            
                                        </div><!--/panel-body-->
            </div><!--/panel-->
        </div>
    </div>

    <div class='empty-page col-md-8 article-area height-full padding-h-clear' ui-view>
            <div class="bt-new-article new-article text-center height-full">
                <span class="icon-page"><i class="fas fa-table fa-fw"></i></span>
                <h3>Selecione contrato</h3>
                <p>Selecione contrato no painel ao lado para ver suas informações. </p>
               
            </div>
        </div>
        <div class="content-loading"  ng-if="fnncs_cntrts_lst_cntrllr.busy">
                <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
                </div>
            </div>
</div>
