<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <!-- Quando a proposta item família permitir a edição da descrição -->
	<div class="row" ng-if="$ctrl.entity.nomefamiliaalterado">
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label" for="nome">Descrição</label>
				<input 
					class="form-control" 
					id="nome" 
					name="nome" 
					ng-model="$ctrl.entity.nome" 
					type='text'
					ng-required="($ctrl.entity.$$__submitting) !== true"
					maxlength="150"
				/>
				<div ng-messages="$ctrl.form.nome.$error" ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted">
					<div class="alert alert-danger" role="alert" ng-message="required">
						<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
						<span class="sr-only">Erro:</span>
						O campo Descrição não pode ser vazio
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="valor">Valor</label>
                <input 
                    type='money' 
                    class="form-control"
                    id="valor" 
                    name="valor" 
                    ng-model="$ctrl.entity.valor" 
                    ng-disabled="$ctrl.entity.$$__submitting" 
                    maxlength="16"
                    ui-money-mask 
                />
                <div ng-messages="$ctrl.form.valor.$error" ng-if="$ctrl.form.valor.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Valor tem o tamanho máximo permitido de 10 caracteres
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="quantidade">Quantidade</label>
                <input type='number' class="form-control" id="quantidade" name="quantidade"
                    ng-model="$ctrl.entity.quantidade" ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" onpaste="return false;" min="1" />
                <div ng-messages="$ctrl.form.quantidade.$error"
                    ng-if="$ctrl.form.quantidade.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="number">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        Valor informado não é um número.
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>