<script type="text/ng-template" id="tree-grid-custom-template-render.html">
    <div style="width:100%" >
        <table class="table tree-grid ns-tree-grid nsj-table btns-actions">
            <thead>
                <tr>
                    <th ng-repeat="col in colDefinitions" ng-class="{'h-align-center': col.colConfigObject.alinhamentoH == 'center', 
                        'h-align-left': col.colConfigObject.alinhamentoH == 'left', 'h-align-right': col.colConfigObject.alinhamentoH == 'right'}">
                        <a ng-if="col.sortable" ng-click="sortBy(col)">{{col.displayName || col.field}}</a>
                        <span ng-if="!col.sortable">{{col.displayName || col.field}}</span>
                        <i ng-if="col.sorted" class="{{col.sortingIcon}} pull-right"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in tree_rows | searchFor:$parent.filterString:expandingProperty:colDefinitions track by row.branch.uid"
                    ng-class="{'active': row.branch.selected, 'row-leaf': row.branch.children.length == 0}" class="level-{{ row.level }} tree-grid-row {{ row.branch.classes }}">
                    
                    <td ng-repeat="col in colDefinitions" class="col-{{ col.colConfigObject.id }}">
                        <!-- Primeira coluna: Coluna de expansão -->
                        <div ng-if="col.cellTemplate && $index==0" class="indented tree-label col-container col-expand-colapse" 
                            ng-click="on_user_click(row.branch)" compile="col.cellTemplate">
                        </div>
                        <!-- Demais colunas -->
                        <div ng-if="col.cellTemplate && $index!=0 && col.colConfigObject.isVisible(row.branch, row)" compile="col.cellTemplate" cell-template-scope="col.cellTemplateScope"
                            class="col-container" ng-class="{'h-align-center': col.colConfigObject.alinhamentoH == 'center', 
                            'h-align-left': col.colConfigObject.alinhamentoH == 'left', 'h-align-right': col.colConfigObject.alinhamentoH == 'right'}" >
                        </div>
                    </td>
                    <!-- A ultima td sempre tem que ser a de actions, de acordo com o nasajon-ui -->
                    <td>
                        <div class='table-btns-actions'>
                            <nsj-actions ng-if="row.branch.blockAcoesIsVisible()">
                                <nsj-action 
                                    ng-if="acao.isVisible(row.branch)"
                                    ng-repeat="acao in row.branch.arrAcoes" 
                                    ng-click="acao.fnClick(row.branch)"
                                    icon='{{acao.icon}}'
                                    title='{{acao.nome}}' >
                                </nsj-action>
                            </nsj-actions>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<tree-grid
    icon-expand="{{$ctrl.dadosTree.iconExpand}}"
    icon-collapse="{{$ctrl.dadosTree.iconCollapse}}"
    tree-data="$ctrl.dadosTree.arrDados" 
    tree-control="$ctrl.dadosTree.treeControl"
    col-defs="$ctrl.dadosTree.arrColunas"
    template-url="tree-grid-custom-template-render.html"
    expand-level="{{$ctrl.dadosTree.expandLevel}}" >
</tree-grid>
