.action-buttons-wrapper {
  margin-bottom: 15px;
}

// Accordion de serviços e materiais
.accordion-informacoes-gerais,
.acordion-servicos,
.acordion-materiais {
  // Container do Botão de adicionar
  .btn-adicionar {
    text-align: right;
  }

  // Tabela de ações
  table.nsj-table.btns-actions {
    tbody {
      tr {
        td {
          &:last-child {
            width: 0;
          }
        }
      }
    }
  }

  // Mensagem de erro de carregamento
  .erro-carregamento {
    // Botão de recarregar
    .btn-retry {
      font-weight: 600;
      cursor: pointer;
    }
  }
}
