<div ng-controller="NsFollowupsnegociosFormNewController as ctrl_newfollowupsnegocios" 
    ng-inject="{entity:crm_ngc_full_cntrllr.entity}">
    <form nsj-focus name="ctrl_newfollowupsnegocios.form" novalidate="novalidate" 
        ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : ctrl_newfollowupsnegocios.busy }" role="form" class="height-full">

        <div><span style="font-size: 16px; font-weight: bold;">Novo Acompanhamento</span></div>


        <ns-followupsnegocios-default
            entity="ctrl_newfollowupsnegocios.entity"
            form="ctrl_newfollowupsnegocios.form"
            busy="ctrl_newfollowupsnegocios.busy"
            action="ctrl_newfollowupsnegocios.action"
            constructors="ctrl_newfollowupsnegocios.constructors">

        </ns-followupsnegocios-default>

        <button type="button"
                ng-click="ctrl_newfollowupsnegocios.submit()"
                ng-class="{loading:ctrl_newfollowupsnegocios.entity.$$__submitting}"
                ng-disabled="ctrl_newfollowupsnegocios.entity.$$__submitting || ctrl_newfollowupsnegocios.form.$pristine"
                class="btn btn-sm btn-warning btn-save btn-geral">

            <i class="fa fa-check"></i> Salvar
        </button>

        <a class="btn btn-sm" ng-click="ctrl_followupsnegocios.mudaVisualizacaoFollowup(crm_ngc_full_cntrllr.entity.documento)">
            <i class="fa fa-times" aria-hidden="true"></i>
            Cancelar
        </a>
    </form>
</div>