<div class="height-full layout-list">
  <form
    nsj-focus
    name="qps_frm_nw_cntrllr.form"
    novalidate="novalidate"
    ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : qps_frm_nw_cntrllr.busy }"
    role="form"
    ng-submit="qps_frm_nw_cntrllr.submit()"
    class="height-full"
  >
    <nsj-headline headline-title="" headline-sub="true">
      <ul class="list-unstyled list-inline pull-right">
        <li>
          <div class="form-group pull-right">
            <button
              type="button"
              ng-click="qps_frm_nw_cntrllr.submit()"
              ng-class="{loading:qps_frm_nw_cntrllr.entity.$$__submitting}"
              ng-disabled="qps_frm_nw_cntrllr.entity.$$__submitting || qps_frm_nw_cntrllr.form.$pristine"
              class="btn btn-sm btn-warning btn-save btn-geral"
            >
              <i class="fa fa-check"></i> Salvar
            </button>

            <a class="btn btn-sm btn-default" ui-sref="equipes({})"
              ><i class="fa fa-times" aria-hidden="true"></i> Descartar</a
            >
          </div>
        </li>
      </ul>
    </nsj-headline>
    <div class="nsj-form padding-content">
      <equipes-form
        entity="qps_frm_nw_cntrllr.entity"
        form="qps_frm_nw_cntrllr.form"
        busy="qps_frm_nw_cntrllr.busy"
        action="qps_frm_nw_cntrllr.action"
        constructors="qps_frm_nw_cntrllr.constructors"
      ></equipes-form>
    </div>
    <div class="content-loading" ng-if="qps_frm_nw_cntrllr.busy">
      <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
      </div>
    </div>
  </form>
</div>
