<div class="tela-preencher-orcamento-fornecedor" ng-class="{
    'form-loading-layout-wrapper-body': crm_atcs_prcr_orc_cntrllr.busy
}">
    <!-- Container dos dados do atendimento -->
    <div class="custom-form-view" ng-if="!crm_atcs_prcr_orc_cntrllr.busyInicializacao">
        <div class="nsj-form-view">
            <!-- Campos customizados -->
            <div class="row row-campos-customizados-resumo row-form-view" >
                <div class="col-sm-12 customizado">
                    <nsj-custom-field style="width: 100%"
                        ng-prop-custom_fields="crm_atcs_prcr_orc_cntrllr.camposCustomizados" 
                        id-field="camposcustomizadosFalecidoViewResumo" 
                        ng-prop-model="crm_atcs_prcr_orc_cntrllr.entity.camposcustomizados"
                        mode="view">
                    </nsj-custom-field>
                </div>
            </div>

            <!-- Localização -->
            <div class="row localizacao-container">
                <div class="col-sm-12" ng-if="crm_atcs_prcr_orc_cntrllr.entity.area.localizacao">
                    <fieldset>
                        <legend>
                            Localização {{ crm_atcs_prcr_orc_cntrllr.entity.complementoCaption }}
                        </legend>
                        <div class="row row-form-view">
                            <div class="col-sm-12">
                                <div class="form-group clearfix">
                                    <label class="control-label">Descrição
                                    </label>
                                    <p class="form-control-static">
                                        <span id="localizacaonome"
                                            class="form-control-static"
                                            ng-bind="crm_atcs_prcr_orc_cntrllr.entity.localizacaonome || 'Não informado'">
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-form-view">
                            <div class="col-sm-4">
                                <div class="form-group clearfix"><label class="control-label">CEP </label>
                                    <p class="form-control-static"><span id="localizacaocep" class="form-control-static"
                                            ng-bind="(crm_atcs_prcr_orc_cntrllr.entity.localizacaocep) || 'Não informado'"></span></p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix"><label class="control-label">Pais </label>
                                    <p class="form-control-static"><span id="localizacaopais"
                                            class="form-control-static"
                                            ng-bind="crm_atcs_prcr_orc_cntrllr.entity.localizacaopais.nome || 'Não informado'"></span></p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix"><label class="control-label">Estado </label>
                                    <p class="form-control-static"><span id="localizacaoestado"
                                            class="form-control-static"
                                            ng-bind="crm_atcs_prcr_orc_cntrllr.entity.localizacaoestado.nome || 'Não informado'"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-form-view" ng-if="crm_atcs_prcr_orc_cntrllr.exibirMunicipioSepultamento && crm_atcs_prcr_orc_cntrllr.entity.localizacaopais.pais === '1058'">
                            <div class="col-sm-6">
                                <div class="form-group clearfix">
                                    <label class="control-label">
                                        Estado de Sepultamento
                                    </label>
                                    <p class="form-control-static">
                                        <span id="localizacaoestadosepultamento"
                                            class="form-control-static"
                                            ng-bind="crm_atcs_prcr_orc_cntrllr.entity.localizacaoestadosepultamento.nome || 'Não informado'">
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group clearfix"><label class="control-label">Município de Sepultamento
                                    </label>
                                    <p class="form-control-static"><span id="localizacaomunicipiosepultamento"
                                            class="form-control-static"
                                            ng-bind="crm_atcs_prcr_orc_cntrllr.entity.localizacaomunicipiosepultamento.nome || 'Não informado'"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-form-view">
                            <div class="col-sm-4" ng-if="crm_atcs_prcr_orc_cntrllr.entity.localizacaopais.pais === '1058'">
                                <div class="form-group clearfix"><label class="control-label">Municipio </label>
                                    <p class="form-control-static"><span id="localizacaomunicipio"
                                            class="form-control-static"
                                            ng-bind="crm_atcs_prcr_orc_cntrllr.entity.localizacaomunicipio.nome || 'Não informado'"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-if="crm_atcs_prcr_orc_cntrllr.entity.localizacaopais.pais !== '1058'">
                                <div class="form-group clearfix"><label class="control-label">Cidades estrangeiras
                                    </label>
                                    <p class="form-control-static"><span id="localizacaocidadeestrangeira"
                                            class="form-control-static"
                                            ng-bind="crm_atcs_prcr_orc_cntrllr.entity.localizacaocidadeestrangeira.nome || 'Não informado'"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix"><label class="control-label">Bairro </label>
                                    <p class="form-control-static"><span id="localizacaobairro"
                                            class="form-control-static"
                                            ng-bind="(crm_atcs_prcr_orc_cntrllr.entity.localizacaobairro) || 'Não informado'"></span></p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group clearfix"><label class="control-label">Logradouro </label>
                                    <p class="form-control-static"><span id="localizacaotipologradouro"
                                            class="form-control-static"
                                            ng-bind="crm_atcs_prcr_orc_cntrllr.entity.localizacaotipologradouro.descricao || 'Não informado'"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-form-view">
                            <div class="col-sm-8">
                                <div class="form-group clearfix"><label class="control-label">Rua </label>
                                    <p class="form-control-static"><span id="localizacaorua" class="form-control-static"
                                            ng-bind="(crm_atcs_prcr_orc_cntrllr.entity.localizacaorua) || 'Não informado'"></span></p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix"><label class="control-label">Número </label>
                                    <p class="form-control-static"><span id="localizacaonumero"
                                            class="form-control-static"
                                            ng-bind="(crm_atcs_prcr_orc_cntrllr.entity.localizacaonumero) || 'Não informado'"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-form-view">
                            <div class="col-sm-8">
                                <div class="form-group clearfix"><label class="control-label">Complemento </label>
                                    <p class="form-control-static"><span id="localizacaocomplemento"
                                            class="form-control-static"
                                            ng-bind="(crm_atcs_prcr_orc_cntrllr.entity.localizacaocomplemento) || 'Não informado'"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix"><label class="control-label">Referência </label>
                                    <p class="form-control-static"><span id="localizacaoreferencia"
                                            class="form-control-static"
                                            ng-bind="crm_atcs_prcr_orc_cntrllr.entity.localizacaoreferencia|| 'Não informado'"></span></p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <!-- Observações do atendimento -->
            <div class="row row-form-view">
                <div class="col-sm-12">
                    <div class="form-group clearfix">
                        <label class="control-label">Observações do atendimento</label>
                        <p class="form-control-static">
                            <span id="observacoes" class="form-control-static"
                                ng-bind="crm_atcs_prcr_orc_cntrllr.entity.observacoes|| 'Não informado'"></span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Preenchimento do orçamento -->
            <div class="row preenchimento-orcamento-container">
                <div class="col-sm-12">
                    <fieldset>
                        <legend>
                            Itens de orçamento para serem preenchidos
                        </legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Container de dados -->
                                <div class="dados-container">
                                    <!-- Container da ficha do fornecedor-->
                                    <div class="ficha-fornecedor-container" ng-if="crm_atcs_prcr_orc_cntrllr.dadosFicha">
                                        <!-- Tabela de dados de serviços -->
                                        <table class="tabela-fornecedor tabela-servicos table nsj-table btns-actions">
                                            <tbody>
                                                <!-- Linhas dos serviços e produtos -->
                                                <tr class="produtos-servicos" ng-repeat="linha in crm_atcs_prcr_orc_cntrllr.dadosFicha.linhasServicos"
                                                    ng-class="{
                                                        'titulos': linha.tipo == 'titulo',
                                                        'linha-valores': linha.tipo != 'titulo'
                                                    }"
                                                >
                                                    <!-- Descrição do serviço -->
                                                    <td class="descricao">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">{{ linha.nome }}</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor"
                                                        >
                                                            <div class="visualizacao">
                                                                {{ linha.orcamento.descricao }}
                                                                <!-- Informativo de dados do prestador terceirizado -->
                                                                <div class="dados-tooltip-prestador-terceirizado" ng-if="linha.orcamento.servicotipo != null">
                                                                    <span class="icone">
                                                                        <i class="fas fa-info-circle blue"></i>
                                                                    </span>
                                                                    <nsj-tooltip tooltip-position="top">
                                                                        <p>
                                                                            <strong style="font-size:96%;">{{ linha.orcamento.servicotipoDescricao }}</strong>
                                                                        </p>
                                                                        <p>
                                                                            <span class="icone-prestadora">
                                                                                <i class="fas fa-building"></i>
                                                                            </span>
                                                                            {{ linha.orcamento.fornecedorterceirizadonomefantasia }}
                                                                        </p>
                                                                    </nsj-tooltip>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Custo -->
                                                    <td class="custo">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">Custo</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor"
                                                            ng-class="{
                                                                'pode-editar': crm_atcs_prcr_orc_cntrllr.podeEditarCampoOrcamento(
                                                                    crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'custo'
                                                                )
                                                            }"
                                                        >
                                                            <div class="visualizacao">
                                                                {{ linha.orcamento.custo | currency : 'R$ ' : 2 }}
                                                            </div>
                                                            <div class="edicao">
                                                                <input class="form-control" ui-money-mask
                                                                    ng-model="linha.orcamento.custo"
                                                                    ng-blur="crm_atcs_prcr_orc_cntrllr.onCampoOrcamentoChange(crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'custo')" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Valor unitário -->
                                                    <td class="valorunitario">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">Valor unitário</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor"
                                                            ng-class="{
                                                                'pode-editar': crm_atcs_prcr_orc_cntrllr.podeEditarCampoOrcamento(
                                                                    crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'valorunitario'
                                                                )
                                                            }"
                                                        >
                                                            <div class="visualizacao">
                                                                {{ linha.orcamento.valorunitario | currency : 'R$ ' : 2 }}
                                                            </div>
                                                            <div class="edicao">
                                                                <input class="form-control" ui-money-mask
                                                                    ng-model="linha.orcamento.valorunitario"
                                                                    ng-blur="crm_atcs_prcr_orc_cntrllr.onCampoOrcamentoChange(crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'valorunitario')" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Quantidade -->
                                                    <td class="quantidade">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">Quantidade</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor"
                                                            ng-class="{
                                                                'pode-editar': crm_atcs_prcr_orc_cntrllr.podeEditarCampoOrcamento(
                                                                    crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'quantidade'
                                                                )
                                                            }"
                                                        >
                                                            <div class="visualizacao">
                                                                {{ linha.orcamento.quantidade }}
                                                            </div>
                                                            <div class="edicao">
                                                                <input class="form-control" 
                                                                    ng-model="linha.orcamento.quantidade"
                                                                    ng-blur="crm_atcs_prcr_orc_cntrllr.onCampoOrcamentoChange(crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'quantidade')" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Orçamento -->
                                                    <td class="valor">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">Orçamento</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor">
                                                            <div class="visualizacao">
                                                                {{ linha.orcamento.valor | currency : 'R$ ' : 2 }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Prestador Tercerizado -->
                                                    <td class="prestador-externo">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">Prestador externo</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor pode-editar">
                                                            <div class="edicao" ng-if="linha.orcamento.servicotipo != null">
                                                                <nsj-lookup
                                                                    ng-change="crm_atcs_prcr_orc_cntrllr.onCampoOrcamentoChange(crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'fornecedorterceirizado')"
                                                                    class="lookup-fornecedor"
                                                                    name="fornecedor"
                                                                    id-name="fornecedor"
                                                                    factory="NsFornecedoresErp"  
                                                                    ng-model="linha.orcamento.fornecedorterceirizadoObj" 
                                                                    template="ns-fornecedores-default"
                                                                    max-label="3"
                                                                    constructor="{  }"
                                                                    config='{ "nomefantasia":"Nome",}'
                                                                >
                                                                </nsj-lookup>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Ações -->
                                                    <td>
                                                        <div class='table-btns-actions'
                                                            ng-class="{'naopossuiacoes': linha.acoes.length == 0}">
                                                            <nsj-actions >
                                                                <nsj-action
                                                                    ng-repeat="acao in linha.acoes"  
                                                                    ng-click='acao.funcao(crm_atcs_prcr_orc_cntrllr.dadosFicha, linha)' 
                                                                    icon={{acao.icone}}
                                                                    title={{acao.nome}}
                                                                >
                                                                </nsj-action>
                                                            </nsj-actions>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- Totais: Só apresento se fornecedor já foi acionado -->
                                                <tr class="titulos totais" ng-if="crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha.acionado() && crm_atcs_prcr_orc_cntrllr.dadosFicha.linhasServicos.length > 0">
                                                    <td>Totais</td>
                                                    <td>{{ crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha.getTotal('custo', 'servico') | currency : 'R$ ' : 2 }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{ crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha.getTotal('valor', 'servico') | currency : 'R$ ' : 2 }}</td>
                                                    <!-- Prestador externo -->
                                                    <td></td>
                                                    <!-- Ações -->
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- Tabela de dados de produtos -->
                                        <table class="tabela-fornecedor tabela-produtos table nsj-table btns-actions">
                                            <tbody>
                                                <!-- Linhas dos serviços e produtos -->
                                                <tr class="produtos-servicos" ng-repeat="linha in crm_atcs_prcr_orc_cntrllr.dadosFicha.linhasProdutos"
                                                    ng-class="{
                                                        'titulos': linha.tipo == 'titulo',
                                                        'linha-valores': linha.tipo != 'titulo'
                                                    }"
                                                >
                                                    <!-- Descrição do serviço -->
                                                    <td class="descricao">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">{{ linha.nome }}</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor"
                                                        >
                                                            <div class="visualizacao">
                                                                {{ linha.orcamento.descricao }}
                                                                <!-- Informativo de dados do prestador terceirizado -->
                                                                <div class="dados-tooltip-prestador-terceirizado" ng-if="linha.orcamento.fornecedorterceirizado">
                                                                    <span class="icone">
                                                                        <i class="fas fa-info-circle blue"></i>
                                                                    </span>
                                                                    <nsj-tooltip tooltip-position="top">
                                                                        <p ng-if="linha.orcamento.servicotipo != null">
                                                                            <strong style="font-size:96%;">{{ linha.orcamento.servicotipoDescricao }}</strong>
                                                                        </p>
                                                                        <p>
                                                                            <span class="icone-prestadora">
                                                                                <i class="fas fa-building"></i>
                                                                            </span>
                                                                            {{ linha.orcamento.fornecedorterceirizadonomefantasia }}
                                                                        </p>
                                                                    </nsj-tooltip>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Custo -->
                                                    <td class="custo">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">Custo</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor"
                                                            ng-class="{
                                                                'pode-editar': crm_atcs_prcr_orc_cntrllr.podeEditarCampoOrcamento(
                                                                    crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'custo'
                                                                )
                                                            }"
                                                        >
                                                            <div class="visualizacao">
                                                                {{ linha.orcamento.custo | currency : 'R$ ' : 2 }}
                                                            </div>
                                                            <div class="edicao">
                                                                <input class="form-control" ui-money-mask
                                                                    ng-model="linha.orcamento.custo"
                                                                    ng-blur="crm_atcs_prcr_orc_cntrllr.onCampoOrcamentoChange(crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'custo')" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Valor unitário -->
                                                    <td class="valorunitario">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">Valor unitário</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor"
                                                            ng-class="{
                                                                'pode-editar': crm_atcs_prcr_orc_cntrllr.podeEditarCampoOrcamento(
                                                                    crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'valorunitario'
                                                                )
                                                            }"
                                                        >
                                                            <div class="visualizacao">
                                                                {{ linha.orcamento.valorunitario | currency : 'R$ ' : 2 }}
                                                            </div>
                                                            <div class="edicao">
                                                                <input class="form-control" ui-money-mask
                                                                    ng-model="linha.orcamento.valorunitario"
                                                                    ng-blur="crm_atcs_prcr_orc_cntrllr.onCampoOrcamentoChange(crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'valorunitario')" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Quantidade -->
                                                    <td class="quantidade">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">Quantidade</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor"
                                                            ng-class="{
                                                                'pode-editar': crm_atcs_prcr_orc_cntrllr.podeEditarCampoOrcamento(
                                                                    crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'quantidade'
                                                                )
                                                            }"
                                                        >
                                                            <div class="visualizacao">
                                                                {{ linha.orcamento.quantidade }}
                                                            </div>
                                                            <div class="edicao">
                                                                <input class="form-control" 
                                                                    ng-model="linha.orcamento.quantidade"
                                                                    ng-blur="crm_atcs_prcr_orc_cntrllr.onCampoOrcamentoChange(crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha, linha, 'quantidade')" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Orçamento -->
                                                    <td class="valor">
                                                        <!-- Se for linha de título -->
                                                        <div ng-if="linha.tipo == 'titulo'">Orçamento</div>
                                                        <!-- Se for linha de valor -->
                                                        <div ng-if="linha.tipo == 'valor'" class="valor">
                                                            <div class="visualizacao">
                                                                {{ linha.orcamento.valor | currency : 'R$ ' : 2 }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Ações -->
                                                    <td>
                                                        <div class='table-btns-actions'
                                                            ng-class="{'naopossuiacoes': linha.acoes.length == 0}">
                                                            <nsj-actions >
                                                                <nsj-action
                                                                    ng-repeat="acao in linha.acoes"  
                                                                    ng-click='acao.funcao(crm_atcs_prcr_orc_cntrllr.dadosFicha, linha)' 
                                                                    icon={{acao.icone}}
                                                                    title={{acao.nome}}
                                                                >
                                                                </nsj-action>
                                                            </nsj-actions>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- Totais: Só apresento se fornecedor já foi acionado -->
                                                <tr class="titulos totais" ng-if="crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha.acionado() && crm_atcs_prcr_orc_cntrllr.dadosFicha.linhasProdutos.length > 0">
                                                    <td>Totais</td>
                                                    <td>{{ crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha.getTotal('custo', 'produto') | currency : 'R$ ' : 2 }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{ crm_atcs_prcr_orc_cntrllr.dadosFicha.ficha.getTotal('valor', 'produto') | currency : 'R$ ' : 2 }}</td>
                                                    <!-- Ações -->
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Mensagem de sem dados -->
                                    <div class="sem-dados" ng-if="!crm_atcs_prcr_orc_cntrllr.dadosFicha">
                                        <p>Não existem dados para apresentar!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading de processamento -->
    <div class="content-loading"  ng-if="crm_atcs_prcr_orc_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            {{ crm_atcs_prcr_orc_cntrllr.busyMensagem }}
        </div>
    </div>
</div>