<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">
  <fieldset>
    <legend class="subtitulo-modal">Descrição</legend>
  </fieldset>
  <div class="row ">
    <div class="col-sm-12">
      <div class=" form-group"><label class="control-label" for="nome">Nome</label><input type='text'
          class="form-control" id="nome" name="nome" maxlength="150" ng-model="$ctrl.entity.nome"
          ng-disabled="$ctrl.entity.$$__submitting" ng-required="true" />
        <div ng-messages="$ctrl.form.nome.$error" ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="required"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Nome não pode ser vazio
          </div>
          <div class="alert alert-danger" role="alert" ng-message="maxlength"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Nome aceita no máximo 150 caracteres
          </div>
        </div>
      </div>
    </div>
  </div>

  <fieldset>
    <legend class="subtitulo-modal">Endereço</legend>
  </fieldset>
  <div class="row ">
    <div class="col-sm-4">
      <div class="form-group"><label class="control-label" for="pais">País</label>
        <nsj-lookup name="pais" id-name="pais" factory="NsPaises" ng-model="$ctrl.entity.pais" max-label="1"
          constructor="{  }" config='{ "nome":"Nome",  }' disabled="$ctrl.entity.$$__submitting"
          required="($ctrl.entity.$$__submitting) !== true" ns-required="true"></nsj-lookup>
        <div ng-messages="$ctrl.form.pais.$error" ng-if="$ctrl.form.pais.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="required"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo País não pode ser vazio
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais !== '1058'">
      <div class="form-group"><label class="control-label" for="cidadeestrangeira">Cidades estrangeiras</label>
        <nsj-lookup name="cidadeestrangeira" id-name="cidadeestrangeira" factory="NsCidadesestrangeiras"
          ng-model="$ctrl.entity.cidadeestrangeira" max-label="1" constructor="{  }" config='{ "nome":"Nome",  }'
          disabled="$ctrl.entity.$$__submitting" required="($ctrl.entity.$$__submitting) !== true" ns-required="true">
        </nsj-lookup>
        <div ng-messages="$ctrl.form.cidadeestrangeira.$error"
          ng-if="$ctrl.form.cidadeestrangeira.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="required"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Cidade Estrangeira não pode ser vazio
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais === '1058'">
      <div class="form-group">
        <label class="control-label" for="cep">CEP</label>
        <input type='text' ui-mask="99.999-999" class="form-control" id="cep" name="cep" maxlength="10"
          ng-model="$ctrl.entity.cep" ng-disabled="$ctrl.entity.$$__submitting" />
        <div ng-messages="$ctrl.form.cep.$error" ng-if="$ctrl.form.cep.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="maxlength">
            <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
            <span class="sr-only">Erro:</span>
            Esse campo aceita no máximo 10 caracteres
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais === '1058'">
      <div class="form-group"><label class="control-label" for="estado">Estado</label>
        <nsj-lookup name="estado" id-name="uf" factory="NsEstados" ng-model="$ctrl.entity.estado" max-label="1"
          constructor="{  }" config='{ "nome":"Nome",  }' disabled="$ctrl.entity.$$__submitting"
          required="($ctrl.entity.$$__submitting) !== true" ns-required="true"></nsj-lookup>
        <div ng-messages="$ctrl.form.estado.$error" ng-if="$ctrl.form.estado.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="required"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Estado não pode ser vazio
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais === '1058'">
      <div class="form-group">
        <label class="control-label" for="municipio">Município</label>

        <nsj-lookup name="municipio" id-name="codigo" factory="NsMunicipios" ng-model="$ctrl.entity.municipio"
          filter="{ 'uf': [ {'condition':'eq','value':$ctrl.entity.estado.uf },  ], }" max-label="1" constructor="{  }"
          config='{ "nome":"Nome",  }' disabled="$ctrl.entity.$$__submitting"
          required="($ctrl.entity.$$__submitting) !== true" ns-required="true">
        </nsj-lookup>

        <div ng-messages="$ctrl.form.municipio.$error" ng-if="$ctrl.form.municipio.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="required">
            <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
            <span class="sr-only">Erro:</span>
            O campo Município não pode ser vazio
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais !== '1058'">
      <div class="form-group">
        <label class="control-label" for="cep">CEP</label>
        <input type='text' ui-mask="99.999-999" class="form-control" id="cep" name="cep" maxlength="10"
          ng-model="$ctrl.entity.cep" ng-disabled="$ctrl.entity.$$__submitting" />
        <div ng-messages="$ctrl.form.cep.$error" ng-if="$ctrl.form.cep.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="maxlength">
            <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
            <span class="sr-only">Erro:</span>
            Esse campo aceita no máximo 10 caracteres
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group"><label class="control-label" for="bairro">Bairro</label><input type='text'
          class="form-control" id="bairro" name="bairro" maxlength="60" ng-model="$ctrl.entity.bairro"
          ng-disabled="$ctrl.entity.$$__submitting" />
        <div ng-messages="$ctrl.form.bairro.$error" ng-if="$ctrl.form.bairro.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="maxlength"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Bairro aceita no máximo 60 caracteres
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais !== '1058'">
      <div class="form-group"><label class="control-label" for="tipologradouro">Tipo de Logradouro</label>
        <nsj-lookup name="tipologradouro" id-name="tipologradouro" factory="NsTiposlogradouros"
          ng-model="$ctrl.entity.tipologradouro" max-label="2" constructor="{  }"
          config='{ "tipologradouro":"Tipo", "descricao":"Descricao",  }' disabled="$ctrl.entity.$$__submitting"
          required="($ctrl.entity.$$__submitting) !== true" ns-required="true">
        </nsj-lookup>
        <div ng-messages="$ctrl.form.tipologradouro.$error"
          ng-if="$ctrl.form.tipologradouro.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="required"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Tipo de Logradouro não pode ser vazio
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais === '1058'">
      <div class="form-group"><label class="control-label" for="tipologradouro">Tipo de Logradouro</label>
        <nsj-lookup name="tipologradouro" id-name="tipologradouro" factory="NsTiposlogradouros"
          ng-model="$ctrl.entity.tipologradouro" max-label="2" constructor="{  }"
          config='{ "tipologradouro":"Tipo", "descricao":"Descricao",  }' disabled="$ctrl.entity.$$__submitting"
          required="($ctrl.entity.$$__submitting) !== true" ns-required="true">
        </nsj-lookup>
        <div ng-messages="$ctrl.form.tipologradouro.$error"
          ng-if="$ctrl.form.tipologradouro.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="required"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Tipo de Logradouro não pode ser vazio
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="form-group"><label class="control-label" for="rua">Nome do Logradouro</label><input type='text'
          class="form-control" id="rua" name="rua" maxlength="150" ng-model="$ctrl.entity.rua"
          ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
        <div ng-messages="$ctrl.form.rua.$error" ng-if="$ctrl.form.rua.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="maxlength"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Nome do Logradouro aceita no máximo 150 caracteres
          </div>
          <div class="alert alert-danger" role="alert" ng-message="required"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Nome do Logradouro não pode ser vazio
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais !== '1058'">
      <div class="form-group"><label class="control-label" for="numero">Número</label><input type='text'
          class="form-control" id="numero" name="numero" maxlength="10" ng-model="$ctrl.entity.numero"
          ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
        <div ng-messages="$ctrl.form.numero.$error" ng-if="$ctrl.form.numero.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="maxlength"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Numero aceita no máximo 10 caracteres
          </div>
          <div class="alert alert-danger" role="alert" ng-message="required"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Número não pode ser vazio
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais === '1058'">
      <div class="form-group"><label class="control-label" for="numero">Número</label><input type='text'
          class="form-control" id="numero" name="numero" maxlength="10" ng-model="$ctrl.entity.numero"
          ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
        <div ng-messages="$ctrl.form.numero.$error" ng-if="$ctrl.form.numero.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="maxlength"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Numero aceita no máximo 10 caracteres
          </div>
          <div class="alert alert-danger" role="alert" ng-message="required"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Número não pode ser vazio
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais === '1058'">
      <div class="form-group"><label class="control-label" for="complemento">Complemento</label><input type='text'
          class="form-control" id="complemento" name="complemento" maxlength="60" ng-model="$ctrl.entity.complemento"
          ng-disabled="$ctrl.entity.$$__submitting" />
        <div ng-messages="$ctrl.form.complemento.$error" ng-if="$ctrl.form.complemento.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="maxlength"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Complemento aceita no máximo 60 caracteres
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.entity.pais.pais === '1058'">
      <div class="form-group">
        <label class="control-label" for="referencia">Ponto de Referência</label>
        <input type='text' class="form-control" id="referencia" name="referencia" ng-model="$ctrl.entity.referencia"
          ng-disabled="$ctrl.entity.$$__submitting" />
      </div>
    </div>

    <div class="col-sm-6" ng-if="$ctrl.entity.pais.pais !== '1058'">
      <div class="form-group"><label class="control-label" for="complemento">Complemento</label><input type='text'
          class="form-control" id="complemento" name="complemento" maxlength="60" ng-model="$ctrl.entity.complemento"
          ng-disabled="$ctrl.entity.$$__submitting" />
        <div ng-messages="$ctrl.form.complemento.$error" ng-if="$ctrl.form.complemento.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="maxlength"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo Complemento aceita no máximo 60 caracteres
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" ng-if="$ctrl.entity.pais.pais !== '1058'">
      <div class="form-group">
        <label class="control-label" for="referencia">Ponto de Referência</label>
        <input type='text' class="form-control" id="referencia" name="referencia" ng-model="$ctrl.entity.referencia"
          ng-disabled="$ctrl.entity.$$__submitting" />
      </div>
    </div>
  </div>
</form>