<form class="height-full" name="$ctrl.form" novalidate="novalidate" role="form">
    <div class="row ">
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label" for="codigo">Código</label>
                <input class="form-control" id="codigo" maxlength="30" name="codigo"
                       ng-disabled="$ctrl.entity.$$__submitting || $ctrl.entity.operacaoordemservico"
                       ng-model="$ctrl.entity.codigo"
                       onkeypress="return event.charCode != 32"
                       ng-required="($ctrl.entity.$$__submitting) !== true"
                       type='text'/>
                <div ng-if="$ctrl.form.codigo.$dirty || $ctrl.form.$submitted" ng-messages="$ctrl.form.codigo.$error">
                    <div class="alert alert-danger" ng-message="required" role="alert">
                        <span aria-hidden="true" class="fa fa-exclamation-circle"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Código não pode ser vazio.
                    </div>
                    <div class="alert alert-danger" ng-message="maxlength" role="alert">
                        <span aria-hidden="true" class="fa fa-exclamation-circle"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Código não deve exceder 30 caracteres.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label class="control-label" for="descricao">Nome</label>
                <input class="form-control"
                       id="descricao"
                       maxlength="150"
                       name="descricao"
                       ng-disabled="$ctrl.entity.$$__submitting"
                       ng-model="$ctrl.entity.descricao"
                       ng-required="($ctrl.entity.$$__submitting) !== true"
                       type='text'
                       validation='{ "route" : "operacoesordensservicos_unique", "params" : { "field" : "descricao" , "id": "{{$ctrl.entity.operacaoordemservico}}" }, "constructors" : {{$ctrl.constructors}}, "callback" : "$ctrl.uniqueValidation" }'/>
                <div ng-if="$ctrl.form.descricao.$dirty || $ctrl.form.$submitted"
                     ng-messages="$ctrl.form.descricao.$error">
                    <div class="alert alert-danger" ng-message="required" role="alert">
                        <span aria-hidden="true" class="fa fa-exclamation-circle"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Nome não pode ser vazio.
                    </div>
                    <div class="alert alert-danger" ng-message="maxlength" role="alert">
                        <span aria-hidden="true" class="fa fa-exclamation-circle"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Nome não deve exceder 150 caracteres.
                    </div>
                    <div class="alert alert-danger" ng-message="unique" role="alert">
                        <span aria-hidden="true" class="fa fa-exclamation-circle"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Nome não pode ser repetido.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="tipoordemservico">Tipo Ordem de Serviço (Opcional)</label>
                <nsj-lookup
                        config='{ "descricao":"descricao",  }'
                        constructor="{  }"
                        disabled="$ctrl.entity.$$__submitting"
                        factory="tiposOrdensServicosService"
                        id-name="tipoordemservico"
                        max-label="1"
                        name="tipoordemservico"
                        ng-model="$ctrl.entity.tipoordemservico">
                </nsj-lookup>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    Tipo de Manutenção (Opcional)
                </legend>
                <div class="row ">
                    <div class="col-sm-6">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}">
                            <label class="control-label" for="utilizatipomanutencao">
                                <strong>Tipo de manutenção</strong>
                                <input class="" id="utilizatipomanutencao" name="utilizatipomanutencao"
                                       ng-disabled="$ctrl.entity.$$__submitting"
                                       ng-model="$ctrl.entity.utilizatipomanutencao"
                                       type='checkbox'/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="div-tipomanutencao">
                            <label>Nome</label>
                            <nsj-lookup config='{ "descricao":"descricao",  }' constructor="{  }"
                                        disabled="(!$ctrl.entity.utilizatipomanutencao)||(!$ctrl.entity.utilizatipomanutencao)||$ctrl.entity.$$__submitting"
                                        factory="tiposManutencoesService" id-name="tipomanutencao" max-label="1"
                                        name="tipomanutencao"
                                        ng-model="$ctrl.entity.tipomanutencao">
                            </nsj-lookup>
                            <div>
                            </div>
                        </div>
            </fieldset>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    Visita (Opcional)
                </legend>
                <div class="row ">
                    <div class="col-sm-2">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}">
                            <label class="control-label" for="visita">
                                <strong>Visita</strong>
                                <input class="" id="visita" name="visita" ng-disabled="$ctrl.entity.$$__submitting"
                                       ng-model="$ctrl.entity.visita"
                                       type='checkbox'/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="custom-checkbox checkbox"
                             ng-class="{'disabled':(!$ctrl.entity.visita)||(!$ctrl.entity.visita)||$ctrl.entity.$$__submitting}">
                            <label class="control-label" for="veiculo">
                                <strong>Veículo</strong>
                                <input class="" id="veiculo" name="veiculo"
                                       ng-disabled="(!$ctrl.entity.visita)||(!$ctrl.entity.visita)||$ctrl.entity.$$__submitting"
                                       ng-model="$ctrl.entity.veiculo"
                                       type='checkbox'/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    Dados da OS (Opcionais)
                </legend>
                <div class="row ">
                    <div class="col-sm-3">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                                class="control-label" for="atendimento">
                            <input class="" id="atendimento"
                                   name="atendimento"
                                   ng-disabled="$ctrl.entity.$$__submitting"
                                   ng-model="$ctrl.entity.atendimento"
                                   type='checkbox'/>
                            <span class="checkmark"></span>
                            Vincular atendimento
                        </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                                class="control-label" for="ordemdeservico">
                            <input class="" id="ordemdeservico"
                                   name="ordemdeservico"
                                   ng-disabled="$ctrl.entity.$$__submitting"
                                   ng-model="$ctrl.entity.ordemdeservico"
                                   type='checkbox'/>
                            <span class="checkmark"></span>
                            Vincular Ordem de Serviço
                        </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                                class="control-label" for="contrato">
                            <input class="" id="contrato" name="contrato"
                                   ng-disabled="$ctrl.entity.$$__submitting"
                                   ng-model="$ctrl.entity.contrato"
                                   type='checkbox'/>
                            <span class="checkmark"></span>
                            Contrato
                        </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                                class="control-label" for="projeto">
                            <input class="" id="projeto" name="projeto"
                                   ng-disabled="$ctrl.entity.$$__submitting"
                                   ng-model="$ctrl.entity.projeto"
                                   type='checkbox'/>
                            <span class="checkmark"></span>
                            Projeto
                        </label>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-3">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                                class="control-label" for="centrodecusto">
                            <input class="" id="centrodecusto"
                                   name="centrodecusto"
                                   ng-disabled="$ctrl.entity.$$__submitting"
                                   ng-model="$ctrl.entity.centrodecusto"
                                   type='checkbox'/>
                            <span class="checkmark"></span>
                            Centro de custo
                        </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                                class="control-label" for="materiais">
                            <input class="" id="materiais" name="materiais"
                                   ng-disabled="$ctrl.entity.$$__submitting"
                                   ng-model="$ctrl.entity.materiais"
                                   type='checkbox'/>
                            <span class="checkmark"></span>
                            Utiliza materiais
                        </label></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                                class="control-label" for="faturamento">
                            <input class="" id="faturamento"
                                   name="faturamento"
                                   ng-disabled="$ctrl.entity.$$__submitting"
                                   ng-model="$ctrl.entity.faturamento"
                                   type='checkbox'/>
                            <span class="checkmark"></span>
                            Faturamento
                        </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                                class="control-label" for="ativo">
                            <input class="" id="ativo" name="ativo"
                                   ng-disabled="$ctrl.entity.$$__submitting"
                                   ng-model="$ctrl.entity.ativo"
                                   type='checkbox'/>
                            <span class="checkmark"></span>
                            Ativo
                        </label>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-6">
                        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                                class="control-label" for="encerraraoexecutarvisita">
                            <input class=""
                                   id="encerraraoexecutarvisita"
                                   name="encerraraoexecutarvisita"
                                   ng-disabled="$ctrl.entity.$$__submitting"
                                   ng-model="$ctrl.entity.encerraraoexecutarvisita"
                                   type='checkbox'/>
                            <span class="checkmark"></span>
                            Encerrar Ordem de Serviço automaticamente ao executar visita
                        </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row " >
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    Layouts de Ordem de Serviço
                </legend>
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="content-loading" ng-if="$ctrl.entity.loadingTemplates">
                            <div class="center-loading text-center">
                                <div class="onloading"></div>
                                Carregando...
                            </div>
                        </div>
                        <div class="custom-checkbox checkbox div-templates-pai"
                             ng-class="{'disabled':$ctrl.entity.$$__submitting}">
                             <div class="col-sm-12 div-templates" ng-if="!$ctrl.entity.listaTemplates.length && !$ctrl.entity.loadingTemplates">
                                <label class="control-label">Não há layouts disponíveis.</label>
                            </div>
                            <div class="col-sm-4 div-templates" ng-repeat="template in $ctrl.entity.listaTemplates">
                                <label class="control-label" for="documentosfoptemplate{{$index}}"
                                       title="{{template.titulo}}">
                                    <input class="" id="documentosfoptemplate{{$index}}"
                                           name="documentosfoptemplate{{$index}}"
                                           ng-change="$ctrl.entity.validarTemplatePadrao(template)"
                                           ng-disabled="$ctrl.entity.$$__submitting"
                                           ng-model="template.selecionado"
                                           title="{{template.titulo}}"
                                           type='checkbox'/>
                                    <span class="checkmark"></span>
                                    {{template.nomexsl}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
