{% extends 'layout.html.twig' %}

{% block content %}
  <h2><i class="fa fa-exclamation-circle"></i> Permissão negada</h2>
  <div class="col-md-12">
    <p>Você não tem permissão para acessar esse ambiente.</p>
    <p>Verifique se o endereço digitado está correto.</p>
    <p class="info-post col-md-12">"{{ status_code }} {{ status_text }}".</p>
  </div>
{% endblock %} 