{% extends 'layout.html.twig' %}

{% block content %}
  {% block message %}
    <i class="el el-exclamation-sign"></i> Oops! Erro inesperado do servidor
  {% endblock message %}

  {% block description %}
    <h3>Desculpe, mas ocorreu um erro inesperado. Isso pode ter acontecido pelos seguintes motivos:</h4>
    <ul class="error-list">
      <li>Estamos fazendo uma manutenção em nossos servidores.</li>
      <li>Há muitas pessoas tentando acessar esta página no momento, sobrecarregando os servidores.</li>
      <li>Ocorreu uma falha durante sua navegação.</li>
    </ul>

    <h3>Para tentar solucionar o problema, por favor:</h3>
    <ul class="error-list">
      <li>Aguarde alguns minutos e tente atualizar a página.</li>
      <li>Caso esteja acessando esta página com o auxílio de um link externo, reinicie o processo da Página Inicial do sistema e tente novamente.</li>
    </ul>
    <p class="info-post col-md-12">{{ status_code }} - {{ status_text }}.</p>
    <a class="btn btn-primary btn-md" href="/" role="button">Ir para a página inicial</a>
  {% endblock description %}
{% endblock content %}
