{% extends 'layout.html.twig' %}

{% block content %}
  {% block message %}
    <i class="el el-exclamation-sign"></i> Página não encontrada!
  {% endblock message %}

  {% block description %}
    <h3>Parece que houve um erro com a página que você estava procurando.</h3>
    <h3>É possível que a página tenha sido removida ou o endereço não existe.</h3>
    <h3 class="info-post col-md-12">{{ status_code }} - {{ status_text }}</h3>
    <a class="btn btn-primary btn-md" href="/" role="button">Ir para a página inicial</a>
  {% endblock description %}
{% endblock content %}
