<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="fornecedorenvolvido"></label><input type='hidden'
                    class="form-control" id="fornecedorenvolvido" name="fornecedorenvolvido"
                    ng-model="$ctrl.entity.fornecedorenvolvido" ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="tipoorigem"></label><input type='hidden'
                    class="form-control" id="tipoorigem" name="tipoorigem" ng-model="$ctrl.entity.tipoorigem"
                    ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" " /></div>
        </div>
    </div>
</form>