<div class="crm-painel-view form-loading-layout-wrapper">
    <div class="painel-header">
        <div class="titulo">
            <h2>Painéis</h2>
        </div>
        <div class="barra-filtros">
            
            <div class="filtros-container">

                <div class="form-group filtro tipo-painel">

                    <!-- Tipo de painel -->
                    <div class="col-sm-6 input-filtros-paineis" style="padding-left: 0;">
                       <span class="input-group-addon label-filtros-paineis">Área</span>
                       <select class="form-control input-filtro-painel" id="tipo-painel" name="tipo-painel" ng-model="crm_pnl_ctrl.tipoPainel">
                            <option ng-value="crm_pnl_ctrl.EnumTipoPainel.tpMarketing">
                                Marketing
                            </option>
                        </select> 
                    </div>
                    
                    <!-- Data de início -->
                    <div class="col-sm-3 input-filtros-paineis">
                        <span class="input-group-addon label-filtros-paineis">Data inicial</span>
                        <nsj-date-picker
                            datepickeropts="{'disable-days-after': 'crm_pnl_ctrl.filtros.dataFinal'}"
                            class="filter-date-pickers col-sm-12" editable='true' init-value='crm_pnl_ctrl.filtros.dataInicial'
                            date-position="right" type-select="single"
                            opts="{'class':'form-control input-filtros-data', 'id':'datahorainicio', 'name':'datahorainicio' , 'ng-model':'crm_pnl_ctrl.filtros.dataInicial', 'placeholder': 'Digite ou selecione a data inicial' }"
                            style="padding-left: 0; padding-right: 0;">
                        </nsj-date-picker>
                        <span class="input-group-addon label-filtros-paineis">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </div>

                    <!-- Data de fim -->
                    <div class="col-sm-3 input-filtros-paineis">
                        <span class="input-group-addon label-filtros-paineis">Data final</span>
                        <nsj-date-picker
                            datepickeropts="{'disable-days-before': 'crm_pnl_ctrl.filtros.dataInicial'}"
                            class="filter-date-pickers col-sm-12" editable='true' init-value='crm_pnl_ctrl.filtros.dataFinal'
                            date-position="right" type-select="single"
                            opts="{'class':'form-control input-filtros-data', 'id':'datahorafim', 'name':'datahorafim' , 'ng-model':'crm_pnl_ctrl.filtros.dataFinal', 'placeholder': 'Digite ou selecione a data final' }"
                            style="padding-left: 0; padding-right: 0;">
                        </nsj-date-picker>
                        <span class="input-group-addon label-filtros-paineis">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </div>

                </div>

            </div>

            <div class="acoes-container">
                <nsj-button 
                    icon="fas fa-sync-alt"
                    class="acao"
                    ng-click="crm_pnl_ctrl.carregarPainel()"
                    ng-disabled="crm_pnl_ctrl.isBusy()">
                </nsj-button>
            </div>
        </div>
    </div>
    <div class="painel-body">
        <crm-painel-marketing
            ng-if="crm_pnl_ctrl.tipoPainel == crm_pnl_ctrl.EnumTipoPainel.tpMarketing" 
            busy="crm_pnl_ctrl.busy"
            ctrl-painel="crm_pnl_ctrl.ctrlPainel">
        </crm-painel-marketing>
    </div>
    <div class="content-loading" ng-if="crm_pnl_ctrl.isBusy()">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>