.progress-wizard{
    margin: 0px;
}

.rodape-fixo-criacao-projeto{

    background-color: #fafafa;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 70px;
    padding: 20px;
    border-top: solid 1px lightgray;

    .margem-direita-btns{
        margin-right: 30px;
    }

}
