<form nsj-focus name="pjt_nw_cntrllr.form" novalidate="novalidate"
  ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : pjt_nw_cntrllr.busy}" role="form"
  ng-submit="pjt_nw_cntrllr.submit()" class="height-full" style="overflow-y: auto; overflow-x: unset; height: calc(100% - 70px);">

  <div class="cabecalho-fixo">
    <nsj-headline headline-title="Novo Projeto" headline-sub="true"></nsj-headline>
  </div>

  <div class="div-componentes" style="height: calc(100% - 70px);">

    <!-- Barra de progresso -->
    <div class="row progress-wizard">
      <div class="col-sm-12">
        <form class="nsj-form">
          <ul class="nsj-multisteps list-unstyled text-center">

            <!-- Passo 1 -->
            <li ng-class="{'active' : pjt_nw_cntrllr.passo === 1, 'done' : pjt_nw_cntrllr.passo > 1}">
              <span class="circle text-center">1</span>

              <!--Controle de exibição de mensagem e check na barra de progresso-->
              <span class="title" ng-if="pjt_nw_cntrllr.passo === 1"> 
                Inicie o Projeto 
              </span>
              
              <span class="title" ng-if="pjt_nw_cntrllr.passo > 1">
                <i class="step-check fas fa-check-circle"></i> 
                O Projeto foi iniciado! 
              </span>

            </li>

            <!-- Passo 2 -->
            <li ng-class="{'active' : pjt_nw_cntrllr.passo === 2, 'done' : pjt_nw_cntrllr.passo > 2}">
              <span class="circle text-center">2</span>

              <!--Controle de exibição de mensagem e check na barra de progresso-->
              <span class="title" ng-if="pjt_nw_cntrllr.passo <= 2"> 
                Informe os detalhes do projeto 
              </span>
              
              <span class="title" ng-if="pjt_nw_cntrllr.passo > 2">
                <i class="step-check fas fa-check-circle"></i> 
                Os detalhes do projeto foram informados! 
              </span>

            </li>

            <!-- Passo 3 -->
            <li ng-class="{'active' : pjt_nw_cntrllr.passo === 3, 'done' : pjt_nw_cntrllr.passo > 3}">
              <span class="circle text-center">3</span>

              <!--Controle de exibição de mensagem e check na barra de progresso-->
              <span class="title" ng-if="pjt_nw_cntrllr.passo <= 3"> 
                Vincule formulários de coleta de dados 
              </span>
              
              <span class="title" ng-if="pjt_nw_cntrllr.passo > 3">
                <i class="step-check fas fa-check-circle"></i> 
                Os formulários foram vinculados! 
              </span>

            </li>

            <!-- Passo 4 -->
            <li ng-class="{'active' : pjt_nw_cntrllr.passo === 4, 'done' : pjt_nw_cntrllr.passo > 4}">
              <span class="circle text-center">4</span>

              <!--Controle de exibição de mensagem e check na barra de progresso-->
              <span class="title" ng-if="pjt_nw_cntrllr.passo <= 4"> 
                Especifique informações adicionais, caso necessário 
              </span>
              
              <span class="title" ng-if="pjt_nw_cntrllr.passo > 4">
                <i class="step-check fas fa-check-circle"></i> 
                As informações adicionais foram especificadas! 
              </span>

            </li>

            <!-- Passo 5 -->
            <li ng-class="{'active' : pjt_nw_cntrllr.passo === 5, 'done' : pjt_nw_cntrllr.passo > 5}">
              <span class="circle text-center">5</span>
              <span class="title">Confirme a criação do Projeto</span>
            </li>
          </ul>
        </form>
      </div>
    </div>
    <!-- Fim Barra de progresso -->

    <!-- Components de cada etapa da barra de progresso -->
    <div class="nsj-form padding-content" ng-if="pjt_nw_cntrllr.passo === 1">
      <wizard-passoum entity="pjt_nw_cntrllr.entity" opcoes="pjt_nw_cntrllr.opcoes">
      </wizard-passoum>
    </div>
    
    <div class="padding-content" ng-if="pjt_nw_cntrllr.passo === 2">
      <wizard-passodois entity="pjt_nw_cntrllr.entity" opcoes="pjt_nw_cntrllr.opcoes">
      </wizard-passodois>
    </div>

    <div class="nsj-form padding-content" ng-if="pjt_nw_cntrllr.passo === 3">
      <wizard-passotres entity="pjt_nw_cntrllr.entity" opcoes="pjt_nw_cntrllr.opcoes">
      </wizard-passotres>
    </div>
    
    <div class="nsj-form padding-content" ng-if="pjt_nw_cntrllr.passo === 4">
      <wizard-passoquatro entity="pjt_nw_cntrllr.entity" opcoes="pjt_nw_cntrllr.opcoes">
      </wizard-passoquatro>
    </div>
    
    <div class="nsj-form padding-content" ng-if="pjt_nw_cntrllr.passo === 5">
      <wizard-passocinco entity="pjt_nw_cntrllr.entity" class="custom-form-view" opcoes="pjt_nw_cntrllr.opcoes">
      </wizard-passocinco>
    </div>
    <!-- Fim Components de cada etapa da barra de progresso -->

    <!-- Rodapé com botões -->
    <div class="row rodape-fixo-criacao-projeto">

      <div class="pull-right margem-direita-btns">
        <a class="btn btn-sm btn-default btn-geral" ui-sref="projetos({})" ng-disabled="pjt_nw_cntrllr.entity.$$__submitting">
          Cancelar
        </a>
        <button ng-if="pjt_nw_cntrllr.passo > 1" type="button" ng-click="pjt_nw_cntrllr.clicouVoltar()" ng-class="{loading:pjt_nw_cntrllr.entity.$$__submitting}"
          class="btn btn-sm btn-default btn-geral" ng-disabled="pjt_nw_cntrllr.entity.$$__submitting">
          <i class="fa fa-angle-double-left"></i> Voltar
        </button>
        <button ng-if="pjt_nw_cntrllr.passo < 5" type="button" ng-click="pjt_nw_cntrllr.clicouContinuar()" ng-class="{loading:pjt_nw_cntrllr.entity.$$__submitting}"
          class="btn btn-sm btn-warning btn-save btn-geral">
          <i class="fa fa-angle-double-right"></i> Continuar
        </button>
        <button ng-if="pjt_nw_cntrllr.passo === 5" type="button" ng-click="pjt_nw_cntrllr.submit()" ng-class="{loading:pjt_nw_cntrllr.entity.$$__submitting}"
          class="btn btn-sm btn-warning btn-save btn-geral" ng-disabled="pjt_nw_cntrllr.entity.$$__submitting">
          <i class="fa fa-check"></i> Criar projeto
        </button>
      </div>
      
    </div>
    <!-- Fim Rodapé com botões -->

  </div>

</form>
