<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="estabelecimento">Estabelecimento</label>
                <nsj-lookup name="estabelecimento" id-name="estabelecimento" factory="NsEstabelecimentos"
                    ng-model="$ctrl.entity.estabelecimento" max-label="1" constructor="{  }"
                    config='{ "nomefantasia":"nomefantasia",  }'
                    disabled="$ctrl.entity.serie||$ctrl.entity.serie||$ctrl.entity.$$__submitting"
                    ns-required="($ctrl.entity.serie ||$ctrl.entity.$$__submitting) !== true">
                </nsj-lookup>
                <div ng-messages="$ctrl.form.estabelecimento.$error "
                    ng-if="$ctrl.form.estabelecimento.$touched || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo não pode ser vazio.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="situacao">Situação</label><select
                    class="form-control" id="situacao" name="situacao" ng-model="$ctrl.entity.situacao"
                    ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" "
                    ng-required="($ctrl.entity.$$__submitting) !== true" convert-to-number>
                    <option value="0">Aberto</option>
                    <option value="1">Fechado</option>
                </select>
                <div ng-messages="$ctrl.form.situacao.$error"
                    ng-if="$ctrl.form.situacao.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo não pode ser vazio.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="tipodocumento">Tipo de Documento</label><select
                    class="form-control" id="tipodocumento" name="tipodocumento" ng-model="$ctrl.entity.tipodocumento"
                    ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" "
                    ng-required="($ctrl.entity.$$__submitting) !== true" convert-to-number>
                    <option value="1500">Ordem de Serviço</option>
                    <option value="1501">RPS de Atendimento Comercial</option>
                </select>
                <div ng-messages="$ctrl.form.tipodocumento.$error"
                    ng-if="$ctrl.form.tipodocumento.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo não pode ser vazio.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}" style="margin-top: 0px"><label
                    class="control-label" for="padrao"><input type='checkbox' class="" id="padrao" name="padrao"
                        ng-model="$ctrl.entity.padrao" ng-disabled="$ctrl.entity.$$__submitting" /><span
                        class="checkmark"></span>
                    Padrão
                </label></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="numero">Número</label>
                <input type='text' class="form-control" id="numero" name="numero" maxlength="5" ng-pattern="/^\w+$/"
                    ng-minlength="5" ng-model="$ctrl.entity.numero"
                    ng-disabled="$ctrl.entity.serie||$ctrl.entity.serie||$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.serie||$ctrl.entity.serie||$ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.numero.$error" ng-if="$ctrl.form.numero.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true">
                        </span><span class="sr-only">Erro:</span>
                        O campo não pode ser vazio.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true">
                        </span><span class="sr-only">Erro:</span>
                        O campo não deve exceder 5 caracteres.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="minlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true">
                        </span><span class="sr-only">Erro:</span>
                        O campo deve ter 5 caracteres.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="pattern">
                        <span class="fa fa-exclamation-circle" aria-hidden="true">
                        </span><span class="sr-only">Erro:</span>
                        O campo deve ter 5 caracteres alfanuméricos.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="inicio">Início</label>
                <input type='number' class="form-control" id="inicio" name="inicio" maxlength="7"
                    ng-model="$ctrl.entity.inicio"
                    ng-disabled="$ctrl.entity.serie||$ctrl.entity.serie||$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.serie||$ctrl.entity.serie||$ctrl.entity.$$__submitting) !== true" min="1"
                    ng-greaterthanorequal="($ctrl.entity.inicio) < 1 "
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" onpaste="return false;" />
                <div ng-messages="$ctrl.form.inicio.$error" ng-if="$ctrl.form.inicio.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="number">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        Valor informado não é um número.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo não pode ser vazio.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Início não deve exceder 7 caracteres.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="fim">Fim</label>
                <input type='number' class="form-control" id="fim" name="fim" maxlength="7" ng-model="$ctrl.entity.fim"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true"
                    min="1" ng-greaterthanorequal="($ctrl.entity.fim) < 1 "
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" onpaste="return false;" />
                <div ng-messages="$ctrl.form.fim.$error" ng-if="$ctrl.form.fim.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="number">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        Valor informado não é um número.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo não pode ser vazio.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Fim não deve exceder 7 caracteres.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="proximo">Próximo</label>
                <input type='number' class="form-control" id="proximo" name="proximo" maxlength="7"
                    ng-model="$ctrl.entity.proximo"
                    ng-disabled="$ctrl.entity.serie||$ctrl.entity.serie||$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.serie||$ctrl.entity.serie||$ctrl.entity.$$__submitting) !== true" min="1"
                    ng-greaterthanorequal="($ctrl.entity.proximo) < 1 "
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" onpaste="return false;" />
                <div ng-messages="$ctrl.form.proximo.$error" ng-if="$ctrl.form.proximo.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="number">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        Valor informado não é um número.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo não pode ser vazio.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Número não deve exceder 7 caracteres.
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>