<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="codigo">Código</label><input type='text'
                    class="form-control" id="codigo" name="codigo" maxlength="30" ng-model="$ctrl.entity.codigo"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.codigo.$error" ng-if="$ctrl.form.codigo.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Código não pode estar vazio


                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>


                        O campo Código aceita no máximo 30 caracteres
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="tipo">Módulo</label><select class="form-control"
                    id="tipo" name="tipo" ng-model="$ctrl.entity.tipo" ng-disabled="$ctrl.entity.$$__submitting"
                    convert-to-number=" " ng-required="($ctrl.entity.$$__submitting) !== true" convert-to-number>
                    <option value="100">Geral</option>
                    <option value="101">Acompanhamento</option>
                    <option value="102">Pendências</option>
                </select>
                <div ng-messages="$ctrl.form.tipo.$error" ng-if="$ctrl.form.tipo.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Módulo não pode estar vazio


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="descricao">Descrição</label><input type='text'
                    class="form-control" id="descricao" name="descricao" maxlength="50"
                    ng-model="$ctrl.entity.descricao" ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.descricao.$error"
                    ng-if="$ctrl.form.descricao.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Descrição não pode estar vazio


                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>


                        O campo Descrição aceita no máximo 50 caracteres
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <!-- {# Sobrescrito para aumentar a quantidade de linhas do campo Texto #} -->

            <div class="form-group">
                <label class="control-label" for="texto">Texto</label>
                <textarea class="form-control" rows="18" id="texto" name="texto" ng-model="$ctrl.entity.texto"
                    ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true"></textarea>
                <div ng-messages="$ctrl.form.texto.$error" ng-if="$ctrl.form.texto.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Texto não pode estar vazio
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>