<div class="height-full layout-list">
  <form
    nsj-focus
    name="crm_hstrcspdr_frm_nw_cntrllr.form"
    novalidate="novalidate"
    ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : crm_hstrcspdr_frm_nw_cntrllr.busy }"
    role="form"
    ng-submit="crm_hstrcspdr_frm_nw_cntrllr.submit()"
    class="height-full"
  >
    <nsj-headline headline-title="Histórico padrão " headline-sub="true">
        <ul class="list-unstyled list-inline pull-right">
            <li>
              <div class="form-group pull-right">
                <button
                  type="button"
                  ng-click="crm_hstrcspdr_frm_nw_cntrllr.submit()"
                  ng-class="{loading:crm_hstrcspdr_frm_nw_cntrllr.entity.$$__submitting}"
                  ng-disabled="crm_hstrcspdr_frm_nw_cntrllr.entity.$$__submitting || crm_hstrcspdr_frm_nw_cntrllr.form.$pristine"
                  class="btn btn-sm btn-warning btn-save btn-geral"
                >
                  <i class="fa fa-check"></i> Salvar
                </button>
    
                <a class="btn btn-sm btn-default" ui-sref="crm_historicospadrao({})"
                  ><i class="fa fa-times" aria-hidden="true"></i> Descartar</a
                >
              </div>
            </li>
          </ul>
    </nsj-headline>
    <div class="nsj-form padding-content">
      <crm-historicospadrao-default
        entity="crm_hstrcspdr_frm_nw_cntrllr.entity"
        form="crm_hstrcspdr_frm_nw_cntrllr.form"
        busy="crm_hstrcspdr_frm_nw_cntrllr.busy"
        action="crm_hstrcspdr_frm_nw_cntrllr.action"
        constructors="crm_hstrcspdr_frm_nw_cntrllr.constructors"
      >
      </crm-historicospadrao-default>
    </div>
    <div class="content-loading" ng-if="crm_hstrcspdr_frm_nw_cntrllr.busy">
      <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
      </div>
    </div>
  </form>
</div>
