<div class="height-full layout-list">
    <nsj-headline headline-sub="true" headline-title="">
        <div class="pull-right">

            <a class="btn btn-sm btn-default hidden-lg hidden-md"
               title="Voltar"
               ui-sref="operacoesdocumentostemplates({'operacaoordemservico' : prcsdcmntstmplts_frm_shw_cntrllr.constructors.operacaoordemservico,})"><i class="fas fa-reply"></i><span class="hidden-xs">Voltar</span></a>


            <button class="btn btn-sm btn-default btn-delete btn-geral" ng-click="prcsdcmntstmplts_frm_shw_cntrllr.delete()"
                    ng-if="prcsdcmntstmplts_frm_shw_cntrllr.entity.operacaodocumentotemplate  "
                    type="button"><i
                    class="fas fa-trash"></i> <span class="hidden-xs">Excluir</span></button>

            <a class="btn btn-sm btn-default"
               title="Voltar à lista"
               ui-sref="operacoesdocumentostemplates({'operacaoordemservico' : prcsdcmntstmplts_frm_shw_cntrllr.constructors.operacaoordemservico,})">Voltar à lista</a>


        </div>
    </nsj-headline>
    <div class="nsj-form padding-content" ng-class="{'nsj-loading-page' : prcsdcmntstmplts_frm_shw_cntrllr.busy }">
        <div class="nsj-form-view top-buffer bottom-buffer">
            <operacoes-documentos-templates-show-form action="prcsdcmntstmplts_frm_shw_cntrllr.action"
                                                       busy="prcsdcmntstmplts_frm_shw_cntrllr.busy"
                                                       constructors="prcsdcmntstmplts_frm_shw_cntrllr.constructors"
                                                       entity="prcsdcmntstmplts_frm_shw_cntrllr.entity"></operacoes-documentos-templates-show-form>
        </div>

        <div class="form-group pull-left">


        </div>
        <div class="content-loading" ng-if="prcsdcmntstmplts_frm_shw_cntrllr.busy">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </div>
</div>
