<div class="form-group" ng-if="campo.tipo == 'TE'">
  <label for="{{dominio}}{{campo.nome}}">{{campo.label}}</label>
  <input id="{{dominio}}{{campo.nome}}"
         type="text"
         class="form-control"
         name="{{campo.nome}}"
         ng-model="getModel(campo.model)"
         ng-model-options="{ getterSetter: true }"
         ng-required="$ctrl.getValueValidation('required',campo.validacoes) 
                      || campo.obrigatorio"
         ng-maxlength="$ctrl.getValueValidation('maxlength',campo.validacoes)"
         ng-minlength="$ctrl.getValueValidation('minlength',campo.validacoes)"
         >
        <div ng-messages="$ctrl.form[campo.nome].$error"
    ng-show="$ctrl.form[campo.nome].$error && $ctrl.form.$submitted">
    <div ng-repeat="validacao in campo.validacoes"
        class="alert alert-danger"
        role="alert"
        ng-message="{{validacao.validacao}}">
        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
        <span class="sr-only">Erro:</span>
        {{validacao.mensagem}}
    </div>
    
    <div ng-message="required">
        <div class="alert alert-danger" role="alert">
          <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
          <span class="sr-only">Erro:</span>
          O campo {{atributo.label}} não pode ser vazio.
        </div>
    </div>
</div></div>

<div class="form-group" ng-if="campo.tipo == 'CB'">
  <label for="{{dominio}}{{campo.nome}}">{{campo.label}}</label>
  <select id="{{dominio}}{{campo.nome}}"
          class="form-control"
          name="{{campo.nome}}"
          ng-model="getModel(campo.model)"
          ng-model-options="{ getterSetter: true }"
          ng-options="item for item in campo.opcoes"
          ng-required="$ctrl.getValueValidation('required',campo.validacoes)
                        || campo.obrigatorio"
  >
  </select>
  <div ng-messages="$ctrl.form[campo.nome].$error"
    ng-show="$ctrl.form[campo.nome].$error && $ctrl.form.$submitted">
    <div ng-repeat="validacao in campo.validacoes"
        class="alert alert-danger"
        role="alert"
        ng-message="{{validacao.validacao}}">
        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
        <span class="sr-only">Erro:</span>
        {{validacao.mensagem}}
    </div>
    
    <div ng-message="required">
        <div class="alert alert-danger" role="alert">
          <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
          <span class="sr-only">Erro:</span>
          O campo {{atributo.label}} não pode ser vazio.
        </div>
    </div>
</div></div>

<div class="form-group" ng-if="campo.tipo == 'DT'"><!-- Date and hour-->
  <label for="{{dominio}}{{campo.nome}}">{{campo.label}}</label>
  <nsj-date-picker
    editable='true'
    init-value='$ctrl.entity.camposcustomizados[campocustomizado.campocustomizado][campo.nome]'
    date-position="left"
    type-select="single"
    opts="{ 'class':'form-control',
            'id':'{{dominio}}{{campo.nome}}',
            'name':'{{campo.nome}}',
            'ng-model':'$ctrl.entity.camposcustomizados[campocustomizado.campocustomizado][campo.nome]',
            'ng-disabled':'$ctrl.entity.$$__submitting',
            'ng-required': '{{$ctrl.getValueValidation('required',campo.validacoes) || campo.obrigatorio }}'
          }">
  </nsj-date-picker>
  <div ng-messages="$ctrl.form[campo.nome].$error"
    ng-show="$ctrl.form[campo.nome].$error && $ctrl.form.$submitted">
    <div ng-repeat="validacao in campo.validacoes"
        class="alert alert-danger"
        role="alert"
        ng-message="{{validacao.validacao}}">
        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
        <span class="sr-only">Erro:</span>
        {{validacao.mensagem}}
    </div>
    
    <div ng-message="required">
        <div class="alert alert-danger" role="alert">
          <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
          <span class="sr-only">Erro:</span>
          O campo {{atributo.label}} não pode ser vazio.
        </div>
    </div>
</div></div>

<div class="form-group" ng-if="campo.tipo == 'NB'">
  <label for="{{dominio}}{{campo.nome}}">{{campo.label}}</label>
  <input id="{{dominio}}{{campo.nome}}"
         type="number"
         class="form-control"
         ng-model="$ctrl.entity.camposcustomizados[campocustomizado.campocustomizado][campo.nome]"
         ng-required="$ctrl.getValueValidation('required',campo.validacoes)
                      || campo.obrigatorio"
           >
  <div ng-messages="$ctrl.form[campo.nome].$error"
    ng-show="$ctrl.form[campo.nome].$error && $ctrl.form.$submitted">
    <div ng-repeat="validacao in campo.validacoes"
        class="alert alert-danger"
        role="alert"
        ng-message="{{validacao.validacao}}">
        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
        <span class="sr-only">Erro:</span>
        {{validacao.mensagem}}
    </div>
    
    <div ng-message="required">
        <div class="alert alert-danger" role="alert">
          <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
          <span class="sr-only">Erro:</span>
          O campo {{atributo.label}} não pode ser vazio.
        </div>
    </div>
</div></div>

<div class="form-group" ng-if="campo.tipo == 'HR'"><!-- Hour -->
  <label for="{{dominio}}{{campo.nome}}">{{campo.label}}</label>
  <nsj-time-picker
    ng-model="$ctrl.entity.camposcustomizados[campocustomizado.campocustomizado][campo.nome]"
    ng-required="$ctrl.getValueValidation('required',campo.validacoes)
                  || campo.obrigatorio"
  ></nsj-time-ticker>
  <div ng-messages="$ctrl.form[campo.nome].$error"
    ng-show="$ctrl.form[campo.nome].$error && $ctrl.form.$submitted">
    <div ng-repeat="validacao in campo.validacoes"
        class="alert alert-danger"
        role="alert"
        ng-message="{{validacao.validacao}}">
        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
        <span class="sr-only">Erro:</span>
        {{validacao.mensagem}}
    </div>
    
    <div ng-message="required">
        <div class="alert alert-danger" role="alert">
          <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
          <span class="sr-only">Erro:</span>
          O campo {{atributo.label}} não pode ser vazio.
        </div>
    </div>
</div></div>

<div class="form-group" ng-if="campo.tipo == 'CH' ">
  <div class="custom-checkbox checkbox">
    <label class="control-label"  for="{{dominio}}{{campo.nome}}">
      <input
        type='checkbox'
        id="{{dominio}}{{campo.nome}}" name="{{campo.nome}}"
         ng-model="$ctrl.entity.camposcustomizados[campocustomizado.campocustomizado][campo.nome]"
        ng-disabled="$ctrl.entity.$$__submitting"
        /><span class="checkmark"></span>
      {{campo.label}}
    </label>
  </div>
</div>

