 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="nome">Nome (Apenasletras)</label><input type='text' class="form-control"     id="nome" name="nome"          maxlength="60" ng-model="$ctrl.entity.nome" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" /><div ng-messages="$ctrl.form.nome.$error"  ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O nome do campo não pode ser vazio.
                    
                    
                </div><div class="alert alert-danger" role="alert" ng-message="maxlength" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    
                    
                    O nome do campo não pode conter mais do que 60 caracteres.
                </div></div></div>
                        </div><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="label">Label exibido no formulário</label><input type='text' class="form-control"     id="label" name="label"           ng-model="$ctrl.entity.label" ng-disabled="$ctrl.entity.$$__submitting" /></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="descricao">Descrição</label><input type='text' class="form-control"     id="descricao" name="descricao"           ng-model="$ctrl.entity.descricao" ng-disabled="$ctrl.entity.$$__submitting" /></div>
                        </div><div class="col-sm-12" >
                          
  <div class="panel-rules">
    <div class="panel panel-default" ng-show="$ctrl.entity.tipo == 'CB'">
      <div class="panel-heading">Valores customizados</div>

      <table class="table table-condensed" dnd-list="$ctrl.entity.opcoes" >
        <tbody>
          <tr ng-if="$ctrl.entity.opcoes.length == 0">
            <td>Nenhum</td>
            <td></td>
          </tr>
          <tr ng-repeat="opcao in $ctrl.entity.opcoes track by $index"
              ng-drop="true"
              ng-drop-success="$ctrl.order($index, $data)"
              ui-sref-active="active"
              ng-class="{'selected': selected === opcao}"
              ng-drag="true" ng-drag-data="opcao" ng-class="obj.nome"
              >
            <td width="5%" class="text-center ico-move"><i class="el el-move"></i></td>
            <td width="87%">
              <input type="text" required="required" ng-model="$ctrl.entity.opcoes[$index]" class="form-control" ng-cancel-drag />
              <div class="alert alert-danger" ng-if="!$ctrl.entity.opcoes[$index] && $ctrl.form.$submitted">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Erro:</span> Este campo não pode ser vazio
              </div>
            </td>
            <td width="8%" class="text-right">
              <a class="btn btn-danger btn-sm btns-acoes" ng-cancel-drag href ng-click="$ctrl.removeOpcao($index)"><i class="el el-remove"></i></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3"><a href ng-click="$ctrl.addOpcao()">Adicionar valor</a></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="tipo">Tipo</label><select class="form-control"     id="tipo" name="tipo"           ng-model="$ctrl.entity.tipo" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" ><option value="TE">Campo de texto</option><option value="CB">Combobox</option><option value="CH">Checkbox</option><option value="OB">Objeto</option></select><div ng-messages="$ctrl.form.tipo.$error"  ng-if="$ctrl.form.tipo.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo tipo não pode ser vazio.
                    
                    
                </div></div></div>
                        </div></div><div class="row " ></div><uib-tabset class='top-buffer'>
                                                <uib-tab heading="Negócio" >
                                                <div class="row " ><div class="col-sm-12" >
                                                    <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label class="control-label" for="crmnegocio"><input type='checkbox' class=""     id="crmnegocio" name="crmnegocio"           ng-model="$ctrl.entity.crmnegocio" ng-disabled="$ctrl.entity.$$__submitting" /><span class="checkmark"></span>
                                
            
                        Exibir no formulário e visualização do negócio
                    </label></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label class="control-label" for="crmnegocioexibenalistagem"><input type='checkbox' class=""     id="crmnegocioexibenalistagem" name="crmnegocioexibenalistagem"           ng-model="$ctrl.entity.crmnegocioexibenalistagem" ng-disabled="$ctrl.entity.$$__submitting" /><span class="checkmark"></span>
                                
            
                        Exibir na listagem
                    </label></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label class="control-label" for="crmnegocioobrigatorio"><input type='checkbox' class=""     id="crmnegocioobrigatorio" name="crmnegocioobrigatorio"           ng-model="$ctrl.entity.crmnegocioobrigatorio" ng-disabled="$ctrl.entity.$$__submitting" /><span class="checkmark"></span>
                                
            
                        Obrigatório
                    </label></div>
                        </div></div><div class="row " ><div class="col-sm-12" ng-if="$ctrl.entity.descricao">
                                                    <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label class="control-label" for="crmnegociohabilitatooltip"><input type='checkbox' class=""     id="crmnegociohabilitatooltip" name="crmnegociohabilitatooltip"           ng-model="$ctrl.entity.crmnegociohabilitatooltip" ng-disabled="$ctrl.entity.$$__submitting" /><span class="checkmark"></span>
                                
            
                        Exibir descrição no tooltip
                    </label></div>
                        </div></div>
                                </uib-tab>
                                </uib-tabset>
</form>
