   

 



<div ng-class="{'nsj-loading-page' : ns_cmpscstmzds_lst_cntrllr.busy }" class='ns_camposcustomizados nsj-layout '> 
    <div class="nsj-aside-list height-full col-md-4" ng-class="{ 'hidden-sm hidden-xs' : (('ns_camposcustomizados_show'| isStateEq) || ('ns_camposcustomizados_edit'| isStateEq) || ('ns_camposcustomizados_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
<nsj-headline headline-title="Campos customizados" ng-class="{ 'hidden-sm hidden-xs' : (('ns_camposcustomizados_show'| isStateEq) || ('ns_camposcustomizados_edit'| isStateEq) || ('ns_camposcustomizados_new'| isStateEq ))}">
    
                <nsj-button color="warning" icon="fa fa-plus" size="xs" class="hidden-xs"
                            ui-sref="ns_camposcustomizados_new({})"
                               
                        >
            Criar
        </nsj-button>
        <nsj-button color="warning" format="fixed circle" icon="fa fa-plus" size="lg" class="hidden-sm hidden-md hidden-lg"
                            ui-sref="ns_camposcustomizados_new({})"
                               
                        >
            <span class="hidden-xs">Criar</span>
        </nsj-button>
    </nsj-headline>

<nsj-toolbar ng-on-change_toolbar="ns_cmpscstmzds_lst_cntrllr.search($event.detail)" search="true" refresh = "true" holder="Busca" model-search="{{ns_cmpscstmzds_lst_cntrllr.service.filter}}" select="{{ns_cmpscstmzds_lst_cntrllr.selectPage && ns_cmpscstmzds_lst_cntrllr.selected.length === ns_cmpscstmzds_lst_cntrllr.entities.length && !ns_cmpscstmzds_lst_cntrllr.selectAll && !ns_cmpscstmzds_lst_cntrllr.service.loadParams.finished}}" select-all="{{ns_cmpscstmzds_lst_cntrllr.selectAll}}" item-in-page="{{ns_cmpscstmzds_lst_cntrllr.entities.length}}" item-all="{{ns_cmpscstmzds_lst_cntrllr.entities[0].full_count}}">
                    <nsj-filters slot="filters">
                                                                                                                                                                                                                                                                                                                <nsj-filter-seletor options="{{ns_cmpscstmzds_lst_cntrllr.$rootScope.OPTIONS_NsCamposcustomizados}} " ng-if="false" type="seletor" max-occurs="{{ns_cmpscstmzds_lst_cntrllr.$rootScope.MAXOCCURS_NsCamposcustomizados}} " input="{{ns_cmpscstmzds_lst_cntrllr.$rootScope.SELECTS_NsCamposcustomizados}} " text-disabled="Selecionar..." model="{{ns_cmpscstmzds_lst_cntrllr.filters}} "></nsj-filter-seletor>
    </nsj-filters>
   
                                        </nsj-toolbar>
                <div class="panel-body body-list">
                                        <div class="list-group" id="ns_camposcustomizados_list" >    <a href ui-sref='ns_camposcustomizados_edit({campocustomizado : entity.campocustomizado})'  class="list-group-item" ng-repeat="entity in ns_cmpscstmzds_lst_cntrllr.entities" ui-sref-active="active">
                        
                    <h4 class="list-group-item-heading">
                                        {{ entity.nome }} 
                            </h4>
                                            <p class="list-group-item-text"><strong>label:</strong>
                            {{ entity.label }} 
                </p>
                        </a>        <p class="text-center article-loading height-full" ng-class="{'onloading' : ns_cmpscstmzds_lst_cntrllr.isBusy() }" ng-if="ns_cmpscstmzds_lst_cntrllr.isBusy()"></p>
    <p class="text-center nfound" ng-if="ns_cmpscstmzds_lst_cntrllr.entities.length == 0 && !ns_cmpscstmzds_lst_cntrllr.isBusy()">Nenhum dado encontrado</p>
</div>
            
                                        </div><!--/panel-body-->
            </div><!--/panel-->
        </div>
    </div>

    <div class='empty-page col-md-8 article-area height-full padding-h-clear' ui-view>
            <div class="bt-new-article new-article text-center height-full">
                <span class="icon-page"><i class="fas fa-table fa-fw"></i></span>
                <h3>Selecione ou adicione campos customizado</h3>
                <p>Selecione campos customizado no painel ao lado para ver suas informações. </p>
                                        <a class="btn btn-sm btn-warning"
                                                  ui-sref="ns_camposcustomizados_new({})"
                                          
                                              >
                        <i class="fas fa-plus"></i> Criar
                    </a>
               
            </div>
        </div>
        <div class="content-loading"  ng-if="ns_cmpscstmzds_lst_cntrllr.busy">
                <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
                </div>
            </div>
</div>
