<div ng-class="{'nsj-loading-page' : tcncs_tcncslgs_lst_cntrllr.busy }"
    class='tecnicos_tecnicoslogos nsj-layout  layout-table '>
    <div class="nsj-aside-list height-full col-md-4"
        ng-class="{ 'hidden-sm hidden-xs' : (('tecnicos_tecnicoslogos_show'| isStateEq) || ('tecnicos_tecnicoslogos_edit'| isStateEq) || ('tecnicos_tecnicoslogos_new'| isStateEq ))}">
        <div class='row height-full'>
            <div class="panel panel-default height-full">
                <nsj-headline headline-title="Logos do Técnico"
                    ng-class="{ 'hidden-sm hidden-xs' : (('tecnicos_tecnicoslogos_show'| isStateEq) || ('tecnicos_tecnicoslogos_edit'| isStateEq) || ('tecnicos_tecnicoslogos_new'| isStateEq ))}">
                    <nsj-button color="warning" icon="fa fa-plus" size="xs" class="hidden-xs"
                        ui-sref="tecnicos_tecnicoslogos_new({tecnico : tcncs_tcncslgs_lst_cntrllr.constructors.tecnico})">
                        Criar
                    </nsj-button>
                    <nsj-button color="warning" format="fixed circle" icon="fa fa-plus" size="lg"
                        class="hidden-sm hidden-md hidden-lg"
                        ui-sref="tecnicos_tecnicoslogos_new({tecnico : tcncs_tcncslgs_lst_cntrllr.constructors.tecnico})">
                        <span class="hidden-xs">Criar</span>
                    </nsj-button>
                </nsj-headline>
                <nsj-toolbar ng-on-change_toolbar="tcncs_tcncslgs_lst_cntrllr.search($event.detail)" search="false"
                    refresh="true" holder="Busca" model-search="{{tcncs_tcncslgs_lst_cntrllr.service.filter}}"
                    select="{{tcncs_tcncslgs_lst_cntrllr.selectPage && tcncs_tcncslgs_lst_cntrllr.selected.length === tcncs_tcncslgs_lst_cntrllr.entities.length && !tcncs_tcncslgs_lst_cntrllr.selectAll && !tcncs_tcncslgs_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{tcncs_tcncslgs_lst_cntrllr.selectAll}}"
                    item-in-page="{{tcncs_tcncslgs_lst_cntrllr.entities.length}}"
                    item-all="{{tcncs_tcncslgs_lst_cntrllr.entities[0].full_count}}">
                    <nsj-filters slot="filters">
                        <nsj-filter-seletor
                            options="{{tcncs_tcncslgs_lst_cntrllr.$rootScope.OPTIONS_TecnicosTecnicoslogos}} "
                            ng-if="true" type="seletor"
                            max-occurs="{{tcncs_tcncslgs_lst_cntrllr.$rootScope.MAXOCCURS_TecnicosTecnicoslogos}} "
                            input="{{tcncs_tcncslgs_lst_cntrllr.$rootScope.SELECTS_TecnicosTecnicoslogos}} "
                            text-disabled="Selecionar..." model="{{tcncs_tcncslgs_lst_cntrllr.filters}} ">
                        </nsj-filter-seletor>
                    </nsj-filters>
                </nsj-toolbar>
                <div class="panel-body body-table">
                    <nsj-table fields="tcncs_tcncslgs_lst_cntrllr.entities"
                        fields-config='tcncs_tcncslgs_lst_cntrllr.fields'
                        config-page='tcncs_tcncslgs_lst_cntrllr.service.loadParams'
                        has-more-page='tcncs_tcncslgs_lst_cntrllr.loadMore()'>
                        <nsj-actions action-model="{{$parent.entity}}">
                        </nsj-actions>
                        <div class="empty-page" ng-if="tcncs_tcncslgs_lst_cntrllr.isFilterEmpty()">
                            <div class="text-center">
                                <span class="icon-page"><i class="fas fa-table fa-fw"></i></span>
                                <h3>Logos do Técnico</h3>
                                <p>Ainda não existem itens nesta lista.</p>
                                <a class="btn btn-warning btn-sm"
                                    ui-sref="tecnicos_tecnicoslogos_new({tecnico : tcncs_tcncslgs_lst_cntrllr.constructors.tecnico})"><i
                                        class="fas fa-plus"></i> Criar</a>
                            </div>
                        </div>
                        <div ng-if="!tcncs_tcncslgs_lst_cntrllr.isFilterEmpty()" class="empty-page">
                            <div class="text-center">
                                <p>Não foram encontrados itens para esta pesquisa.</p>
                            </div>
                        </div>
                    </nsj-table>
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>
    <div class='empty-page col-md-8 article-area height-full padding-h-clear' ui-view>
        <div class="bt-new-article new-article text-center height-full">
            <span class="icon-page"><i class="fas fa-table fa-fw"></i></span>
            <h3>Selecione ou adicione logos do técnico</h3>
            <p>Selecione logos do técnico no painel ao lado para ver suas informações. </p>
            <a class="btn btn-sm btn-warning"
                ui-sref="tecnicos_tecnicoslogos_new({tecnico : tcncs_tcncslgs_lst_cntrllr.constructors.tecnico})">
                <i class="fas fa-plus"></i> Criar
            </a>
        </div>
    </div>
    <div class="content-loading" ng-if="tcncs_tcncslgs_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>