<!-- Header da tela -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="crm_cidfu_fncd_mdl_ctrl.close()"><span
            aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Adicionar Prestadora(s) de Serviços ao Ranking</h3>
</div>
<!-- Corpo da tela -->
<div class="body-modal-cid-fun-add-prestador">
    <!-- Toolbar com filtros -->
    <div class="filtros">
        <nsj-toolbar ng-on-change_toolbar="crm_cidfu_fncd_mdl_ctrl.search($event.detail)" search="true"
            refresh="true" holder="Buscar..." model-search="{{crm_cidfu_fncd_mdl_ctrl.service.filter}}"
            item-in-page="{{crm_cidfu_fncd_mdl_ctrl.entities.length}}">
        </nsj-toolbar>
    </div>
    <div class="modal-body-list" id="modal-body">
        <!-- Listagem de dados -->
        <div class="select-all-container" ng-if="crm_cidfu_fncd_mdl_ctrl.entities.length > 0">
            <input type="checkbox" name="select-all" class="select-all" ng-checked="crm_cidfu_fncd_mdl_ctrl.estaoTodosSelecionados()"
                ng-click="crm_cidfu_fncd_mdl_ctrl.selectAll()">
        </div>
        <table class="table table-striped table-hover table-condensed table-bordered lst-prestadoras"
            ng-if="!crm_cidfu_fncd_mdl_ctrl.isBusy()">
            <thead>
                <tr>
                    <!-- Primeiro é para colocar o checkbox de seleção -->
                    <th></th>
                    <th>
                        Razão Social
                    </th>
                    <th>
                        Nome Fantasia
                    </th>
                    <th>
                        CPF/CNPJ
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody ng-sortable="crm_cidfu_fncd_mdl_ctrl.sortableOptions">
                <tr ng-repeat="prestadora in crm_cidfu_fncd_mdl_ctrl.entities" class="linha-prestadora"
                    ng-click="crm_cidfu_fncd_mdl_ctrl.onPrestadoraClick(prestadora)" 
                    >
                    <td class="selecao">
                        <input type="checkbox" name="selecao" ng-checked="prestadora.checked">
                    </td>
                    <td class="razao-social">
                        {{ prestadora.razaosocial }} 
                    </td>
                    <td class="nome-fantasia">
                        {{ prestadora.nomefantasia }} 
                    </td>
                    <td class="nome-fantasia">
                        {{ prestadora.cnpj }} 
                    </td>
                    <td class="status">
                        <div class="status-container" >
                            <div class="status-label" ng-class="{
                                'label-success ativa': prestadora.status == crm_cidfu_fncd_mdl_ctrl.EnumPrestadoraStatus.psAtiva, 
                                'suspensa': prestadora.status == crm_cidfu_fncd_mdl_ctrl.EnumPrestadoraStatus.psSuspensa, 
                                'banida': prestadora.status == crm_cidfu_fncd_mdl_ctrl.EnumPrestadoraStatus.psBanida
                            }">
                                {{ crm_cidfu_fncd_mdl_ctrl.getStatusNome(prestadora.status) }} 
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-if="crm_cidfu_fncd_mdl_ctrl.entities.length == 0">
                <tr>
                    <td colspan="5" class="state-empty">
                        <div class="empty-list">
                            <p class="text-center">
                                Não existem itens para mostrar nesta lista.
                            </p>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- Loading da lista -->
        <div class="content-loading" ng-if="crm_cidfu_fncd_mdl_ctrl.isBusy()">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <a class="btn btn-sm btn-cancelar" ng-click="crm_cidfu_fncd_mdl_ctrl.close()">
                Cancelar
            </a>
            <button class="btn btn-warning btn-adicionar" ng-click="crm_cidfu_fncd_mdl_ctrl.salvar()" >
                <i class="fa fa-plus" aria-hidden="true"></i>
                Adicionar
            </button>
        </div>
    </div>
</div>