<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">
    <div class="row ">
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="tecnico">Nome</label><input type='hidden'
                    class="form-control" id="tecnico" name="tecnico" ng-model="$ctrl.entity.tecnico"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="pathlogo">Nome</label><input type='hidden'
                    class="form-control" id="pathlogo" name="pathlogo" ng-model="$ctrl.entity.pathlogo"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
</form>