<div style="margin-bottom: 8px;">
    <div class="row row-form-view">
        <div class="col-sm-12">
            <div class="form-group clearfix">
                <label class="control-label">Nome</label>
                <p class="form-control-static">
                    <span id="nome" class="form-control-static" ng-bind="($ctrl.entity.nome) || 'Não informado'"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="row row-form-view">
        <div class="col-sm-12">
            <div class="form-group clearfix">
                <label class="control-label">Identidade (Opcional)</label>
                <p class="form-control-static">
                    <span id="identidade" class="form-control-static"
                        ng-bind="($ctrl.entity.identidade) || 'Não informado'"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="row row-form-view">
        <div class="col-sm-12">
            <div class="form-group clearfix">
                <label class="control-label">Órgão Emissor (Opcional)</label>
                <p class="form-control-static">
                    <span id="orgaoemissor" class="form-control-static"
                        ng-bind="($ctrl.entity.orgaoemissor) || 'Não informado'"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="row row-form-view">
        <div class="col-sm-12">
            <div class="form-group clearfix">
                <label class="control-label">CPF</label>
                <p class="form-control-static">
                    <span id="cpf" class="form-control-static"
                        ng-bind="($ctrl.entity.cpf| mask: '999.999.999-99') || 'Não informado'"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="row row-form-view">
        <div class="col-sm-12">
            <div class="form-group clearfix">
                <label class="control-label">Local de estoque da maleta(Opcional)</label>
                <p class="form-control-static">
                    <span id="localdeestoque" class="form-control-static"
                        ng-bind="$ctrl.entity.localdeestoque.nome || 'Não informado'"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="row row-form-view">
        <div class="col-sm-12">
            <div class="form-group clearfix">
                <label class="control-label">Conta Nasajon</label>
                <p class="form-control-static">
                    <span id="contanasajon" class="form-control-static"
                        ng-bind="$ctrl.entity.contanasajon|| 'Não informado'"></span>
                </p>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 8px;">
    <div class="row row-form-view">
        <div class="col-sm-12">
            <div class="form-group clearfix">
                <object-list class="object-list" entities='$ctrl.entity.saldoitenslocaisdeestoques'
                    service="estoqueSaldoItensLocaisService" constructors="{  }" autosaveEnabled=>
                    <div>
                        <div>
                            <table class="table table-striped table-hover table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Especificação</th>
                                        <th>Unidade</th>
                                        <th>Saldo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="subentity in oblistctrl.entities"
                                        ng-controller="ObjectListItemCtrl as itemctrl">
                                        <td>{{ subentity.especificacao }} </td>
                                        <td>{{ subentity.codigo }} </td>
                                        <td>{{ subentity.saldo }} </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="oblistctrl.entities.length == 0">
                                    <tr>
                                        <td colspan="5" class="state-empty">
                                            <div class="empty-list">
                                                <p class="text-center"> Não existem itens para mostrar nesta lista. </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </object-list>
            </div>
        </div>
    </div>
</div>