#Informações do banco de dados
database_host=postgres
database_port=5432
database_name=integratto2
database_user=postgres
database_password=postgres

#Informações da Amazon
amazon_key=amazon_key
amazon_secret=amazon_secret
amazon_region=us-west-2
amazon_s3_bucket_name=nasajon-dev
amazon_s3_bucket_path=

#Informações do Redis
redis_dsn=redis://redis

diretorio_sistema_id=304
api_key=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzaXN0ZW1hIjozMDQsInRpcG8iOiJzaXN0ZW1hIn0.ZRhZByeh3k9LBBwDDIq1kHZyPw9tP4-EPjESg_GNSrs
diretorio_url=https://dir.dev.nasajonsistemas.com.br
maladireta_url=https://maladireta.nasajonsistemas.com.br
entity_id=http://meutrabalho.localhost

secret=ThisTokenIsNotSoSecretChangeIt

keycloak_realm=DEV
keycloak_url=https://auth.dev.nasajonsistemas.com.br/auth
keycloak_client_id=meutrabalho_api

sp_metadata=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/idp-FederationMetadata.xml
sp_certificate_pem=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/server.pem
sp_certificate_crt=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/server.crt

XDEBUG_CONFIG='zend_extension="/usr/lib/php7/modules/xdebug.so" remote_host=172.17.0.1 xdebug.remote_enable=1 xdebug.remote_autostart=1 xdebug.remote_handler=dbgp xdebug.remote_mode=req xdebug.remote_connect_back=0 xdebug.var_display_max_depth=-1 xdebug.var_display_max_children=-1 xdebug.var_display_max_data=-1 xdebug.remote_port=9001 xdebug.overload_var_dump=0'