<div ng-class="{'nsj-loading-page' : crm_lstdvzrgrs_lst_cntrllr.busy }" class='crm_listadavezregras nsj-layout '>
    <div class="nsj-aside-list height-full col-md-12"
        ng-class="{ 'hidden-sm hidden-xs' : (('crm_listadavezregras_show'| isStateEq) || ('crm_listadavezregras_edit'| isStateEq) || ('crm_listadavezregras_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <nsj-headline headline-title="Regras"
                    ng-class="{ 'hidden-sm hidden-xs' : (('crm_listadavezregras_show'| isStateEq) || ('crm_listadavezregras_edit'| isStateEq) || ('crm_listadavezregras_new'| isStateEq ))}">
                </nsj-headline>

                <nsj-toolbar ng-on-change_toolbar="crm_lstdvzrgrs_lst_cntrllr.search($event.detail)" search="false"
                    refresh="true" holder="Busca" model-search="{{crm_lstdvzrgrs_lst_cntrllr.service.filter}}"
                    select="{{crm_lstdvzrgrs_lst_cntrllr.selectPage && crm_lstdvzrgrs_lst_cntrllr.selected.length === crm_lstdvzrgrs_lst_cntrllr.entities.length && !crm_lstdvzrgrs_lst_cntrllr.selectAll && !crm_lstdvzrgrs_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{crm_lstdvzrgrs_lst_cntrllr.selectAll}}"
                    item-in-page="{{crm_lstdvzrgrs_lst_cntrllr.entities.length}}"
                    item-all="{{crm_lstdvzrgrs_lst_cntrllr.entities[0].full_count}}">
                </nsj-toolbar>
                <div class="panel-body height-full">
                    <div class="list-group" id="crm_listadavezregras_list"
                        infinite-scroll='crm_lstdvzrgrs_lst_cntrllr.nextPage()'
                        infinite-scroll-disabled='crm_lstdvzrgrs_lst_cntrllr.isBusy()' infinite-scroll-distance='1'> <a
                            href ui-sref='crm_listadavezregras_show({listadavezregra : entity.listadavezregra})'
                            class="list-group-item" ng-repeat="entity in crm_lstdvzrgrs_lst_cntrllr.entities"
                            ui-sref-active="active">

                            <h4 class="list-group-item-heading">
                                {{ entity.nome }}
                            </h4>
                            <p class="list-group-item-text"><strong>Tipo de Entidade:</strong>
                                {{ entity.tipoentidade }}
                            </p>
                            <p class="list-group-item-text"><strong>Tipo de Itens:</strong>
                                {{ entity.totalvalores }}
                            </p>
                        </a>
                        <p class="list-group-item"
                            ng-if="!crm_lstdvzrgrs_lst_cntrllr.finished && (crm_lstdvzrgrs_lst_cntrllr.service.to_load <= 0)">
                            <a href="" ng-click="crm_lstdvzrgrs_lst_cntrllr.loadMore()">Ver mais...</a>
                        </p>
                        <p class="text-center article-loading height-full"
                            ng-class="{'onloading' : crm_lstdvzrgrs_lst_cntrllr.isBusy() }"
                            ng-if="crm_lstdvzrgrs_lst_cntrllr.isBusy()"></p>
                        <p class="text-center nfound"
                            ng-if="crm_lstdvzrgrs_lst_cntrllr.entities.length == 0 && !crm_lstdvzrgrs_lst_cntrllr.isBusy()">
                            Nenhum dado encontrado</p>
                    </div>

                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class="content-loading" ng-if="crm_lstdvzrgrs_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>