
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="fnncs_cntsfrncdrs_frm_dflt_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="modal-title">Dados Bancários</h3>
        <span ng-if='fnncs_cntsfrncdrs_frm_dflt_cntrllr.action == "insert"'>
        <div >

        
        
        
        
                
        
     
    </div>
        </span>
    </div>
        <form nsg-focus name="fnncs_cntsfrncdrs_frm_dflt_cntrllr.form" novalidate="novalidate" role="form"  ng-submit="fnncs_cntsfrncdrs_frm_dflt_cntrllr.submit()">
    <div class="modal-body" id="modal-body">
                            <financas-contasfornecedores-default entity="fnncs_cntsfrncdrs_frm_dflt_cntrllr.entity" form="fnncs_cntsfrncdrs_frm_dflt_cntrllr.form" action="fnncs_cntsfrncdrs_frm_dflt_cntrllr.action" constructors="fnncs_cntsfrncdrs_frm_dflt_cntrllr.constructors" busy="fnncs_cntsfrncdrs_frm_dflt_cntrllr.busy"></financas-contasfornecedores-default>
                    </div>
        <div class="modal-footer">
        <div class="pull-left">
            
            <button type="submit" name="submit" ng-disabled="fnncs_cntsfrncdrs_frm_dflt_cntrllr.form.$pristine || fnncs_cntsfrncdrs_frm_dflt_cntrllr.entity.$$__submitting" class="btn btn-warning" ng-class="{loading:fnncs_cntsfrncdrs_frm_dflt_cntrllr.entity.$$__submitting}">
                 Adicionar
            </button>
            <a class="btn btn-sm" ng-click="fnncs_cntsfrncdrs_frm_dflt_cntrllr.close()"><i class="fa fa-times" aria-hidden="true"></i> Fechar</a>
            
        </div>
    </div>
            </form>
        <div class="content-loading"  ng-if="fnncs_cntsfrncdrs_frm_dflt_cntrllr.busy">
        <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
        </div>
    </div>
