
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="fnncs_cntsfrncdrs_frm_shw_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="modal-title">Dados Bancários</h3>
        <span ng-if='fnncs_cntsfrncdrs_frm_shw_cntrllr.action == "insert"'>
        <div >

        
        
        
        
                
        
     
    </div>
        </span>
    </div>
        <div class="nsj-form padding-content" ng-class="{'nsj-loading-page' : fnncs_cntsfrncdrs_frm_shw_cntrllr.busy }">
    <div class="nsj-form-view top-buffer bottom-buffer">
                            <financas-contasfornecedores-show-show entity="fnncs_cntsfrncdrs_frm_shw_cntrllr.entity" form="fnncs_cntsfrncdrs_frm_shw_cntrllr.form" action="fnncs_cntsfrncdrs_frm_shw_cntrllr.action" constructors="fnncs_cntsfrncdrs_frm_shw_cntrllr.constructors" busy="fnncs_cntsfrncdrs_frm_shw_cntrllr.busy"></financas-contasfornecedores-show>
                    </div>
            </div>
        <div class="content-loading"  ng-if="fnncs_cntsfrncdrs_frm_shw_cntrllr.busy">
        <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
        </div>
    </div>
