   

 



<div ng-class="{'nsj-loading-page' : ns_cns_lst_cntrllr.busy }" class='ns_cnaes nsj-layout '> 
    <div class="nsj-aside-list height-full col-md-12" ng-class="{ 'hidden-sm hidden-xs' : (('ns_cnaes_show'| isStateEq) || ('ns_cnaes_edit'| isStateEq) || ('ns_cnaes_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
<nsj-headline headline-title="CNAEs" ng-class="{ 'hidden-sm hidden-xs' : (('ns_cnaes_show'| isStateEq) || ('ns_cnaes_edit'| isStateEq) || ('ns_cnaes_new'| isStateEq ))}">
    </nsj-headline>

<nsj-toolbar ng-on-change_toolbar="ns_cns_lst_cntrllr.search($event.detail)" search="true" refresh = "true" holder="Busca" model-search="{{ns_cns_lst_cntrllr.service.filter}}" select="{{ns_cns_lst_cntrllr.selectPage && ns_cns_lst_cntrllr.selected.length === ns_cns_lst_cntrllr.entities.length && !ns_cns_lst_cntrllr.selectAll && !ns_cns_lst_cntrllr.service.loadParams.finished}}" select-all="{{ns_cns_lst_cntrllr.selectAll}}" item-in-page="{{ns_cns_lst_cntrllr.entities.length}}" item-all="{{ns_cns_lst_cntrllr.entities[0].full_count}}">
                    </nsj-toolbar>
                <div class="panel-body body-list">
                                        <div class="list-group" id="ns_cnaes_list" infinite-scroll='ns_cns_lst_cntrllr.nextPage()' infinite-scroll-disabled='ns_cns_lst_cntrllr.isBusy()' infinite-scroll-distance='1'>    <a href   class="list-group-item" ng-repeat="entity in ns_cns_lst_cntrllr.entities" ui-sref-active="active">
                        
                    <h4 class="list-group-item-heading">
                                        {{ entity.cnae }} 
                            </h4>
                                            <p class="list-group-item-text"><strong>Descricao:</strong>
                            {{ entity.descricao }} 
                </p>
                        </a>            <p class="list-group-item" ng-if="!ns_cns_lst_cntrllr.finished && (ns_cns_lst_cntrllr.service.to_load <= 0)">
            <a href="" ng-click="ns_cns_lst_cntrllr.loadMore()">Ver mais...</a>
        </p>
        <p class="text-center article-loading height-full" ng-class="{'onloading' : ns_cns_lst_cntrllr.isBusy() }" ng-if="ns_cns_lst_cntrllr.isBusy()"></p>
    <p class="text-center nfound" ng-if="ns_cns_lst_cntrllr.entities.length == 0 && !ns_cns_lst_cntrllr.isBusy()">Nenhum dado encontrado</p>
</div>
            
                                        </div><!--/panel-body-->
            </div><!--/panel-->
        </div>
    </div>

    <div class="content-loading"  ng-if="ns_cns_lst_cntrllr.busy">
                <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
                </div>
            </div>
</div>
