<div class="crm-atc-container height-full">
  <div class="indice-container">
    <nsj-indice config="pjts_shwdt_cntrllr.configMenuHorizontal"></nsj-indice>
  </div>
  <div class="headline-container">
    <nsj-headline class="headline-atcs">
      <div class="headline-fixed-ordensservicos hidden-xs">
        <ul class="nsj-breadcrumb title pull-left hidden-sub-xs">
          <li>
            <a ui-sref="projetos">Projetos</a>
          </li>
          <li>
            <a ui-sref="projetos">Projeto {{ pjts_shwdt_cntrllr.entity.codigo }}</a>
          </li>
        </ul>
        <div class="nsj-breadcrumb-back fixed-nsj-back">
          <span ui-sref="projetos" class="btn-voltar">
            <i class="fas fa-angle-left"></i>
          </span>
          <label> <span ng-if="!pjts_shwdt_cntrllr.criandoNovo()">Projeto {{ pjts_shwdt_cntrllr.entity.codigo }}</span>
          </label>
        </div>
      </div>
    </nsj-headline>
    <div>

      <nsj-button icon="fas fa-project-diagram" ng-if="!pjts_shwdt_cntrllr.entity.template"
        class="pull-right btn-template" ng-class="{loading: pjts_shwdt_cntrllr.desativaBtnTemplate}"
        ng-click="pjts_shwdt_cntrllr.abreModalTemplate(pjts_shwdt_cntrllr.entity, false); pjts_shwdt_cntrllr.controleBtnTemplate()"
        ng-disabled="pjts_shwdt_cntrllr.desativaBtnTemplate" tem-permissao="financas_projetos_templates_gerenciar">

        Definir projeto como template

      </nsj-button>

      <nsj-button icon="fas fa-cog" ng-if="pjts_shwdt_cntrllr.entity.template" class="pull-right btn-template"
        ng-class="{loading: pjts_shwdt_cntrllr.desativaBtnTemplate}"
        ng-click="pjts_shwdt_cntrllr.abreModalTemplate(pjts_shwdt_cntrllr.entity, true); pjts_shwdt_cntrllr.controleBtnTemplate()"
        ng-disabled="pjts_shwdt_cntrllr.desativaBtnTemplate" tem-permissao="financas_projetos_templates_gerenciar">

        Gerenciar template

      </nsj-button>

    </div>
  </div>
  <div class="crm-corpo-container">
    <div class="secao-container-scroll">
      <div class="row scroll-item">
        <div class="col-sm-12">
          <nsj-accordion init-open keep-open headline="Informações Gerais" class="secao-scroll"
            id="projetos-secao-infos-gerais">
            <nsj-button ng-click="pjts_shwdt_cntrllr.setEdit(true)" slot="right" icon="fas fa-edit"
              ng-disabled="pjts_shwdt_cntrllr.entity.situacao == 1 || pjts_shwdt_cntrllr.entity.situacao == 3">
            </nsj-button>
            <div class="row">
              <div class="col-sm-12">
                <!-- Formulário de show (Mostrar Menos)-->
                <projetos-show-form-component ng-if="!pjts_shwdt_cntrllr.editMode && !pjts_shwdt_cntrllr.mostrarMais"
                  entity="pjts_shwdt_cntrllr.entity" campos-customizados="pjts_shwdt_cntrllr.camposCustomizados"
                  campos-customizados-config="pjts_shwdt_cntrllr.camposCustomizadosConfig">
                </projetos-show-form-component>

                <!-- Formulário de show (Mostrar mais) -->
                <projetos-show-form-full-component
                  ng-if="!pjts_shwdt_cntrllr.editMode && pjts_shwdt_cntrllr.mostrarMais"
                  entity="pjts_shwdt_cntrllr.entity" campos-customizados="pjts_shwdt_cntrllr.camposCustomizados"
                  campos-customizados-config="pjts_shwdt_cntrllr.camposCustomizadosConfig">
                </projetos-show-form-full-component>

                <!-- Formulário de edit -->
                <form name="pjts_shwdt_cntrllr.form" novalidate role="form">
                  <projetos-edit-form-component ng-if="pjts_shwdt_cntrllr.editMode"
                    form="pjts_shwdt_cntrllr.form"
                    original-entity="pjts_shwdt_cntrllr.entity" edit-mode="pjts_shwdt_cntrllr.editMode"
                    campos-customizados="pjts_shwdt_cntrllr.camposCustomizados"
                    campos-customizados-config="pjts_shwdt_cntrllr.camposCustomizadosConfig">
                  </projetos-edit-form-component>
                </form>
                
                <div class="pull-right btn-controle-atc-show-container">
                  <nsj-button icon="fas fa-edit" ng-if="!pjts_shwdt_cntrllr.mostrarMais && !pjts_shwdt_cntrllr.editMode"
                    ng-click="pjts_shwdt_cntrllr.mostrarMaisInformacoes(true)">
                    Mostrar mais informações
                  </nsj-button>
                  <nsj-button icon="fas fa-edit" ng-if="pjts_shwdt_cntrllr.mostrarMais && !pjts_shwdt_cntrllr.editMode"
                    ng-click="pjts_shwdt_cntrllr.mostrarMaisInformacoes(false)">
                    Mostrar menos informações
                  </nsj-button>
                </div>
              </div>
            </div>
          </nsj-accordion>
        </div>
      </div>
      <div class="row scroll-item mb-20">
        <div class="col-sm-12">
          <nsj-accordion init-open keep-open headline="Formulários" class="secao-scroll"
            id="projetos-secao-formularios">
            <nsj-button ng-click="pjts_shwdt_cntrllr.loadFormulariosList()" slot="right" icon="fas fa-sync">
            </nsj-button>
            <formularios-component formularios-entities="pjts_shwdt_cntrllr.formulariosEntities"
              formularios-respostas="pjts_shwdt_cntrllr.formulariosRespostas"
              busy-formulario="pjts_shwdt_cntrllr.busyFormulario" entity="pjts_shwdt_cntrllr.entity">
            </formularios-component>
          </nsj-accordion>
        </div>
      </div>
      <div class="row scroll-item mt-20">
        <div class="col-sm-12">
          <nsj-accordion init-open keep-open headline="Escopo" class="secao-scroll" id="projetos-secao-escopo">
            <nsj-button ng-click="pjts_shwdt_cntrllr.loadEscopoList()" slot="right" icon="fas fa-sync"></nsj-button>
            <escopo-component ng-if="!pjts_shwdt_cntrllr.busyEscopo && pjts_shwdt_cntrllr.escopoEntities"
              escopo-entities="pjts_shwdt_cntrllr.escopoEntities" entity="pjts_shwdt_cntrllr.entity">
            </escopo-component>
            <!-- Skeleton -->
            <div class="skeleton-container container-tabela" ng-if="pjts_shwdt_cntrllr.busyEscopo">
              <!-- Tabela de dados -->
              <table class="table nsj-table table-skeleton-escopo">
                <thead>
                  <tr>
                    <th ng-repeat="col in pjts_shwdt_cntrllr.arrQtdSkeletonsEscopoCol">
                      <div class="item-skeleton"></div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Linha 1 -->
                  <tr ng-repeat="line in pjts_shwdt_cntrllr.arrQtdSekeletonsEscopoLin">
                    <td ng-repeat="col in pjts_shwdt_cntrllr.arrQtdSkeletonsEscopoCol">
                      <div class="item-skeleton"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </nsj-accordion>
        </div>
      </div>
    </div>
  </div>
</div>