.ml-30 {
  margin-left: 30px;
}

mb-20 {
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.flexdir-row {
  flex-direction: row !important;
}

.align-itens-center {
  align-items: center;
}

.btn-template{

  margin-right: 25px; 
  margin-bottom: 15px;

  button{
    margin-right: 0px;
  }

}