<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    Situação
                </legend>
                <div class="row ">
                    <div class="col-sm-4">
                        <!-- Sobrescrito para deixar a situação desabilitada ao criar -->
                        <div class="form-group">
                            <label class="control-label" for="situacaoprenegocio">Situação</label>
                            <nsj-lookup name="situacaoprenegocio" id-name="situacaoprenegocio"
                                factory="CrmSituacoesprenegocios" ng-model="$ctrl.entity.situacaoprenegocio"
                                max-label="4" constructor="{  }" config='{ "nome":"Nome",  }'
                                disabled="!$ctrl.entity.documento || $ctrl.entity.$$__submitting">
                            </nsj-lookup>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    Dados da Origem
                </legend>
                <div class="row ">
                    <div class="col-sm-4">
                        <div class="form-group"><label class="control-label" for="codigodepromocao">Campanha de
                                Origem</label>
                            <nsj-lookup name="codigodepromocao" id-name="promocaolead" factory="CrmPromocoesleads"
                                ng-model="$ctrl.entity.codigodepromocao" max-label="2" constructor="{  }"
                                config='{ "nome":"Nome",  }' disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label class="control-label" for="midiadeorigem">Mídia de Origem</label>
                            <nsj-lookup name="midiadeorigem" id-name="midia" factory="CrmMidias"
                                ng-model="$ctrl.entity.midiadeorigem" max-label="2" constructor="{  }"
                                config='{ "nome":"Nome",  }' disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label class="control-label" for="tipodeacionamento">Tipo de
                                Acionamento</label>
                            <nsj-lookup name="tipodeacionamento" id-name="tiposacionamento"
                                factory="CrmTiposacionamentos" ng-model="$ctrl.entity.tipodeacionamento" max-label="2"
                                constructor="{  }" config='{ "nome":"Nome",  }' disabled="$ctrl.entity.$$__submitting">
                            </nsj-lookup>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    Dados do Destino
                </legend>
                <div class="row ">
                    <div class="col-sm-4">
                        <div class="form-group"><label class="control-label" for="estabelecimento">Estabelecimento
                                Comercial</label>
                            <nsj-lookup name="estabelecimento" id-name="estabelecimento" factory="NsEstabelecimentos"
                                ng-model="$ctrl.entity.estabelecimento" max-label="2" constructor="{  }"
                                config='{ "nomefantasia":"Nome Fantasia",  }' disabled="$ctrl.entity.$$__submitting"
                                required="($ctrl.entity.$$__submitting) !== true"></nsj-lookup>
                            <div ng-messages="$ctrl.form.estabelecimento.$error"
                                ng-if="$ctrl.form.estabelecimento.$dirty || $ctrl.form.$submitted">
                                <div class="alert alert-danger" role="alert" ng-message="required"><span
                                        class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>
                                    O campo Estabelecimento Comercial não pode ser vazio.


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label class="control-label" for="operacao">Àrea de Negócio</label>
                            <nsj-lookup name="operacao" id-name="proposta_operacao" factory="CrmNegociosoperacoes"
                                ng-model="$ctrl.entity.operacao" max-label="4" constructor="{  }"
                                config='{ "descricao":"Descrição",  }' disabled="$ctrl.entity.$$__submitting"
                                required="($ctrl.entity.$$__submitting) !== true"></nsj-lookup>
                            <div ng-messages="$ctrl.form.operacao.$error"
                                ng-if="$ctrl.form.operacao.$dirty || $ctrl.form.$submitted">
                                <div class="alert alert-danger" role="alert" ng-message="required"><span
                                        class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>
                                    O campo Área de Negócio não pode ser vazio


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="$ctrl.entity.tipoqualificacaopn !== 1">
                        <div class="form-group"><label class="control-label" for="clientecaptador">Atribuição</label>
                            <nsj-lookup name="clientecaptador" id-name="vendedor_id" factory="NsVendedores"
                                ng-model="$ctrl.entity.clientecaptador" max-label="4" constructor="{  }"
                                config='{ "vendedor_nome":"Razão Social",  }' disabled="$ctrl.entity.$$__submitting">
                            </nsj-lookup>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="$ctrl.entity.tipoqualificacaopn === 1">
                        <div class="form-group"><label class="control-label" for="vendedor">Atribuição</label>
                            <nsj-lookup name="vendedor" id-name="vendedor_id" factory="NsVendedores"
                                ng-model="$ctrl.entity.vendedor" max-label="4" constructor="{  }"
                                config='{ "vendedor_nome":"Razão Social",  }' disabled="$ctrl.entity.$$__submitting">
                            </nsj-lookup>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    Dados da Conta
                </legend>
                <div class="row ">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="cliente_qualificacao">Tipo</label>
                            <select class="form-control" id="cliente_qualificacao" name="cliente_qualificacao"
                                ng-model="$ctrl.entity.cliente_qualificacao" ng-disabled="$ctrl.entity.$$__submitting"
                                ng-required="($ctrl.entity.$$__submitting) !== true">
                                <option ng-value="$ctrl.EnumClienteQualificacao.cqCPF">CPF</option>
                                <option ng-value="$ctrl.EnumClienteQualificacao.cqCNPJ">CNPJ</option>
                            </select>
                            <div ng-messages="$ctrl.form.cliente_qualificacao.$error"
                                ng-if="$ctrl.form.cliente_qualificacao.$dirty || $ctrl.form.$submitted">
                                <div class="alert alert-danger" role="alert" ng-message="required">
                                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>
                                    O campo Tipo não pode estar vazio

                                </div>
                                <div class="alert alert-danger" role="alert" ng-message="maxlength">
                                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>

                                    O campo Tipo aceita no máximo 50 caracteres
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="cliente_documento">CNPJ/CPF</label>
                            <!-- CNPJ -->
                            <input type='text' class="form-control" id="cliente_documento" name="cliente_documento"
                                ng-if="$ctrl.entity.cliente_qualificacao == $ctrl.EnumClienteQualificacao.cqCNPJ"
                                ng-model="$ctrl.entity.cliente_documento"
                                ng-disabled="$ctrl.entity.cliente_qualificacao == null || $ctrl.entity.$$__submitting"
                                ng-required="($ctrl.entity.$$__submitting) !== true" ui-br-cnpj-mask
                                ng-on-change="$ctrl.getClienteByDocumento($event)" />
                            <!-- CPF-->
                            <input type='text' class="form-control" id="cliente_documento" name="cliente_documento"
                                ng-if="$ctrl.entity.cliente_qualificacao == $ctrl.EnumClienteQualificacao.cqCPF"
                                ng-model="$ctrl.entity.cliente_documento"
                                ng-disabled="$ctrl.entity.cliente_qualificacao == null || $ctrl.entity.$$__submitting"
                                ng-required="($ctrl.entity.$$__submitting) !== true" ui-br-cpf-mask
                                ng-on-change="$ctrl.getClienteByDocumento($event)" />
                            <div ng-messages="$ctrl.form.cliente_documento.$error"
                                ng-if="$ctrl.form.cliente_documento.$dirty || $ctrl.form.$submitted">
                                <div class="alert alert-danger" role="alert" ng-message="required">
                                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>
                                    O campo CNPJ/CPF não pode estar vazio
                                </div>
                                <div class="alert alert-danger" role="alert" ng-message="maxlength">
                                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>
                                    O campo CNPJ/CPF aceita no máximo 50 caracteres
                                </div>
                                <!-- Caso o CPF não seja válido-->
                                <div class="alert alert-danger" role="alert" ng-message="cpf">
                                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>
                                    O CPF não é válido
                                </div>
                                <!-- Caso o CNPJ não seja válido-->
                                <div class="alert alert-danger" role="alert" ng-message="cnpj">
                                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>
                                    O CNPJ não é válido
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label class="control-label" for="cliente_nomefantasia">Nome
                                Fantasia</label><input type='text' class="form-control" id="cliente_nomefantasia"
                                name="cliente_nomefantasia" ng-model="$ctrl.entity.cliente_nomefantasia"
                                ng-disabled="(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||$ctrl.entity.$$__submitting" />
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-4">
                        <div class="form-group"><label class="control-label" for="cliente_companhia">Razão
                                Social</label><input type='text' class="form-control" id="cliente_companhia"
                                name="cliente_companhia" maxlength="50" ng-model="$ctrl.entity.cliente_companhia"
                                ng-disabled="(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||$ctrl.entity.$$__submitting"
                                ng-required="((!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||$ctrl.entity.$$__submitting) !== true" />
                            <div ng-messages="$ctrl.form.cliente_companhia.$error"
                                ng-if="$ctrl.form.cliente_companhia.$dirty || $ctrl.form.$submitted">
                                <div class="alert alert-danger" role="alert" ng-message="required"><span
                                        class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>
                                    O campo Razão Social não pode estar vazio


                                </div>
                                <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                                        class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>


                                    O campo Razão Social aceita no máximo 50 caracteres
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label class="control-label" for="uf">UF</label>
                            <nsj-lookup name="uf" id-name="uf" factory="NsEstados" ng-model="$ctrl.entity.uf"
                                max-label="2" constructor="{  }" config='{ "uf":"UF", "nome":"Nome",  }'
                                disabled="(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||$ctrl.entity.$$__submitting">
                            </nsj-lookup>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- {# Sobrescrito para filtrar as cidades baseadas na UF selecionada #} -->

                        <div class="form-group">
                            <label class="control-label" for="clientemunicipioibge">Cidade</label>
                            <nsj-lookup name="clientemunicipioibge" id-name="codigo" factory="NsMunicipios"
                                ng-model="$ctrl.entity.clientemunicipioibge"
                                filter="{ 'uf': [ {'condition':'eq','value':$ctrl.entity.uf.uf },  ], }" max-label="2"
                                constructor="{  }" config='{ "nome":"Nome",  }'
                                disabled="(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||$ctrl.entity.$$__submitting">
                            </nsj-lookup>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-4">
                        <div class="form-group"><label class="control-label"
                                for="clientesegmentodeatuacao">Segmento</label>
                            <nsj-lookup name="clientesegmentodeatuacao" id-name="segmentoatuacao"
                                factory="CrmSegmentosatuacao" ng-model="$ctrl.entity.clientesegmentodeatuacao"
                                max-label="4" constructor="{  }" config='{ "descricao":"Descrição",  }'
                                disabled="(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||(!$ctrl.entity.documento) && (!$ctrl.entity.buscoucliente)||$ctrl.entity.$$__submitting">
                            </nsj-lookup>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="clientereceitaanual">Faturamento Anual</label>
                            <select class="form-control" id="clientereceitaanual" name="clientereceitaanual"
                                ng-model="$ctrl.entity.clientereceitaanual"
                                ng-disabled="(!$ctrl.entity.documento && !$ctrl.entity.buscoucliente) || $ctrl.entity.$$__submitting">
                                <option ng-value="$ctrl.EnumClienteReceitaAnual.craAte5Milhoes">Até R$ 5 milhões
                                </option>
                                <option ng-value="$ctrl.EnumClienteReceitaAnual.craAte30Milhoes">De R$ 5 milhões até 30
                                    milhões</option>
                                <option ng-value="$ctrl.EnumClienteReceitaAnual.craAte100Milhoes">De R$ 30 milhões até
                                    100 milhões</option>
                                <option ng-value="$ctrl.EnumClienteReceitaAnual.craAte300Milhoes">De R$ 100 milhões até
                                    300 milhões</option>
                                <option ng-value="$ctrl.EnumClienteReceitaAnual.craAte500Milhoes">De R$ 300 milhões até
                                    500 milhões</option>
                                <option ng-value="$ctrl.EnumClienteReceitaAnual.craAte1Bilhao">De R$ 500 milhões até 1
                                    bilhão</option>
                                <option ng-value="$ctrl.EnumClienteReceitaAnual.craMaisDe1Bilhao">Mais de R$ 1 bilhão
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="ehcliente">Já é cliente?</label>
                            <select class="form-control" id="ehcliente" name="ehcliente"
                                ng-model="$ctrl.entity.ehcliente"
                                ng-disabled="(!$ctrl.entity.documento && !$ctrl.entity.buscoucliente) || $ctrl.entity.$$__submitting"
                                ng-required="($ctrl.entity.$$__submitting) !== true">
                                <option ng-value="1">Já é cliente</option>
                                <option ng-value="0">Não é cliente</option>
                            </select>
                            <div ng-messages="$ctrl.form.ehcliente.$error"
                                ng-if="$ctrl.form.ehcliente.$dirty || $ctrl.form.$submitted">
                                <div class="alert alert-danger" role="alert" ng-message="required">
                                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                                        class="sr-only">Erro:</span>
                                    O campo Já é cliente não pode estar vazio

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- Sobrescrito para não aparecer no formulário -->
                    </div>
                    <div class="col-sm-1">
                        <!-- Sobrescrito para não aparecer no formulário -->
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <fieldset>
                <legend>
                    Dados de Contato
                </legend>
                <div class="row ">
                    <div class="col-sm-12">
                        <!-- Sobrescrito para mudar visualização padrão dos contatos do negócio -->
                        <div class="lista-negocios-contatos">
                            <div ng-repeat="negociocontato in $ctrl.entity.negocioscontatos" class="negocio-contato">
                                <nsj-accordion headline="Contato" init-open>
                                    <crm-negocioscontatos-default entity="negociocontato" form="$ctrl.form"
                                        constructors="{ 'documento' : $ctrl.entity.documento,  }">
                                    </crm-negocioscontatos-default>
                                    <nsj-button tem-permissao="crm_negocios_delete"
                                        ng-show="$ctrl.entity.negocioscontatos.length > 1" slot="right" color="danger"
                                        icon="fas fa-times" ng-click="$ctrl.removerContato(negociocontato)"
                                        ng-disabled="crm_ngc_full_cntrllr.busy">
                                    </nsj-button>
                                </nsj-accordion>
                            </div>
                            <nsj-button tem-permissao="crm_negocios_create" color="warning" icon="fa fa-plus" size="xs"
                                class="hidden-xs" ng-click="$ctrl.adicionarNovoContato()">
                                Novo
                            </nsj-button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="observacao">Observações</label><textarea
                    class="form-control" id="observacao" name="observacao" ng-model="$ctrl.entity.observacao"
                    ng-disabled="$ctrl.entity.$$__submitting"></textarea></div>
        </div>
    </div>
</form>