<div class="row ">
    <div class="col-sm-12">
        <fieldset>
            <legend>
                Situação
            </legend>
            <div class="row  row-form-view">
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Situação </label>
                        <p class="form-control-static"><span id="situacaoprenegocio" class="form-control-static"
                                ng-bind="$ctrl.entity.situacaoprenegocio.nome || 'Não informado'"></span></p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row ">
    <div class="col-sm-12">
        <fieldset>
            <legend>
                Dados da Origem
            </legend>
            <div class="row  row-form-view">
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Campanha de Origem </label>
                        <p class="form-control-static"><span id="codigodepromocao" class="form-control-static"
                                ng-bind="$ctrl.entity.codigodepromocao.nome || 'Não informado'"></span></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Mídia de Origem </label>
                        <p class="form-control-static"><span id="midiadeorigem" class="form-control-static"
                                ng-bind="$ctrl.entity.midiadeorigem.nome || 'Não informado'"></span></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Tipo de Acionamento </label>
                        <p class="form-control-static"><span id="tipodeacionamento" class="form-control-static"
                                ng-bind="$ctrl.entity.tipodeacionamento.nome || 'Não informado'"></span></p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row ">
    <div class="col-sm-12">
        <fieldset>
            <legend>
                Dados do Destino
            </legend>
            <div class="row  row-form-view">
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Estabelecimento Comercial </label>
                        <p class="form-control-static"><span id="estabelecimento" class="form-control-static"
                                ng-bind="$ctrl.entity.estabelecimento.nomefantasia || 'Não informado'"></span></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Àrea de Negócio </label>
                        <p class="form-control-static"><span id="operacao" class="form-control-static"
                                ng-bind="$ctrl.entity.operacao.descricao || 'Não informado'"></span></p>
                    </div>
                </div>
                <div class="col-sm-4" ng-if="$ctrl.entity.tipoqualificacaopn !== 1">
                    <div class="form-group clearfix"><label class="control-label">Atribuição </label>
                        <p class="form-control-static"><span id="clientecaptador" class="form-control-static"
                                ng-bind="$ctrl.entity.clientecaptador.vendedor_nome || 'Não informado'"></span></p>
                    </div>
                </div>
                <div class="col-sm-4" ng-if="$ctrl.entity.tipoqualificacaopn === 1">
                    <div class="form-group clearfix"><label class="control-label">Atribuição </label>
                        <p class="form-control-static"><span id="vendedor" class="form-control-static"
                                ng-bind="$ctrl.entity.vendedor.vendedor_nome || 'Não informado'"></span></p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row ">
    <div class="col-sm-12">
        <fieldset>
            <legend>
                Dados da Conta
            </legend>
            <div class="row  row-form-view">
                <div class="col-sm-4">
                    <div class="form-group clearfix">
                        <label class="control-label">Tipo
                        </label>
                        <p class="form-control-static">
                            <span id="cliente_qualificacao" class="form-control-static"
                                ng-bind="{ '0' : 'CNPJ', '1' : 'CPF' }[$ctrl.entity.cliente_qualificacao] || 'Não informado'">
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">CNPJ/CPF </label>
                        <p class="form-control-static"><span id="cliente_documento" class="form-control-static"
                                ng-bind="($ctrl.entity.cliente_documento) || 'Não informado'"></span></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Nome Fantasia </label>
                        <p class="form-control-static"><span id="cliente_nomefantasia" class="form-control-static"
                                ng-bind="($ctrl.entity.cliente_nomefantasia) || 'Não informado'"></span></p>
                    </div>
                </div>
            </div>
            <div class="row  row-form-view">
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Razão Social </label>
                        <p class="form-control-static"><span id="cliente_companhia" class="form-control-static"
                                ng-bind="($ctrl.entity.cliente_companhia) || 'Não informado'"></span></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">UF </label>
                        <p class="form-control-static"><span id="uf" class="form-control-static"
                                ng-bind="$ctrl.entity.uf.uf || 'Não informado'"></span><br><span
                                class="sub-title"><b>Nome: </b><span
                                    ng-bind="$ctrl.entity.uf.nome || 'Não informado.'"></span></span></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Cidade </label>
                        <p class="form-control-static"><span id="clientemunicipioibge" class="form-control-static"
                                ng-bind="$ctrl.entity.clientemunicipioibge.nome || 'Não informado'"></span></p>
                    </div>
                </div>
            </div>
            <div class="row  row-form-view">
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Segmento </label>
                        <p class="form-control-static"><span id="clientesegmentodeatuacao" class="form-control-static"
                                ng-bind="$ctrl.entity.clientesegmentodeatuacao.descricao || 'Não informado'"></span></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group clearfix"><label class="control-label">Faturamento Anual </label>
                        <p class="form-control-static"><span id="number" class="form-control-static"
                                ng-bind="($ctrl.entity.clientereceitaanual| currency : 'R$ ') || 'Não informado'"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group clearfix">
                        <label class="control-label">Já é cliente?
                        </label>
                        <p class="form-control-static">
                            <span id="ehcliente" class="form-control-static"
                                ng-bind="{ '1' : 'Já é cliente', '0' : 'Não é cliente' }[$ctrl.entity.ehcliente] || 'Não informado'"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- Sobrescrito para não aparecer no formulário -->
                </div>
                <div class="col-sm-1">
                    <!-- Sobrescrito para não aparecer no formulário -->
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row ">
    <div class="col-sm-12">
        <fieldset>
            <legend>
                Dados de Contato
            </legend>
            <div class="row  row-form-view">
                <div class="col-sm-12">
                    <div class="form-group clearfix">
                        <nsj-objectlist ng-prop-columns="$ctrl.negociosContatosConfig"
                            ng-prop-config="$ctrl.configuraListaNegociosContatos"
                            ng-prop-list="$ctrl.entity.negocioscontatos"
                            ng-on-list_change="$ctrl.atualizaListaNegociosContatos($event.detail.data)"
                            class="lista-negocios-contatos-show">
                        </nsj-objectlist>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row  row-form-view">
    <div class="col-sm-12">
        <div class="form-group clearfix"><label class="control-label">Observações </label>
            <p class="form-control-static"><span id="observacao" class="form-control-static"
                    ng-bind="$ctrl.entity.observacao|| 'Não informado'"></span></p>
        </div>
    </div>
</div>