<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        ng-click="crm_ngcs_frm_dflt_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Negocio</h3>
    <span ng-if='crm_ngcs_frm_dflt_cntrllr.action == "insert"'>
        <div>



            <button type="button" class="btn btn-sm btn-default btn-geral"
                ng-click="crm_ngcs_frm_dflt_cntrllr.preNegocioQualificar(crm_ngcs_frm_dflt_cntrllr.entity)">
                <i class="fas fa-exclamation"></i> <span>PreNegocioQualificar</span>
            </button> <button type="button" class="btn btn-sm btn-default btn-geral"
                ng-click="crm_ngcs_frm_dflt_cntrllr.preNegocioDesqualificar(crm_ngcs_frm_dflt_cntrllr.entity)">
                <i class="fas fa-exclamation"></i> <span>PreNegocioDesqualificar</span>
            </button>




        </div>
    </span>
</div>
<form nsg-focus name="crm_ngcs_frm_dflt_cntrllr.form" novalidate="novalidate" role="form"
    ng-submit="crm_ngcs_frm_dflt_cntrllr.submit()">
    <div class="modal-body" id="modal-body">
        <crm-negocios-default entity="crm_ngcs_frm_dflt_cntrllr.entity" form="crm_ngcs_frm_dflt_cntrllr.form"
            action="crm_ngcs_frm_dflt_cntrllr.action" constructors="crm_ngcs_frm_dflt_cntrllr.constructors"
            busy="crm_ngcs_frm_dflt_cntrllr.busy"></crm-negocios-default>
    </div>
    <div class="modal-footer">
        <div class="pull-left">

            <button type="submit" name="submit"
                ng-disabled="crm_ngcs_frm_dflt_cntrllr.form.$pristine || crm_ngcs_frm_dflt_cntrllr.entity.$$__submitting"
                class="btn btn-warning" ng-class="{loading:crm_ngcs_frm_dflt_cntrllr.entity.$$__submitting}">
                Excluir
            </button>
            <a class="btn btn-sm" ng-click="crm_ngcs_frm_dflt_cntrllr.close()"><i class="fa fa-times"
                    aria-hidden="true"></i> Fechar</a>

        </div>
    </div>
</form>
<div class="content-loading" ng-if="crm_ngcs_frm_dflt_cntrllr.busy">
    <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
    </div>
</div>