<div ng-class="{'nsj-loading-page' : crm_ngcs_lst_cntrllr.busy }" class='crm_negocios nsj-layout  layout-table '>
    <div class="nsj-aside-list height-full col-md-12"
        ng-class="{ 'hidden-sm hidden-xs' : (('crm_negocios_show'| isStateEq) || ('crm_negocios_edit'| isStateEq) || ('crm_negocios_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <!-- Header da tela -->
                <nsj-headline headline-title="{{crm_ngcs_lst_cntrllr.tituloTela}}"
                    ng-class="{ 'hidden-sm hidden-xs' : (('crm_negocios_show'| isStateEq) || ('crm_negocios_edit'| isStateEq) || ('crm_negocios_new'| isStateEq ))}">

                    <!-- Só apresento os botões de criar, caso seja a listagem de negócios para qualificação e tenha permissão para criar um negócio -->
                    <nsj-button tem-permissao="crm_negocios_create" color="warning" icon="fa fa-plus" size="xs"
                        class="hidden-xs" ui-sref="crm_negocios_new({})"
                        ng-if="crm_ngcs_lst_cntrllr.tipoTela == crm_ngcs_lst_cntrllr.EnumTipoTela.ttNegociosParaQualificacao">
                        Criar
                    </nsj-button>
                    <nsj-button tem-permissao="crm_negocios_create" color="warning" format="fixed circle"
                        icon="fa fa-plus" size="lg" class="hidden-sm hidden-md hidden-lg" ui-sref="crm_negocios_new({})"
                        ng-if="crm_ngcs_lst_cntrllr.tipoTela == crm_ngcs_lst_cntrllr.EnumTipoTela.ttNegociosParaQualificacao">
                        <span class="hidden-xs">Criar</span>
                    </nsj-button>
                </nsj-headline>

                <nsj-toolbar ng-on-change_toolbar="crm_ngcs_lst_cntrllr.search($event.detail)" search="true"
                    refresh="true" holder="Busca" model-search="{{crm_ngcs_lst_cntrllr.service.filter}}"
                    select="{{crm_ngcs_lst_cntrllr.selectPage && crm_ngcs_lst_cntrllr.selected.length === crm_ngcs_lst_cntrllr.entities.length && !crm_ngcs_lst_cntrllr.selectAll && !crm_ngcs_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{crm_ngcs_lst_cntrllr.selectAll}}"
                    item-in-page="{{crm_ngcs_lst_cntrllr.entities.length}}"
                    item-all="{{crm_ngcs_lst_cntrllr.entities[0].full_count}}">
                    <div class="lst-negocios filtro-atribuicao old item-toolbar" slot="primary-end">
                        <div class="label-filtro">
                            <span class="texto">Atribuição</span>
                        </div>
                        <!-- Filtro de Atribuição: Cliente Captador; Aparece na lista de negócios para qualificação -->
                        <nsj-lookup name="clientecaptador" placeholder="Filtrar por vendedor..."
                            ng-if="crm_ngcs_lst_cntrllr.tipoTela == crm_ngcs_lst_cntrllr.EnumTipoTela.ttNegociosParaQualificacao"
                            factory="NsVendedores" max-label="1" ng-model='crm_ngcs_lst_cntrllr.clientecaptadorFilter'
                            constructor="{  }" config='{ "vendedor_nome":"Nome",  }'></nsj-lookup>
                        <!-- Filtro de Atribuição: Vendedor; Aparece na lista de negócios qualificados -->
                        <nsj-lookup name="vendedor" placeholder="Filtrar por vendedor..."
                            ng-if="crm_ngcs_lst_cntrllr.tipoTela == crm_ngcs_lst_cntrllr.EnumTipoTela.ttNegociosQualificados"
                            factory="NsVendedores" max-label="1" ng-model='crm_ngcs_lst_cntrllr.vendedorFilter'
                            constructor="{  }" config='{ "vendedor_nome":"Nome",  }'></nsj-lookup>
                    </div>
                    <nsj-filters slot="filters">
                        <nsj-filter-seletor options="{{crm_ngcs_lst_cntrllr.$rootScope.OPTIONS_CrmNegocios}} "
                            ng-if="false" type="seletor"
                            max-occurs="{{crm_ngcs_lst_cntrllr.$rootScope.MAXOCCURS_CrmNegocios}} "
                            input="{{crm_ngcs_lst_cntrllr.$rootScope.SELECTS_CrmNegocios}} "
                            text-disabled="Selecionar..." model="{{crm_ngcs_lst_cntrllr.filters}} ">
                        </nsj-filter-seletor>
                        <label class="lst-negocios filtro-desqualificados"
                            ng-if="crm_ngcs_lst_cntrllr.tipoTela == crm_ngcs_lst_cntrllr.EnumTipoTela.ttNegociosParaQualificacao">
                            <input type="checkbox" name="filter-desqualificados" id="filter-desqualificados"
                                ng-model="crm_ngcs_lst_cntrllr.buscarDesqualificados"
                                ng-change="crm_ngcs_lst_cntrllr.search(crm_ngcs_lst_cntrllr.service.filters)">
                            <span class="descricao">Mostrar negócios desqualificados</span>
                        </label>
                    </nsj-filters>
                </nsj-toolbar>
                <div class="panel-body body-table">
                    <!-- {# Sobrescrito para colocar o permissionamento de visualizar um negócio e também para alterar o tooltip do botão de visualizar #} -->

                    <nsj-table fields="crm_ngcs_lst_cntrllr.entities" fields-config='crm_ngcs_lst_cntrllr.fields'
                        config-page='crm_ngcs_lst_cntrllr.service.loadParams'
                        has-more-page='crm_ngcs_lst_cntrllr.loadMore()'>
                        <nsj-actions action-model="{{$parent.entity}}">
                            <nsj-action tem-permissao="crm_negocios_get" icon="fas fa-eye"
                                tooltip="Visualizar Negócio" disabled="false"
                                ui-sref="crm_negocios_show({documento : $parent.entity.documento})">
                            </nsj-action>
                        </nsj-actions>

                        <div class="empty-page" ng-if="crm_ngcs_lst_cntrllr.isFilterEmpty()">
                            <div class="text-center">
                                <span class="icon-page">
                                    <i class="fas fa-table fa-fw"></i>
                                </span>
                                <h3>Negócios para Qualificação</h3>
                                <p>Ainda não existem itens nesta lista.</p>

                                <a class="btn btn-warning btn-sm" ui-sref="crm_negocios_new({})">
                                    <i class="fas fa-plus"></i>
                                    Criar</a>
                            </div>
                        </div>
                        <div ng-if="!crm_ngcs_lst_cntrllr.isFilterEmpty()" class="empty-page">
                            <div class="text-center">
                                <p>Não foram encontrados itens para esta pesquisa.</p>
                            </div>
                        </div>
                    </nsj-table>
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class="content-loading" ng-if="crm_ngcs_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>