<div ng-class="{'nsj-loading-page' : crm_lstdvzvnddrstns_lst_cntrllr.busy }"
    class='crm_listadavezvendedoresitens nsj-layout '>
    <div class="nsj-aside-list height-full col-md-12"
        ng-class="{ 'hidden-sm hidden-xs' : (('crm_listadavezvendedoresitens_show'| isStateEq) || ('crm_listadavezvendedoresitens_edit'| isStateEq) || ('crm_listadavezvendedoresitens_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <nsj-headline headline-title=""
                    ng-class="{ 'hidden-sm hidden-xs' : (('crm_listadavezvendedoresitens_show'| isStateEq) || ('crm_listadavezvendedoresitens_edit'| isStateEq) || ('crm_listadavezvendedoresitens_new'| isStateEq ))}">

                    <nsj-button color="warning" icon="fa fa-plus" size="xs" class="hidden-xs"
                        ui-sref="crm_listadavezvendedoresitens_new({listadavezvendedor : crm_lstdvzvnddrstns_lst_cntrllr.constructors.listadavezvendedor})">
                        Criar
                    </nsj-button>
                    <nsj-button color="warning" format="fixed circle" icon="fa fa-plus" size="lg"
                        class="hidden-sm hidden-md hidden-lg"
                        ui-sref="crm_listadavezvendedoresitens_new({listadavezvendedor : crm_lstdvzvnddrstns_lst_cntrllr.constructors.listadavezvendedor})">
                        <span class="hidden-xs">Criar</span>
                    </nsj-button>
                </nsj-headline>

                <nsj-toolbar ng-on-change_toolbar="crm_lstdvzvnddrstns_lst_cntrllr.search($event.detail)" search="false"
                    refresh="true" holder="Busca" model-search="{{crm_lstdvzvnddrstns_lst_cntrllr.service.filter}}"
                    select="{{crm_lstdvzvnddrstns_lst_cntrllr.selectPage && crm_lstdvzvnddrstns_lst_cntrllr.selected.length === crm_lstdvzvnddrstns_lst_cntrllr.entities.length && !crm_lstdvzvnddrstns_lst_cntrllr.selectAll && !crm_lstdvzvnddrstns_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{crm_lstdvzvnddrstns_lst_cntrllr.selectAll}}"
                    item-in-page="{{crm_lstdvzvnddrstns_lst_cntrllr.entities.length}}"
                    item-all="{{crm_lstdvzvnddrstns_lst_cntrllr.entities[0].full_count}}">
                    <nsj-filters slot="filters">
                        <nsj-filter-seletor
                            options="{{crm_lstdvzvnddrstns_lst_cntrllr.$rootScope.OPTIONS_CrmListadavezvendedoresitens}} "
                            ng-if="false" type="seletor"
                            max-occurs="{{crm_lstdvzvnddrstns_lst_cntrllr.$rootScope.MAXOCCURS_CrmListadavezvendedoresitens}} "
                            input="{{crm_lstdvzvnddrstns_lst_cntrllr.$rootScope.SELECTS_CrmListadavezvendedoresitens}} "
                            text-disabled="Selecionar..." model="{{crm_lstdvzvnddrstns_lst_cntrllr.filters}} ">
                        </nsj-filter-seletor>
                    </nsj-filters>

                </nsj-toolbar>
                <div class="panel-body body-list">
                    <div class="list-group" id="crm_listadavezvendedoresitens_list"
                        infinite-scroll='crm_lstdvzvnddrstns_lst_cntrllr.nextPage()'
                        infinite-scroll-disabled='crm_lstdvzvnddrstns_lst_cntrllr.isBusy()'
                        infinite-scroll-distance='1'> <a href
                            ui-sref='crm_listadavezvendedoresitens_show({listadavezvendedor : crm_lstdvzvnddrstns_lst_cntrllr.constructors.listadavezvendedor,listadavezvendedoritem : entity.listadavezvendedoritem})'
                            class="list-group-item" ng-repeat="entity in crm_lstdvzvnddrstns_lst_cntrllr.entities"
                            ui-sref-active="active">

                        </a>
                        <p class="list-group-item"
                            ng-if="!crm_lstdvzvnddrstns_lst_cntrllr.finished && (crm_lstdvzvnddrstns_lst_cntrllr.service.to_load <= 0)">
                            <a href="" ng-click="crm_lstdvzvnddrstns_lst_cntrllr.loadMore()">Ver mais...</a>
                        </p>
                        <p class="text-center article-loading height-full"
                            ng-class="{'onloading' : crm_lstdvzvnddrstns_lst_cntrllr.isBusy() }"
                            ng-if="crm_lstdvzvnddrstns_lst_cntrllr.isBusy()"></p>
                        <p class="text-center nfound"
                            ng-if="crm_lstdvzvnddrstns_lst_cntrllr.entities.length == 0 && !crm_lstdvzvnddrstns_lst_cntrllr.isBusy()">
                            Nenhum dado encontrado</p>
                    </div>

                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class="content-loading" ng-if="crm_lstdvzvnddrstns_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>