<div class="modal-header">
    <button aria-label="Close" class="close" data-dismiss="modal"
        ng-click="tpt_os_mat_mdl_cntrllr.close()"
        type="button">
        <span aria-hidden="true" class="icone-fechar">
            <i aria-hidden="true" class="fa fa-times"></i>
        </span>
    </button>
    <h3 class="modal-title" id="modal-title">Materiais</h3>
</div>
<form name="tpt_os_mat_mdl_cntrllr.form" ng-submit="tpt_os_mat_mdl_cntrllr.submit()"
      novalidate="novalidate" nsg-focus
      role="form">
    <div class="modal-body" id="modal-body">
        <templates-os-material-form
            action="tpt_os_mat_mdl_cntrllr.action"
            busy="tpt_os_mat_mdl_cntrllr.busy"
            constructors="tpt_os_mat_mdl_cntrllr.constructors"
            entity="tpt_os_mat_mdl_cntrllr.entity"
            form="tpt_os_mat_mdl_cntrllr.form">
        </templates-os-material-form>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button class="btn btn-primary" name="submit"
                ng-class="{loading:tpt_os_mat_mdl_cntrllr.entity.$$__submitting}"
                ng-disabled="tpt_os_mat_mdl_cntrllr.form.$pristine || tpt_os_mat_mdl_cntrllr.entity.$$__submitting"
                type="submit"
            >
                Salvar
            </button>
            <a class="btn btn-sm" ng-click="tpt_os_mat_mdl_cntrllr.close()">
                <i aria-hidden="true" class="fa fa-times"></i>
                Fechar
            </a>
        </div>
    </div>
</form>
<div class="content-loading" ng-if="tpt_os_mat_mdl_cntrllr.busy">
    <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
    </div>
</div>