<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">
    <div class="row ">
        <div class="col-sm-3">
            <div class="form-group"><label class="control-label" for="codigo">Código</label><input type='text'
                    class="form-control" id="codigo" name="codigo" maxlength="30" ng-model="$ctrl.entity.codigo"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.codigo.$error" ng-if="$ctrl.form.codigo.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Código não pode ser vazio.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Código não deve exceder 30 caracteres.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="descricao">Nome</label><input type='text'
                    class="form-control" id="descricao" name="descricao" maxlength="150"
                    ng-model="$ctrl.entity.descricao" ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.descricao.$error"
                    ng-if="$ctrl.form.descricao.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Nome não pode ser vazio.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Nome não deve exceder 150 caracteres.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group"><label class="control-label" for="valor">Valor (Opcional)</label><input type='money'
                    class="form-control" id="valor" name="valor" maxlength="20" ng-model="$ctrl.entity.valor"
                    ng-disabled="$ctrl.entity.$$__submitting" ui-money-mask />
                <div ng-messages="$ctrl.form.valor.$error" ng-if="$ctrl.form.valor.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Valor não deve exceder 20 caracteres.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="tiposservicos">Tipo de Serviço (Opcional)</label>
                <nsj-lookup name="tiposservicos" id-name="tiposervico" factory="tiposServicosService"
                    ng-model="$ctrl.entity.tiposservicos" max-label="1" constructor="{  }"
                    config='{ "descricao":"descricao",  }' disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="tipo">Tipo</label><select class="form-control"
                    id="tipo" name="tipo" ng-model="$ctrl.entity.tipo" ng-disabled="$ctrl.entity.$$__submitting"
                    convert-to-number=" " ng-required="($ctrl.entity.$$__submitting) !== true" convert-to-number>
                    <option value="0">Padrão</option>
                    <option value="1">Transporte</option>
                </select>
                <div ng-messages="$ctrl.form.tipo.$error" ng-if="$ctrl.form.tipo.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Tipo não pode ser vazio.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="itemfaturamento">Itens de Faturamento
                    (Opcional)</label>
                <nsj-lookup name="itemfaturamento" id-name="servico" factory="ServicosItensdefaturamento"
                    ng-model="$ctrl.entity.itemfaturamento"
                    filter="{ 'bloqueado': [ {'condition':'eq','value':'0' },  ], }" max-label="1" constructor="{  }"
                    config='{ "descricaoservico":"descricaoservico",  }' disabled="$ctrl.entity.$$__submitting">
                </nsj-lookup>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <object-list autosaveenabled=class="object-list"
                constructors="{ 'servicotecnico' : $ctrl.entity.servicotecnico,  }"
                entities='$ctrl.entity.servicostecnicoschecklist' service="servicosTecnicosChecklistService">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="object-list-add">
                            <label class="scheduler-border">Selecione ou digite as informações nos campos abaixo e
                                adicione à lista</label>
                            <ng-form class="form-add clearfix" inner-form name="oblistctrl.form" role="form">
                                <div class="box-add">
                                    <div class="align-itens clearfix">
                                        <div class="clearfix inputs-area">
                                            <servicos-tecnicos-checklist-form collection="oblistctrl.entities"
                                                constructors="service.constructors" entity="subentity"
                                                form="oblistctrl.form">
                                            </servicos-tecnicos-checklist-form>
                                        </div>
                                        <div class="pull-right bottom-buffer btn-add">
                                            <a class="btn btn-md btn-warning" ng-click="$ctrl.verificaChecklist(oblistctrl);">
                                                <i class="fas fa-plus"></i>
                                                Adicionar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped table-hover table-condensed table-bordered">
                            <thead ng-if="oblistctrl.entities.length">
                                <tr>
                                    <th>
                                        Descrição
                                    </th>
                                    <th>
                                        Obrigatório
                                    </th>
                                    <th class='compact'></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-controller="ObjectListItemCtrl as itemctrl"
                                    ng-repeat="subentity in oblistctrl.entities">
                                    <td>
                                        {{ subentity.descricao }}
                                    </td>
                                    <td>
                                        {{ subentity.obrigatorio ? 'Sim' : 'Não'  }}
                                    </td>
                                    <td class='text-right no-wrap'>
                                        <a class="btn btn-default btn-md" ng-click="oblistctrl.remove(subentity)"
                                            title="Remover">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="!oblistctrl.entities.length">
                                <tr>
                                    <td class="state-empty" colspan="5">
                                        <div class="empty-list">
                                            <p class="text-center">
                                                Não existem itens para mostrar nesta lista.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </object-list>
            <div ng-if="$ctrl.form.$dirty || $ctrl.form.$submitted"></div>
        </div>
    </div>
</form>