<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="funcao">Função</label>
                <nsj-lookup name="funcao" id-name="funcao" factory="GpFuncoes" ng-model="$ctrl.entity.funcao"
                    list-excluded="$ctrl.collection" max-label="2" constructor="{  }"
                    config='{ "codigo":"Código", "descricao":"Descrição",  }' disabled="$ctrl.entity.$$__submitting"
                    required="($ctrl.entity.$$__submitting) !== true"></nsj-lookup>
                <div ng-messages="$ctrl.form.funcao.$error" ng-if="$ctrl.form.funcao.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo função não pode ser vazio.


                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="unique"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo recursos humanos não pode ter funções repetidas.


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label" for="quantidade">Quantidade</label>
                <input type='number' class="form-control" id="quantidade" name="quantidade"
                    ng-model="$ctrl.entity.quantidade" ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" "
                    ng-required="($ctrl.entity.$$__submitting) !== true"
                    ng-greaterthanorequal="($ctrl.entity.quantidade) < 1 " min="1" maxlength="10" />
                <div ng-messages="$ctrl.form.quantidade.$error"
                    ng-if="$ctrl.form.quantidade.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="number">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        Valor informado não é um número.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="greaterthanorequal">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        A quantidade deve ser maior que 0.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        A quantidade não pode ser vazia.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo quantidade tem o tamanho máximo permitido de 10 caracteres
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>