<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-12">

        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">

            <div class="form-group">
                <label class="control-label" for="texto">Descrição</label>
                <nsj-lookup ng-change="$ctrl.modificaTextoDescricao()" name="historicopadrao" id-name="historicopadrao"
                    factory="CrmHistoricospadrao" ng-model="$ctrl.entity.historicopadrao"
                    filter="{ 'tipo': [ {'condition':'eq','value':'100' }, {'condition':'eq','value':'102' },  ], }"
                    max-label="2" constructor="{  }" config='{ "codigo":"codigo", "descricao":"descricao",  }'
                    disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="texto" name="texto" ng-model="$ctrl.entity.texto"
                    ng-disabled="$ctrl.entity.$$__submitting || $ctrl.textAreaBlocked"
                    ng-required="($ctrl.entity.$$__submitting) !== true">
    </textarea>
                <div ng-messages="$ctrl.form.texto.$error" ng-if="$ctrl.form.texto.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo descrição não pode estar vazio
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="prioridade">Nível de prioridade</label>
                <nsj-lookup 
                    name="prioridade" id-name="prioridade" factory="NsPrioridades"
                    ng-model="$ctrl.entity.prioridade" max-label="1" constructor="{  }" config='{ "nome":"Nome",  }'
                    disabled="$ctrl.entity.$$__submitting" required="($ctrl.entity.$$__submitting) !== true"
                    ng-change="$ctrl.selecionaPrazosPrioridade($ctrl.entity.prioridade)"
                    ns-required="true"
                >
                </nsj-lookup>
                <div ng-messages="$ctrl.form.prioridade.$error"
                    ng-if="$ctrl.form.prioridade.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Nível de prioridade não pode ser vazio.


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="prazo">Prazo para expiração</label>


                <div>
                    <input 
                        type="datetime-local" id="dataprazopendencia" name="dataprazopendencia" class="form-control" 
                        ng-model="$ctrl.entity.dataprazopendencia" ng-required="($ctrl.entity.$$__submitting) !== true"
                    />

                    <div>
                        <a class="btn btn-sm" ng-click="$ctrl.limparPrazoExp()" ng-if="$ctrl.entity.dataprazopendencia != null">
                            Limpar Seleção
                        </a>
                    </div>
                </div>

                <div ng-messages="$ctrl.form.dataprazopendencia.$error" ng-if="$ctrl.form.dataprazopendencia.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Prazo para expiração não pode estar vazio
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message-default>
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Prazo para expiração está com um valor inválido
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="temponotificaexpiracao">Notificar expiração faltando</label>
                <div class="temponotificaexpiracao-container">
                    <input type="text" class="form-control" id="temponotificaexpiracao" name="temponotificaexpiracao"
                        maxlength="10" ng-model="$ctrl.entity.temponotificaexpiracao"
                        ui-number-mask="0" convert-to-number=" " ng-required="($ctrl.entity.$$__submitting) !== true" />
                    <span class="texto">Minutos</span>
                </div>
                <div ng-messages="$ctrl.form.temponotificaexpiracao.$error"
                    ng-if="$ctrl.form.temponotificaexpiracao.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="number">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        Valor informado não é um número.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Notificar Expiração não pode estar vazio
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Notificar Expiração tem o tamanho máximo permitido de 10 caracteres
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-0">
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="atribuido-a-mim" tem-permissao="crm_atcspendencias_atribuicao">
                <nsj-switch class="componente" name="atribuidoamim" id="atribuidoamim"
                    ng-model="$ctrl.entity.atribuidoamim"></nsj-switch>
                <span class="texto">Esta pendência será atribuída a mim</span>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="negociopendencialista">Tipo de pendência</label>
                <nsj-lookup name="negociopendencialista" id-name="negociopendencialista"
                    factory="CrmAtcspendenciaslistas" ng-model="$ctrl.entity.negociopendencialista"
                    template="crm-atcspendenciaslistas-default" max-label="1" constructor="{  }"
                    config='{ "nome":"Nome",  }' disabled="$ctrl.entity.$$__submitting"
                    required="($ctrl.entity.$$__submitting) !== true"
                    ns-required="true">
                </nsj-lookup>
                <div ng-messages="$ctrl.form.negociopendencialista.$error"
                    ng-if="$ctrl.form.negociopendencialista.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Tipo de pendência não pode ser vazio.


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="impeditivo">Responsável do
                    impeditivo</label><select class="form-control" id="impeditivo" name="impeditivo"
                    ng-model="$ctrl.entity.impeditivo" ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" "
                    convert-to-number>
                    <option value="0">Interno</option>
                    <option value="1">Cliente</option>
                    <option value="2">Fornecedor</option>
                    <option value="3">Família</option>
                </select>
                <div ng-messages="$ctrl.form.impeditivo.$error"
                    ng-if="$ctrl.form.impeditivo.$dirty || $ctrl.form.$submitted">
                </div>
            </div>
        </div>
    </div>
</form>