<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-12">
            <div class="table-container">
                <table class="table table-bordered table-th-bg">
                    <tbody>
                        <tr>
                            <th scope="row">Aberta em</th>
                            <td colspan="3">
                                <span
                                    class="aberto-por-data">{{$ctrl.CrmAtcspendenciasUtilsService.getDataFormatada($ctrl.entity.created_at)}}</span>
                                às <span
                                    class="aberto-por-hora">{{$ctrl.CrmAtcspendenciasUtilsService.getHoraFormatada($ctrl.entity.created_at)}}</span>,
                                por <span class="aberto-por-nome">{{$ctrl.entity.created_by.nome}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Responsável do impeditivo</th>
                            <td>{{$ctrl.CrmAtcspendenciasUtilsService.getImpeditivoDescricao($ctrl.entity.impeditivo)}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Descrição</th>
                            <td colspan="3" class="descricao"><span class="texto">{{$ctrl.entity.texto}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="prazo">Prazo para expiração</label>
                
                <div>
                    <input 
                        type="datetime-local" id="dataprazopendencia" name="dataprazopendencia" class="form-control" 
                        ng-model="$ctrl.entity.dataprazopendencia" ng-required="($ctrl.entity.$$__submitting) !== true"
                        ng-disabled="$ctrl.entity.status === 1 || $ctrl.entity.$$__submitting"
                    />
                    <div>
                        <a class="btn btn-sm" ng-click="$ctrl.limparPrazoExp()" ng-if="$ctrl.entity.dataprazopendencia != null && $ctrl.entity.status !== 1">
                            Limpar Seleção
                        </a>
                    </div>
                </div>

                <div ng-messages="$ctrl.form.dataprazopendencia.$error" ng-if="$ctrl.form.dataprazopendencia.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Prazo para expiração não pode estar vazio
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message-default>
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Prazo para expiração está com um valor inválido
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="temponotificaexpiracao">Notificar expiração faltando</label>
                <div class="temponotificaexpiracao-container">
                    <input type="text" class="form-control" id="temponotificaexpiracao" name="temponotificaexpiracao"
                        maxlength="10" ng-model="$ctrl.entity.temponotificaexpiracao"
                        ui-number-mask="0" convert-to-number=" " ng-required="($ctrl.entity.$$__submitting) !== true" ng-disabled="$ctrl.entity.status === 1 || $ctrl.entity.$$__submitting"/>
                    <span class="texto">Minutos</span>
                </div>
                <div ng-messages="$ctrl.form.temponotificaexpiracao.$error"
                    ng-if="$ctrl.form.temponotificaexpiracao.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="number">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        Valor informado não é um número.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Notificar Expiração não pode estar vazio
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Notificar Expiração tem o tamanho máximo permitido de 10 caracteres
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="prioridade">Nível de prioridade</label>
                <nsj-lookup name="prioridade" id-name="prioridade" factory="NsPrioridades"
                    ng-model="$ctrl.entity.prioridade" max-label="1" constructor="{  }" config='{ "nome":"Nome",  }'
                    disabled="$ctrl.entity.status === 1||$ctrl.entity.$$__submitting"
                    required="($ctrl.entity.status === 1||$ctrl.entity.$$__submitting) !== true"
                    ng-change="$ctrl.selecionaPrazosPrioridade($ctrl.entity.prioridade)"
                    ns-required="true">
                </nsj-lookup>
                <div ng-messages="$ctrl.form.prioridade.$error"
                    ng-if="$ctrl.form.prioridade.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Nível de prioridade não pode ser vazio.


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="atribuidoa">Atribuído a</label><input type='text'
                    class="form-control" id="atribuidoa" name="atribuidoa" ng-model="$ctrl.entity.atribuidoa"
                    ng-disabled="$ctrl.entity.status === 1||$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
</form>