<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
    ng-click="crm_tcspndncs_frm_dflt_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title" id="modal-title">{{crm_tcspndncs_frm_dflt_cntrllr.tituloTela}}</h3>
</div>
<form nsg-focus name="crm_tcspndncs_frm_dflt_cntrllr.form" class="crm-atcspendencias-default-modal"
  novalidate="novalidate" role="form" ng-submit="crm_tcspndncs_frm_dflt_cntrllr.submit()">
  <div class="modal-body" id="modal-body">
    <div class="mensagem" ng-if="crm_tcspndncs_frm_dflt_cntrllr.action == 'insert'">
      <span class="atencao destaque">Atenção!</span><span class="texto"> Após a abertura, não será possível realizar
        edições e exclusão dessa pendência.</span>
    </div>
    <div class="mensagem-edit" ng-if="crm_tcspndncs_frm_dflt_cntrllr.action == 'update'">
      <div class="texto">
        Pendencia do tipo <span
          class="destaque">{{crm_tcspndncs_frm_dflt_cntrllr.entity.negociopendencialista.nome}}</span>
        ({{crm_tcspndncs_frm_dflt_cntrllr.CrmAtcspendenciasUtilsService.minutosParaDataFormatada(crm_tcspndncs_frm_dflt_cntrllr.entity.aberta_ha)}}),
        referente ao <span class="destaque">Atendimento {{crm_tcspndncs_frm_dflt_cntrllr.negocio.codigo}}</span>
        do tipo <span class="destaque">{{crm_tcspndncs_frm_dflt_cntrllr.negocio.area.nome}}</span>

      </div>
    </div>
    <crm-atcspendencias-default entity="crm_tcspndncs_frm_dflt_cntrllr.entity"
      form="crm_tcspndncs_frm_dflt_cntrllr.form" action="crm_tcspndncs_frm_dflt_cntrllr.action"
      constructors="crm_tcspndncs_frm_dflt_cntrllr.constructors" busy="crm_tcspndncs_frm_dflt_cntrllr.busy"
      ng-if="crm_tcspndncs_frm_dflt_cntrllr.action == 'insert'"></crm-atcspendencias-default>
    <crm-atcspendencias-edit entity="crm_tcspndncs_frm_dflt_cntrllr.entity" form="crm_tcspndncs_frm_dflt_cntrllr.form"
      action="crm_tcspndncs_frm_dflt_cntrllr.action" constructors="crm_tcspndncs_frm_dflt_cntrllr.constructors"
      busy="crm_tcspndncs_frm_dflt_cntrllr.busy" ng-if="crm_tcspndncs_frm_dflt_cntrllr.action == 'update'">
      </crm-atcspendencias-default>
  </div>
  <div class="modal-footer">
    <div class="pull-left" ng-if="crm_tcspndncs_frm_dflt_cntrllr.action == 'insert a'">

      <button type="submit" name="submit"
        ng-disabled="crm_tcspndncs_frm_dflt_cntrllr.form.$pristine || crm_tcspndncs_frm_dflt_cntrllr.entity.$$__submitting"
        class="btn btn-warning" ng-class="{loading:crm_tcspndncs_frm_dflt_cntrllr.entity.$$__submitting}">
        Adicionar
      </button>

    </div>
    <div class="pull-right botoes-footer" ng-if="crm_tcspndncs_frm_dflt_cntrllr.action == 'insert'">
      <a class="btn btn-sm" ng-click="crm_tcspndncs_frm_dflt_cntrllr.close()">
        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
      </a>
      <nsj-button tem-permissao="crm_atcspendencias_create" type="submit" icon="fas fa-plus"
        ng-disabled="crm_tcspndncs_frm_dflt_cntrllr.form.$pristine || crm_tcspndncs_frm_dflt_cntrllr.entity.$$__submitting"
        class="btn-footer btn-abrir-pendencia"
        ng-class="{loading:crm_tcspndncs_frm_dflt_cntrllr.entity.$$__submitting}">
        Abrir Pendência
      </nsj-button>
    </div>
    <div class="pull-right botoes-footer" ng-if="crm_tcspndncs_frm_dflt_cntrllr.action == 'update'">
      <nsj-button icon="fas fa-eye" ng-disabled="crm_tcspndncs_frm_dflt_cntrllr.entity.$$__submitting"
        class="btn-footer btn-abrir-atendimento"
        ng-class="{loading:crm_tcspndncs_frm_dflt_cntrllr.entity.$$__submitting}"
        ui-sref="crm_atcs_full({atc : crm_tcspndncs_frm_dflt_cntrllr.entity.negocio.negocio})"
        target="_blank"
        ng-click="crm_tcspndncs_frm_dflt_cntrllr.close()" ng-if="crm_tcspndncs_frm_dflt_cntrllr.telaorigem != 'atc'">
        Abrir atendimento
      </nsj-button>
      <nsj-button tem-permissao="crm_atcspendencias_put" type="submit" icon="fas fa-save"
        ng-disabled="crm_tcspndncs_frm_dflt_cntrllr.form.$pristine || crm_tcspndncs_frm_dflt_cntrllr.entity.$$__submitting"
        class="btn-footer btn-salvar" ng-class="{loading:crm_tcspndncs_frm_dflt_cntrllr.entity.$$__submitting}"
        ng-if="crm_tcspndncs_frm_dflt_cntrllr.entity.status == crm_tcspndncs_frm_dflt_cntrllr.EStatusPendencia.sAberta">
        Salvar
      </nsj-button>
      <nsj-button tem-permissao="crm_atcspendencias_marcar" icon="fas fa-check"
        ng-click="crm_tcspndncs_frm_dflt_cntrllr.fecharPendencia()"
        ng-disabled="crm_tcspndncs_frm_dflt_cntrllr.entity.$$__submitting" class="btn-footer btn-fechar-pendencia"
        ng-class="{loading:crm_tcspndncs_frm_dflt_cntrllr.entity.$$__submitting}"
        ng-if="crm_tcspndncs_frm_dflt_cntrllr.entity.status == crm_tcspndncs_frm_dflt_cntrllr.EStatusPendencia.sAberta">
        Fechar Pendência
      </nsj-button>
    </div>
  </div>
</form>
<div class="content-loading" ng-if="crm_tcspndncs_frm_dflt_cntrllr.busy">
  <div class="center-loading text-center">
    <div class="onloading"></div>
    Carregando...
  </div>
</div>