 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="nome">Nome</label><input type='text' class="form-control"     id="nome" name="nome"           ng-model="$ctrl.entity.nome" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" /><div ng-messages="$ctrl.form.nome.$error"  ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo nome não pode ser vazio
                    
                    
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-4" >
                                                    <div class="form-group"><label class="control-label" for="tipo">Tipo</label><select class="form-control"     id="tipo" name="tipo"           ng-model="$ctrl.entity.tipo" ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" " ng-required="($ctrl.entity.$$__submitting) !== true" convert-to-number><option value="0">Outros</option><option value="1">Seguradora</option></select><div ng-messages="$ctrl.form.tipo.$error"  ng-if="$ctrl.form.tipo.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo não pode estar vazio
                    
                    
                </div></div></div>
                        </div><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="descricao">Descrição</label><input type='text' class="form-control"     id="descricao" name="descricao"           ng-model="$ctrl.entity.descricao" ng-disabled="$ctrl.entity.$$__submitting" /></div>
                        </div></div><div class="row " ><div class="col-sm-12" ><fieldset ><legend>
            CNAEs                        
        </legend><div class="row " ><div class="col-sm-12" >
                                                    <object-list class ="object-list"
            entities='$ctrl.entity.cnaes'
            service="NsCnaestiposatividades"
            constructors="{ 'tipoatividade' : $ctrl.entity.tipoatividade,  }"
            autosaveEnabled= ><div class="col-sm-12"><div class="row"><div class="object-list-add"><label class="scheduler-border">CNAEs</label><ng-form name="oblistctrl.form" role="form" inner-form class="form-add clearfix"><div class="box-add"><div class="align-itens clearfix"><div class="clearfix inputs-area"><ns-cnaestiposatividades-default entity="subentity" form="oblistctrl.form" constructors="service.constructors" collection="oblistctrl.entities"></ns-cnaestiposatividades-default></div>
            <div class="pull-right bottom-buffer btn-add">
            <button type="button" class="btn btn-md btn-warning" ng-disabled="subentity.cnae === undefined" ng-click="oblistctrl.add();$event.preventDefault();"><i class="fas fa-plus"></i> Adicionar</a>
            </div></div></div></ng-form></div></div><div class="row"><table class="table table-striped table-hover table-condensed table-bordered"><thead><tr><th>
                            Cnae
                        </th><th>
                            Descrição
                        </th><th class='compact'></th></tr></thead><tbody><tr ng-repeat="subentity in oblistctrl.entities"  ng-controller="ObjectListItemCtrl as itemctrl"><td>
                                                                    {{ subentity.cnae.cnae }} 
                                        </td><td>
                                                                    {{ subentity.cnae.descricao }} 
                                        </td><td class='text-right no-wrap'><a class="btn btn-danger btn-circle" ng-click="oblistctrl.remove(subentity)" title="Remover"><i class="fas fa-times"></i></a></td></tr></tbody><tfoot ng-if="oblistctrl.entities.length == 0"><tr><td colspan="3" class="state-empty"><div class="empty-list"><p class="text-center"> Não existem itens para mostrar nesta lista. </p></div></td></tr></tfoot></table></div></div></object-list>
                        </div></div></fieldset></div></div>
</form>
