 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="codigo">Código</label><input type='text' class="form-control"     id="codigo" name="codigo"           ng-model="$ctrl.entity.codigo" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" /><div ng-messages="$ctrl.form.codigo.$error"  ng-if="$ctrl.form.codigo.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo código não pode ser vazio.
                    
                    
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="descricao">Descrição</label><input type='text' class="form-control"     id="descricao" name="descricao"          maxlength="150" ng-model="$ctrl.entity.descricao" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" /><div ng-messages="$ctrl.form.descricao.$error"  ng-if="$ctrl.form.descricao.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo descrição não pode ser vazio.
                    
                    
                </div><div class="alert alert-danger" role="alert" ng-message="maxlength" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    
                    
                    O campo percentual não pode ter mais que 150 posições.
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-4" >
                                                    <div class="form-group"><label class="control-label" for="unidadepadrao">Unidade</label><nsj-lookup
            name="unidadepadrao"
            id-name="unidade"
            factory="EstoqueUnidades"  
            ng-model="$ctrl.entity.unidadepadrao" 
                                                max-label="1"
            constructor="{  }"
            config='{ "descricao":"descricao",  }'
            disabled = "$ctrl.entity.$$__submitting"
                        required = "($ctrl.entity.$$__submitting) !== true"
                                                ></nsj-lookup><div ng-messages="$ctrl.form.unidadepadrao.$error"  ng-if="$ctrl.form.unidadepadrao.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo unidade não pode ser vazio.
                    
                    
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-4" >
                                                    <div class="form-group"><label class="control-label" for="tipocalculo">Tipo de Cálculo</label><select class="form-control"     id="tipocalculo" name="tipocalculo"           ng-model="$ctrl.entity.tipocalculo" ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" " ng-required="($ctrl.entity.$$__submitting) !== true" convert-to-number><option value="0">Direto</option><option value="1">Percentual</option><option value="2">Por Hora</option></select><div ng-messages="$ctrl.form.tipocalculo.$error"  ng-if="$ctrl.form.tipocalculo.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo tipo de cálculo deve ser selecionado.
                    
                    
                </div></div></div>
                        </div><div class="col-sm-4" >
                                                    <div class="form-group"><label class="control-label" for="tipovalor">Tipo de Valor</label><select class="form-control"     id="tipovalor" name="tipovalor"           ng-model="$ctrl.entity.tipovalor" ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" " ng-required="($ctrl.entity.$$__submitting) !== true" convert-to-number><option value="0">Único</option><option value="1">Por Grupo Empresarial</option><option value="2">Por Empresa</option><option value="3">Por Estabelecimento</option></select><div ng-messages="$ctrl.form.tipovalor.$error"  ng-if="$ctrl.form.tipovalor.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo tipo de valor deve ser selecionado.
                    
                    
                </div></div></div>
                        </div><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="valor">Valor</label><input type='money' class="form-control"     id="valor" name="valor"           ng-model="$ctrl.entity.valor" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" ui-money-mask/><div ng-messages="$ctrl.form.valor.$error"  ng-if="$ctrl.form.valor.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo valor não pode ser vazio.
                    
                    
                </div></div></div>
                        </div><div class="col-sm-4" >
                                                    <div class="form-group"><label class="control-label" for="percentual">Percentual</label><input type='number' class="form-control"     id="percentual" name="percentual" placeholder="Percentual"         maxlength="15" ng-model="$ctrl.entity.percentual" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" /><div ng-messages="$ctrl.form.percentual.$error"  ng-if="$ctrl.form.percentual.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="number" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    Valor informado não é um número.
                    
                    
                </div><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo percentual não pode ser vazio.
                    
                    
                </div><div class="alert alert-danger" role="alert" ng-message="maxlength" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    
                    
                    O campo percentual não pode ter mais que 15 posições.
                </div></div></div>
                        </div></div>
</form>
