<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="nome">Nome</label><input type='text'
                    class="form-control" id="nome" name="nome" maxlength="30"
                    validation='{ "route" : "crm_atcsareas_unique", "params" : { "field" : "nome" , "id": "{{$ctrl.entity.negocioarea}}" }, "constructors" : {{$ctrl.constructors}}, "callback" : "$ctrl.uniqueValidation" }'
                    ng-model="$ctrl.entity.nome" ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.nome.$error" ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo nome não pode estar vazio
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo aceita no máximo 30 caracteres
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="unique"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        Nome em uso! Escolha um nome válido!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="descricao">Descrição</label><textarea
                    class="form-control" id="descricao" name="descricao" ng-model="$ctrl.entity.descricao"
                    ng-disabled="$ctrl.entity.$$__submitting"></textarea></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="estabelecimento">Estabelecimento</label>
                <nsj-lookup name="estabelecimento" id-name="estabelecimento" factory="NsEstabelecimentos"
                    ng-model="$ctrl.entity.estabelecimento" max-label="1" constructor="{  }"
                    config='{ "nomefantasia":"nomefantasia",  }'
                    disabled="$ctrl.entity.$$__submitting">
                </nsj-lookup>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="origem">Origem</label>
                <nsj-lookup name="origem" id-name="midia" factory="CrmMidias" ng-model="$ctrl.entity.origem"
                    template="crm-midias-default" max-label="1" constructor="{  }" config='{ "nome":"Nome",  }'
                    disabled="$ctrl.entity.$$__submitting">
                </nsj-lookup>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}" style="margin-top: 0px;">
                <label class="control-label" for="possuiseguradora">
                    <input type='checkbox' class="" id="possuiseguradora" name="possuiseguradora" ng-model="$ctrl.entity.possuiseguradora" ng-disabled="$ctrl.entity.$$__submitting" />
                    <span class="checkmark"></span>
                    Possui seguro
                </label>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}" style="margin-top: 0px;">
                <label class="control-label" for="localizacao">
                    <input type='checkbox' class="" id="localizacao" name="localizacao" ng-model="$ctrl.entity.localizacao" ng-disabled="$ctrl.entity.$$__submitting" />
                    <span class="checkmark"></span>
                    Exibir campos sobre a localização
                </label>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-6">
            <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}" style="margin-top: 0px;">
                <label class="control-label" for="permiteorcamentozerado">
                    <input type='checkbox' class="" 
                        id="permiteorcamentozerado" name="permiteorcamentozerado" 
                        ng-model="$ctrl.entity.permiteorcamentozerado" 
                        ng-disabled="$ctrl.entity.$$__submitting" />
                    <span class="checkmark"></span>
                    Permitir valor zerado no orçamento
                    <button class="btn btn-link btn-tooltip" type='button'
                        uib-popover-html="$ctrl.tooltipPermiteorcamentozerado"
                        popover-placement='auto bottom'
                        popover-trigger="'mouseenter click outsideClick'">
                        <i class="fas fa-question-circle"></i>
                    </button>
                </label>
            </div>
        </div>
    </div>
</form>

<!-- {# Sobresctiyo para incluir objectlist com lista de pendências #} -->