<div class="home nsj-loading-page">
    <div class="msg-bem-vindo">
        {{ hm_cntrllr.mensagemBemVindo }}
    </div>
    <!-- Cards -->
    <div class="cards-container">
        <div class="card contratos">
            <div class="icone-card-container">
                <div class="icone-card">
                    <i class="fas fa-list-alt"></i>
                </div>
            </div>
            <div class="msg-card-container">
                Você tem {{ hm_cntrllr.totaisContratos.total }} contrato(s)
            </div>
            <div class="btn-card-container">
                <nsj-button 
                    icon="fas fa-eye"
                    color="primary"
                    ng-click="hm_cntrllr.onBtnVerContratosClick()">
                    Ver contratos
                </nsj-button>
            </div>
        </div>
    </div>
    <!-- Loading de carregamento -->
    <div class="content-loading" ng-if="hm_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            {{ hm_cntrllr.busyMensagem }}
        </div>
    </div>
</div>