</div>
<uib-tabset class='top-buffer aba-ativa'>
    <uib-tab heading="Dados Gerais">
        <div class="nsj-form-view bottom-buffer top-buffer">
            <div class="row ">
                <div class="col-sm-12">
                    <!-- <fieldset> -->
                        <!-- <legend>
                            Dados Gerais
                        </legend> -->
                        <div class="row  row-form-view">
                            <div class="col-sm-6">
                                <div class="form-group clearfix"><label class="control-label">Nome Fantasia </label>
                                    <p class="form-control-static"><span id="nomefantasia" class="form-control-static"
                                            ng-bind="($ctrl.entity.nomefantasia) || 'Não informado'"></span></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group clearfix"><label class="control-label">Razão Social </label>
                                    <p class="form-control-static"><span id="razaosocial" class="form-control-static"
                                            ng-bind="($ctrl.entity.razaosocial) || 'Não informado'"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row  row-form-view">
                            <div class="col-sm-6">
                                <div class="form-group clearfix"><label class="control-label">Código </label>
                                    <p class="form-control-static"><span id="codigo" class="form-control-static"
                                            ng-bind="($ctrl.entity.codigo) || 'Não informado'"></span></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div ng-if="$ctrl.entity.cnpj.length == 14" class="form-group clearfix">
                                    <label class="control-label">CNPJ
                                    </label>
                                    <p class="form-control-static">
                                        <span id="cnpj" class="form-control-static"
                                            ng-bind="($ctrl.entity.cnpj| mask: '99.999.999/9999-99') || 'Não informado'"></span>
                                    </p>
                                </div>
                                <div ng-if="$ctrl.entity.cnpj.length == 11" class="form-group clearfix">
                                    <label class="control-label">CPF
                                    </label>
                                    <p class="form-control-static">
                                        <span id="cnpj" class="form-control-static"
                                            ng-bind="($ctrl.entity.cnpj| mask: '999.999.999-99') || 'Não informado'"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row  row-form-view">
                            <div class="col-sm-6">
                                <div class="form-group clearfix"><label class="control-label">Inscrição Municipal
                                    </label>
                                    <p class="form-control-static"><span id="inscricaomunicipal"
                                            class="form-control-static"
                                            ng-bind="($ctrl.entity.inscricaomunicipal) || 'Não informado'"></span></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group clearfix"><label class="control-label">Forma de Pagamento Padrão
                                    </label>
                                    <p class="form-control-static"><span id="formapagamento" class="form-control-static"
                                            ng-bind="$ctrl.entity.formapagamento.descricao || 'Não informado'"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row  row-form-view">
                        <div class="col-sm-6">
                            <div class="form-group clearfix"><label class="control-label">Conta
                                </label>
                                <p class="form-control-static"><span id="conta"
                                        class="form-control-static"
                                        ng-bind="($ctrl.entity.conta.nome) || 'Não informado'"></span></p>
                            </div>
                        </div>
                    </div>
                    <!-- </fieldset> -->
                </div>
            </div>
            <div class="row  row-form-view"></div>
            <div class="row ">
                <div class="col-sm-12">
                    <fieldset>
                        <div class="row  row-form-view">
                            <div class="col-sm-12">
                                <div class="form-group clearfix"><label class="control-label">Seguradora realiza
                                        pagamento a empresas </label>
                                    <p class="form-control-static"><span id="realizapagamentoempresas"
                                            ng-bind="{ 'true' : 'Sim', 'false' : 'Não' }[$ctrl.entity.realizapagamentoempresas] || 'Não informado'"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row  row-form-view">
                <div class="col-sm-12">
                    <div class="form-group clearfix"><label class="control-label">Seguradora </label>
                        <p class="form-control-static"><span id="seguradora"
                                ng-bind="{ 'true' : 'Sim', 'false' : 'Não' }[$ctrl.entity.seguradora] || 'Não informado'"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Contatos">
        <div class="nsj-form-view bottom-buffer top-buffer margem-inferior-table">
            <div class="row">
                <div class="col-sm-12 tabela-contatos">
                    <nsj-objectlist key="nome" ng-prop-columns="$ctrl.contatosConfig"
                        ng-prop-config="$ctrl.montaListaContatos" ng-prop-list="$ctrl.entity.contatos"
                        ng-on-list_change="$ctrl.atualizaContatos($event.detail.data)">
                    </nsj-objectlist>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Endereços">
        <div class="nsj-form-view bottom-buffer top-buffer margem-inferior-table">
            <div class="row">
                <div class="col-sm-12 tabela-enderecos">
                    <nsj-objectlist 
                        key="nome" 
                        ng-prop-columns="$ctrl.enderecosConfig"
                        ng-prop-config="$ctrl.montaListaEnderecos" 
                        ng-prop-list="$ctrl.entity.endereco"
                        ng-on-list_change="$ctrl.atualizaEnderecos($event.detail.data)"
                    >
                    </nsj-objectlist>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Dados Bancários">
        <div class="nsj-form-view bottom-buffer top-buffer">
            <div class="row  row-form-view">
                <div class="col-sm-6">
                    <div class="form-group clearfix"><label class="control-label">Vencimento do pagamento em: </label>
                        <p class="form-control-static"><span id="diasparavencimento" class="form-control-static"
                                ng-bind="$ctrl.entity.diasparavencimento|| 'Não informado'"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Tipos de Atividade">
        <div class="nsj-form-view bottom-buffer top-buffer">
            <div class="row  row-form-view">
                <div class="col-sm-12">
                    <div class="form-group clearfix">
                        <object-list class="object-list" entities='$ctrl.entity.tiposatividades'
                            service="NsPessoastiposatividades" constructors="{ 'pessoa' : $ctrl.entity.pessoa,  }"
                            autosaveEnabled=>
                            <div>
                                <div>
                                    <table class="table nsj-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Nome
                                                </th>
                                                <th>
                                                    Descrição
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="subentity in oblistctrl.entities"
                                                ng-controller="ObjectListItemCtrl as itemctrl">
                                                <td>
                                                    {{ subentity.tipoatividade.nome }}
                                                </td>
                                                <td>
                                                    {{ subentity.tipoatividade.descricao }}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="oblistctrl.entities.length == 0 || oblistctrl.entities == null">
                                            <tr>
                                                <td colspan="3" class="state-empty">
                                                    <div class="empty-list">
                                                        <p class="text-center"> Não existem itens para mostrar nesta
                                                            lista. </p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </object-list>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Template de Apólices">
        <div class="nsj-form-view bottom-buffer top-buffer">
            <div class="row  row-form-view">
                <div class="col-sm-12">
                    <div class="form-group clearfix object-list">
                        <div class="table-default" style="width:100%">
                            <nsj-button ng-click="$ctrl.crmTemplatesPropostasGruposForm($ctrl.entity.cliente,'')"
                                color="warning" custom-class="pull-right btn-margin-top btn-margin-bottom">Adicionar
                                Grupo</nsj-button>
                            <tree-grid tree-data="$ctrl.dadosTree" tree-control="$ctrl.my_tree"
                                expand-on="$ctrl.expandingProperty" col-defs="$ctrl.colDefs"
                                sorted-asc="fas fa-arrow-up" sorted-desc="fas fa-arrow-down"
                                icon-expand="fas fa-chevron-right" icon-collapse="fas fa-chevron-down"></tree-grid>
                            <div ng-if="!$ctrl.haItensListaTemplates && (!$ctrl.isBusy)" class="empty-list">
                                <p class="text-center">Não existem itens para mostrar nesta lista.</p>
                            </div>
                        </div>

                        <div class="content-loading loading-absolute"
                            style="display: flex;align-items: center;justify-content: center;" ng-if="$ctrl.isBusy">
                            <div class="center-loading text-center">
                                <div class="onloading"></div>
                                Carregando...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Documentos">
        <div class="nsj-form-view bottom-buffer top-buffer margem-inferior-table">
            <div class="row ">
                <div class="col-sm-12 tabela-documentos">
                    <nsj-objectlist 
                        key="nome" 
                        ng-prop-columns="$ctrl.documentosConfig"
                        ng-prop-config="$ctrl.montaListaDocumentos" 
                        ng-prop-list="$ctrl.entity.clientesdocumentos"
                    >
                    </nsj-objectlist>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Anotações">
        <div class="nsj-form-view bottom-buffer top-buffer">
            <div class="row  row-form-view">
                <div class="col-sm-12">
                    <div class="form-group clearfix"><label class="control-label">Anotações</label>
                        <p class="form-control-static"><span id="anotacao" class="form-control-static"
                                ng-bind="$ctrl.entity.anotacao|| 'Não informado'"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Anexos">
        <div class="nsj-form-view bottom-buffer top-buffer">
            <div class="row row-form-view">
                <div class="col-sm-12">
                    <div class="form-group clearfix object-list">
                        <div class="table-default" style="width:100%">
                            <div class="row div-documentos" ng-if="!$ctrl.isBusy">
                                <nsj-objectlist 
                                    key="nome" 
                                    ng-prop-columns="$ctrl.anexosConfig"
                                    ng-prop-config="$ctrl.montaListaAnexos" 
                                    ng-prop-list="$ctrl.entity.clientesanexo"
                                >
                                </nsj-objectlist>
                            </div>
                        </div>

                        <div class="content-loading loading-absolute"
                            style="display: flex;align-items: center;justify-content: center;" ng-if="$ctrl.isBusy">
                            <div class="center-loading text-center">
                                <div class="onloading"></div>
                                Carregando...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
<div>