 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="fornecedor">Fornecedor</label><nsj-lookup
            name="fornecedor"
            id-name="fornecedor"
            factory="NsFornecedores"  
            ng-model="$ctrl.entity.fornecedor" 
                            list-excluded = "$ctrl.collection"    
                                                max-label="1"
            constructor="{  }"
            config='{ "nome":"Nome",  }'
            disabled = "$ctrl.entity.$$__submitting"
                        required = "($ctrl.entity.$$__submitting) !== true"
                                                ></nsj-lookup><div ng-messages="$ctrl.form.fornecedor.$error"  ng-if="$ctrl.form.fornecedor.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="unique" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O Fornecedor deve ser único.
                    
                    
                </div><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O Fornecedor não pode ser vazio.
                    
                    
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="ordem">Ordem</label><input type='number' class="form-control"     id="ordem" name="ordem"           ng-model="$ctrl.entity.ordem" ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" " ng-required="($ctrl.entity.$$__submitting) !== true" /><div ng-messages="$ctrl.form.ordem.$error"  ng-if="$ctrl.form.ordem.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="number" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    Valor informado não é um número.
                    
                    
                </div><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo ordem não pode estar vazio
                    
                    
                </div><div class="alert alert-danger" role="alert" ng-message="greaterthan" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo ordem deve ser maior ou igualque 0.
                    
                    
                </div></div></div>
                        </div></div>
</form>
