<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label" for="nome">Nome</label>
                <input 
                    type='text'
                    class="form-control" id="nome" name="nome" maxlength="30"
                    ng-model="$ctrl.entity.nome" ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true" 
                />
                <div ng-messages="$ctrl.form.nome.$error" ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Nome não pode estar vazio
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Nome aceita no máximo 30 caracteres
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="unique"><span
                         class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                         class="sr-only">Erro:</span>
                        Nome em uso! Escolha um nome válido!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label" for="descricao">Descrição</label>
                <input 
                    type='text'
                    class="form-control" id="descricao" name="descricao" maxlength="255"
                    ng-model="$ctrl.entity.descricao" ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true"
                />
                <div ng-messages="$ctrl.form.descricao.$error" ng-if="$ctrl.form.descricao.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Descrição não pode estar vazio
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Descrição aceita no máximo 255 caracteres
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="prazoexpiracao">Prazo para expiração</label>
                <div class="prazo-container">
                    <input type="text" class="form-control" id="prazoexpiracao" name="prazoexpiracao" maxlength="10"
                        ng-model="$ctrl.entity.prazoexpiracao" ui-number-mask="0" convert-to-number=" " 
                        min="0"/>
                    <span class="texto">Minutos</span>
                </div>
                <div ng-messages="$ctrl.form.prazoexpiracao.$error" ng-if="$ctrl.form.prazoexpiracao.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="number">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        Valor informado não é um número.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo prazo tem o tamanho máximo permitido de 10 caracteres
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="notificarexpiracaofaltando">Notificar expiração faltando</label>
                <div class="temponotificaexpiracao-container">
                    <input type="text" class="form-control" id="notificarexpiracaofaltando" name="notificarexpiracaofaltando"
                        maxlength="10" ng-model="$ctrl.entity.notificarexpiracaofaltando"
                        ui-number-mask="0" convert-to-number=" "
                        min="0"/>
                    <span class="texto">Minutos</span>
                </div>
                <div ng-messages="$ctrl.form.notificarexpiracaofaltando.$error"
                    ng-if="$ctrl.form.notificarexpiracaofaltando.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="number">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        Valor informado não é um número.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo prazo tem o tamanho máximo permitido de 10 caracteres
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="nome">Ordem</label>
                <input 
                    type='number'
                    class="form-control" id="ordem" name="ordem"
                    ng-model="$ctrl.entity.ordem" ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true"
                    min="0"
                    maxlength="3" 
                />
                <div ng-messages="$ctrl.form.ordem.$error" ng-if="$ctrl.form.ordem.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Ordem não pode estar vazio
                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Ordem deve possuir no máximo 3 dígitos.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group prioridades">
                <label class="control-label label-cor" for="cor">Cor</label>

                <div class="lista-cores">

                    <div ng-repeat="cor in $ctrl.arrCores" class="cor {{cor.classe}}"
                        ng-click="$ctrl.selecionaCorPaleta(cor)">

                        <span class="icone-container" ng-if="$ctrl.entity.cor == cor.codigo">
                            <span class="fas fa-check"></span>
                        </span>

                    </div>

                </div>

                <div ng-messages="$ctrl.form.cor.$error" ng-if="$ctrl.form.cor.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Cor não pode ser vazio
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}" style="margin-top: 0px;">
                <label class="control-label" for="prioridadepadrao">
                    <input type='checkbox' class="" id="prioridadepadrao" name="prioridadepadrao" ng-model="$ctrl.entity.prioridadepadrao" ng-disabled="$ctrl.entity.$$__submitting" />
                    <span class="checkmark"></span>
                    <strong>Definir como padrão</strong>
                </label>
            </div>
        </div>
    </div>
</form>