<div class="height-full layout-list">
  <form
    nsj-focus
    name="ns_prrdds_frm_cntrllr.form"
    novalidate="novalidate"
    ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : ns_prrdds_frm_cntrllr.busy }"
    role="form"
    ng-submit="ns_prrdds_frm_cntrllr.submit()"
    class="height-full"
  >
    <div ng-if="ns_prrdds_frm_cntrllr.entity.prioridade">
      <nsj-headline
        headline-title="Editar nível de prioridade"
        headline-sub="true"
      >
        <div class="pull-right">
          <div class="form-group">
            <button
              type="button"
              ng-click="ns_prrdds_frm_cntrllr.submit()"
              ng-class="{loading:ns_prrdds_frm_cntrllr.entity.$$__submitting}"
              ng-disabled="ns_prrdds_frm_cntrllr.entity.$$__submitting || ns_prrdds_frm_cntrllr.form.$pristine"
              class="btn btn-sm btn-warning btn-save btn-geral"
            >
              <i class="fa fa-check"></i> Salvar
            </button>

            <a class="btn btn-sm btn-default" ui-sref="ns_prioridades({})">
              <i class="fa fa-times"></i> Descartar
            </a>
          </div>
        </div>
      </nsj-headline>
    </div>
    <div class="nsj-form padding-content">
      <ns-prioridades-default
        entity="ns_prrdds_frm_cntrllr.entity"
        form="ns_prrdds_frm_cntrllr.form"
        busy="ns_prrdds_frm_cntrllr.busy"
        action="ns_prrdds_frm_cntrllr.action"
        constructors="ns_prrdds_frm_cntrllr.constructors"
      ></ns-prioridades-default>
      <!-- <ul class="list-unstyled list-inline pull-left">
                <li>

                    <div class="form-group pull-left">

                        <button type="button" ng-click="ns_prrdds_frm_cntrllr.submit()"
                            ng-class="{loading:ns_prrdds_frm_cntrllr.entity.$$__submitting}"
                            ng-disabled="ns_prrdds_frm_cntrllr.entity.$$__submitting || ns_prrdds_frm_cntrllr.form.$pristine"
                            class="btn btn-sm btn-warning btn-save btn-geral">
                            <i class="fa fa-check"></i> Salvar
                        </button>

                        <a class="btn btn-sm" ui-sref="ns_prioridades({})"><i class="fa fa-times" aria-hidden="true"></i>
                            Cancelar</a>

                    </div>
                </li>
            </ul> -->
    </div>
    <div class="content-loading" ng-if="ns_prrdds_frm_cntrllr.busy">
      <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
      </div>
    </div>
  </form>
</div>
