<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="atcconfiguracaodocumento">Configuração de
                    Documento</label>
                <nsj-lookup name="atcconfiguracaodocumento" id-name="atcconfiguracaodocumento"
                    factory="CrmAtcsconfiguracoesdocumentos" ng-model="$ctrl.entity.atcconfiguracaodocumento"
                    max-label="1" constructor="{  }" config='{ "atcconfiguracaodocumento":"Configuracao Documento",  }'
                    disabled="$ctrl.entity.$$__submitting"
                    filter=" {'atcconfiguracaodocumento':{'condition':'neq', 'value': $ctrl.constructors.atcconfiguracaodocumento }}">
                </nsj-lookup>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="documentofop">Documento Fop</label>
                <nsj-lookup name="documentofop" id-name="documentofop" factory="NsDocumentosfop"
                    ng-model="$ctrl.entity.documentofop" max-label="1" constructor="{  }"
                    config='{ "nomedocumento":"Nome",  }' disabled="$ctrl.entity.$$__submitting"
                    required="($ctrl.entity.$$__submitting) !== true"></nsj-lookup>
                <div ng-messages="$ctrl.form.documentofop.$error"
                    ng-if="$ctrl.form.documentofop.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Documento Fop não pode ser vazio


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="tipo">Tipo</label><select class="form-control"
                    id="tipo" name="tipo" ng-model="$ctrl.entity.tipo" ng-disabled="$ctrl.entity.$$__submitting"
                    convert-to-number=" " ng-required="($ctrl.entity.$$__submitting) !== true" convert-to-number>
                    <option value="1">Prestador</option>
                    <option value="2">Seguradora</option>
                </select>
                <div ng-messages="$ctrl.form.tipo.$error" ng-if="$ctrl.form.tipo.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Tipo não pode ser vazio


                    </div>
                </div>
            </div>
        </div>
    </div>
</form>