<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="tipoatividade">Selecione o Tipo de Atividade</label>
                
                <nsj-lookup 
                    name="tipoatividade" 
                    id-name="tipoatividade" 
                    factory="NsTiposatividades"
                    ng-model="$ctrl.entity.tipoatividade" 
                    list-excluded="$ctrl.collection" 
                    max-label="2"
                    constructor="{  }" 
                    config='{ "nome":"Nome", "descricao":"Descrição",  }'
                    disabled="$ctrl.entity.$$__submitting"
                    ng-change="$ctrl.change()"
                ></nsj-lookup>

                <div ng-messages="$ctrl.form.tipoatividade.$error"
                    ng-if="$ctrl.form.tipoatividade.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="unique"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo tipos de atividades não pode ter atividades repetidas.


                    </div>
                </div>
            </div>
        </div>
    </div>
</form>