<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-8">
                        <div class="form-group"><label class="control-label" for="nome">Nome</label>
                <input type='text' class="form-control" id="nome" name="nome" ng-model="$ctrl.entity.nome"
                    ng-disabled="$ctrl.entity.$$__submitting || $ctrl.constructors.editarDocumentos"
                    ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.nome.$error" ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo nome não pode estar vazio


                    </div>
                </div>
            </div>
                    </div>
        <div class="col-sm-4">
                        <div class="form-group"><label class="control-label" for="valorapolice">Valor</label>
                <input type='money' class="form-control" id="valorapolice" name="valorapolice"
                    ng-model="$ctrl.entity.valorapolice"
                    ng-disabled="$ctrl.entity.$$__submitting || $ctrl.constructors.editarDocumentos" ui-money-mask />
            </div>
                    </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
                        <nsj-objectlist key="nome" ng-on-list_change="$ctrl.atualizarListaDocumentos($event.detail.data)"
                ng-prop-columns="$ctrl.listaDocumentosConfig" ng-prop-config="$ctrl.montaListaDocumentos"
                ng-prop-entity="$ctrl.entityDocumento" ng-prop-list="$ctrl.entity.templatespropostasdocumentos">

                <div class="panel panel-default">
                    <div class="panel-heading nsj-object-list-panel">Documentos
                        <div class="pull-right">
                            <a class="btn btn-md btn-warning" ng-if="$ctrl.constructors.editarDocumentos"
                                ng-click="$ctrl.crmTemplatespropostasdocumentosForm({ 'templateproposta' : $ctrl.entity.templateproposta,  })">
                                <i class="fas fa-plus"></i>
                                Adicionar
                            </a>
                        </div>
                    </div>
                </div>
            </nsj-objectlist>
        
                    </div>
    </div>
</form>