<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        ng-click="crm_tmpltsprpsts_frm_dflt_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Template de apólice</h3>
    <span ng-if='crm_tmpltsprpsts_frm_dflt_cntrllr.action == "insert"'>
        <div>
                                </div>
        </span>
</div>
<form nsg-focus name="crm_tmpltsprpsts_frm_dflt_cntrllr.form" novalidate="novalidate" role="form"
    ng-submit="crm_tmpltsprpsts_frm_dflt_cntrllr.submit()">
    <div class="modal-body" id="modal-body">
        <crm-templatespropostas-default entity="crm_tmpltsprpsts_frm_dflt_cntrllr.entity"
            form="crm_tmpltsprpsts_frm_dflt_cntrllr.form" action="crm_tmpltsprpsts_frm_dflt_cntrllr.action"
            constructors="crm_tmpltsprpsts_frm_dflt_cntrllr.constructors" busy="crm_tmpltsprpsts_frm_dflt_cntrllr.busy">
        </crm-templatespropostas-default>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <a class="btn btn-sm" ng-click="crm_tmpltsprpsts_frm_dflt_cntrllr.close()"><i class="fa fa-times"
                    aria-hidden="true"></i> Cancelar
            </a>
            <button type="submit" name="submit"
                ng-disabled="crm_tmpltsprpsts_frm_dflt_cntrllr.form.$pristine || crm_tmpltsprpsts_frm_dflt_cntrllr.entity.$$__submitting"
                class="btn btn-success" ng-class="{loading:crm_tmpltsprpsts_frm_dflt_cntrllr.entity.$$__submitting}">
                Salvar
            </button>
        </div>
    </div>
</form>
<div class="content-loading"
    ng-if="crm_tmpltsprpsts_frm_dflt_cntrllr.busy && !crm_tmpltsprpsts_frm_dflt_cntrllr.entity.$$__submitting">
    <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
    </div>
</div>