<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="nome">Nome</label><input type='text'
                    class="form-control" id="nome" name="nome" ng-model="$ctrl.entity.nome"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.nome.$error" ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo nome não pode estar vazio


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="sobrenome">Sobrenome</label><input type='text'
                    class="form-control" id="sobrenome" name="sobrenome" ng-model="$ctrl.entity.sobrenome"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-4">
            <!-- Sobrescrito para adicionar combo de contatos -->
            <div class="form-group">
                <label class="control-label" for="cargo">Cargo</label>
                <select class="form-control" id="cargo" name="cargo" ng-model="$ctrl.entity.cargo"
                    ng-disabled="$ctrl.entity.$$__submitting">

                    <!-- Sócio/Proprietário/CEO -->
                    <option ng-value="$ctrl.EnumNegocioContatoCargo.nccSocioProprietarioCEO">
                        {{$ctrl.EnumNegocioContatoCargo.nccSocioProprietarioCEO}}
                    </option>
                    <!-- Diretor -->
                    <option ng-value="$ctrl.EnumNegocioContatoCargo.nccDiretor">
                        {{$ctrl.EnumNegocioContatoCargo.nccDiretor}}
                    </option>
                    <!-- Consultor/Controller -->
                    <option ng-value="$ctrl.EnumNegocioContatoCargo.nccConsultorController">
                        {{$ctrl.EnumNegocioContatoCargo.nccConsultorController}}
                    </option>
                    <!-- Gerente/Coordenador Adm./Financ. -->
                    <option ng-value="$ctrl.EnumNegocioContatoCargo.nccGerenteCoordenadorAdmFinanc">
                        {{$ctrl.EnumNegocioContatoCargo.nccGerenteCoordenadorAdmFinanc}}
                    </option>
                    <!-- Gerente/Coordenador de TI -->
                    <option ng-value="$ctrl.EnumNegocioContatoCargo.nccGerenteCoordenadorTI">
                        {{$ctrl.EnumNegocioContatoCargo.nccGerenteCoordenadorTI}}
                    </option>
                    <!-- Gerente/Coordenador de Outras Áreas -->
                    <option ng-value="$ctrl.EnumNegocioContatoCargo.nccGerenteCoordenadorOutrasAreas">
                        {{$ctrl.EnumNegocioContatoCargo.nccGerenteCoordenadorOutrasAreas}}
                    </option>
                    <!-- Analista -->
                    <option ng-value="$ctrl.EnumNegocioContatoCargo.nccAnalista">
                        {{$ctrl.EnumNegocioContatoCargo.nccAnalista}}
                    </option>
                    <!-- Estagiário -->
                    <option ng-value="$ctrl.EnumNegocioContatoCargo.nccEstagiario">
                        {{$ctrl.EnumNegocioContatoCargo.nccEstagiario}}
                    </option>
                </select>
                <div ng-messages="$ctrl.form.cargo.$error" ng-if="$ctrl.form.cargo.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo cargo não pode estar vazio
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="email">Email</label><input type='text'
                    class="form-control" id="email" name="email" ng-model="$ctrl.entity.email"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.email.$error" ng-if="$ctrl.form.email.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo email não pode estar vazio


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group"><label class="control-label" for="ddi">ddi</label><input type='text'
                    class="form-control" id="ddi" name="ddi" ng-model="$ctrl.entity.ddi"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-1">
            <div class="form-group"><label class="control-label" for="ddd">ddd</label><input type='text'
                    class="form-control" id="ddd" name="ddd" ng-model="$ctrl.entity.ddd"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="telefone">Telefone</label><input type='text'
                    class="form-control" id="telefone" name="telefone" ng-model="$ctrl.entity.telefone"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="ramal">ramal</label><input type='text'
                    class="form-control" id="ramal" name="ramal" ng-model="$ctrl.entity.ramal"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
</form>