
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ns_cntts_frm_shw_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="modal-title">Contato</h3>
        <span ng-if='ns_cntts_frm_shw_cntrllr.action == "insert"'>
        <div >

        
        
        
        
                
        
     
    </div>
        </span>
    </div>
        <div class="nsj-form padding-content" ng-class="{'nsj-loading-page' : ns_cntts_frm_shw_cntrllr.busy }">
    <div class="nsj-form-view top-buffer bottom-buffer">
                            <ns-contatos-show-show entity="ns_cntts_frm_shw_cntrllr.entity" form="ns_cntts_frm_shw_cntrllr.form" action="ns_cntts_frm_shw_cntrllr.action" constructors="ns_cntts_frm_shw_cntrllr.constructors" busy="ns_cntts_frm_shw_cntrllr.busy"></ns-contatos-show>
                    </div>
            </div>
        <!-- <div class="content-loading"  ng-if="ns_cntts_frm_shw_cntrllr.busy">
        <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
        </div>
    </div> -->
