<div class="custom-form-view">
    <nsj-accordion 
    init-open
    headline="Dados da Taxa Administrativa">
<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="estabelecimento">Estabelecimento</label>
                <nsj-lookup 
                    name="estabelecimento" 
                    id-name="estabelecimento" 
                    factory="NsEstabelecimentos"
                    ng-model="$ctrl.entity.estabelecimento" 
                    max-label="1" 
                    constructor="{  }"
                    config='{ "nomefantasia":"nomefantasia",  }'
                    disabled="$ctrl.entity.negocio||$ctrl.entity.negocio||$ctrl.entity.$$__submitting"
                    ns-required="($ctrl.entity.negocio||$ctrl.entity.negocio||$ctrl.entity.$$__submitting) !== true">
                </nsj-lookup>
                <div ng-messages="$ctrl.form.estabelecimento.$error"
                    ng-if="$ctrl.form.estabelecimento.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" 
                        role="alert"
                        ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Estabelecimento não pode ser vazio.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="seguradora">Seguradora</label>
                <nsj-lookup 
                    name="seguradora" 
                    id-name="seguradora" 
                    factory="NsClientes"
                    ng-model="$ctrl.entity.seguradora" 
                    filter="{ 'tipo': [ {'condition':'eq','value': 1 },  ], }"
                    max-label="1" 
                    constructor="{  }"
                    config='{"nomefantasia":"nomefantasia"}'
                    disabled="$ctrl.entity.negocio||$ctrl.entity.negocio||$ctrl.entity.$$__submitting"
                    ns-required="($ctrl.entity.$$__submitting) !== true"
                    ng-change="$ctrl.defineConstrutorPessoaMunicipio()"
                    >
                </nsj-lookup>

                <div ng-messages="$ctrl.form.seguradora.$error"
                    ng-if="$ctrl.form.seguradora.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" 
                        role="alert"
                        ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Seguradora não pode ser vazio.
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="itemfaturamento">Serviço</label>
                <nsj-lookup 
                    name="itemfaturamento" 
                    id-name="servico" 
                    factory="ServicosItensdefaturamento"
                    ng-model="$ctrl.entity.itemfaturamento" 
                    max-label="1" 
                    constructor="{  }"
                    config='{"descricaoservico": "Descricao"}'
                    ns-required="($ctrl.entity.$$__submitting) !== true"
                    disabled="$ctrl.entity.$$__submitting">
                </nsj-lookup>
                <div ng-messages="$ctrl.form.itemfaturamento.$error"
                ng-if="$ctrl.form.itemfaturamento.$dirty || $ctrl.form.$submitted">
                <div class="alert alert-danger" 
                    role="alert"
                    ng-message="required">
                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="sr-only">Erro:</span>
                    O campo Serviço não pode ser vazio.
                </div>
            </div>
            </div>
        </div>
    </div>


    <div class="row">
            <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="formapagamento">
                    Forma de Pagamento Padrão
                </label>
                <nsj-lookup
                    name="formapagamento"
                    id-name="formapagamento"
                    factory="NsFormaspagamentos"
                    ng-model="$ctrl.entity.formapagamento"
                    max-label="1"
                    constructor="{  }"
                    config='{"descricao":"Descrição"}'
                    disabled="$ctrl.entity.$$__submitting"
                    ns-required="($ctrl.entity.$$__submitting) !== true"
                ></nsj-lookup>
                <div ng-messages="$ctrl.form.formapagamento.$error"
                    ng-if="$ctrl.form.formapagamento.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" 
                        role="alert"
                        ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Forma de Pagamento não pode ser vazio.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="municipioprestacao">Município de Prestação</label>
                <nsj-lookup 
                    name="municipioprestacao"
                    id-name="pessoamunicipio" 
                    factory="ServicosPessoasmunicipios"
                    ng-model="$ctrl.entity.municipioprestacao" 
                    max-label="1" 
                    constructor="{ 'cliente' : $ctrl.entity.seguradora.cliente, }"
                    config='{ "nome":"Município de Prestacao",  }' 
                    ng-disabled="$ctrl.entity.$$__submitting" 
                    ns-required="($ctrl.entity.$$__submitting) !== true"
                    >
                </nsj-lookup>
                <div ng-messages="$ctrl.form.municipioprestacao.$error"
                    ng-if="$ctrl.form.municipioprestacao.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" 
                        role="alert"
                        ng-message="required">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="sr-only">Erro:</span>
                        O campo Município de Prestação não pode ser vazio.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="valor">Valor</label>
                <input type='money'
                    class="form-control" 
                    id="valor" 
                    name="valor" 
                    ng-model="$ctrl.entity.valor"
                    ng-disabled="$ctrl.entity.$$__submitting" 
                    ng-required="($ctrl.entity.$$__submitting) !== true"
                    ui-money-mask />
                <div ng-messages="$ctrl.form.valor.$error"
                ng-if="$ctrl.form.valor.$dirty || $ctrl.form.$submitted">
                <div class="alert alert-danger" 
                    role="alert"
                    ng-message="required">
                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="sr-only">Erro:</span>
                    O campo Valor não pode ser vazio.
                </div>
            </div>
            </div>
        </div>
    </div>
</form>

</nsj-accordion>
</div>