<div class="height-full layout-list">
  <form
    nsj-focus
    name="crm_cfgtxdm_frm_cntrllr.form"
    novalidate="novalidate"
    ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : crm_cfgtxdm_frm_cntrllr.busy }"
    role="form"
    ng-submit="crm_cfgtxdm_frm_cntrllr.submit()"
    class="height-full"
  >
    <nsj-headline
      headline-title="Configuração de taxa administrativa "
      headline-sub="true"
    >
      <ul class="list-unstyled list-inline pull-right">
        <li>
          <div class="form-group pull-right">
            <button
              type="button"
              ng-click="crm_cfgtxdm_frm_cntrllr.submit()"
              ng-class="{loading:crm_cfgtxdm_frm_cntrllr.entity.$$__submitting}"
              ng-disabled="crm_cfgtxdm_frm_cntrllr.entity.$$__submitting || crm_cfgtxdm_frm_cntrllr.form.$pristine"
              class="btn btn-sm btn-warning btn-save btn-geral"
            >
              <i class="fa fa-check"></i> Salvar
            </button>

            <a
              class="btn btn-sm btn-default"
              ui-sref="crm_configuracoestaxasadministrativas({})"
              ><i class="fa fa-times" aria-hidden="true"></i> Descartar Edição</a
            >
          </div>
        </li>
      </ul>
    </nsj-headline>
    <div class="nsj-form padding-content">
      <crm-configuracoestaxasadministrativas-default
        entity="crm_cfgtxdm_frm_cntrllr.entity"
        form="crm_cfgtxdm_frm_cntrllr.form"
        busy="crm_cfgtxdm_frm_cntrllr.busy"
        action="crm_cfgtxdm_frm_cntrllr.action"
        constructors="crm_cfgtxdm_frm_cntrllr.constructors"
      ></crm-configuracoestaxasadministrativas-default>
    </div>
    <div class="content-loading" ng-if="crm_cfgtxdm_frm_cntrllr.busy">
      <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
      </div>
    </div>
  </form>
</div>
