<div class="height-full layout-list">
  <nsj-headline
    headline-title="Taxa administrativa de {{crm_cfgtxdm_frm_shw_cntrllr.entity.seguradora.nomefantasia}}"
    headline-sub="true"
  >
    <div class="pull-right">
      <a
        class="btn btn-sm btn-warning hidden-lg hidden-md"
        ui-sref="crm_configuracoestaxasadministrativas({})"
        title="Voltar"
        ><i class="fas fa-reply"></i><span class="hidden-xs">Voltar</span></a
      >

      <!-- btn-save btn-geral -->
      <button
        tem-permissao="crm_cfgtaxasadm_gerenciar"
        type="button"
        class="btn btn-sm btn-edit btn-warning"
        ui-sref="crm_configuracoestaxasadministrativas_edit({ 'configuracaotaxaadm' : crm_cfgtxdm_frm_shw_cntrllr.entity.configuracaotaxaadm})"
      >
        <i class="fas fa-edit"></i>
        <span class="hidden-xs">Editar</span>
      </button>

      <button
        tem-permissao="crm_cfgtaxasadm_gerenciar"
        type="button"
        class="btn btn-sm btn-default btn-delete btn-geral"
        ng-click="crm_cfgtxdm_frm_shw_cntrllr.abrirModalExclusao()"
        ng-if="crm_cfgtxdm_frm_shw_cntrllr.entity.configuracaotaxaadm"
      >
        <i class="fas fa-trash"></i>
        <span class="hidden-xs">Excluir</span>
      </button>
    </div>
  </nsj-headline>
  <div
    class="nsj-form padding-content"
    ng-class="{'nsj-loading-page' : crm_cfgtxdm_frm_shw_cntrllr.busy }"
  >
    <div class="nsj-form-view top-buffer bottom-buffer">
      <crm-configuracoestaxasadministrativas-default-show
        entity="crm_cfgtxdm_frm_shw_cntrllr.entity"
        action="crm_cfgtxdm_frm_shw_cntrllr.action"
        busy="crm_cfgtxdm_frm_shw_cntrllr.busy"
        constructors="crm_cfgtxdm_frm_shw_cntrllr.constructors"
      >
      </crm-configuracoestaxasadministrativas-default-show>
    </div>

    <div class="form-group pull-left"></div>
    <div class="content-loading" ng-if="crm_cfgtxdm_frm_shw_cntrllr.busy">
      <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
      </div>
    </div>
  </div>
</div>
