<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block metadata %}

        {% endblock %}

        <title>{% block headerpagetitle %}{{ nsj_module_name() }} - {{ nsj_application_name() }}{% endblock %}</title>

        {% stylesheets

        
        %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    </head>
    <body>

        {% block content %}

        {% endblock %}

    </body>
</html>
