<div class="ns_relatorios height-full">

    <div class="col-md-12 headline-page">
        <div class="headline clearfix">
            <h2 class="pull-left">Relatórios</h2>
        </div>
    </div>

    <div class="col-md-2 row lista-artigos height-full-calc">
        <div class="col-sm-12 nav-list height-full">
            <div class="vertical-menu height-full">
                <ul toggle="" class="toggle nav nav-pills nav-stacked">
                    <li role="presentation" ui-sref-active="active" class="active"><a href ui-sref="atendimento_admin_relatorios_performance">Análise de Chamados e Respostas</a></li>
                    <li role="presentation" ui-sref-active="active" class="active"><a href ui-sref="atendimento_admin_relatorios_backlog">Chamados Abertos</a></li>
                    <li role="presentation" ui-sref-active="active" class="active"><a href ui-sref="atendimento_admin_relatorios_resposta">Analítico de Respostas</a></li>
                    <li role="presentation" ui-sref-active="active" class="active"><a href ui-sref="atendimento_admin_relatorios_baseconhecimento">Base de Conhecimento</a></li>
                    <li role="presentation" ui-sref-active="active" class="active"><a href ui-sref="atendimento_admin_relatorios_termos">Termos de serviço</a></li>
                </ul>
            </div><!--/vertical-menu-->
        </div>
    </div>

    <div class="article-area col-md-10 row height-full-calc" ui-view></div>

</div>
