<div ng-class="{'nsj-loading-page' : crm_crdstrcrzcssrvcs_lst_cntrllr.busy }" class=' nsj-layout '>
    <div class="nsj-aside-list height-full col-md-4"
        ng-class="{ 'hidden-sm hidden-xs' : (('crm_acordosterceirizacoesservicos_show'| isStateEq) || ('crm_acordosterceirizacoesservicos_edit'| isStateEq) || ('crm_acordosterceirizacoesservicos_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <nsj-headline 
                    headline-title="Acordos de terceirização de serviços"
                    class="index-headline"
                    ng-class="{ 'hidden-sm hidden-xs' : (('crm_acordosterceirizacoesservicos_show'| isStateEq) || ('crm_acordosterceirizacoesservicos_edit'| isStateEq) || ('crm_acordosterceirizacoesservicos_new'| isStateEq ))}"
                    style="border-bottom: #dddddd solid 1px;">

                    <nsj-button color="warning" icon="fa fa-plus" size="xs"
                        class="hidden-xs" ui-sref="crm_acordosterceirizacoesservicos_new({})">
                        Criar
                    </nsj-button>

                    <nsj-button color="warning" format="fixed circle"
                        icon="fa fa-plus" size="lg" class="hidden-sm hidden-md hidden-lg"
                        ui-sref="crm_acordosterceirizacoesservicos_new({})">
                        <span class="hidden-xs">Criar</span>
                    </nsj-button>

                </nsj-headline>

                <nsj-toolbar ng-on-change_toolbar="crm_crdstrcrzcssrvcs_lst_cntrllr.search($event.detail)" search="true"
                    refresh="true" holder="Buscar..." model-search="{{crm_crdstrcrzcssrvcs_lst_cntrllr.service.filter}}"
                    select="{{crm_crdstrcrzcssrvcs_lst_cntrllr.selectPage && crm_crdstrcrzcssrvcs_lst_cntrllr.selected.length === crm_crdstrcrzcssrvcs_lst_cntrllr.entities.length && !crm_crdstrcrzcssrvcs_lst_cntrllr.selectAll && !crm_crdstrcrzcssrvcs_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{crm_crdstrcrzcssrvcs_lst_cntrllr.selectAll}}"
                    item-in-page="{{crm_crdstrcrzcssrvcs_lst_cntrllr.entities.length}}"
                    item-all="{{crm_crdstrcrzcssrvcs_lst_cntrllr.entities[0].full_count}}"
                    ng-if="!(crm_crdstrcrzcssrvcs_lst_cntrllr.entities.length == 0 && !crm_crdstrcrzcssrvcs_lst_cntrllr.isBusy())">
                </nsj-toolbar>
                
                <div class="panel-body body-list">
                    <div class="list-group" id="crm_acordosterceirizacoesservicos_list" infinite-scroll='crm_crdstrcrzcssrvcs_lst_cntrllr.nextPage()'
                        infinite-scroll-disabled='crm_crdstrcrzcssrvcs_lst_cntrllr.isBusy()' infinite-scroll-distance='1'> <a href
                            ui-sref='crm_acordosterceirizacoesservicos_show({acordoterceirizacaoservico : entity.acordoterceirizacaoservico})' class="list-group-item"
                            ng-repeat="entity in crm_crdstrcrzcssrvcs_lst_cntrllr.entities" ui-sref-active="active">

                            <h4 class="list-group-item-heading">
                                {{ entity.prestador.nomefantasia }}
                            </h4>
                            <p class="list-group-item-text"><strong>Serviço:</strong>
                                {{ entity.servico.nome }}
                            </p>
                            <p class="list-group-item-text"><strong>Valor:</strong>
                                {{ entity.valor| currency : "R$ " }}
                            </p>
                        </a>
                        <p class="list-group-item"
                            ng-if="!crm_crdstrcrzcssrvcs_lst_cntrllr.finished && (crm_crdstrcrzcssrvcs_lst_cntrllr.service.to_load <= 0)">
                            <a href="" ng-click="crm_crdstrcrzcssrvcs_lst_cntrllr.loadMore()">Ver mais...</a>
                        </p>
                        <p class="text-center article-loading height-full"
                            ng-class="{'onloading' : crm_crdstrcrzcssrvcs_lst_cntrllr.isBusy() }"
                            ng-if="crm_crdstrcrzcssrvcs_lst_cntrllr.isBusy()"></p>
                        <p class="text-center nfound"
                            ng-if="crm_crdstrcrzcssrvcs_lst_cntrllr.entities.length == 0 && !crm_crdstrcrzcssrvcs_lst_cntrllr.isBusy()"
                            style="margin-top: 15px;">
                            Ainda não foi criado nenhum Acordo de Terceirização de Serviços.
                        </p>
                    </div>

                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class='empty-page col-md-8 article-area height-full padding-h-clear' ui-view>
        <div class="bt-new-article new-article text-center height-full empty-page-nodisplay" ng-if="crm_crdstrcrzcssrvcs_lst_cntrllr.entities.length != 0">
            <span class="icon-page">
                <i class="fas fa-hands-helping"></i>
            </span>
            <h3>Visualize ou Crie um Acordo de Terceirização de Serviços</h3>
            <p>Selecione um Acordo de Terceirização de Serviços no painel ao lado para visualizar as suas informações. </p>
            <a 
                class="btn btn-sm btn-warning" 
                ui-sref="crm_acordosterceirizacoesservicos_new({})">
                <i class="fas fa-plus"></i> Criar
            </a>

        </div>
        <div class="bt-new-article new-article text-center height-full empty-page-nodisplay" ng-if="crm_crdstrcrzcssrvcs_lst_cntrllr.entities.length == 0">
            <span class="icon-page">
                <i class="fas fa-hands-helping"></i>
            </span>
            <h3>Crie um Acordo de Terceirização de Serviços</h3>
            <p>O painel ao lado está vazio porque ainda não foi criado nenhum Acordo de Terceirização de Serviços.</p>
            <a 
                class="btn btn-sm btn-warning" 
                ui-sref="crm_acordosterceirizacoesservicos_new({})">
                <i class="fas fa-plus"></i> Criar
            </a>

        </div>
    </div>
    <div class="content-loading" ng-if="crm_crdstrcrzcssrvcs_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>