 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="nome">Nome</label><input type='text' class="form-control"     id="nome" name="nome"          maxlength="50" ng-model="$ctrl.entity.nome" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" /><div ng-messages="$ctrl.form.nome.$error"  ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo Nome não pode estar vazio
                    
                    
                </div><div class="alert alert-danger" role="alert" ng-message="maxlength" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    
                    
                    O campo Nome aceita no máximo 50 caracteres
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                            <div class="form-group">
        <label class="control-label" for="descricao">Descrição</label>
        <textarea class="form-control" rows="30" id="descricao" name="descricao" ng-model="$ctrl.entity.descricao" ng-disabled="$ctrl.entity.$$__submitting"></textarea>
        <div ng-messages="$ctrl.form.descricao.$error" ng-if="$ctrl.form.descricao.$dirty || $ctrl.form.$submitted">
            <div class="alert alert-danger" role="alert" ng-message="required">
                <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                <span class="sr-only">Erro:</span>
                O campo Descrição não pode estar vazio
            </div>
        </div>
    </div>
        </div></div>
</form>
