<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Exclusão de Tipo de Acionamento</h3>
</div>

<div class="modal-body" id="modal-body">
    
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12">
                
                <div class="alert-modal nsj-alert alert-danger">
                    <i class="fas fa-exclamation-triangle"></i> 
                    <strong>Atenção!</strong> <br> Após a exclusão não será possível reverter a ação.
                </div>
            </div>

            <div class="col-sm-12">
                <p>
                    Você tem certeza que deseja excluir o Tipo de Acionamento selecionado?
                </p>
            </div>

        </div>
    </div>
</div>

<div class="modal-footer">

    <div class="pull-right">
        <button
            type="button" class="btn btn-default btn-delete btn-geral" ng-click="mdl_xcls_cntrllr.close()">
            Manter Tipo de Acionamento
        </button>

        <button
            type="button" name="submit" class="btn btn-warning btn-save btn-geral"
            ng-click="mdl_xcls_cntrllr.submit()">
            Sim, excluir o Tipo de Acionamento
        </button>
        
    </div>
</div>