<div class="height-full layout-list">
  <nsj-headline headline-title="Tipo de acionamento " headline-sub="true">
    <div class="pull-right">
      <a
        class="btn btn-sm btn-default hidden-lg hidden-md"
        ui-sref="crm_tiposacionamentos({})"
        title="Voltar"
      >
        <i class="fas fa-reply"></i>
        <span class="hidden-xs">Voltar</span>
      </a>

      <button
        tem-permissao="crm_tiposacionamentos_put"
        type="button"
        class="btn btn-sm btn-warning btn-edit"
        ui-sref="crm_tiposacionamentos_edit({ 'tiposacionamento' : crm_tpscnmnts_frm_shw_cntrllr.entity.tiposacionamento})"
      >
        <i class="fas fa-edit"></i>
        <span class="hidden-xs">Editar</span>
      </button>

      <button
        tem-permissao="crm_tiposacionamentos_delete"
        type="button"
        class="btn btn-sm btn-default btn-delete btn-geral"
        ng-click="crm_tpscnmnts_frm_shw_cntrllr.abrirModalExclusao()"
        ng-if="crm_tpscnmnts_frm_shw_cntrllr.entity.tiposacionamento  "
      >
        <i class="fas fa-trash"></i>
        <span class="hidden-xs">Excluir</span>
      </button>

    </div>
  </nsj-headline>
  <div
    class="nsj-form padding-content"
    ng-class="{'nsj-loading-page' : crm_tpscnmnts_frm_shw_cntrllr.busy }"
  >
    <div class="nsj-form-view top-buffer bottom-buffer">
      <crm-tiposacionamentos-default-show
        entity="crm_tpscnmnts_frm_shw_cntrllr.entity"
        action="crm_tpscnmnts_frm_shw_cntrllr.action"
        busy="crm_tpscnmnts_frm_shw_cntrllr.busy"
        constructors="crm_tpscnmnts_frm_shw_cntrllr.constructors"
      ></crm-tiposacionamentos-default-show>
    </div>

    <div class="form-group pull-left"></div>
    <div class="content-loading" ng-if="crm_tpscnmnts_frm_shw_cntrllr.busy">
      <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
      </div>
    </div>
  </div>
</div>
