<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

	<uib-tabset class='top-buffer'>
		<uib-tab heading="Dados Gerais">
			<div class="row ">
				<div class="col-sm-12">
					<fieldset>
						<legend>
							Dados básicos
						</legend>
						<div class="row ">
							<div class="col-sm-6">
								<div class="form-group"><label class="control-label" for="nomefantasia">Nome
										Fantasia</label><input type='text' class="form-control" id="nomefantasia"
										name="nomefantasia" maxlength="150" ng-model="$ctrl.entity.nomefantasia"
										ng-disabled="$ctrl.entity.$$__submitting"
										ng-required="($ctrl.entity.$$__submitting) !== true" />
									<div ng-messages="$ctrl.form.nomefantasia.$error"
										ng-if="$ctrl.form.nomefantasia.$dirty || $ctrl.form.$submitted">
										<div class="alert alert-danger" role="alert" ng-message="maxlength"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>


											O Nome Fantasia aceita no máximo 150 caracteres
										</div>
										<div class="alert alert-danger" role="alert" ng-message="required"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											O campo Nome Fantasia não pode ser vazio


										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group"><label class="control-label" for="razaosocial">Razão
										Social</label><input type='text' class="form-control" id="razaosocial"
										name="razaosocial"
										validation='{ "route" : "ns_fornecedores_unique", "params" : { "field" : "razaosocial" , "id": "{{$ctrl.entity.fornecedor}}" }, "constructors" : {{$ctrl.constructors}}, "callback" : "$ctrl.uniqueValidation" }'
										maxlength="150" ng-model="$ctrl.entity.razaosocial"
										ng-disabled="$ctrl.entity.$$__submitting"
										ng-required="($ctrl.entity.fornecedor||$ctrl.entity.fornecedor||$ctrl.entity.$$__submitting) !== true" />
									<div ng-messages="$ctrl.form.razaosocial.$error"
										ng-if="$ctrl.form.razaosocial.$dirty || $ctrl.form.$submitted">
										<div class="alert alert-danger" role="alert" ng-message="unique"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											Essa razão social já foi cadastrada


										</div>
										<div class="alert alert-danger" role="alert" ng-message="maxlength"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>


											O campo Razão Social aceita no máximo 150 caracteres
										</div>
										<div class="alert alert-danger" role="alert" ng-message="required"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											O campo Razão Social não pode ser vazia


										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-sm-6">
								<div class="form-group"><label class="control-label"
										for="codigofornecedores">Código</label><input type='text' class="form-control"
										id="codigofornecedores" name="codigofornecedores"
										validation='{ "route" : "ns_fornecedores_unique", "params" : { "field" : "codigofornecedores" , "id": "{{$ctrl.entity.fornecedor}}" }, "constructors" : {{$ctrl.constructors}}, "callback" : "$ctrl.uniqueValidation" }'
										maxlength="30" ng-model="$ctrl.entity.codigofornecedores"
										ng-disabled="$ctrl.entity.$$__submitting"
										ng-required="($ctrl.entity.fornecedor||$ctrl.entity.fornecedor||$ctrl.entity.$$__submitting) !== true" />
									<div ng-messages="$ctrl.form.codigofornecedores.$error"
										ng-if="$ctrl.form.codigofornecedores.$dirty || $ctrl.form.$submitted">
										<div class="alert alert-danger" role="alert" ng-message="unique"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											Esse código já foi cadastrado


										</div>
										<div class="alert alert-danger" role="alert" ng-message="maxlength"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>


											O Codigo aceita no máximo 30 caracteres
										</div>
										<div class="alert alert-danger" role="alert" ng-message="required"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											O campo Codigo não pode ser vazio


										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6" ng-if="(!$ctrl.entity.fornecedor) && $ctrl.entity.cadastro !== 3">
								<div class="form-group">
									<label class="control-label" for="cadastro">Cadastro</label>
									<select class="form-control" id="cadastro"
										name="cadastro" ng-model="$ctrl.entity.cadastro"
										ng-disabled="$ctrl.entity.fornecedor||$ctrl.entity.fornecedor||$ctrl.entity.$$__submitting"
										convert-to-number=" " convert-to-number
										ng-required="($ctrl.entity.$$__submitting) !== true">
										<option value="1">CNPJ</option>
										<option value="2">CPF</option>
									</select>
									<div ng-messages="$ctrl.form.cadastro.$error"
										ng-if="$ctrl.form.cadastro.$dirty || $ctrl.form.$submitted">
										<div class="alert alert-danger" role="alert" ng-message="required"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											O campo Cadastro não pode ser vazio
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6" ng-if="($ctrl.entity.fornecedor && $ctrl.entity.cadastro !== 1 ) || $ctrl.entity.cadastro === 2">
								<div class="form-group">
									<label class="control-label" for="cpf">CPF</label>
									<input type='cpf' class="form-control" id="cpf" name="cpf" placeholder="___.___.___-__"
										maxlength="18" ng-model="$ctrl.entity.cpf"
										ng-disabled="$ctrl.entity.$$__submitting"
										ng-required="($ctrl.entity.fornecedor||$ctrl.entity.fornecedor||$ctrl.entity.$$__submitting) !== true"
										ui-br-cpf-mask />
									<div ng-messages="$ctrl.form.cpf.$error"
										ng-if="$ctrl.form.cpf.$dirty || $ctrl.form.$submitted">
										<div class="alert alert-danger" role="alert" ng-message="cpf"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											CPF inválido.


										</div>
										<div class="alert alert-danger" role="alert" ng-message="maxlength"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>


											O CPF aceita no máximo 11 caracteres
										</div>
										<div class="alert alert-danger" role="alert" ng-message="required"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											O campo CPF não pode ser vazio


										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6" ng-if="$ctrl.entity.cadastro === 1">
								<div class="form-group">
									<label class="control-label" for="cnpj">CNPJ</label>
									<input type='cnpj' class="form-control" id="cnpj" name="cnpj"
										placeholder="___.___.___/____-__" maxlength="18"
										validation='{ "route" : "ns_fornecedores_unique", "params" : { "field" : "cnpj" , "id": "{{$ctrl.entity.fornecedor}}" }, "constructors" : {{$ctrl.constructors}}, "callback" : "$ctrl.uniqueValidation" }'
										ng-model="$ctrl.entity.cnpj"
										ng-disabled="$ctrl.entity.$$__submitting"
										ng-required="($ctrl.entity.fornecedor||$ctrl.entity.fornecedor||$ctrl.entity.$$__submitting) !== true"
										ui-br-cnpj-mask />
									<div ng-messages="$ctrl.form.cnpj.$error"
										ng-if="$ctrl.form.cnpj.$dirty || $ctrl.form.$submitted">
										<div class="alert alert-danger" role="alert" ng-message="cnpj"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											CNPJ inválido.


										</div>
										<div class="alert alert-danger" role="alert" ng-message="maxlength"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>


											O campo aceita no máximo 18 caracteres
										</div>
										<div class="alert alert-danger" role="alert" ng-message="unique"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											Esse cnpj já foi cadastrado


										</div>
										<div class="alert alert-danger" role="alert" ng-message="required"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>
											O campo CNPJ não pode ser vazio


										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group"><label class="control-label" for="inscricaomunicipal">Inscrição
										Municipal</label><input type='text' class="form-control" id="inscricaomunicipal"
										name="inscricaomunicipal" maxlength="20"
										ng-model="$ctrl.entity.inscricaomunicipal"
										ng-disabled="$ctrl.entity.$$__submitting" />
									<div ng-messages="$ctrl.form.inscricaomunicipal.$error"
										ng-if="$ctrl.form.inscricaomunicipal.$dirty || $ctrl.form.$submitted">
										<div class="alert alert-danger" role="alert" ng-message="maxlength"><span
												class="fa fa-exclamation-circle" aria-hidden="true"></span><span
												class="sr-only">Erro:</span>


											O campo Inscrição Municipal aceita no máximo 20 caracteres
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group"><label class="control-label"
										for="estabelecimentoid">Estabelecimento</label>
									<nsj-lookup name="estabelecimentoid" id-name="estabelecimento"
										factory="NsEstabelecimentos" ng-model="$ctrl.entity.estabelecimentoid"
										max-label="1" constructor="{  }" config='{ "nomefantasia":"Nome",  }'
										disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="esperapagamentoseguradora">Espera Pagamento da
										Seguradora?</label>
									<select class="form-control" id="esperapagamentoseguradora"
										name="esperapagamentoseguradora"
										ng-model="$ctrl.entity.esperapagamentoseguradora"
										ng-disabled="$ctrl.entity.$$__submitting" convert-to-number>
										<option value="0">Não</option>
										<option value="1">Sim</option>
									</select>
								</div>
							</div>

							<div class="col-sm-6">
                                <div class="form-group">
									<label class="control-label" for="formapagamento">Forma de Pagamento</label>
                                    <nsj-lookup 
										name="formapagamento" id-name="formapagamento"
                                        factory="NsFormaspagamentos" ng-model="$ctrl.entity.formapagamento"
                                        max-label="1" constructor="{  }" config='{ "descricao":"Descrição",  }'
                                        disabled="$ctrl.entity.$$__submitting">
									</nsj-lookup>
                                </div>
                            </div>

						</div>
						<div class="row ">
							<div class="col-sm-6" ng-if="$ctrl.entity.fornecedor">
								<div class="form-group"><label class="control-label" for="status">Status</label><select
										class="form-control" id="status" name="status" ng-model="$ctrl.entity.status"
										ng-disabled="true||true||$ctrl.entity.$$__submitting" convert-to-number=" "
										convert-to-number>
										<option value="0">Ativa</option>
										<option value="1">Suspensa</option>
										<option value="2">Banida</option>
									</select></div>
							</div>
							<div class="col-sm-6"
								ng-if="$ctrl.entity.datafimsuspensao !== null && $ctrl.entity.fornecedor">
								<div class="form-group"><label class="control-label" for="datafimsuspensao">Data para
										Reativação</label>
									<nsj-date-picker editable='true' init-value='$ctrl.entity.datafimsuspensao'
										date-position="right" type-select="single"
										opts="{'class':'form-control', 'id':'datafimsuspensao', 'name':'datafimsuspensao' , 'ng-model':'$ctrl.entity.datafimsuspensao' , 'ng-disabled':'true||true||$ctrl.entity.$$__submitting' }">
									</nsj-date-picker>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-sm-12"
								ng-if="$ctrl.entity.motivosuspensao !== null && $ctrl.entity.fornecedor">
								<div class="form-group"><label class="control-label"
										for="motivosuspensao">Motivo</label><input type='text' class="form-control"
										id="motivosuspensao" name="motivosuspensao"
										ng-model="$ctrl.entity.motivosuspensao"
										ng-disabled="true||true||$ctrl.entity.$$__submitting" /></div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="Contatos">
			<div class="row ">
				<div class="col-sm-12">
					<object-list class="object-list" entities='$ctrl.entity.contatos' service="NsContatos"
						constructors="{ 'pessoa' : $ctrl.entity.pessoa,  }" autosaveenabled=>
						<div class="tabela-scroll-horizontal">
							<label class="control-label" for="contatos">Contato</label>
							<div class="pull-right bottom-buffer">
								<a class="btn btn-md btn-warning" ng-click="$ctrl.nsContatosForm(service.constructors)">
									<i class="fas fa-plus"></i>
									Adicionar
								</a>
							</div>
							<div class="table-default">
								<table class="tabela-lista-objlist table table-striped table-hover table-condensed table-bordered">
									<thead>
										<tr>
											<th>
												Nome
											</th>
											<th>
												Primeiro nome
											</th>
											<th>
												Sobrenome
											</th>
											<th>
												Cargo
											</th>
											<th>
												Email
											</th>
											<th>
												Principal
											</th>
											<th class='compact'></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="subentity in oblistctrl.entities"
											ng-controller="ObjectListItemCtrl as itemctrl">
											<td>
												{{ subentity.nome }} </td>
											<td>
												{{ subentity.primeironome }} </td>
											<td>
												{{ subentity.sobrenome }} </td>
											<td>
												{{ subentity.cargo }} </td>
											<td>
												{{ subentity.email }} </td>
											<td>
												{{ subentity.principal ? 'Sim' : 'Não' }} </td>
											<td class='text-right no-wrap'>
												<a class="btn btn-primary btn-circle"
													ng-click="$ctrl.nsContatosFormShow(subentity)">
													<i class="fas fa-eye"></i>
												</a>
												<a class="btn btn-primary btn-circle"
													ng-click="$ctrl.nsContatosFormEdit(subentity)">
													<i class="fas fa-edit"></i>
												</a>
												<a class="btn btn-danger btn-circle"
													ng-click="$ctrl.nsContatoRemover(oblistctrl, subentity)"
													title="Remover">
													<i class="fas fa-times"></i>
												</a>
											</td>
										</tr>
									</tbody>
									<tfoot ng-if="oblistctrl.entities.length == 0">
										<tr>
											<td colspan="9" class="state-empty">
												<div class="empty-list">
													<p class="text-center">
														Não existem itens para mostrar nesta lista.
													</p>
												</div>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</object-list>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="Endereços">
			<div class="row ">
				<div class="col-sm-12">
					<object-list class="object-list" entities='$ctrl.entity.endereco' service="NsEnderecos"
						constructors="{  }" autosaveEnabled=>
						<div class="tabela-scroll-horizontal">
							<label class="control-label" for="endereco">Endereço</label>
							<div class="pull-right bottom-buffer"><a class="btn btn-md btn-warning"
									ng-click="$ctrl.nsEnderecosForm(service.constructors)"><i class="fas fa-plus"></i>
									Adicionar
								</a></div>
							<div class="table-default">
								<table class="tabela-lista-objlist table table-striped table-hover table-condensed table-bordered">
									<thead>
										<tr>
											<th>
												Nome
											</th>
											<th>
												Tipo de endereço
											</th>
											<th>
												Rua
											</th>
											<th>
												Número
											</th>
											<th class='compact'></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="subentity in oblistctrl.entities"
											ng-controller="ObjectListItemCtrl as itemctrl">
											<td> {{ subentity.nome }} </td>
											<td><span
													ng-bind="[&quot;Local&quot;,&quot;Entrega&quot;,&quot;Cobran\u00e7a&quot;,&quot;Comercial&quot;][subentity.tipoendereco]"></span>
											</td>
											<td> {{ subentity.rua }} </td>
											<td> {{ subentity.numero }} </td>
											<td class='text-right no-wrap'><a class="btn btn-primary btn-circle"
													ng-click="$ctrl.nsEnderecosFormShow(subentity)"><i
														class="fas fa-eye"></i></a><a class="btn btn-primary btn-circle"
													ng-click="$ctrl.nsEnderecosFormEdit(subentity)"><i
														class="fas fa-edit"></i></a><a class="btn btn-danger btn-circle"
													ng-click="oblistctrl.remove(subentity)" title="Remover"><i
														class="fas fa-times"></i></a></td>
										</tr>
									</tbody>
									<tfoot ng-if="oblistctrl.entities.length == 0">
										<tr>
											<td colspan="16" class="state-empty">
												<div class="empty-list">
													<p class="text-center"> Não existem itens para mostrar nesta lista.
													</p>
												</div>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</object-list>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="Dados Bancários">
			<div class="row ">
				<div class="col-sm-12">
					<fieldset>
						<div class="row ">
							<div class="col-sm-12">
								<object-list class="object-list" entities='$ctrl.entity.dadosbancarios'
									service="FinancasContasfornecedores"
									constructors="{ 'fornecedor' : $ctrl.entity.fornecedor,  }" autosaveEnabled=>
									<div class="tabela-scroll-horizontal">
										<label class="control-label" for="dadosbancarios">Dados Bancários</label>
										<div class="pull-right bottom-buffer"><a class="btn btn-md btn-warning"
												ng-click="$ctrl.financasContasfornecedoresForm(service.constructors)"><i
													class="fas fa-plus"></i> Adicionar
											</a></div>
										<div class="table-default">
											<table
												class="tabela-lista-objlist table table-striped table-hover table-condensed table-bordered">
												<thead>
													<tr>
														<th>
															Padrão
														</th>
														<th>
															Banco
														</th>
														<th>
															Agência
														</th>
														<th>
															Agência número
														</th>
														<th>
															Agência dv
														</th>
														<th>
															Conta
														</th>
														<th>
															Conta dv
														</th>
														<th class='compact'></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="subentity in oblistctrl.entities"
														ng-controller="ObjectListItemCtrl as itemctrl">
														<td> {{ subentity.padrao ? 'Sim' : 'Não' }} </td>
														<td> {{ subentity.banco }} </td>
														<td> {{ subentity.agencianome }} </td>
														<td> {{ subentity.agencianumero }} </td>
														<td> {{ subentity.agenciadv }} </td>
														<td> {{ subentity.contanumero }} </td>
														<td> {{ subentity.contadv }} </td>
														<td class='text-right no-wrap'><a
																class="btn btn-primary btn-circle"
																ng-click="$ctrl.financasContasfornecedoresFormShow(subentity)"><i
																	class="fas fa-eye"></i></a><a
																class="btn btn-primary btn-circle"
																ng-click="$ctrl.financasContasfornecedoresFormEdit(subentity)"><i
																	class="fas fa-edit"></i></a><a
																class="btn btn-danger btn-circle"
																ng-click="oblistctrl.remove(subentity)"
																title="Remover"><i class="fas fa-times"></i></a></td>
													</tr>
												</tbody>
												<tfoot ng-if="oblistctrl.entities.length == 0">
													<tr>
														<td colspan="12" class="state-empty">
															<div class="empty-list">
																<p class="text-center"> Não existem itens para mostrar
																	nesta lista. </p>
															</div>
														</td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</object-list>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="Tipos de Atividade">
			<div class="row ">
				<div class="col-sm-12">
					<object-list class="object-list" entities='$ctrl.entity.tipoasatividades'
						service="NsPessoastiposatividades" constructors="{ 'pessoa' : $ctrl.entity.pessoa,  }"
						autosaveenabled=>
						<div class="col-sm-12">
							<div class="row">
								<div class="object-list-add">
									<label class="scheduler-border">Selecione ou digite as informações nos campos abaixo
										e adicione à lista</label>
									<ng-form name="oblistctrl.form" role="form" inner-form class="form-add clearfix">
										<div class="box-add">
											<div class="align-itens clearfix">
												<div class="clearfix inputs-area">
													<ns-pessoastiposatividades-default entity="subentity"
														form="oblistctrl.form" constructors="service.constructors"
														collection="oblistctrl.entities">
													</ns-pessoastiposatividades-default>
												</div>
												<div class="pull-right bottom-buffer btn-add">
													<button type="button" class="btn btn-md btn-warning"
														ng-disabled="subentity.tipoatividade === undefined"
														ng-click="oblistctrl.add();$event.preventDefault();">
														<i class="fas fa-plus"></i>
														Adicionar
													</button>
												</div>
											</div>
										</div>
									</ng-form>
								</div>
							</div>
							<div class="row">
								<table class="tabela-lista-objlist table table-striped table-hover table-condensed table-bordered">
									<thead>
										<tr>
											<th>
												Nome
											</th>
											<th>
												Descrição
											</th>
											<th class='compact'></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="subentity in oblistctrl.entities"
											ng-controller="ObjectListItemCtrl as itemctrl">
											<td>
												{{ subentity.tipoatividade.nome }}
											</td>
											<td>
												{{ subentity.tipoatividade.descricao }}
											</td>
											<td class='text-right no-wrap'>
												<a class="btn btn-danger btn-circle"
													ng-click="oblistctrl.remove(subentity)" title="Remover">
													<i class="fas fa-times"></i>
												</a>
											</td>
										</tr>
									</tbody>
									<tfoot ng-if="oblistctrl.entities.length == 0">
										<tr>
											<td colspan="3" class="state-empty">
												<div class="empty-list">
													<p class="text-center">
														Não existem itens para mostrar nesta lista.
													</p>
												</div>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</object-list>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="Documentos">
			<div class="row ">
				<div class="col-sm-12">
					<object-list class="object-list" entities='$ctrl.entity.fornecedoresdocumentos'
						service="NsFornecedoresdocumentos" constructors="{ 'fornecedor' : $ctrl.entity.fornecedor,  }"
						autosaveEnabled=>
						<div>
							<div class="pull-right bottom-buffer"><a class="btn btn-md btn-warning"
									ng-click="$ctrl.nsFornecedoresdocumentosForm(service.constructors)"><i
										class="fas fa-plus"></i> Adicionar
								</a></div>
							<div class="table-default">
								<table class="table table-striped table-hover table-condensed table-bordered">
									<thead>
										<tr>
											<th>
												Nome
											</th>
											<th>
												Cópia simples
											</th>
											<th>
												Cópia autenticada
											</th>
											<th>
												Original
											</th>
											<th>
												Enviar por e-mail
											</th>
											<th>
												Pedir informações adicionais
											</th>
											<th>
												Não exibir nos relatórios de documentos automáticos
											</th>
											<th class='compact'></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="subentity in oblistctrl.entities"
											ng-controller="ObjectListItemCtrl as itemctrl">
											<td>
												{{ subentity.tipodocumento.nome }}
											</td>
											<td> {{ subentity.copiasimples ? 'Sim' : 'Não' }} </td>
											<td> {{ subentity.copiaautenticada ? 'Sim' : 'Não' }} </td>
											<td> {{ subentity.original ? 'Sim' : 'Não' }} </td>
											<td> {{ subentity.permiteenvioemail ? 'Sim' : 'Não' }} </td>
											<td> {{ subentity.pedirinformacoesadicionais ? 'Sim' : 'Não' }} </td>
											<td> {{ subentity.naoexibiremrelatorios ? 'Sim' : 'Não' }} </td>
											<td class='text-right no-wrap'><a class="btn btn-primary btn-circle"
													ng-click="$ctrl.nsFornecedoresdocumentosFormShow(subentity)"><i
														class="fas fa-eye"></i></a><a class="btn btn-danger btn-circle"
													ng-click="oblistctrl.remove(subentity)" title="Remover"><i
														class="fas fa-times"></i></a></td>
										</tr>
									</tbody>
									<tfoot ng-if="oblistctrl.entities.length == 0">
										<tr>
											<td colspan="12" class="state-empty">
												<div class="empty-list">
													<p class="text-center"> Não existem itens para mostrar nesta lista.
													</p>
												</div>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</object-list>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="Anexos">
			<div class="row ">
				<div class="col-sm-12">
					<div class="form-group">
						<fieldset style="margin-bottom: 0px;">
							<legend>
								Anexos
							</legend>
						</fieldset>

						<ns-dropzone model="$ctrl.modelDropzone" options="$ctrl.optionsDropzone"
							add-file="$ctrl.addFile(file)" remove-file="$ctrl.removeFile(file)"
							success-file="$ctrl.successFile(response)" error-file="$ctrl.errorFile(response)">
						</ns-dropzone>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="Anotações">
			<div class="row ">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="control-label" for="anotacao"></label>
						<textarea class="form-control" rows="30" id="anotacao" name="anotacao"
							ng-model="$ctrl.entity.anotacao" ng-disabled="$ctrl.entity.$$__submitting"></textarea>
					</div>
				</div>
			</div>
		</uib-tab>
	</uib-tabset>
</form>