
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ns_frncdrs_frm_frncdrrtvr_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Remover Suspensão</h3>
    <span ng-if='ns_frncdrs_frm_frncdrrtvr_cntrllr.action == "insert"'>
    <div >
    
    
    
        
        </div>
    </span>
</div>
    <form nsg-focus name="ns_frncdrs_frm_frncdrrtvr_cntrllr.form" novalidate="novalidate" role="form"  ng-submit="ns_frncdrs_frm_frncdrrtvr_cntrllr.submit()">
<div class="modal-body" id="modal-body">
                        <ns-fornecedores-fornecedorreativar entity="ns_frncdrs_frm_frncdrrtvr_cntrllr.entity" form="ns_frncdrs_frm_frncdrrtvr_cntrllr.form" action="ns_frncdrs_frm_frncdrrtvr_cntrllr.action" constructors="ns_frncdrs_frm_frncdrrtvr_cntrllr.constructors" busy="ns_frncdrs_frm_frncdrrtvr_cntrllr.busy"></ns-fornecedores-fornecedorreativar>
                </div>
    <div class="modal-footer">
    <div class="pull-left">
        
        <button type="submit" name="submit"  class="btn btn-warning" ng-class="{loading:ns_frncdrs_frm_frncdrrtvr_cntrllr.entity.$$__submitting}" ng-disabled="ns_frncdrs_frm_frncdrrtvr_cntrllr.entity.$$__submitting">
             Salvar
        </button>
        <a class="btn btn-sm" ng-click="ns_frncdrs_frm_frncdrrtvr_cntrllr.close()" ng-disabled="ns_frncdrs_frm_frncdrrtvr_cntrllr.entity.$$__submitting"><i class="fa fa-times" aria-hidden="true"></i> Fechar</a>
        
    </div>
</div>
        </form>
