<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="estabelecimentoid">Estabelecimento</label>
                <nsj-lookup name="estabelecimentoid" id-name="estabelecimento" factory="NsEstabelecimentos"
                    ng-model="$ctrl.entity.estabelecimentoid" max-label="1" constructor="{  }"
                    config='{ "nomefantasia":"Nome",  }' disabled="$ctrl.entity.$$__submitting"
                    required="($ctrl.entity.$$__submitting) !== true"
                    ns-required="true"></nsj-lookup>
                <div ng-messages="$ctrl.form.estabelecimentoid.$error"
                    ng-if="$ctrl.form.estabelecimentoid.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Estabelecimento não pode estar vazio


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="nomeadvertencia">Nome</label><input type='text'
                    class="form-control" id="nomeadvertencia" name="nomeadvertencia" maxlength="60"
                    ng-model="$ctrl.entity.nomeadvertencia" ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.nomeadvertencia.$error"
                    ng-if="$ctrl.form.nomeadvertencia.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Nome não pode estar vazio


                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>


                        O campo Nome aceita no máximo 60 caracteres
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="motivoadvertencia">Motivo</label><textarea
                    class="form-control" id="motivoadvertencia" name="motivoadvertencia"
                    ng-model="$ctrl.entity.motivoadvertencia" ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true"></textarea>
                <div ng-messages="$ctrl.form.motivoadvertencia.$error"
                    ng-if="$ctrl.form.motivoadvertencia.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Motivo não pode estar vazio.


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                    class="control-label" for="enviaremail"><input type='checkbox' class="" id="enviaremail"
                        name="enviaremail" ng-model="$ctrl.entity.enviaremail"
                        ng-disabled="$ctrl.entity.$$__submitting" /><span class="checkmark"></span>


                    Enviar e-mail?
                </label></div>
        </div>
    </div>
</form>