 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-4" >
                                                    <div class="form-group"><label class="control-label" for="tiposuspensao">Tipo</label><select class="form-control"     id="tiposuspensao" name="tiposuspensao"           ng-model="$ctrl.entity.tiposuspensao" ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" " ng-required="($ctrl.entity.$$__submitting) !== true" convert-to-number><option value="1">Suspender</option><option value="2">Banir</option></select><div ng-messages="$ctrl.form.tiposuspensao.$error"  ng-if="$ctrl.form.tiposuspensao.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo Tipo não pode estar vazio.
                    
                    
                </div></div></div>
                        </div><div class="col-sm-8" ng-if="$ctrl.entity.tiposuspensao === 1">
                        	<div class="form-group">
		<label class="control-label" for="datafimsuspensao">Suspender até o dia</label>
		<nsj-date-picker datepickeropts="{'disable-days-before': '$ctrl.datafimsuspensao'}" init-value='$ctrl.entity.datafimsuspensao' date-position="right" type-select="single" opts="{'class':'form-control', 'id':'datafimsuspensao', 'name':'datafimsuspensao' , 'ng-model':'$ctrl.entity.datafimsuspensao' , 'ng-disabled':'$ctrl.entity.$$__submitting' }"></nsj-date-picker>
	</div>
        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="motivosuspensao">Motivo</label><textarea class="form-control"     id="motivosuspensao" name="motivosuspensao"           ng-model="$ctrl.entity.motivosuspensao" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true"></textarea><div ng-messages="$ctrl.form.motivosuspensao.$error"  ng-if="$ctrl.form.motivosuspensao.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo Motivo não pode estar vazio.
                    
                    
                </div></div></div>
                        </div></div>
</form>
