<div class="list-group" id="crm_atcsfollowups_list" infinite-scroll='ctrl_followups.nextPage()'
    infinite-scroll-disabled='ctrl_followups.isBusy()' infinite-scroll-distance='1'>
    <div class="content-loading" ng-if="ctrl_followups.isBusyFollowup()">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>

    <div ng-if="ctrl_followups.entities.length > 0" class="row">
        <div class="col-md-12">
            <nsj-timeline>
                <nsj-timeline-item ng-repeat="item in ctrl_followups.arrayTimeline" obj="{{item}}"
                    mensagem="{{item.mensagem}}" ng-prop-funcaoexterna="ctrl_followups.abrirModalAnexos"
                    btnlabel="{{item.numeroanexos}}"></nsj-timeline-item>
            </nsj-timeline>
        </div>
    </div>
    <p class="list-group-item" ng-if="!ctrl_followups.finished && (ctrl_followups.service.to_load <= 0)">
        <a href="" ng-click="ctrl_followups.loadMore()">Ver mais...</a>
    </p>
    <p class="text-center article-loading height-full" ng-class="{'onloading' : ctrl_followups.isBusy() }"
        ng-if="!ctrl_followups.isBusyFollowup()"></p>
    <p class="text-center nfound" ng-if="ctrl_followups.entities.length == 0 && !ctrl_followups.isBusyFollowup()">Nenhum
        dado encontrado</p>
</div>