<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="crm_mdl_anx_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Anexo(s) do Acompanhamento</h3>
  </div>
  <!--<form nsg-focus name="crm_tcspndncslsts_frm_dflt_cntrllr.form" novalidate="novalidate" role="form"  ng-submit="crm_tcspndncslsts_frm_dflt_cntrllr.submit()"></form> -->
  <form novalidate="novalidate" role="form" >
    <div class="modal-body" id="modal-body">
        <div class="row">
          <div class="col-md-12">
              <div>

                  <p class="timeline-item-data">

                    <!-- Se não possuir data ou hora, mostro como não informado -->
                    <span ng-if="!crm_mdl_anx_cntrllr.entity.followup.data || !crm_mdl_anx_cntrllr.entity.followup.hora">
                      Não informado
                    </span>

                    <!-- Se possuir data e hora, mostro as informações -->
                    <span ng-if="crm_mdl_anx_cntrllr.entity.followup.data && crm_mdl_anx_cntrllr.entity.followup.hora">
                      {{crm_mdl_anx_cntrllr.entity.followup.data}} às {{crm_mdl_anx_cntrllr.entity.followup.hora}}
                    </span>

                  </p>

                  <p class="timeline-item-contato">

                      <i ng-class="crm_mdl_anx_cntrllr.entity.ativo ? ' timeline-contato-icon-active' : ' timeline-contato-icon'" class="fas fa-arrow-left"></i>

                      <span ng-if="crm_mdl_anx_cntrllr.entity.ativo"> De <strong>{{crm_mdl_anx_cntrllr.entity.followup.interlocutor}}</strong> para <strong>{{crm_mdl_anx_cntrllr.entity.followup.receptor}}</strong></span>
                      <span ng-if="!(crm_mdl_anx_cntrllr.entity.ativo)"> De <strong>{{crm_mdl_anx_cntrllr.entity.followup.receptor}}</strong> para <strong>{{crm_mdl_anx_cntrllr.entity.followup.interlocutor}}</strong></span>
                      
                  </p>

                  <p class="timeline-item-atendente">Atendimento feito por: {{crm_mdl_anx_cntrllr.entity.followup.atendente}}</p>
              </div>
          </div>

          <div class="col-md-12">
              <ns-dropzone add-file="crm_mdl_anx_cntrllr.addFile(file)" error-file="crm_mdl_anx_cntrllr.errorFile(response)" model="crm_mdl_anx_cntrllr.modelDropzone" options="crm_mdl_anx_cntrllr.optionsDropzone" remove-file="crm_mdl_anx_cntrllr.removeFile(file)" success-file="crm_mdl_anx_cntrllr.successFile(response)">
                </ns-dropzone>
          </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <div class="pull-right">
  
        <a class="btn btn-default" ng-click="crm_mdl_anx_cntrllr.close()"><i class="fa fa-times" aria-hidden="true"></i> Fechar</a>
  
      </div>
    </div>
  </form>
</div>
  <!--<div class="content-loading"  ng-if="crm_tcspndncslsts_frm_dflt_cntrllr.busy">
    <div class="center-loading text-center">
      <div class="onloading"></div>
      Carregando...
    </div>
  </div> -->