<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Selecionar Histórico Padrão</h3>
</div>

<div class="modal-body" id="modal-body">
    
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12">
                
                <div class="alert-modal nsj-alert alert-warning">
                    <i class="fas fa-exclamation-triangle"></i> 
                    <strong>Atenção!</strong> <br> Ao selecionar um Histórico Padrão, as observações do atendimento serão substituídas pelo texto do Histórico Padrão selecionado
                </div>
            </div>

            <div class="col-sm-12">
                <p>
                    Você tem certeza que deseja selecionar o Histórico Padrão?
                </p>
            </div>

        </div>
    </div>
</div>

<div class="modal-footer">

    <div class="pull-right">
        <button
            type="button" class="btn btn-default btn-delete btn-geral" ng-click="mdl_cnfrmc_hstrc_cntrllr.close()">
            Não, não selecionar o Histórico Padrão
        </button>

        <button
            type="button" name="submit" class="btn btn-warning btn-save btn-geral"
            ng-click="mdl_cnfrmc_hstrc_cntrllr.submit()">
            Sim, selecionar o Histórico Padrão
        </button>
        
    </div>
</div>