<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="nomearquivo">Nome</label><input type='text'
                    class="form-control" id="nomearquivo" name="nomearquivo" ng-model="$ctrl.entity.nomearquivo"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="url">Nome</label><input type='hidden'
                    class="form-control" id="url" name="url" ng-model="$ctrl.entity.url"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="tipo">Nome</label><input type='hidden'
                    class="form-control" id="tipo" name="tipo" ng-model="$ctrl.entity.tipo"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="tamanho">Nome</label><input type='hidden'
                    class="form-control" id="tamanho" name="tamanho" ng-model="$ctrl.entity.tamanho"
                    ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" " /></div>
        </div>
        <div class="col-sm-2">
            <div class="form-group"><label class="control-label" for="uploadid">Nome</label><input type='hidden'
                    class="form-control" id="uploadid" name="uploadid" ng-model="$ctrl.entity.uploadid"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
</form>