{
    "routing": {
        "URL_CRM": "https://crmapi.dev.nasajonsistemas.com.br/fosrouting/js/routing.json",
        "URL_ERP_API": "https://api.dev.nasajonsistemas.com.br/fosrouting/js/routing.json"
    },
    "auth": {
        "url": "https:\/\/auth.dev.nasajonsistemas.com.br\/auth",
        "realm": "DEV",
        "clientId": "crm_api"
    }
}