{% extends '@NasajonMDABundle/Resources/js/Atendimento/Feriados/index.html.twig' %}
{% block index_header -%}
    <div class="col-md-12 headline-page ng-scope">
        <div class="headline clearfix">
            <div class="breadcrumb-trail hidden-xs hidden-sm pull-left"><a ui-sref="atendimento_admin_configuracoes_list" href="#/configuracoes" title="Configurações">Configurações</a> > <span class="select-page">Feriados</span></strong></div>
            <a class="btn btn-xs btn-warning" ui-sref="atendimento_feriados_new({})" href="#/configuracoes/feriados/new">
                <i class="el el-plus"></i> Criar
            </a>
        </div>
    </div>
{% endblock %}
{% block index_panel_header -%}
    <div class="headline-sub clearfix hidden-lg hidden-md">
        <h3 class="pull-left">
            <a href  ui-sref="atendimento_admin_configuracoes_list" href="#/configuracoes" title="Voltar às configurações" class="hidden-md hidden-lg">
                <i class="el el-chevron-left"></i>
            </a> 
            Feriados
        </h3>
    </div>
{% endblock %}

{% block index_list -%}
  <div class="height-full" ng-class="{'onloading' : tndmnt_frds_lst_cntrllr.isBusy() }">
    <ul class="list-group" id="id_feriados_list">
        {%- block viewedit_view_list_item %}
        <li href ui-sref='atendimento_feriados_edit({feriado: entity.feriado})'  class="list-group-item"
            ng-repeat="entity in tndmnt_frds_lst_cntrllr.entities"
            ui-sref-active="active"
            ng-class="{'selected': selected === entity}">
            <h4 class="list-group-item-heading">{{'{{entity.data | convertToDate}}'}} - {{'{{entity.descricao}}'}}</h4>
        </li>
        {%- endblock viewedit_view_list_item %}
        <p class="text-center nfound" ng-if="tndmnt_frds_lst_cntrllr.entities.length == 0 && !tndmnt_frds_lst_cntrllr.isBusy()">Nenhum dado encontrado</p>
    </ul>
    </div>
{% endblock index_list -%}