<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="codigo">Nome</label><input type='text'
                    class="form-control" id="codigo" name="codigo" maxlength="30" ng-model="$ctrl.entity.codigo"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.codigo.$error" ng-if="$ctrl.form.codigo.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Nome não pode ser vazio.


                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>


                        O campo Nome não deve exceder 30 caracteres.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4">
            <div class="form-group"><label class="control-label" for="descricao">Descrição</label><textarea
                    class="form-control" id="descricao" name="descricao" ng-model="$ctrl.entity.descricao"
                    ng-disabled="$ctrl.entity.$$__submitting"
                    ng-required="($ctrl.entity.$$__submitting) !== true"></textarea>
                <div ng-messages="$ctrl.form.descricao.$error"
                    ng-if="$ctrl.form.descricao.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Descrição não pode ser vazio.


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">





            <object-list class="object-list" constructors="{ 'equipetecnico' : $ctrl.entity.equipetecnico,  }"
                entities='$ctrl.entity.equipetecnicotecnico' service="equipesTecnicosService">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="object-list-add">
                            <label class="scheduler-border">Selecione ou digite as informações nos campos abaixo e
                                adicione à lista</label>
                            <ng-form class="form-add clearfix" inner-form name="oblistctrl.form" role="form">
                                <div class="box-add">
                                    <div class="align-itens clearfix">
                                        <div class="clearfix inputs-area">
                                            <equipes-tecnicos-form collection="oblistctrl.entities"
                                                constructors="service.constructors" entity="subentity"
                                                form="oblistctrl.form"></equipes-tecnicos-form>
                                        </div>
                                        <div class="pull-right bottom-buffer btn-add">
                                            <a class="btn btn-md btn-warning"
                                                ng-click="$ctrl.adicionar(subentity, oblistctrl.form);">
                                                <i class="fas fa-plus"></i> Adicionar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped table-hover table-condensed table-bordered">
                            <thead ng-if="oblistctrl.entities.length">
                                <tr>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Responsável
                                    </th>
                                    <th class='compact'></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-controller="ObjectListItemCtrl as itemctrl"
                                    ng-repeat="subentity in oblistctrl.entities">
                                    <td>

                                        {{ subentity.tecnico.nome }}

                                    </td>
                                    <td>

                                        <input ng-click="$ctrl.verificarChecked(subentity)"
                                            ng-disabled="subentity.responsavel" ng-model="subentity.responsavel"
                                            type='checkbox' id="responsavel" name="responsavel" />

                                    </td>
                                    </td>
                                    <td class='text-right no-wrap'>
                                        <a class="btn btn-danger btn-circle" ng-click="oblistctrl.remove(subentity)"
                                            title="Remover">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            </td>
                            </tr>
                            </tbody>
                            <tfoot ng-if="!oblistctrl.entities.length">
                                <tr>
                                    <td class="state-empty" colspan="5">
                                        <div class="empty-list">
                                            <p class="text-center">
                                                Não existem itens para mostrar nesta lista.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </object-list>
            <div ng-if="$ctrl.form.$submitted">
                <div class="alert alert-danger alert-equipetecnico"
                    ng-if="!$ctrl.entity.equipetecnicotecnico || $ctrl.entity.equipetecnicotecnico.length < 2"
                    role="alert">
                    <span aria-hidden="true" class="fa fa-exclamation-circle"></span>
                    <span class="sr-only">Erro:</span>A equipe deve ter no mínimo 2 Técnicos.
                </div>
            </div>
        </div>
    </div>
</form>