 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="motivoremocao">Motivo</label><textarea class="form-control"     id="motivoremocao" name="motivoremocao"           ng-model="$ctrl.entity.motivoremocao" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true"></textarea><div ng-messages="$ctrl.form.motivoremocao.$error"  ng-if="$ctrl.form.motivoremocao.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo não pode estar vazio.
                    
                    
                </div></div></div>
                        </div></div>
</form>
