<div class="height-full layout-list">    
            <nsj-headline headline-title="Advertência " headline-sub="true">
<div class="pull-right">

                    <a class="btn btn-sm btn-default hidden-lg hidden-md" ui-sref="ns_advertencias({})" title="Voltar"><i class="fas fa-reply"></i><span class="hidden-xs">Voltar</span></a>
        
        
    <button type="button" class="btn btn-sm btn-warning btn-geral" ng-if="   !(ns_dvrtncs_frm_shw_cntrllr.entity.status !== 0)" ng-click="ns_dvrtncs_frm_shw_cntrllr.arquivar(ns_dvrtncs_frm_shw_cntrllr.entity)">
        <span>Arquivar</span>
    </button>
    <button type="button" class="btn btn-sm btn-danger btn-geral" ng-if="   !(ns_dvrtncs_frm_shw_cntrllr.entity.status !== 0)" ng-click="ns_dvrtncs_frm_shw_cntrllr.excluir(ns_dvrtncs_frm_shw_cntrllr.entity)">
        <span>Excluir</span>
    </button>

        
        
     
    </div>
</nsj-headline>
    <div class="nsj-form padding-content" ng-class="{'nsj-loading-page' : ns_dvrtncs_frm_shw_cntrllr.busy }">
        <div class="nsj-form-view top-buffer bottom-buffer">
            <ns-advertencias-show-show entity="ns_dvrtncs_frm_shw_cntrllr.entity" action="ns_dvrtncs_frm_shw_cntrllr.action" busy="ns_dvrtncs_frm_shw_cntrllr.busy" constructors="ns_dvrtncs_frm_shw_cntrllr.constructors"></ns-advertencias-show-show>
                                </div>
        
<div class="form-group pull-left">
        
        
            </div>        <div class="content-loading"  ng-if="ns_dvrtncs_frm_shw_cntrllr.busy">
                <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
                </div>
        </div>
    </div>
</div>
