<div ng-class="{'nsj-loading-page' : crm_frncdrspddslc_lst_cntrllr.busy }"
    class='crm_fornecedorespedidoselecao nsj-layout  layout-table '>
    <div class="nsj-aside-list height-full col-md-12"
        ng-class="{ 'hidden-sm hidden-xs' : (('crm_fornecedorespedidoselecao_show'| isStateEq) || ('crm_fornecedorespedidoselecao_edit'| isStateEq) || ('crm_fornecedorespedidoselecao_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <nsj-headline headline-title="Selecione o Prestador de Serviço "
                    ng-class="{ 'hidden-sm hidden-xs' : (('crm_fornecedorespedidoselecao_show'| isStateEq) || ('crm_fornecedorespedidoselecao_edit'| isStateEq) || ('crm_fornecedorespedidoselecao_new'| isStateEq ))}">
                </nsj-headline>

                <nsj-toolbar ng-on-change_toolbar="crm_frncdrspddslc_lst_cntrllr.search($event.detail)" search="true"
                    refresh="true" holder="Busca" model-search="{{crm_frncdrspddslc_lst_cntrllr.service.filter}}"
                    select="{{crm_frncdrspddslc_lst_cntrllr.selectPage && crm_frncdrspddslc_lst_cntrllr.selected.length === crm_frncdrspddslc_lst_cntrllr.entities.length && !crm_frncdrspddslc_lst_cntrllr.selectAll && !crm_frncdrspddslc_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{crm_frncdrspddslc_lst_cntrllr.selectAll}}"
                    item-in-page="{{crm_frncdrspddslc_lst_cntrllr.entities.length}}"
                    item-all="{{crm_frncdrspddslc_lst_cntrllr.entities[0].full_count}}">
                    <nsj-filters slot="filters">
                        <nsj-filter-seletor
                            options="{{crm_frncdrspddslc_lst_cntrllr.$rootScope.OPTIONS_CrmFornecedorespedidoselecao}} "
                            type="seletor"
                            max-occurs="{{crm_frncdrspddslc_lst_cntrllr.$rootScope.MAXOCCURS_CrmFornecedorespedidoselecao}} "
                            input="{{crm_frncdrspddslc_lst_cntrllr.$rootScope.SELECTS_CrmFornecedorespedidoselecao}} "
                            text-disabled="Selecionar..." model="{{crm_frncdrspddslc_lst_cntrllr.filters}} ">
                        </nsj-filter-seletor>
                    </nsj-filters>

                </nsj-toolbar>
                <div class="panel-body body-table">
                    <nsj-table fields="crm_frncdrspddslc_lst_cntrllr.entities"
                        fields-config='crm_frncdrspddslc_lst_cntrllr.fields'
                        config-page='crm_frncdrspddslc_lst_cntrllr.service.loadParams'
                        has-more-page='crm_frncdrspddslc_lst_cntrllr.loadMore()'>
                        <nsj-actions action-model="{{$parent.entity}}"> </nsj-actions>

                        <div class="empty-page" ng-if="crm_frncdrspddslc_lst_cntrllr.isFilterEmpty()">
                            <div class="text-center">
                                <span class="icon-page"><i class="fas fa-table fa-fw"></i></span>
                                <h3>Selecione o Prestador de Serviço </h3>
                                <p>Ainda não existem itens nesta lista.</p>
                            </div>
                        </div>
                        <div ng-if="!crm_frncdrspddslc_lst_cntrllr.isFilterEmpty()" class="empty-page">
                            <div class="text-center">
                                <p>Não foram encontrados itens para esta pesquisa.</p>
                            </div>
                        </div>
                    </nsj-table>
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class="content-loading" ng-if="crm_frncdrspddslc_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>