// Tela da listagem de documentos automáticos
.div-atcsdocumentosautomaticos {
    display: block;
    position: relative;
    padding: 25px 0;

    .table.tree-grid.nsj-table.btns-actions {
        thead {
            tr {
                display: none;
            }
        }
        tbody {
            tr {
                td {
                    vertical-align: middle;
                    animation: fade-in 800ms;
                    -webkit-animation: fade-in 800ms;

                    span.tree-label {
                        display: inline-block;

                        .doc-container {
                            font-weight: 600;
                        }
                        .doc-link-container {
                            a.link {
                                color: #4b89bf;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
    }

    // Mensagem quando não houver dados
    .msg-sem-documentos {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        background: #ddd;
        padding: 0 15px;

        .texto {
            padding: 15px 0;
        }
    }
}

#crm-atcs {
    #secao-docsautomaticos {

        // Dados da listagem
        .dados-docsautomaticos {
            animation: fade-in 800ms;
            -webkit-animation: fade-in 800ms;
        }

        // Skeleton
        .skeleton-container {

            .skeleton-dados-tabela{ 

                display: inline-block;

                // CLasses que definem a largura e altura dos itens dependendo de qual coluna ele esteja
                .coluna1{

                    .item-skeleton {
                        width: 18px;
                        height: 18px;
                    }
                }

                .coluna2{

                    .item-skeleton{
                        width: 275px;
                        height: 18px;
                    }

                }

                // Classes que definem a margem da esquerda dos itens da primeira coluna
                .coluna1.nivel2{
                    margin-left: 18px;
                }

                .coluna1.nivel3{
                    margin-left: 36px;
                }

                // Classes que definem a margem da esquerda dos itens da segunda coluna
                .coluna2.nivel1{
                    margin-left: 10px;
                }

                .coluna2.nivel2{
                    margin-left: 30px;
                }

                .coluna2.nivel3{
                    margin-left: 45px;
                }

            }

        }

    }
}