#form-historico-pendencias {
    .limite-vertical {
        max-height: 50vh;
        overflow-y: scroll;
    }
    .ajuste-topo {
        margin-top: 15px;
        padding: 0px;
    }
    .pull-left-custom{
        padding: 0px; float: left;
    }
    .pull-right-custom{
        padding: 0px; float: right;
    }
}
