.atc-documento-informacoes-adicionais-modal {
    .modal-body {
        // Linhas de campos da tela
        .linha-campos {
            display: flex;
            flex-wrap: wrap;

            // Container de cada campo da tela
            .campo-container {
                flex: 1;
                padding: 10px;
                padding-left: 0px;
                min-width: 200px;

                // Título de cada campo
                .campo-titulo {
                    font-weight: 600;
                }

                &.servicos {
                    .lista-servicos {
                        padding: 0;

                        .servico {
                            .check-container {
                                display: flex;
                                align-items: center;
                                margin: 0;

                                input {
                                    margin: 0;
                                }

                                .texto {
                                    margin-left: 5px;
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}