.btn-margin-top{
    margin-top: 10px;
}

.btn-margin-bottom{
    margin-bottom: 10px;
}

.titulos-form{
    padding-top: 0px !important;
}

.botoes-inferiores{
    margin-top: 20px;
}

.botao-add-table{
    margin-right: 0px;
}

.checkbox-margin-top{
    margin-top: 0px;
}

.subtitulo-modal{
    font-size: 18px !important;
    color: #5a5a5a !important;
}

// Estilo para a aba ativa não ficar com a cor diferente das demais e com a mesma cor do box
.aba-ativa > .nav-tabs > li.active > a, .aba-ativa > .nav-tabs > li.active > a:focus{
    color: #555;
    cursor: default;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nsj-table.table.bulk-actions.btns-actions{
    margin-bottom: 15px;
    th {
        padding: 0 8px !important;
    }
}

.table.tree-grid.nsj-table.btns-actions{
    th {
        padding: 0 8px !important;
    }
}

.margem-inferior-table{
    margin-bottom: 0px !important;
}

.tabela-documentos{
    .nsj-table{
        td:nth-child(n+2):nth-last-child(n+2){
            width: 70px;
        }
    }
}

.tabela-enderecos{
    .nsj-table{
        td:nth-child(n+2):nth-last-child(n+2){
            width: 70px;
        }
    }
}

.tabela-contatos{
    .nsj-table{
        td:nth-child(n+2):nth-last-child(n+2){
            width: 70px;
        }
    }
}

.tabela-tipo-atividades{
    .nsj-table{
        td:nth-child(2){
            width: 70px;
        }
    }
}

// Quando o layout estiver menor que 992px, exibir a barra de rolagem horizontal
@media screen and (max-width: 992px) {
    .tabela-contatos, .tabela-documentos, .tabela-enderecos, .tabela-tipo-atividades{
        overflow-x: auto;
    }
}

// Quando o layout estiver menor que 768px, acrescentar margem a esquerda
@media screen and (max-width: 768px) {
    .label-diasvencimento{
        margin-left: 15px;
    }
}

