
// Novo layout de visualização dos formulários

.row, .clear {
    clear: both!important;
}

.custom-form-view {
    .row, .form-group {
        border: none !important;
    }


    .nsj-form-view .row.row-form-view [class*="col-"] {
        padding-right: 15px!important;
        padding-left: 15px!important;

        &.customizado {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }
    
    // Linha
    .row {
        nsj-custom-field{
            .form-group {
                margin-bottom: 15px;
            }
        }
        // Legenda dos grupos
        fieldset {
            margin-top: 15px;
            margin-bottom: 0px;
            border-top-style: solid;
            border-top-width: 1px;   
            border-color: #cccccc;  
            legend {
                color: #cccccc;
                border-bottom: none;
                margin-bottom: 7px;
                font-weight: 700;
                font-size: 16px;
                display: inline-block;
                width: auto;
                padding: 2px 8px 2px 15px; 
            }
        }

        // Campo
        .form-group {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            // Nome
            .control-label, label {
                background: transparent;
                width: 100%;
                text-align: left;
                padding: 6px 0px;
            }

            // Valor
            .form-control-static {
                background: #f5f5f5;
                border-radius: 5px;
                width: 100%;
            }
        }

        object-list{
            padding: 0 3px;
        }
    }

    // Quando o layout estiver menor que 1550px
    @media screen and (max-width: 1550px) {
        // Linha
        .row {
            // Campo
            .form-group {
                // Nome
                .control-label, label {
                    width: 100%;
                    padding-left: 0;
                }

                // Valor
                .form-control-static {
                    width: 100%;
                }
            }
        }
    }
    // Quando o layout estiver maior que 767px e menor que 1300px
    @media screen and (min-width: 767px) and (max-width: 1300px) {
        .nsj-form-view .row.row-form-view [class*="col-"] {
            width: 50% !important;
        }
    }
}



.custom-form-view .nsj-form-view .row.row-form-view {
    div[class*="col-"]+div[class*="col-"] {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    div[class*="col-"]>div[class*="col-"] {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

