// Tela da listagem de documentos automáticos
.crm-listadavez-container .abas-container .tab-conteudo .aba-regras .listadavez-regras-container{
    // Mensagem quando não houver dados
    .msg-sem-dados {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        background: #ddd;
        padding: 0 15px;
        margin: 15px;

        .texto {
            padding: 25px 0;
        }
    }

    // Tree
    .table.tree-grid.nsj-table.btns-actions {
        // Cabeçalho
        thead {
            th {
                // Coluna Checked
                &.checked{
                    width: 70px !important;
                }

                // Coluna de Regra
                &.listadavezregra {
                    padding-left: 25px !important;
                }
            }
        }
        // Corpo
        tbody {
            tr {
                td {
                    // Ações
                    &:last-child {
                        vertical-align: bottom;

                        .tree-coluna-container {
                            display: block;
                        }
                    }

                    vertical-align: middle;

                    .tree-coluna-container {
                        display: inline-block;
                    }

                    span.tree-label {
                        display: inline-block;
                    }

                    // Coluna checked
                    &.checked {
                        padding-left: 17px;
                    }

                    // Coluna de Regra
                    &.listadavezregra {
                        padding-left: 0;

                        // Botão de expansão
                        nsj-button.btn-expansao {
                            left: initial !important;
                            margin-right: 9px;

                            button {                                                                                                                                                                                                                                                                                                                
                                padding-left: 0;
                                padding-right: 0;
                                margin-right: 0;
                            }
                        }

                        // Select da Regra
                        .regra {
                            select {
                                width: 240px;
                            }
                        }
                        
                        // Opções
                        .opcao {
                            // Opções fixas
                            .opcao-fixa {
                                select {
                                    width: 240px;
                                    text-overflow: ellipsis;
                                }
                            }

                            // Opções de Estado, Negócio operação, Segmento de atuação
                            .opcao-uf, .opcao-negocio-operacao, .opcao-segmento-atuacao {
                                min-width: 240px;
                            }
                        }

                    }

                    // Coluna Vendedor Fixo
                    &.vendedorfixo {
                        text-align: right;
                        padding-right: 30px;

                        .custom-checkbox {
                            .texto {
                                font-weight: normal;
                            }
                        }
                    }

                    // Coluna de Lista da vez vendedor
                    &.listadavezvendedor {
                        width: 300px;
                        max-width: 300px;
                        padding-left: 0;
                        padding-right: 11px;

                        .tree-coluna-container {
                            display: block;

                            .listadavezvendedor-container {
                                .vendedorfixo {
                                    border: 1px solid #ccc;
                                    border-radius: 4px;
                                    padding: 6px 5px;
                                    background-color: #eee;
                                }
                            }
                        }
                    }
                }

                // Linhas nível 2
                &.level-2 {
                    nsj-button.btn-expansao {
                        margin-left: 25px;
                    }
                }

                // Linhas nível 3
                &.level-3 {
                    nsj-button.btn-expansao {
                        margin-left: 50px;
                    }
                }

                // Linhas nível 4
                &.level-4 {
                    nsj-button.btn-expansao {
                        margin-left: 75px;
                    }
                }

                // Linhas nível 5
                &.level-5 {
                    nsj-button.btn-expansao {
                        margin-left: 100px;
                    }
                }

                // Linhas nível 6
                &.level-6 {
                    nsj-button.btn-expansao {
                        margin-left: 125px;
                    }
                }

                // Linhas nível 7
                &.level-7 {
                    nsj-button.btn-expansao {
                        margin-left: 150px;
                    }
                }

                // Linhas nível 8
                &.level-8 {
                    nsj-button.btn-expansao {
                        margin-left: 175px;
                    }
                }

                // Linhas nível 9
                &.level-9 {
                    nsj-button.btn-expansao {
                        margin-left: 200px;
                    }
                }

                // Linhas nível 10
                &.level-10 {
                    nsj-button.btn-expansao {
                        margin-left: 225px;
                    }
                }

                // Linhas nível 11
                &.level-11 {
                    nsj-button.btn-expansao {
                        margin-left: 250px;
                    }
                }

                // Linhas nível 12
                &.level-12 {
                    nsj-button.btn-expansao {
                        margin-left: 275px;
                    }
                }

                // Linhas nível 13
                &.level-13 {
                    nsj-button.btn-expansao {
                        margin-left: 300px;
                    }
                }

                // Linhas nível 14
                &.level-14 {
                    nsj-button.btn-expansao {
                        margin-left: 325px;
                    }
                }

                // Linhas nível 15
                &.level-15 {
                    nsj-button.btn-expansao {
                        margin-left: 350px;
                    }
                }
            }
        }
    }
}