.checkbox-container {
  display: flex;

  .checkbox-content {
    width: fit-content;
  }

  .icone {
    color: #17a2b8;
}
}

.novotipodocumento-tooltip {
    align-self: center;
    margin-left: 5px;

    nsj-tooltip {
        margin-bottom: 5px;
    }
}

