#crm-atcs {
    #accordion-followups {
        // Dados da listagem
        .dados-follow {
            animation: fade-in 800ms;
            -webkit-animation: fade-in 800ms;
        }

        // Skeleton
        .skeleton-container {
            .skeleton-acompanhamento-item {
                padding: 20px;
                border: 1px solid #ddd;
                margin-bottom: 20px;

                .item-skeleton {
                    width: 100%;
                }

                .linha1, .linha2 {
                    margin-bottom: 20px;
                }

                .linha1 {
                    display: flex;
                    justify-content: space-between;

                    .item-skeleton {
                        &:nth-child(1){
                            max-width: 335px;
                        }
                        &:nth-child(2){
                            max-width: 30px;
                        }
                    }
                }

                .linha2 {
                    .item-skeleton {
                        max-width: 540px;
                    }
                }

                .linha3 {
                    display: flex;
                    justify-content: space-between;

                    .item-skeleton {
                        &:nth-child(1){
                            max-width: 235px;
                        }
                        &:nth-child(2){
                            max-width: 95px;
                        }
                    }
                }
            }
        }
    }
}