#crm-atcs {
    #secao-contasreceber {
        // Dados da listagem
        .dados-contasreceber {
            animation: fade-in 800ms;
            -webkit-animation: fade-in 800ms;
        }

        // Skeleton
        .skeleton-container {

            .container-title{
                .card-title.card-title-color{
                    @extend %ext-item-skeleton;
                    width: 205px;
                }
            }

            .skeleton-informacoes-totais { //primeira linha accordion
                display: flex;

                .linha1 {
                    flex-grow: 1;

                    .item-skeleton {
                        width: 140px;
                    }
                }

            }

            .skeleton-dados-tabela{ // Controle de exibição de cada linha da tabela

                .coluna1, .coluna2{
                    display: flex;
                }

                .coluna1{
                    justify-content: flex-start;
                }

                .coluna2{
                    justify-content: flex-end;
                }

                .linha1.coluna1 {

                    .item-skeleton {
                        width: 40px;
                    }

                }

                .linha1.coluna2 {

                    .item-skeleton {
                        width: 70px;
                    }
                }
                
                .linha2.coluna1 {

                    .item-skeleton {
                        width: 130px;
                    }

                }

                .linha2.coluna2 {

                    .item-skeleton {
                        width: 50px;
                    }
                }

                .linha3.coluna1 {

                    .item-skeleton {
                        width: 25px;
                    }

                }

                .linha3.coluna2 {

                    .item-skeleton {
                        width: 50px;
                    }
                }

            }

        }

    }
}