<div class="uploadimagem-modal">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Carregar Imagem da Prestadora</h3>
    </div>
    <div class="modal-body">
        <div class="tela-container">
            <div class="dropzone-container">
                <ns-dropzone 
                    error-file="ns_frncdrs_upldlgo_cntrllr.ErrorFile(response)" 
                    model="ns_frncdrs_upldlgo_cntrllr.modelDropzone" 
                    options="ns_frncdrs_upldlgo_cntrllr.optionsDropzone" 
                    success-file="ns_frncdrs_upldlgo_cntrllr.successFile(response)"
                    remove-file="ns_frncdrs_upldlgo_cntrllr.RemoveFile(response)"
                    class="dropzone-component">
                </ns-dropzone>
            </div>
            <div class="info-container">
                <div class="info-dimensao info">
                    <span class="titulo">Dimensão mínima: </span>
                    <span class="valor">"120 x 120 px"</span>
                </div>
                <div class="info-dimensao info">
                    <span class="titulo">Dimensão máxima: </span>
                    <span class="valor">"200 x 200 px"</span>
                </div>
                <div class="info-dimensao info">
                    <span class="titulo">Tamanho máximo: </span>
                    <span class="valor">500 KB</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="fechar btn btn-sm" class="close" aria-label="Close" 
            ng-click="ns_frncdrs_upldlgo_cntrllr.close()"
            ng-disabled="ns_frncdrs_upldlgo_cntrllr.isBusy()">
            Cancelar
        </a>
        <button type="button"
            ng-disabled="ns_frncdrs_upldlgo_cntrllr.isBusy()"
            ng-click="ns_frncdrs_upldlgo_cntrllr.salvar()"
            class="btn btn-sm btn-default btn-salvar" ng-class="{loading: ns_frncdrs_upldlgo_cntrllr.isBusy()}">
            <i class="fas fa-check"></i>
            <span>Salvar</span>
        </button>
    </div>
</div>