<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="enviomodal">Tipo de envio</label><select
                    class="form-control" id="enviomodal" name="enviomodal" ng-model="$ctrl.entity.enviomodal"
                    ng-disabled="true||true||$ctrl.entity.$$__submitting" convert-to-number=" " convert-to-number>
                    <option value="0">Em mãos</option>
                    <option value="1">Correio</option>
                    <option value="2">E-mail</option>
                </select></div>
        </div>
        <div class="col-sm-6" ng-if="$ctrl.entity.enviomodal === 1">
            <div class="form-group"><label class="control-label" for="enviocodigorastreio">Código de
                    rastreio</label><input type='text' class="form-control" id="enviocodigorastreio"
                    name="enviocodigorastreio" ng-model="$ctrl.entity.enviocodigorastreio"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.enviocodigorastreio.$error"
                    ng-if="$ctrl.form.enviocodigorastreio.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo não pode estar vazio.


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6" ng-if="$ctrl.entity.enviomodal === 1 || $ctrl.entity.enviomodal === 2">
            <div class="form-group"><label class="control-label" for="enviodata">Data de envio</label>
                <nsj-date-picker editable='false' init-value='$ctrl.entity.enviodata' date-position="right"
                    type-select="single"
                    opts="{'class':'form-control', 'id':'enviodata', 'name':'enviodata' , 'ng-model':'$ctrl.entity.enviodata' , 'ng-disabled':'$ctrl.entity.$$__submitting' , 'ng-required':'($ctrl.entity.$$__submitting) !== true' }">
                </nsj-date-picker>
                <div ng-messages="$ctrl.form.enviodata.$error"
                    ng-if="$ctrl.form.enviodata.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo não pode estar vazio.


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" ng-if="$ctrl.entity.enviomodal === 0">
            <div class="form-group"><label class="control-label" for="enviorecebimentodata">Data de recebimento</label>
                <nsj-date-picker editable='false' init-value='$ctrl.entity.enviorecebimentodata' date-position="right"
                    type-select="single"
                    opts="{'class':'form-control', 'id':'enviorecebimentodata', 'name':'enviorecebimentodata' , 'ng-model':'$ctrl.entity.enviorecebimentodata' , 'ng-disabled':'$ctrl.entity.$$__submitting' , 'ng-required':'($ctrl.entity.$$__submitting) !== true' }">
                </nsj-date-picker>
                <div ng-messages="$ctrl.form.enviorecebimentodata.$error"
                    ng-if="$ctrl.form.enviorecebimentodata.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo não pode estar vazio.


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6" ng-if="$ctrl.entity.enviomodal === 0">
            <div class="form-group"><label class="control-label" for="enviorecebidopornome">Nome do
                    receptor</label><input type='text' class="form-control" id="enviorecebidopornome"
                    name="enviorecebidopornome" ng-model="$ctrl.entity.enviorecebidopornome"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.enviorecebidopornome.$error"
                    ng-if="$ctrl.form.enviorecebidopornome.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo não pode estar vazio.


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" ng-if="$ctrl.entity.enviomodal === 0">
            <div class="form-group"><label class="control-label" for="enviorecebidoporcargo">Cargo do
                    receptor</label><input type='text' class="form-control" id="enviorecebidoporcargo"
                    name="enviorecebidoporcargo" ng-model="$ctrl.entity.enviorecebidoporcargo"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.enviorecebidoporcargo.$error"
                    ng-if="$ctrl.form.enviorecebidoporcargo.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo não pode estar vazio.


                    </div>
                </div>
            </div>
        </div>
    </div>
</form>