<div class="height-full layout-list">
  <form
    nsj-focus
    name="tpsrdnssrvcs_frm_cntrllr.form"
    novalidate="novalidate"
    ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : tpsrdnssrvcs_frm_cntrllr.busy }"
    role="form"
    ng-submit="tpsrdnssrvcs_frm_cntrllr.submit()"
    class="height-full"
  >
    <nsj-headline headline-title="" headline-sub="true">
      <ul class="list-unstyled list-inline pull-right">
        <li>
          <div class="form-group pull-right">
            <button
              type="button"
              ng-click="tpsrdnssrvcs_frm_cntrllr.submit()"
              ng-class="{loading:tpsrdnssrvcs_frm_cntrllr.entity.$$__submitting}"
              ng-disabled="tpsrdnssrvcs_frm_cntrllr.entity.$$__submitting || tpsrdnssrvcs_frm_cntrllr.form.$pristine"
              class="btn btn-sm btn-warning btn-save btn-geral"
            >
              <i class="fa fa-check"></i>
              Salvar
            </button>

            <a class="btn btn-sm btn-default" ui-sref="tiposordensservicos({})">
              <i class="fa fa-times" aria-hidden="true"></i>
              Descartar</a
            >
          </div>
        </li>
      </ul>
    </nsj-headline>
    <div class="nsj-form padding-content">
      <tipos-ordens-servicos-form
        entity="tpsrdnssrvcs_frm_cntrllr.entity"
        form="tpsrdnssrvcs_frm_cntrllr.form"
        busy="tpsrdnssrvcs_frm_cntrllr.busy"
        action="tpsrdnssrvcs_frm_cntrllr.action"
        constructors="tpsrdnssrvcs_frm_cntrllr.constructors"
      >
      </tipos-ordens-servicos-form>
    </div>
    <div class="content-loading" ng-if="tpsrdnssrvcs_frm_cntrllr.busy">
      <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
      </div>
    </div>
  </form>
</div>
