.contratos-index {
    // Variaveis
    --contrato-card-titulo-cor: #5a5a5a;
    --contrato-card-cor-total-contratos: #3b474a;
    --contrato-card-cor-contratos-ativos: #28a745;
    --contrato-card-cor-aguardando-aprovacao: #ec971f;
    --border-color: #ccc;

    // Estilos
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    // Container de cards de contratos
    .contratos-card-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #fafafa;
        padding: 10px;
        
        // Card de contrato
        .contrato-card {
            border: 1px solid var(--border-color);
            border-radius: 4px;
            display: inline-block;
            flex-grow: 1;
            margin: 10px 10px;
            min-width: 300px;
            background-color: white;
    
            // Card header
            .contrato-card-header {
                // Container de dados do header
                .contrato-card-header-dados {
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    
                    .contrato-card-header-dados-titulo {
                        font-size: 14px;
                        font-weight: 600;
                        color: var(--contrato-card-titulo-cor);
                    }
                    
                    .contrato-card-header-dados-qtd {
                        font-size: 30px;
                        font-weight: bold;
                    }
                }

                // Barra de Progresso
                .contrato-card-header-progresso {
                    height: 5px;
                    background-color: #eaeaea;
                    
                    .contrato-card-header-progresso-realizado {
                        height: 100%;
                    }
                }
            }

            // Card footer 
            .contrato-card-footer {
                height: 40px;
            }

            // Card Total de Contratos
            &.total-contratos {
                .contrato-card-header-dados-qtd {
                    color: var(--contrato-card-cor-total-contratos);
                }

                .contrato-card-header-progresso-realizado {
                    background-color: var(--contrato-card-cor-total-contratos);;
                }
            }

            // Card Contratos ativos
            &.contratos-ativos {
                .contrato-card-header-dados-qtd {
                    color: var(--contrato-card-cor-contratos-ativos);
                }

                .contrato-card-header-progresso-realizado {
                    background-color: var(--contrato-card-cor-contratos-ativos);
                }
            }

            // Card Aguardando aprovação
            &.aguardando-aprovacao {
                .contrato-card-header-dados-qtd {
                    color: var(--contrato-card-cor-aguardando-aprovacao);
                }

                .contrato-card-header-progresso-realizado {
                    background-color: var(--contrato-card-cor-aguardando-aprovacao);
                }
            }
        }
    }
    
    /* DADOS CONTAINER */
    .dados-container {
        border-top: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;

        /* Container de Filtros */
        .filtros-container {
            display: flex;
            padding: 7px 10px;
            
            .filtros {
                display: flex;
                flex-wrap: wrap;
                flex-grow: 1;

                .filtro {
                    border: 1px solid var(--border-color);
                    padding: 4px 10px 3px 10px;
                    border-radius: 3px;
                    margin: 7px 10px;
                    min-width: 200px;
                    flex-grow: 1;
                    
                    &.filtro-busca {
                        flex-grow: 1;
    
                        input {
                            border: none;
                            width: calc(100% - 25px);
                            background-color: transparent;
                            outline: none;
                        }
                    }

                    &.filtro-select {
                        padding: 0;
                        display: flex;

                        .titulo {
                            padding-top: 7px;
                            padding-bottom: 4px;
                            background-color: #ccc;
                            font-weight: 600;
                            padding-left: 10px;
                            height: 100%;
                            flex-grow: 1;
                            padding-right: 4px;
                        }

                        select {
                            border: none;
                            height: 100%;
                            width: auto;
                            min-width: 100px;
                        }
                    }

                    &.filtro-periodo {
                        padding: 0;
                        display: flex;
                        align-items: center;

                        .titulo {
                            padding-top: 7px;
                            padding-bottom: 4px;
                            background-color: #ccc;
                            font-weight: 600;
                            padding-left: 10px;
                            height: 100%;
                            flex-grow: 1;
                            padding-right: 4px;
                        }

                        input {
                            border-radius: 3px;
                            border: 1px solid #ccc;
                            margin: 0 3px;
                        }
                    }
                }
            }
            .btn-busca {
                margin-top: 7px;
            }
        }

        /* Container da Tabela */
        .tabela-container{
            // Tree de contratos
            .tree-contratos {
                // Ícone
                .icon-config {
                    color: #525758;

                    &.icon-contrato-item {
                        font-size: 10px;
                    }
                }
            }
            // Mensagem sem dados
            .sem-dados-container {
                text-align: center;
            }
        }
    }
}

@import './contratos-index.responsivo';