
@media (min-width: 959px){
    .contratos-index {
        .dados-container {
            flex-grow: 1;
            min-height: 0;

            // Container de Filtros
            .filtros-container {
                .filtros {
                    .filtro {
                        flex-grow: 0;
                    }
                }
            }
            // Container da Tabela
            .tabela-container{
                flex-grow: 1;
                overflow-y: auto;
            }
        }
        
    }
}