<div class="height-full layout-">

    <form nsj-focus name="crm_tcscnfgrcsdcmnts_frm_cntrllr.form" novalidate="novalidate"
        ng-class="{'content-scroll':'' === 'table','nsj-loading-page' : crm_tcscnfgrcsdcmnts_frm_cntrllr.busy }"
        role="form" ng-submit="crm_tcscnfgrcsdcmnts_frm_cntrllr.submit()" class="height-full">


        <nsj-headline headline-title="Configuração de Documentos " headline-sub="true">
            <div class="pull-right">




                <a class="btn btn-sm btn-default" ui-sref="crm_atcsconfiguracoesdocumentos({})"
                    title="Voltar à lista">Voltar à lista</a>




            </div>
        </nsj-headline>
        <div class="nsj-form padding-content">
            <crm-atcsconfiguracoesdocumentos-default entity="crm_tcscnfgrcsdcmnts_frm_cntrllr.entity"
                form="crm_tcscnfgrcsdcmnts_frm_cntrllr.form" busy="crm_tcscnfgrcsdcmnts_frm_cntrllr.busy"
                action="crm_tcscnfgrcsdcmnts_frm_cntrllr.action"
                constructors="crm_tcscnfgrcsdcmnts_frm_cntrllr.constructors"></crm-atcsconfiguracoesdocumentos-default>
            <ul class="list-unstyled list-inline pull-left">
                <li>

                    <div class="form-group pull-left">

                        <button type="button" ng-click="crm_tcscnfgrcsdcmnts_frm_cntrllr.submit()"
                            ng-class="{loading:crm_tcscnfgrcsdcmnts_frm_cntrllr.entity.$$__submitting}"
                            ng-disabled="crm_tcscnfgrcsdcmnts_frm_cntrllr.entity.$$__submitting || crm_tcscnfgrcsdcmnts_frm_cntrllr.form.$pristine"
                            class="btn btn-sm btn-warning btn-save btn-geral">
                            <i class="fa fa-check"></i> Salvar
                        </button>

                        <a class="btn btn-sm" ui-sref="crm_atcsconfiguracoesdocumentos({})"><i class="fa fa-times"
                                aria-hidden="true"></i> Cancelar</a>

                    </div>
                </li>
            </ul>
        </div>
        <div class="content-loading" ng-if="crm_tcscnfgrcsdcmnts_frm_cntrllr.busy">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </form>

</div>