<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="crm_atcficha_add_ocmt_ctrl.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" id="modal-title">Adicionar Serviço ao orçamento</h3>
</div>
<form nsg-focus name="crm_atcficha_add_ocmt_ctrl.form" novalidate="novalidate" role="form"  ng-submit="crm_atcficha_add_ocmt_ctrl.submit()" 
    class="crm-fornecedoresenvolvidos-modal-form">
    <div class="modal-body" id="modal-body">
        <!-- Lookup de serviços e produtos -->
        <div class="form-group servico-container">
            <label class="control-label" for="servico">Serviço</label>
            <nsj-lookup name="servico"
                ng-change="crm_atcficha_add_ocmt_ctrl.onServicoChange();"
                id-name="servico"
                factory="CrmBuscarservicoseprodutos" ng-model="crm_atcficha_add_ocmt_ctrl.servico"
                max-label="2" constructor="{}" config='{ "descricao":"Descrição", "nome":"Nome",  }'
                ns-required="true">
            </nsj-lookup>
            <!-- Mensagens de erro -->
            <div ng-messages="crm_atcficha_add_ocmt_ctrl.form.servico.$error" ng-if="crm_atcficha_add_ocmt_ctrl.form.$submitted">
                <div class="alert alert-danger" role="alert" ng-message="required">
                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="sr-only">Erro:</span>
                    O campo serviço não pode ser vazio
                </div>
            </div>
        </div>
        <!-- Descrição do serviço/ -->
        <div class="form-group orcamento-descricao" ng-if="crm_atcficha_add_ocmt_ctrl.entity.descricaomanual">
            <label class="control-label" for="descricao">Descrição</label>
            <input type='text' class="form-control" id="descricao" name="descricao" maxlength="255"
                ng-model="crm_atcficha_add_ocmt_ctrl.entity.descricao"
                ng-required="crm_atcficha_add_ocmt_ctrl.entity.descricaomanual" />
            
            <!-- Mensagens de erro -->
            <div ng-messages="crm_atcficha_add_ocmt_ctrl.form.descricao.$error"
                ng-if="crm_atcficha_add_ocmt_ctrl.form.descricao.$dirty || crm_atcficha_add_ocmt_ctrl.form.$submitted">

                <div class="alert alert-danger" role="alert" ng-message="required">
                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="sr-only">Erro:</span>
                    O campo descricao não pode estar vazio
                </div>

                <div class="alert alert-danger" role="alert" ng-message="maxlength">
                    <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="sr-only">Erro:</span>
                    O campo aceita no máximo 255 caracteres
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right botoes-footer">
            <a class="btn btn-sm btn-default" ng-click="crm_atcficha_add_ocmt_ctrl.close()">
                <i class="fa fa-times" aria-hidden="true"></i>
                Cancelar
            </a>
            <nsj-button type="submit" color="warning"
                class="btn-footer btn-adicionar" >
                <i class="fa fa-plus" aria-hidden="true"></i>
                Adicionar
            </nsj-button>
        </div>
    </div>
</form>