 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-6" >
                                                    <div class="form-group"><label class="control-label" for="custo">Custo</label><nsj-lookup
            name="custo"
            id-name="custo"
            factory="GpCustos"  
            ng-model="$ctrl.entity.custo" 
                                    template="gp-custos-default"
                                    max-label="3"
            constructor="{  }"
            config='{ "codigo":"Código", "descricao":"Descrição", "valorcomunidade":"Valor/Unidade",  }'
            disabled = "$ctrl.entity.$$__submitting"
                        required = "($ctrl.entity.$$__submitting) !== true"
                                    filter=" {'custo':{'condition':'neq', 'value': $ctrl.constructors.custo }}"
                                    ></nsj-lookup><div ng-messages="$ctrl.form.custo.$error"  ng-if="$ctrl.form.custo.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo custo não pode ser vazio.
                    
                    
                </div></div></div>
                        </div></div>
</form>
