<div ng-if="(!ctrl_atendimentos.arrAtcs || ctrl_atendimentos.arrAtcs.length == 0) && !ctrl_atendimentos.isBusyAtendimentos()"
    class="state-empty">
    <div class="empty-list">
        <p class="text-center">
            Não existem itens para mostrar nesta lista.
        </p>
    </div>
</div>
<div class="content-loading" ng-if="ctrl_atendimentos.isReloadingAtendimento()">
    <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
    </div>
</div>
<div class="lista-atendimentos" ng-if="ctrl_atendimentos.arrAtcs.length > 0" style="overflow-x: scroll;">
    <table class="nsj-table table">
        <thead class="header">
            <tr>
                <th><span>Atendimento</span></th>
                <th><span>Tipo</span></th>
                <th><span>Situação</span></th>
            </tr>
        </thead>
        <tbody class="corpo">
            <tr ng-repeat="atendimento in ctrl_atendimentos.arrAtcs" class="atendimento"
                ui-sref="crm_atcs_full({atc : atendimento.negocio})"
                ng-click="ctrl_atendimentos.setBusyAtendimento(true)">
                <td class="codigo-atendimento">
                    <span class="texto">#{{atendimento.codigo}}</span>
                </td>
                <td class="tipo"><span class="texto">{{atendimento.area.nome}}</span></td>
                <td class="situacao"><span
                        class="texto">{{ctrl_atendimentos.getStatusDescricao(atendimento.status)}}</span></td>
            </tr>
        </tbody>
    </table>
</div>