<!-- crm_dash_atd_pdca_cntrllr.ctrlReqChild., crm_dash_atd_pdca_cntrllr.ctrlReqChild.fnLoadPendencias -->
<div style="overflow-y:auto; height:100%"><!-- {# Para a barra de rolagem vertical ficar visível #} -->
    <div id="crm-atcs" style="padding:15px ;margin-bottom:72px;">
        <div class="row">
            <div class="col-md-4" ng-class="{'nsj-loading-page2':ctrl_atendimentos.isBusyAtendimentos()}"
                ng-controller="CrmAtcsDashboardController as ctrl_atendimentos" ng-inject="{carregarDados: true, ctrlReqChild: crm_dash_atd_pdca_cntrllr.ctrlReqChild}">
                <nsj-accordion-group>
                    <nsj-accordion init-open headline="Atendimentos"
                        class="atendimentos-wrapper form-loading-layout-wrapper dashboard">
                        <nsj-button slot="right" icon="fas fa-sync-alt"
                            ng-click="ctrl_atendimentos.carregarListaAtcs(true)"
                            ng-disabled="ctrl_atendimentos.isBusyAtendimentos()">
                        </nsj-button>
                        <nsj-button slot="only-label" tem-permissao="crm_atcs_create" color="warning" icon="fa fa-plus" size="xs"
                            ui-sref="crm_atcs_full_new({})"
                            ng-click="ctrl_atendimentos.onCriarClick($event)"
                            target="_blank">
                            Criar
                        </nsj-button>

                        <!-- Exibe a quantidade de atcs que não estão fechados -->
                        <div class="div-qtd-atcs-abertos">

                            Atendimentos em Aberto: 
                            <span class="label-atcs-abertos">
                                {{ ctrl_atendimentos.arrAtcs[0].full_count || 0 }}
                            </span>

                        </div>

                        <div ng-if="(!ctrl_atendimentos.arrAtcs || ctrl_atendimentos.arrAtcs.length == 0) && !ctrl_atendimentos.isBusyAtendimentos()"
                            class="state-empty">
                            <div class="empty-list">
                                <p class="text-center">
                                    Não existem itens para mostrar nesta lista.
                                </p>
                            </div>
                        </div>
                        <div class="content-loading" ng-if="ctrl_atendimentos.isReloadingAtendimento() || ctrl_atendimentos.isBusyAtendimentos()">
                            <div class="center-loading text-center">
                                <div class="onloading"></div>
                                Carregando...
                            </div>
                        </div>
                        <div class="lista-atendimentos" ng-if="ctrl_atendimentos.arrAtcs.length > 0" style="overflow-x: scroll;">
                            <table class="nsj-table table">
                                <thead class="header">
                                    <tr class="sticky-col">
                                        <th class="sticky-col first-col"><span>Nome</span></th>
                                        <th class="sticky-col second-col"><span></span></th> <!-- Coluna da ação de visualizar atendimento-->
                                        <th><span>Atendimento</span></th>
                                        <th><span>Situação</span></th>
                                        <th><span>Tipo</span></th>
                                        <!-- <th></th> -->
                                    </tr>
                                </thead>
                                <tbody class="corpo">
                                    <tr ng-repeat="atendimento in ctrl_atendimentos.arrAtcs" class="atendimento">
                                        <td class="tipo sticky-col first-col">
                                            <span class="texto">{{atendimento.nome}}</span>
                                        </td>
                                        <td class="tipo sticky-col second-col"> <!-- Coluna da ação de visualizar atendimento-->
                                            <a class="acao-visualizar-atc" ui-sref="crm_atcs_full({atc : atendimento.negocio})" target="_blank">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                        <td class="codigo-atendimento">
                                            <span class="texto">#{{atendimento.codigo}}</span>
                                        </td>
                                        <td class="situacao"><span
                                            class="texto">{{ctrl_atendimentos.getStatusDescricao(atendimento.status)}}</span>
                                        </td>
                                        <td class="tipo"><span class="texto">{{atendimento.area.nome}}</span></td>
                                        <!-- Ações da tabela -->
                                        <!-- <td class="actions ng-binding">
                                            <div class="table-btns-actions">
                                                <nsj-actions action-model="{{atendimento}}">

                                                    <nsj-action target="_blank" icon="fas fa-eye"
                                                        tooltip="Visualizar Atendimento" disabled="false"
                                                        ui-sref="crm_atcs_full({atc : atendimento.negocio})">
                                                    </nsj-action>
                                                </nsj-actions>
                                            </div>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <div class="shadow-table"></div> <!-- Divisão entre as colunas fixas e as variáveis -->
                        </div>
                    </nsj-accordion>

                </nsj-accordion-group>
            </div>
            <div class="col-md-8">
                <nsj-accordion-group>
                    <nsj-accordion init-open ng-controller="CrmAtcsPendenciasController as ctrl_pendencias"
                        ng-inject="{entity: {}, layout: 'table', telaorigem: 'dashboard-pendencias', carregarDados: true, ctrlReqChild: crm_dash_atd_pdca_cntrllr.ctrlReqChild, secaoctrl: null}"
                        headline="Pendências" class="pendencias-wrapper form-loading-layout-wrapper dashboard">
                        <nsj-button slot="right" icon="fas fa-sync-alt"
                            ng-click="ctrl_pendencias.carregarListaPendencias(ctrl_pendencias.filtro, true)"
                            ng-disabled="ctrl_pendencias.isBusyPendencias()"></nsj-button>

                        <div ng-if="(ctrl_pendencias.layout == 'block') && (!ctrl_pendencias.arrPendencias || ctrl_pendencias.arrPendencias.length == 0) && !ctrl_pendencias.isBusyPendencias()"
                            class="state-empty">
                            <div class="empty-list">
                                <p class="text-center">
                                    Não existem itens para mostrar nesta lista.
                                </p>
                            </div>
                        </div>
                        <div class="content-loading" ng-if="ctrl_pendencias.isBusyPendencias()">
                            <div class="center-loading text-center">
                                <div class="onloading"></div>
                                Carregando...
                            </div>
                        </div>
                        <div class="lista-pendencias">
                            <div class="container-block"
                                ng-if="ctrl_pendencias.layout == 'block' && ctrl_pendencias.arrPendencias.length > 0">
                                <div class="pendencia" ng-repeat="pendencia in ctrl_pendencias.arrPendencias">
                                    <div class="pendencia-header">
                                        <div class="prioridade campo" ng-style="{'color': pendencia.prioridade.cor}">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </div>
                                        <div class="tipo-atendimento-container campo">
                                            Tipo: <span
                                                class="tipo-atendimento">{{pendencia.negociopendencialista.nome}}</span>
                                        </div>
                                        <div class="direita campo">
                                            <div class="prazo-container campo">
                                                {{ ctrl_pendencias.CrmAtcspendenciasUtilsService.minutosParaDataFormatada(pendencia.aberta_ha) }}
                                            </div>
                                            <div class="status campo"
                                                ng-class="{'aberta': pendencia.status == ctrl_pendencias.EStatusPendencia.sAberta, 'fechada': pendencia.status == ctrl_pendencias.EStatusPendencia.sFechada}">
                                                {{ctrl_pendencias.CrmAtcspendenciasUtilsService.getStatusDescricao(pendencia.status)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pendencia-corpo">
                                        <div class="numero">#{{pendencia.numero}}</div>
                                        <div class="aberto-por">
                                            Aberta por <span
                                                class="aberto-por-nome">{{pendencia.created_by.nome}}</span>
                                            em <span
                                                class="aberto-por-data">{{ctrl_pendencias.CrmAtcspendenciasUtilsService.getDataFormatada(pendencia.created_at)}}</span>
                                            às <span
                                                class="aberto-por-hora">{{ctrl_pendencias.CrmAtcspendenciasUtilsService.getHoraFormatada(pendencia.created_at)}}</span>
                                        </div>
                                        <div class="atribuido-a-container" ng-if="pendencia.atribuidoa">
                                            Atribuída à <span ng-bind="pendencia.atribuidoa" class="atribuido-a"></span>
                                        </div>
                                        <div class="responsavel-impeditivo-container">
                                            Responsável do impeditivo: <span
                                                class="responsavel-impeditivo">{{ctrl_pendencias.CrmAtcspendenciasUtilsService.getImpeditivoDescricao(pendencia.impeditivo)}}</span>
                                        </div>

                                        <p class="descricao"><span class="texto">{{pendencia.texto}}</span></p>

                                        <nsj-button icon="fa fa-info-circle"
                                            ng-click="ctrl_pendencias.crmAtcspendenciasForm(pendencia.negocio.negocio, pendencia)">
                                            Consultar Pendência
                                        </nsj-button>
                                        <nsj-button tem-permissao="crm_atcspendencias_marcar" icon="fas fa-check"
                                            ng-click="ctrl_pendencias.fecharPendencia(pendencia)"
                                            ng-disabled="ctrl_pendencias.entity.$$__submitting"
                                            class="btn-footer btn-fechar-pendencia"
                                            ng-class="{loading:ctrl_pendencias.entity.$$__submitting}"
                                            ng-if="pendencia.status == ctrl_pendencias.EStatusPendencia.sAberta">
                                            Fechar Pendência
                                        </nsj-button>
                                    </div>
                                </div>
                            </div>

                            <div class="container-table" ng-if="ctrl_pendencias.layout == 'table'">

                                <nsj-toolbar ng-on-change_toolbar="ctrl_pendencias.filtrar($event.detail)" search="true"
                                    refresh="false" holder="Buscar..">

                                    <!-- Exibe a quantidade de pendências abertas -->
                                    <div class="div-qtd-pendencias-abertas pull-right">

                                        Pendências em Aberto:  
                                        <span class="label-pendencias-abertas">
                                            {{ ctrl_pendencias.paginate.full_count || 0 }}
                                        </span> 

                                    </div>

                                    <nsj-filters slot="filters">
                                        <label for="filtroatcpendencialista" id="labelfiltroatcpendencialista">
                                            Tipo
                                            <nsj-lookup name="filtroatcpendencialista" id-name="filtroatcpendencialista"
                                                factory="CrmAtcspendenciaslistas"
                                                ng-model="ctrl_pendencias.filtroAtcPendenciaLista" max-label="2"
                                                constructor="{ }" config='{ "nome":""}'
                                            ></nsj-lookup>
                                        </label>
                                          <label for="filtroprioridade" id="labelfiltroprioridade">
                                            Nível de prioridade
                                            <nsj-lookup name="filtroprioridade" id-name="filtroprioridade" factory="NsPrioridades"
                                            ng-model="ctrl_pendencias.filtroPrioridade" max-label="1" constructor="{  }" config='{ "nome":"Nome",  }'
                                            ></nsj-lookup>
                                          </label>
                                    </nsj-filters>
                                </nsj-toolbar> 
                                <div class="table-container">
                                    <table class="nsj-table table">
                                        <thead class="header">
                                            <tr>
                                                <th><span>Atendimento</span></th>
                                                <th><span>Prazo para Expiração</span></th>
                                                <th><span>Descrição</span></th>
                                                <th><span>Tipo</span></th>
                                                <th>
                                                    <span>Aberta há</span>
                                                    <!-- Dropdown com as opções de ordenar a listagem de pendências -->
                                                    <nsj-button-dropdown
                                                        class="btn-ordenar-lista-pendencia"
                                                        dropdown-direction="down"
                                                        icon="fas fa-caret-down">
                                    
                                                        <item-dropdown 
                                                            item-label="Ordenação decrescente" 
                                                            ng-click="ctrl_pendencias.organizaListaPendencias('asc')">

                                                            <span slot="start">
                                                                <i class="fas fa-arrow-down"></i>
                                                            </span>

                                                        </item-dropdown>
                                                        
                                                        <item-dropdown 
                                                            item-label="Ordenação crescente" 
                                                            ng-click="ctrl_pendencias.organizaListaPendencias('desc')">

                                                            <span slot="start">
                                                                <i class="fas fa-arrow-up"></i>
                                                            </span>

                                                        </item-dropdown>
                                    
                                                    </nsj-button-dropdown>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="corpo">
                                            <tr
                                                ng-if="(!ctrl_pendencias.entities || ctrl_pendencias.entities.length == 0) && !ctrl_pendencias.isBusyPendencias()">
                                                <td colspan="12">
                                                    <div class="state-empty">
                                                        <div class="empty-list">
                                                            <p class="text-center">
                                                                Não existem itens para mostrar nesta lista.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
    
    
                                            <tr ng-repeat="pendencia in ctrl_pendencias.entities" class="pendencia"
                                                ng-class="{'prazo-proximo-expiracao': pendencia.prazoStatus == ctrl_pendencias.EPendenciaPrazoStatus.ppsProximoExpiracao, 'prazo-expirado': pendencia.prazoStatus == ctrl_pendencias.EPendenciaPrazoStatus.ppsExpirado}">
                                                <td>
                                                    <span class="prioridade" ng-style="{'color': pendencia.prioridade.cor}">
                                                        <i class="fas fa-exclamation-triangle"></i>
                                                    </span>
                                                    <span class="atendimento">#{{pendencia.negocio.codigo}}</span>
                                                </td>
                                                <td class="prazo-expiracao">
                                                    <span class="texto">
                                                        {{ctrl_pendencias.CrmAtcspendenciasUtilsService.getDataFormatada(pendencia.dataprazopendencia)}} 
                                                        {{ctrl_pendencias.CrmAtcspendenciasUtilsService.getHoraFormatada( pendencia.dataprazopendencia.slice(0, -6), false )}}
                                                    </span>
                                                </td>
                                                <td class="descricao"><span class="texto">{{pendencia.texto}}</span></td>
                                                <td class="tipo">{{pendencia.negociopendencialista.nome}}</td>
                                                <td class="aberta-ha">
                                                    {{ctrl_pendencias.CrmAtcspendenciasUtilsService.minutosParaDataFormatada(pendencia.aberta_ha)}}
                                                </td>
    
                                                <td class="actions ng-binding">
                                                    <div class="table-btns-actions">
                                                        <nsj-actions action-model="{{pendencia}}">
    
                                                            <nsj-action target="_blank" icon="fas fa-eye"
                                                                tooltip="Visualizar Atendimento" disabled="false"
                                                                ui-sref="crm_atcs_full({atc : pendencia.negocio.negocio})">
                                                            </nsj-action>
    
                                                            <nsj-action target="_self" icon="fas fa-exclamation-triangle"
                                                                tooltip="Consultar Pendência" disabled="false"
                                                                ng-click="ctrl_pendencias.crmAtcspendenciasForm(pendencia.negocio.negocio, pendencia)">
                                                            </nsj-action>
                                                        </nsj-actions>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                          <tr ng-if="!(ctrl_pendencias.service.to_load <= 0) && !ctrl_pendencias.finishedLoading && !((!ctrl_pendencias.entities || ctrl_pendencias.entities.length == 0) && !ctrl_pendencias.isBusyPendencias())">
                                            <td class="text-center" colspan="5" ng-click="ctrl_pendencias.loadMore()">
                                              <p class="list-group-item dados-follow">
                                                <a href="" >Ver mais...</a>
                                            </p>
                                            </td>
                                          </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </nsj-accordion>
                </nsj-accordion-group>
            </div>
        </div>