<div ng-class="{'nsj-loading-page' : crm_ngcsprcs_lst_cntrllr.busy }"
    class='crm_negociosoperacoes nsj-layout  layout-table '>
    <div class="nsj-aside-list height-full col-md-12"
        ng-class="{ 'hidden-sm hidden-xs' : (('crm_negociosoperacoes_show'| isStateEq) || ('crm_negociosoperacoes_edit'| isStateEq) || ('crm_negociosoperacoes_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <nsj-headline headline-title=""
                    ng-class="{ 'hidden-sm hidden-xs' : (('crm_negociosoperacoes_show'| isStateEq) || ('crm_negociosoperacoes_edit'| isStateEq) || ('crm_negociosoperacoes_new'| isStateEq ))}">
                </nsj-headline>

                <nsj-toolbar ng-on-change_toolbar="crm_ngcsprcs_lst_cntrllr.search($event.detail)" search="false"
                    refresh="true" holder="Busca" model-search="{{crm_ngcsprcs_lst_cntrllr.service.filter}}"
                    select="{{crm_ngcsprcs_lst_cntrllr.selectPage && crm_ngcsprcs_lst_cntrllr.selected.length === crm_ngcsprcs_lst_cntrllr.entities.length && !crm_ngcsprcs_lst_cntrllr.selectAll && !crm_ngcsprcs_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{crm_ngcsprcs_lst_cntrllr.selectAll}}"
                    item-in-page="{{crm_ngcsprcs_lst_cntrllr.entities.length}}"
                    item-all="{{crm_ngcsprcs_lst_cntrllr.entities[0].full_count}}">
                </nsj-toolbar>
                <div class="panel-body height-full">
                    <nsj-table fields="crm_ngcsprcs_lst_cntrllr.entities"
                        fields-config='crm_ngcsprcs_lst_cntrllr.fields'
                        config-page='crm_ngcsprcs_lst_cntrllr.service.loadParams'
                        has-more-page='crm_ngcsprcs_lst_cntrllr.loadMore()'>
                        <nsj-actions action-model="{{$parent.entity}}">
                            <nsj-action target="_self" icon="fas fa-eye" tooltip="Retrieve" disabled="false"
                                ui-sref="crm_negociosoperacoes_show({proposta_operacao : $parent.entity.proposta_operacao})">
                            </nsj-action>


                        </nsj-actions>

                        <div class="empty-page" ng-if="crm_ngcsprcs_lst_cntrllr.isFilterEmpty()">
                            <div class="text-center">
                                <span class="icon-page"><i class="fas fa-table fa-fw"></i></span>
                                <h3></h3>
                                <p>Ainda não existem itens nesta lista.</p>
                            </div>
                        </div>
                        <div ng-if="!crm_ngcsprcs_lst_cntrllr.isFilterEmpty()" class="empty-page">
                            <div class="text-center">
                                <p>Não foram encontrados itens para esta pesquisa.</p>
                            </div>
                        </div>
                    </nsj-table>
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class="content-loading" ng-if="crm_ngcsprcs_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>