<div ng-class="{'nsj-loading-page' : srvcstcncs_srvcstcncschcklst_lst_cntrllr.busy }"
    class='servicostecnicos_servicostecnicoschecklist nsj-layout  layout-table '>
    <div class="nsj-aside-list height-full col-md-4"
        ng-class="{ 'hidden-sm hidden-xs' : (('servicostecnicos_servicostecnicoschecklist_show'| isStateEq) || ('servicostecnicos_servicostecnicoschecklist_edit'| isStateEq) || ('servicostecnicos_servicostecnicoschecklist_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <nsj-headline headline-title="Check"
                    ng-class="{ 'hidden-sm hidden-xs' : (('servicostecnicos_servicostecnicoschecklist_show'| isStateEq) || ('servicostecnicos_servicostecnicoschecklist_edit'| isStateEq) || ('servicostecnicos_servicostecnicoschecklist_new'| isStateEq ))}">

                    <nsj-button color="warning" icon="fa fa-plus" size="xs" class="hidden-xs"
                        ui-sref="servicostecnicos_servicostecnicoschecklist_new({servicotecnico : srvcstcncs_srvcstcncschcklst_lst_cntrllr.constructors.servicotecnico})">
                        Criar
                    </nsj-button>
                    <nsj-button color="warning" format="fixed circle" icon="fa fa-plus" size="lg"
                        class="hidden-sm hidden-md hidden-lg"
                        ui-sref="servicostecnicos_servicostecnicoschecklist_new({servicotecnico : srvcstcncs_srvcstcncschcklst_lst_cntrllr.constructors.servicotecnico})">
                        <span class="hidden-xs">Criar</span>
                    </nsj-button>
                </nsj-headline>

                <nsj-toolbar ng-on-change_toolbar="srvcstcncs_srvcstcncschcklst_lst_cntrllr.search($event.detail)"
                    search="false" refresh="true" holder="Busca"
                    model-search="{{srvcstcncs_srvcstcncschcklst_lst_cntrllr.service.filter}}"
                    select="{{srvcstcncs_srvcstcncschcklst_lst_cntrllr.selectPage && srvcstcncs_srvcstcncschcklst_lst_cntrllr.selected.length === srvcstcncs_srvcstcncschcklst_lst_cntrllr.entities.length && !srvcstcncs_srvcstcncschcklst_lst_cntrllr.selectAll && !srvcstcncs_srvcstcncschcklst_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{srvcstcncs_srvcstcncschcklst_lst_cntrllr.selectAll}}"
                    item-in-page="{{srvcstcncs_srvcstcncschcklst_lst_cntrllr.entities.length}}"
                    item-all="{{srvcstcncs_srvcstcncschcklst_lst_cntrllr.entities[0].full_count}}">
                </nsj-toolbar>
                <div class="panel-body height-full">
                    <nsj-table fields="srvcstcncs_srvcstcncschcklst_lst_cntrllr.entities"
                        fields-config='srvcstcncs_srvcstcncschcklst_lst_cntrllr.fields'
                        config-page='srvcstcncs_srvcstcncschcklst_lst_cntrllr.service.loadParams'
                        has-more-page='srvcstcncs_srvcstcncschcklst_lst_cntrllr.loadMore()'>
                        <nsj-actions action-model="{{$parent.entity}}">





                        </nsj-actions>

                        <div class="empty-page" ng-if="srvcstcncs_srvcstcncschcklst_lst_cntrllr.isFilterEmpty()">
                            <div class="text-center">
                                <span class="icon-page"><i class="fas fa-table fa-fw"></i></span>
                                <h3>Check</h3>
                                <p>Ainda não existem itens nesta lista.</p>

                                <a class="btn btn-warning btn-sm"
                                    ui-sref="servicostecnicos_servicostecnicoschecklist_new({servicotecnico : srvcstcncs_srvcstcncschcklst_lst_cntrllr.constructors.servicotecnico})"><i
                                        class="fas fa-plus"></i> Criar</a>
                            </div>
                        </div>
                        <div ng-if="!srvcstcncs_srvcstcncschcklst_lst_cntrllr.isFilterEmpty()" class="empty-page">
                            <div class="text-center">
                                <p>Não foram encontrados itens para esta pesquisa.</p>
                            </div>
                        </div>
                    </nsj-table>
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class='empty-page col-md-8 article-area height-full padding-h-clear' ui-view>
        <div class="bt-new-article new-article text-center height-full">
            <span class="icon-page"><i class="fas fa-table fa-fw"></i></span>
            <h3>Selecione ou adicione check</h3>
            <p>Selecione check no painel ao lado para ver suas informações. </p>
            <a class="btn btn-sm btn-warning"
                ui-sref="servicostecnicos_servicostecnicoschecklist_new({servicotecnico : srvcstcncs_srvcstcncschcklst_lst_cntrllr.constructors.servicotecnico})">
                <i class="fas fa-plus"></i> Criar
            </a>

        </div>
    </div>
    <div class="content-loading" ng-if="srvcstcncs_srvcstcncschcklst_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>