<div class="modal-visualizar-mais-contatos">

    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Mais Contatos</h3>
    </div>
    
    <div class="modal-body" id="modal-body">
        
        <div class="container-fluid">
            <table class="nsj-table table">
                <thead>
                    <tr>
                        <th>
                            Cargo/Contatos
                        </th>
                        <th>
                            Telefone principal
                        </th>
                        <th>
                            Outros telefones
                        </th>
                        <th>
                            E-mail
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contato in mdl_vslzr_ms_cntts_cntrllr.entity">
    
                        <td> {{ contato.nome }} </td>
                        <td> {{ contato.telPrincipal }} </td>
    
                        <td> 
                            <div ng-repeat="telefone in contato.outrosTelefones">
                                {{ telefone.telcompleto }} 
                            </div>
                        </td>
    
                        <td> {{ contato.email }} </td>
    
                    </tr>
                </tbody>
    
                <tfoot ng-if="mdl_vslzr_ms_cntts_cntrllr.entity.length == 0">
                    <tr>
                        <td colspan="7" class="state-empty">
                            <div class="empty-list">
                                <p class="text-center">
                                    Não existem itens para mostrar nesta lista.
                                </p>
                            </div>
                        </td>
                    </tr>
                </tfoot>
    
            </table>
        </div>
    </div>
    
    <div class="modal-footer">
    
        <a class="fechar btn btn-sm" ng-click="mdl_vslzr_ms_cntts_cntrllr.close()">
            Fechar
        </a>
    
    </div>

</div>

