<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

  <div class="row ">
    <div class="col-sm-12">
      <div class="form-group"><label class="control-label" for="nome">Nome</label><input type='text'
          class="form-control" id="nome" name="nome" ng-model="$ctrl.entity.nome"
          ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
        <div ng-messages="$ctrl.form.nome.$error" ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="required"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>
            O campo nome não pode ser vazio.


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-12">
      <div class="form-group"><label class="control-label" for="codigo">Código</label><input type='text'
          class="form-control" id="codigo" name="codigo" maxlength="5" ng-model="$ctrl.entity.codigo"
          ng-disabled="$ctrl.entity.$$__submitting" />
        <div ng-messages="$ctrl.form.codigo.$error" ng-if="$ctrl.form.codigo.$dirty || $ctrl.form.$submitted">
          <div class="alert alert-danger" role="alert" ng-message="maxlength"><span class="fa fa-exclamation-circle"
              aria-hidden="true"></span><span class="sr-only">Erro:</span>


            O campo nome não pode ter mais do que 5 caracteres.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-12">
      <div class="form-group"><label class="control-label" for="descricao">Descrição</label><textarea
          class="form-control" id="descricao" name="descricao" ng-model="$ctrl.entity.descricao"
          ng-disabled="$ctrl.entity.$$__submitting"></textarea></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}" style="margin-top: 0px;">
            <label class="control-label" for="servicocoringa">
                <input type='checkbox' class="" id="servicocoringa" name="servicocoringa" ng-model="$ctrl.entity.servicocoringa" ng-disabled="$ctrl.entity.$$__submitting" />
                <span class="checkmark"></span>
                Permitir informar a descrição do serviço na inclusão do pedido/orçamento do Atendimento Comercial
            </label>
            <button class="btn btn-link btn-tooltip" type='button'
										uib-popover-html="$ctrl.tooltipServicoCoringa"
										popover-placement='auto bottom'
										popover-trigger="'mouseenter click outsideClick'">
										<i class="fas fa-question-circle"></i>
            </button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9"> 
        
      <fieldset class="fieldset-com-bordas">
        <legend>Realização do Serviço</legend>

          <label class="custom-checkbox control-label" for="servicoexterno" ng-class="{'disabled':$ctrl.entity.$$__submitting}">
              <input type='checkbox' id="servicoexterno" name="servicoexterno" ng-model="$ctrl.entity.servicoexterno" ng-disabled="$ctrl.entity.$$__submitting" ng-click="$ctrl.clickRealizacaoServico('servicoexterno')"/>
              <span class="checkmark"></span>
              Serviço externo
          </label>

          <label class="custom-checkbox control-label" for="servicoprestadoraacionada" ng-class="{'disabled':$ctrl.entity.$$__submitting}">
            <input type='checkbox' id="servicoprestadoraacionada" name="servicoprestadoraacionada" ng-model="$ctrl.entity.servicoprestadoraacionada" ng-disabled="$ctrl.entity.$$__submitting" ng-click="$ctrl.clickRealizacaoServico('servicoprestadoraacionada')"/>
            <span class="checkmark"></span>
            Serviço com Prestadora acionada
          </label>

      </fieldset>

    </div>
      
  </div>
  <div class="row ">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label" for="itemfaturamento">Item de Faturamento</label>
        <nsj-lookup name="itemfaturamento" id-name="itemfaturamento" factory="ServicosItensdefaturamento"
          ng-model="$ctrl.entity.itemfaturamento" max-label="1" constructor="{  }"
          config='{ "descricaoservico":"Item de Faturamento" }' disabled="$ctrl.entity.$$__submitting">
        </nsj-lookup>

      </div>
    </div>
  </div>
</form>