<div class="row  row-form-view">
    <div class="col-sm-12">
        <div class="form-group clearfix"><label class="control-label">Nome </label>
            <p class="form-control-static"><span id="nome" class="form-control-static"
                    ng-bind="($ctrl.entity.nome) || 'Não informado'"></span></p>
        </div>
    </div>
</div>
<div class="row  row-form-view">
    <div class="col-sm-12">
        <div class="form-group clearfix"><label class="control-label">Código </label>
            <p class="form-control-static"><span id="codigo" class="form-control-static"
                    ng-bind="($ctrl.entity.codigo) || 'Não informado'"></span></p>
        </div>
    </div>
</div>
<div class="row  row-form-view">
    <div class="col-sm-12">
        <div class="form-group clearfix"><label class="control-label">Descrição </label>
            <p class="form-control-static"><span id="descricao" class="form-control-static"
                    ng-bind="$ctrl.entity.descricao|| 'Não informado'"></span></p>
        </div>
    </div>
</div>
<div class="row  row-form-view">
    <div class="col-sm-12">
        <div class="form-group clearfix"><label class="control-label">Permitir informar a descrição do serviço</label>
            <p class="form-control-static"><span id="servicocoringa"
                    ng-bind="{ 'true' : 'Sim', 'false' : 'Não' }[$ctrl.entity.servicocoringa] || 'Não informado'"></span>
            </p>
        </div>
    </div>
</div>
<div class="row  row-form-view" ng-if="$ctrl.entity.servicoexterno || $ctrl.entity.servicoprestadoraacionada">
    <div class="col-sm-12">
        <div class="form-group clearfix">
            <label class="control-label">Realização do serviço</label>
            <p class="form-control-static" ng-if="$ctrl.entity.servicoexterno">
                Serviço externo
            </p>
            <p class="form-control-static" ng-if="$ctrl.entity.servicoprestadoraacionada">
                Serviço com Prestadora acionada
            </p>
        </div>
    </div>
</div>
<div class="row row-form-view">
    <div class="col-sm-6">
        <div class="form-group clearfix"><label class="control-label">Item de Faturamento </label>
            <p class="form-control-static">
                <span id="itemfaturamento" class="form-control-static" ng-bind="$ctrl.entity.itemfaturamento.descricaoservico || 'Não informado'"></span>
        </div>
    </div>
</div>