{% extends '@NasajonMDABundle/Resources/js/Servicos/Atendimentosregras/index.html.twig' %}
{% block index_header -%}
<div class="col-md-12 headline-page ng-scope">
    <div class="headline clearfix">
        <div class="breadcrumb-trail hidden-xs hidden-sm pull-left"><a ui-sref="atendimento_admin_configuracoes_list" href="#/configuracoes" title="Configurações">Configurações</a> > <span class="select-page">Regras</span></strong></div>
        <a class="btn btn-xs btn-warning" ui-sref="servicos_atendimentosregras_new({})" href="#/configuracoes/atendimentosregras/new">
                <i class="el el-plus"></i> Criar
            </a>
    </div>
</div>
{% endblock %}
{% block index_panel_header -%}
     <div class="headline-sub clearfix hidden-lg hidden-md">
         <h3 class="pull-left"><a href  ui-sref="atendimento_admin_configuracoes_list" href="#/configuracoes" title="Voltar às configurações" class="hidden-md hidden-lg"><i class="el el-chevron-left"></i></a> Regras</h3>
    </div>
{% endblock %}

{% block index_list -%}
  <div class="height-full" ng-class="{'onloading' : srvcs_tndmntsrgrs_lst_cntrllr.isBusy() }">
    <ul class="list-group reorder" id="servicos_atendimentosregras_list" dnd-list="srvcs_tndmntsrgrs_lst_cntrllr.entities">
        {%- block viewedit_view_list_item %}
        <li href ui-sref='servicos_atendimentosregras_edit({atendimentoregra : entity.atendimentoregra})'  class="list-group-item"
            ng-repeat="entity in srvcs_tndmntsrgrs_lst_cntrllr.entities"
            ng-drop="true"
            ng-drop-success="srvcs_tndmntsrgrs_lst_cntrllr.order($index, $data)"
            ui-sref-active="active"
            ng-class="{'selected': selected === entity}"
            ng-drag="true" ng-drag-data="entity" ng-class="obj.nome">
            <span class="ico-move pull-right"><i class="el el-move"></i></span> <h4 class="list-group-item-heading">{{'{{ entity.nome }} '}}</h4>
            {#<p class="list-group-item-text">
                <strong>:</strong>{{'{{ entity.naoexecutarregrasubsequente? "Parar de validar as próximas regras." : "Validar a próxima regra."  }} '}}
            </p>#}
        </li>
        {%- endblock viewedit_view_list_item %}
        <p class="text-center nfound" ng-if="srvcs_tndmntsrgrs_lst_cntrllr.entities.length == 0 && !srvcs_tndmntsrgrs_lst_cntrllr.isBusy()">Nenhum dado encontrado</p>
    </ul>
    </div>

{% endblock index_list -%}
