<div ng-class="{'nsj-loading-page' : crm_tcsddssgrdrs_lst_cntrllr.busy }" class='crm_atcsdadosseguradoras nsj-layout '>
    <div class="nsj-aside-list height-full col-md-4"
        ng-class="{ 'hidden-sm hidden-xs' : (('crm_atcsdadosseguradoras_show'| isStateEq) || ('crm_atcsdadosseguradoras_edit'| isStateEq) || ('crm_atcsdadosseguradoras_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <nsj-headline headline-title="Mídias"
                    ng-class="{ 'hidden-sm hidden-xs' : (('crm_atcsdadosseguradoras_show'| isStateEq) || ('crm_atcsdadosseguradoras_edit'| isStateEq) || ('crm_atcsdadosseguradoras_new'| isStateEq ))}">

                    <nsj-button color="warning" icon="fa fa-plus" size="xs" class="hidden-xs"
                        ui-sref="crm_atcsdadosseguradoras_new({negocio : crm_tcsddssgrdrs_lst_cntrllr.constructors.negocio})">
                        Criar
                    </nsj-button>
                    <nsj-button color="warning" format="fixed circle" icon="fa fa-plus" size="lg"
                        class="hidden-sm hidden-md hidden-lg"
                        ui-sref="crm_atcsdadosseguradoras_new({negocio : crm_tcsddssgrdrs_lst_cntrllr.constructors.negocio})">
                        <span class="hidden-xs">Criar</span>
                    </nsj-button>
                </nsj-headline>

                <nsj-toolbar ng-on-change_toolbar="crm_tcsddssgrdrs_lst_cntrllr.search($event.detail)" search="false"
                    refresh="true" holder="Busca" model-search="{{crm_tcsddssgrdrs_lst_cntrllr.service.filter}}"
                    select="{{crm_tcsddssgrdrs_lst_cntrllr.selectPage && crm_tcsddssgrdrs_lst_cntrllr.selected.length === crm_tcsddssgrdrs_lst_cntrllr.entities.length && !crm_tcsddssgrdrs_lst_cntrllr.selectAll && !crm_tcsddssgrdrs_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{crm_tcsddssgrdrs_lst_cntrllr.selectAll}}"
                    item-in-page="{{crm_tcsddssgrdrs_lst_cntrllr.entities.length}}"
                    item-all="{{crm_tcsddssgrdrs_lst_cntrllr.entities[0].full_count}}">
                </nsj-toolbar>
                <div class="panel-body height-full">
                    <div class="list-group" id="crm_atcsdadosseguradoras_list"
                        infinite-scroll='crm_tcsddssgrdrs_lst_cntrllr.nextPage()'
                        infinite-scroll-disabled='crm_tcsddssgrdrs_lst_cntrllr.isBusy()' infinite-scroll-distance='1'>
                        <a href
                            ui-sref='crm_atcsdadosseguradoras_edit({negocio : crm_tcsddssgrdrs_lst_cntrllr.constructors.negocio,negociodadosseguradora : entity.negociodadosseguradora})'
                            class="list-group-item" ng-repeat="entity in crm_tcsddssgrdrs_lst_cntrllr.entities"
                            ui-sref-active="active">

                            <h4 class="list-group-item-heading">

                                {{ entity.seguradora.nomefantasia }}
                            </h4>
                            <p class="list-group-item-text"><strong>Produto:</strong>

                                {{ entity.produtoseguradora.nome }}
                            </p>
                            <p class="list-group-item-text"><strong>Apólice:</strong>

                                {{ entity.apolice.nome }}
                            </p>
                            <p class="list-group-item-text"><strong>Titular da Apólice:</strong>
                                {{ entity.titularnome }}
                            </p>
                            <p class="list-group-item-text"><strong>Nome do Funcionário da Seguradora:</strong>
                                {{ entity.nomefuncionarioseguradora }}
                            </p>
                        </a>
                        <p class="list-group-item"
                            ng-if="!crm_tcsddssgrdrs_lst_cntrllr.finished && (crm_tcsddssgrdrs_lst_cntrllr.service.to_load <= 0)">
                            <a href="" ng-click="crm_tcsddssgrdrs_lst_cntrllr.loadMore()">Ver mais...</a>
                        </p>
                        <p class="text-center article-loading height-full"
                            ng-class="{'onloading' : crm_tcsddssgrdrs_lst_cntrllr.isBusy() }"
                            ng-if="crm_tcsddssgrdrs_lst_cntrllr.isBusy()"></p>
                        <p class="text-center nfound"
                            ng-if="crm_tcsddssgrdrs_lst_cntrllr.entities.length == 0 && !crm_tcsddssgrdrs_lst_cntrllr.isBusy()">
                            Nenhum dado encontrado</p>
                    </div>

                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class='empty-page col-md-8 article-area height-full padding-h-clear' ui-view>
        <div class="bt-new-article new-article text-center height-full">
            <span class="icon-page"><i class="fas fa-table fa-fw"></i></span>
            <h3>Selecione ou adicione mídia</h3>
            <p>Selecione mídia no painel ao lado para ver suas informações. </p>
            <a class="btn btn-sm btn-warning"
                ui-sref="crm_atcsdadosseguradoras_new({negocio : crm_tcsddssgrdrs_lst_cntrllr.constructors.negocio})">
                <i class="fas fa-plus"></i> Criar
            </a>

        </div>
    </div>
    <div class="content-loading" ng-if="crm_tcsddssgrdrs_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>