 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="nome">Nome</label><input type='text' class="form-control"     id="nome" name="nome"           ng-model="$ctrl.entity.nome" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" /><div ng-messages="$ctrl.form.nome.$error"  ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo nome não pode estar vazio
                    
                    
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="email">Email</label><input type='email' class="form-control"     id="email" name="email"          pattern=".+@.+(\..+)+"
                                                                                    maxlength="150" ng-model="$ctrl.entity.email" ng-disabled="$ctrl.entity.$$__submitting" /><div ng-messages="$ctrl.form.email.$error"  ng-if="$ctrl.form.email.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="email" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    Email em formato inválido.
                    
                    
                </div><div class="alert alert-danger" role="alert" ng-message="pattern" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    Email em formato inválido.
                </div><div class="alert alert-danger" role="alert" ng-message="maxlength" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    
                    
                    O campo Email aceita no máximo 150 caracteres
                </div></div></div>
                        </div></div>
</form>
