.formulario-item {
  display: flex;
  align-items: center;
  padding: 2rem !important;

  .fw-bold {
    font-weight: bold;
  }

  .formulario-icon-wrapper {
    margin-right: 2rem;
    border-radius: 5px;
    width: 9.5rem;
    height: 6rem;
    position: relative;
    font-size: 1.1rem;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
    }
    .times,
    .check {
      z-index: 1;
      margin-top: -1.6rem;
    }
    .times {
      margin-left: -0.93rem;
    }
    .check {
      margin-left: -1.5rem;
    }
    .clipboard {
      margin-left: -1rem;
      margin-top: -1.7rem;
    }
  }

  .green-wrapper {
    background-color: #88c796;

    .clipboard {
      color: #61a06f;
    }
  }

  .red-wrapper {
    background-color: #e18788;

    .clipboard {
      color: #ba6265;
    }
  }

  & div {
    & h4 {
      color: $custom-color-1;
    }
  }
}

.table-skeleton-formularios {
  .item-skeleton {
    width: 100%;
  }

  .itens-skeleton {
    display: flex;

    .formulario-icon {
      margin-left: 25px;
      width: 9.5rem;
      height: 6rem;
    }

    .text-group {
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;

      .item-skeleton:nth-child(1) {
        width: 12rem;
        height: 2rem;
        margin-top: 0.8rem;
      }

      .item-skeleton:nth-child(2) {
        width: 10rem;
        height: 1.3rem;
        margin-top: 1rem;
      }
    }
  }
}

table.tabela-formularios .nsj-table {
  border-right: none !important;
  border-left: none !important;
  margin-bottom: 0;

  tbody {
    // Linhas
    tr {
      &:hover {
        td {
          background: #eae7e2;

          // Ações
          .table-btns-actions {
            nsj-actions {
              .actions {
                .actions-buttons {
                  background: #eae7e2;
                }
              }
            }
          }
        }
      }
    }
  }
}
