<table class="tabela-formularios nsj-table table btns-actions">
  <tbody class=" corpo" ng-if="!$ctrl.busyFormulario && $ctrl.formulariosRespostas && $ctrl.formulariosEntities">
    <tr ng-repeat="formulario in $ctrl.formulariosEntities track by $index">
      <td>
        <div class="formulario-item">

          <div
            ng-class="!formulario.finalizado_at ? 'red-wrapper' : 'green-wrapper'"
            class="formulario-icon-wrapper">
            <i ng-show="!formulario.finalizado_at"
              class="times fas fa-times fa-3x"></i>
            <i ng-show="formulario.finalizado_at"
              class="check fas fa-check fa-3x"></i>
            <i class="clipboard fas fa-clipboard-list fa-3x"></i>
          </div>
          <div>
            <h4>
              {{ formulario.formularionome }}
            </h4>
            <p><span class="fw-bold">Questões: </span> {{ formulario.countRespostas }}/{{ formulario.countQuestoes }}
            </p>
          </div>
        </div>
      </td>
      <td>
        <div class="table-btns-actions">
          <nsj-actions>
            <nsj-action ng-click="$ctrl.openFormularioModal(formulario);" ng-if="!formulario.finalizado_at" icon="fas fa-pen" tooltip="Editar Formulário" disabled="false"></nsj-action>
            <nsj-action ng-click="$ctrl.openFormularioModal(formulario);" ng-if="formulario.finalizado_at" icon="fas fa-eye" tooltip="Visualizar Formulário" disabled="false"></nsj-action>
          </nsj-actions>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p class="text-center" ng-if="!$ctrl.busyFormulario && !$ctrl.formulariosEntities.length">
  Nenhum formulário cadastrado.
</p>

<!-- Skeleton -->
<div class="skeleton-container container-tabela">
  <!-- Tabela de dados -->
  <table class="table nsj-table table-skeleton-formularios"
    ng-if="$ctrl.busyFormulario || (!$ctrl.formulariosRespostas && $ctrl.formulariosEntities.length)">
    <tbody>
      <!-- Linha 1 -->
      <tr ng-repeat="line in $ctrl.arrQtdSekeletonsFormLin">
        <td>
          <span class="itens-skeleton">
            <div class="item-skeleton formulario-icon"></div>
            <span class="text-group">
              <div class="item-skeleton"></div>
              <div class="item-skeleton"></div>
            </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>