<div class="height-full layout-table">    
    
    <form nsj-focus name="ns_psss_lgs_frm_nw_cntrllr.form" novalidate="novalidate" ng-class="{'content-scroll':'table' === 'table','nsj-loading-page' : ns_psss_lgs_frm_nw_cntrllr.busy }" role="form"  ng-submit="ns_psss_lgs_frm_nw_cntrllr.submit()" class="height-full">


        <nsj-headline headline-title="" headline-sub="true">
<div class="pull-right">

        
        
        
        
                
        
     
    </div>
</nsj-headline>
        <div class="nsj-form padding-content">
            <ns-pessoas-logos-default entity="ns_psss_lgs_frm_nw_cntrllr.entity" form="ns_psss_lgs_frm_nw_cntrllr.form" busy="ns_psss_lgs_frm_nw_cntrllr.busy" action="ns_psss_lgs_frm_nw_cntrllr.action" constructors="ns_psss_lgs_frm_nw_cntrllr.constructors"></ns-pessoas-logos-default>
                            <ul class="list-unstyled list-inline pull-left">
                                <li>
                        
<div class="form-group pull-left">
        
                                    <button type="button" ng-click="ns_psss_lgs_frm_nw_cntrllr.submit()" ng-class="{loading:ns_psss_lgs_frm_nw_cntrllr.entity.$$__submitting}" ng-disabled="ns_psss_lgs_frm_nw_cntrllr.entity.$$__submitting || ns_psss_lgs_frm_nw_cntrllr.form.$pristine" class="btn btn-sm btn-warning btn-save btn-geral">
                    <i class="fa fa-check"></i> Salvar
                </button>
            
                            <a class="btn btn-sm" ui-sref="ns_pessoas_logos({'idpessoa' : ns_psss_lgs_frm_nw_cntrllr.constructors.idpessoa,})" ><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
                    
            </div>                </li>
            </ul>
            </div>
        <div class="content-loading"  ng-if="ns_psss_lgs_frm_nw_cntrllr.busy">
                <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
                </div>
            </div>
    </form>

</div>
