<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

	<div class="row ">
		<div class="col-sm-12" ng-if="false">
			<!-- {# Sobrescrito para passar a URL corretamente na modal #} -->

			<div class="form-group" style="display: none">
				<label class="control-label" for="propostacapitulo"></label>
				<nsj-lookup name="propostacapitulo" id-name="propostacapitulo" factory="CrmPropostascapitulos"
					ng-model="$ctrl.entity.propostacapitulo" max-label="1"
					constructor="{ 'proposta' : $ctrl.entity.proposta.proposta,  }" config='{ "":"",  }'
					disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label" for="composicao">Serviço</label>
				<nsj-lookup name="composicao" id-name="composicao" factory="CrmComposicoes"
					ng-model="$ctrl.entity.composicao" template="crm-composicoes-default" max-label="3"
					constructor="{  }" config='{ "nome":"Nome", "codigo":"Código", "descricao":"Descrição",  }'
					disabled="$ctrl.entity.$$__submitting" ns-required="($ctrl.entity.$$__submitting) !== true"
					ng-change="$ctrl.getChecklist($ctrl.entity.composicao)"></nsj-lookup>
				<div ng-messages="$ctrl.form.composicao.$error"
					ng-if="$ctrl.form.composicao.$dirty || $ctrl.form.$submitted">
					<div class="alert alert-danger" role="alert" ng-message="required">
						<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
						<span class="sr-only">Erro:</span>
						O campo Serviço não pode ser vazio.
					</div>
				</div>
			</div>


		</div>
	</div>
	<div class="row" ng-if="$ctrl.entity.composicao.servicocoringa">
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label" for="nome">Descrição</label>
				<input 
					class="form-control" 
					id="nome" 
					name="nome" 
					ng-model="$ctrl.entity.nome" 
					type='text'
					ng-required="($ctrl.entity.$$__submitting) !== true"
					maxlength="150"
				/>
				<div ng-messages="$ctrl.form.nome.$error" ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required">
						<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
						<span class="sr-only">Erro:</span>
                        O campo Descrição não pode ser vazio
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="row ">
		<div class="col-sm-12">
			<nsj-custom-field id-field="camposcustomizadosCache" ng-prop-custom_fields="$ctrl.camposcustomizadosCache"
				ng-prop-model="$ctrl.entity.camposcustomizados" ng-on-field_change="$ctrl.change($event)">
				</nsj-custom-fields>
		</div>
	</div>

	<div class="row ">
		<div class="col-sm-12" ng-if="false">
			<div class="form-group"><label class="control-label" for="observacaocomposicao">Observação</label><textarea
					class="form-control" id="observacaocomposicao" name="observacaocomposicao"
					ng-model="$ctrl.entity.observacaocomposicao" ng-disabled="$ctrl.entity.$$__submitting"></textarea>
			</div>
		</div>
	</div>
</form>