<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-12">

            <!-- {% block viewedit_form_camposcustomizados %}
<nsj-custom-field id-field="camposcustomizadosCacheEdicao" ng-prop-custom_fields="$ctrl.camposcustomizadosCache"
    ng-prop-model="$ctrl.entity.camposcustomizados" ng-on-field_change="$ctrl.change($event)">
    </nsj-custom-fields>
    {% endblock viewedit_form_camposcustomizados %} -->

            <!-- Sobrescrito para não permitir entrar com caracteres diferentes de números -->

            <!-- {% block viewedit_form_quantidade %}
    <div class="form-group">
        <label class="control-label" for="quantidade">Quantidade</label>
        <input type='number' class="form-control" id="quantidade" name="quantidade" ng-model="$ctrl.entity.quantidade"
            ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" min="1"
            ng-greaterthanorequal="($ctrl.entity.quantidade) < 1 "
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" onpaste="return false;" />
        <div ng-messages="$ctrl.form.quantidade.$error" ng-if="$ctrl.form.quantidade.$dirty || $ctrl.form.$submitted">
            <div class="alert alert-danger" role="alert" ng-message="number">
                <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                <span class="sr-only">Erro:</span>
                Valor informado não é um número.
            </div>
            <div class="alert alert-danger" role="alert" ng-message="required">
                <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                <span class="sr-only">Erro:</span>
                O campo quantidade não pode ser vazio
            </div>
            <div class="alert alert-danger" role="alert" ng-message="greaterthanorequal">
                <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                <span class="sr-only">Erro:</span>
                A quantidade deve ser maior que 0.
            </div>
        </div>
    </div>
    {% endblock viewedit_form_quantidade %} -->

            <!-- Quando o serviço permitir a edição da descrição -->
            <div class="row" ng-if="$ctrl.entity.nomeservicoalterado">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label" for="nome">Descrição</label>
                        <input 
                            class="form-control" 
                            id="nome" 
                            name="nome" 
                            ng-model="$ctrl.entity.nome" 
                            type='text'
                            ng-required="($ctrl.entity.$$__submitting) !== true"
                            maxlength="150"
                        />
                        <div ng-messages="$ctrl.form.nome.$error" ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted">
                            <div class="alert alert-danger" role="alert" ng-message="required">
                                <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                                <span class="sr-only">Erro:</span>
                                O campo Descrição não pode ser vazio
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>