<div ng-class="{'nsj-loading-page' : crm_prpststns_lst_cntrllr.busy }" class='crm_propostasitens nsj-layout '>
    <div class="nsj-aside-list height-full col-md-12"
        ng-class="{ 'hidden-sm hidden-xs' : (('crm_propostasitens_show'| isStateEq) || ('crm_propostasitens_edit'| isStateEq) || ('crm_propostasitens_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <nsj-headline headline-title="Composição"
                    ng-class="{ 'hidden-sm hidden-xs' : (('crm_propostasitens_show'| isStateEq) || ('crm_propostasitens_edit'| isStateEq) || ('crm_propostasitens_new'| isStateEq ))}">

                    <nsj-button color="warning" icon="fa fa-plus" size="xs" class="hidden-xs"
                        ui-sref="crm_propostasitens_new({negocio : crm_prpststns_lst_cntrllr.constructors.negocio,proposta : crm_prpststns_lst_cntrllr.constructors.proposta})">
                        Criar
                    </nsj-button>
                    <nsj-button color="warning" format="fixed circle" icon="fa fa-plus" size="lg"
                        class="hidden-sm hidden-md hidden-lg"
                        ui-sref="crm_propostasitens_new({negocio : crm_prpststns_lst_cntrllr.constructors.negocio,proposta : crm_prpststns_lst_cntrllr.constructors.proposta})">
                        <span class="hidden-xs">Criar</span>
                    </nsj-button>
                </nsj-headline>

                <nsj-toolbar ng-on-change_toolbar="crm_prpststns_lst_cntrllr.search($event.detail)" search="false"
                    refresh="true" holder="Busca" model-search="{{crm_prpststns_lst_cntrllr.service.filter}}"
                    select="{{crm_prpststns_lst_cntrllr.selectPage && crm_prpststns_lst_cntrllr.selected.length === crm_prpststns_lst_cntrllr.entities.length && !crm_prpststns_lst_cntrllr.selectAll && !crm_prpststns_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{crm_prpststns_lst_cntrllr.selectAll}}"
                    item-in-page="{{crm_prpststns_lst_cntrllr.entities.length}}"
                    item-all="{{crm_prpststns_lst_cntrllr.entities[0].full_count}}">
                    <nsj-filters slot="filters">
                        <nsj-filter-seletor
                            options="{{crm_prpststns_lst_cntrllr.$rootScope.OPTIONS_CrmPropostasitens}} " ng-if="false"
                            type="seletor"
                            max-occurs="{{crm_prpststns_lst_cntrllr.$rootScope.MAXOCCURS_CrmPropostasitens}} "
                            input="{{crm_prpststns_lst_cntrllr.$rootScope.SELECTS_CrmPropostasitens}} "
                            text-disabled="Selecionar..." model="{{crm_prpststns_lst_cntrllr.filters}} ">
                        </nsj-filter-seletor>
                    </nsj-filters>

                </nsj-toolbar>
                <div class="panel-body body-list">
                    <div class="list-group" id="crm_propostasitens_list"
                        infinite-scroll='crm_prpststns_lst_cntrllr.nextPage()'
                        infinite-scroll-disabled='crm_prpststns_lst_cntrllr.isBusy()' infinite-scroll-distance='1'> <a
                            href
                            ui-sref='crm_propostasitens_show({negocio : crm_prpststns_lst_cntrllr.constructors.negocio,proposta : crm_prpststns_lst_cntrllr.constructors.proposta,propostaitem : entity.propostaitem})'
                            class="list-group-item" ng-repeat="entity in crm_prpststns_lst_cntrllr.entities"
                            ui-sref-active="active">

                            <h4 class="list-group-item-heading">
                                {{ entity.previsaodatahorainicio | asDateTime | date: "dd/MM/yyyy HH:mm:ss" }}
                            </h4>
                            <p class="list-group-item-text"><strong>Previsão de fim:</strong>
                                {{ entity.previsaodatahorafim | asDateTime | date: "dd/MM/yyyy HH:mm:ss" }}
                            </p>
                            <p class="list-group-item-text"><strong>Valor da execução do serviço:</strong>
                                {{ entity.itemdefaturamentovalor| currency : "R$ " }}
                            </p>
                            <p class="list-group-item-text"><strong>Quantidade:</strong>
                                {{ entity.quantidade }}
                            </p>
                            <p class="list-group-item-text"><strong>Serviço:</strong>

                                {{ entity.composicao.nome }}
                            </p>
                            <p class="list-group-item-text"><strong>Proposta Item:</strong>

                                {{ entity.propostasitensfamilias.propostaitem }}
                            </p>
                            <p class="list-group-item-text"><strong>Proposta Item:</strong>

                                {{ entity.propostasitensfuncoes.propostaitem }}
                            </p>
                            <p class="list-group-item-text"><strong>Previsao Inicio:</strong>

                                {{ entity.tarefa.previsaoinicio | asDateTime | date: "dd/MM/yyyy HH:mm:ss" }}
                            </p>
                            <p class="list-group-item-text">
                                {{ entity.observacaocomposicao }}
                            </p>
                            <p class="list-group-item-text">
                                {{ entity.valorapolice }}
                            </p>
                        </a>
                        <p class="list-group-item"
                            ng-if="!crm_prpststns_lst_cntrllr.finished && (crm_prpststns_lst_cntrllr.service.to_load <= 0)">
                            <a href="" ng-click="crm_prpststns_lst_cntrllr.loadMore()">Ver mais...</a>
                        </p>
                        <p class="text-center article-loading height-full"
                            ng-class="{'onloading' : crm_prpststns_lst_cntrllr.isBusy() }"
                            ng-if="crm_prpststns_lst_cntrllr.isBusy()"></p>
                        <p class="text-center nfound"
                            ng-if="crm_prpststns_lst_cntrllr.entities.length == 0 && !crm_prpststns_lst_cntrllr.isBusy()">
                            Nenhum dado encontrado</p>
                    </div>

                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class="content-loading" ng-if="crm_prpststns_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>