<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
    ng-click="crm_prpststns_frm_dflt_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title" id="modal-title" ng-if='crm_prpststns_frm_dflt_cntrllr.action == "insert"'>Adicionar Serviço</h3>
  <h3 class="modal-title" id="modal-title" ng-if='crm_prpststns_frm_dflt_cntrllr.action == "update"'>Editar Serviço</h3>
  <h3 class="modal-title" id="modal-title" ng-if='crm_prpststns_frm_dflt_cntrllr.action == "show"'>Visualizar {{crm_prpststns_frm_dflt_cntrllr.entity.nome}}</h3>

  <span ng-if='crm_prpststns_frm_dflt_cntrllr.action == "insert"'>
    <div>




    </div>
  </span>
</div>
<form nsj-focus name="crm_prpststns_frm_dflt_cntrllr.form"
  ng-class="{'nsj-form-view': crm_prpststns_frm_dflt_cntrllr.action == 'show' }"
  ng-hide="crm_prpststns_frm_dflt_cntrllr.busy" novalidate="novalidate" role="form"
  ng-submit="crm_prpststns_frm_dflt_cntrllr.submit()">
  <div class="modal-body" id="modal-body">
    
    <!-- Criação Proposta Item -->
    <crm-propostasitens-default 
      ng-if='crm_prpststns_frm_dflt_cntrllr.action == "insert"'
      entity="crm_prpststns_frm_dflt_cntrllr.entity" form="crm_prpststns_frm_dflt_cntrllr.form"
      action="crm_prpststns_frm_dflt_cntrllr.action" constructors="crm_prpststns_frm_dflt_cntrllr.constructors"
      busy="crm_prpststns_frm_dflt_cntrllr.busy">
    </crm-propostasitens-default>

    <!-- Edição Proposta Item -->
    <crm-propostasitens-edicao 
      ng-if='crm_prpststns_frm_dflt_cntrllr.action == "update"'
      entity="crm_prpststns_frm_dflt_cntrllr.entity" form="crm_prpststns_frm_dflt_cntrllr.form"
      action="crm_prpststns_frm_dflt_cntrllr.action" constructors="crm_prpststns_frm_dflt_cntrllr.constructors"
      busy="crm_prpststns_frm_dflt_cntrllr.busy">
    </crm-propostasitens-edicao>

    <!-- Visualização Proposta Item -->
    <crm-propostasitens-default-show ng-if='crm_prpststns_frm_dflt_cntrllr.action == "show"'
      entity="crm_prpststns_frm_dflt_cntrllr.entity" action="crm_prpststns_frm_dflt_cntrllr.action"
      busy="crm_prpststns_frm_dflt_cntrllr.busy" constructors="crm_prpststns_frm_dflt_cntrllr.constructors">
    </crm-propostasitens-default-show>
  </div>

  <div class="modal-footer">
    <div class="pull-left">

      <button ng-if='crm_prpststns_frm_dflt_cntrllr.action !== "show"' type="submit" name="submit"
        ng-disabled="!crm_prpststns_frm_dflt_cntrllr.entity.composicao" class="btn btn-warning"
        ng-class="{loading:crm_prpststns_frm_dflt_cntrllr.entity.$$__submitting}">
        <span ng-if='crm_prpststns_frm_dflt_cntrllr.action == "insert"'>Adicionar</span>
        <span ng-if='crm_prpststns_frm_dflt_cntrllr.action == "update"'>Salvar</span>
      </button>
      <a class="btn btn-sm" ng-click="crm_prpststns_frm_dflt_cntrllr.close()"><i class="fa fa-times"
          aria-hidden="true"></i> Fechar</a>

    </div>
  </div>
</form>
<div class="content-loading" ng-if="crm_prpststns_frm_dflt_cntrllr.busy">
  <div class="center-loading text-center">
    <div class="onloading"></div>
    Carregando...
  </div>
</div>