<div class="height-full layout-list">
    <nsj-headline headline-title="Vincular agrupador ao Serviço " headline-sub="true">
        <div class="pull-right">

            <a class="btn btn-sm btn-default hidden-lg hidden-md"
                ui-sref="crm_propostasitens({'negocio' : crm_prpststns_frm_shw_cntrllr.constructors.negocio,'proposta' : crm_prpststns_frm_shw_cntrllr.constructors.proposta,})"
                title="Voltar"><i class="fas fa-reply"></i><span class="hidden-xs">Voltar</span></a>


            <button type="button" class="btn btn-sm btn-default btn-delete btn-geral"
                ng-click="crm_prpststns_frm_shw_cntrllr.delete()"
                ng-if="crm_prpststns_frm_shw_cntrllr.entity.propostaitem && !(crm_prpststns_frm_shw_cntrllr.entity.tarefa.situacao === 2) "><i
                    class="fas fa-trash"></i> <span class="hidden-xs">Excluir</span></button>
            <button type="button" class="btn btn-sm btn-default btn-geral"
                ng-click="crm_prpststns_frm_shw_cntrllr.propostasItensVincularFornecedor(crm_prpststns_frm_shw_cntrllr.entity)">
                <i class="fas fa-exclamation"></i> <span>propostasItensVincularFornecedor</span>
            </button> <button type="button" class="btn btn-sm btn-default btn-geral"
                ng-click="crm_prpststns_frm_shw_cntrllr.propostasItensDesvincularFornecedor(crm_prpststns_frm_shw_cntrllr.entity)">
                <i class="fas fa-exclamation"></i> <span>PropostasItensDesvincularFornecedor</span>
            </button> <button type="button" class="btn btn-sm btn-default btn-geral"
                ng-click="crm_prpststns_frm_shw_cntrllr.propostasitensfornecedorescolhacliente(crm_prpststns_frm_shw_cntrllr.entity)">
                <i class="fas fa-exclamation"></i> <span>Propostasitensfornecedorescolhacliente</span>
            </button> <button type="button" class="btn btn-sm btn-default btn-geral"
                ng-click="crm_prpststns_frm_shw_cntrllr.orcamentosExcluir(crm_prpststns_frm_shw_cntrllr.entity)">
                <i class="fas fa-exclamation"></i> <span>OrcamentosExcluir</span>
            </button>
            <a class="btn btn-sm btn-default"
                ui-sref="crm_propostasitens({'negocio' : crm_prpststns_frm_shw_cntrllr.constructors.negocio,'proposta' : crm_prpststns_frm_shw_cntrllr.constructors.proposta,})"
                title="Voltar à lista">Voltar à lista</a>


            <button type="button" class="btn btn-sm btn-warning btn-edit"
                ng-if="   !(crm_prpststns_frm_shw_cntrllr.entity.tarefa.situacao === 2)"
                ui-sref="crm_propostasitens_edit({'negocio' : crm_prpststns_frm_shw_cntrllr.constructors.negocio,'proposta' : crm_prpststns_frm_shw_cntrllr.constructors.proposta, 'propostaitem' : crm_prpststns_frm_shw_cntrllr.entity.propostaitem})"><i
                    class="fas fa-edit"></i> <span class="hidden-xs">Editar</span></button>


        </div>
    </nsj-headline>
    <div class="nsj-form padding-content" ng-class="{'nsj-loading-page' : crm_prpststns_frm_shw_cntrllr.busy }">
        <div class="nsj-form-view top-buffer bottom-buffer">
            <crm-propostasitens-default-show entity="crm_prpststns_frm_shw_cntrllr.entity"
                action="crm_prpststns_frm_shw_cntrllr.action" busy="crm_prpststns_frm_shw_cntrllr.busy"
                constructors="crm_prpststns_frm_shw_cntrllr.constructors"></crm-propostasitens-default-show>
        </div>

        <div class="form-group pull-left">


        </div>
        <div class="content-loading" ng-if="crm_prpststns_frm_shw_cntrllr.busy">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </div>
</div>