 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="codigo">Código</label><input type='text' class="form-control"     id="codigo" name="codigo"           ng-model="$ctrl.entity.codigo" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" /><div ng-messages="$ctrl.form.codigo.$error"  ng-if="$ctrl.form.codigo.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo Código não pode ser vazio
                    
                    
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="descricao">Descrição</label><input type='text' class="form-control"     id="descricao" name="descricao"           ng-model="$ctrl.entity.descricao" ng-disabled="$ctrl.entity.$$__submitting" /></div>
                        </div></div>
</form>
