<div ng-class="{'nsj-loading-page' : crm_prpststnsfncs_lst_cntrllr.busy }"
    class='crm_propostasitensfuncoes nsj-layout '>
    <div class="nsj-aside-list height-full col-md-12"
        ng-class="{ 'hidden-sm hidden-xs' : (('crm_propostasitensfuncoes_show'| isStateEq) || ('crm_propostasitensfuncoes_edit'| isStateEq) || ('crm_propostasitensfuncoes_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <nsj-headline headline-title="Proposta Item Função"
                    ng-class="{ 'hidden-sm hidden-xs' : (('crm_propostasitensfuncoes_show'| isStateEq) || ('crm_propostasitensfuncoes_edit'| isStateEq) || ('crm_propostasitensfuncoes_new'| isStateEq ))}">

                    <nsj-button color="warning" icon="fa fa-plus" size="xs" class="hidden-xs"
                        ui-sref="crm_propostasitensfuncoes_new({propostaitem : crm_prpststnsfncs_lst_cntrllr.constructors.propostaitem})">
                        Criar
                    </nsj-button>
                    <nsj-button color="warning" format="fixed circle" icon="fa fa-plus" size="lg"
                        class="hidden-sm hidden-md hidden-lg"
                        ui-sref="crm_propostasitensfuncoes_new({propostaitem : crm_prpststnsfncs_lst_cntrllr.constructors.propostaitem})">
                        <span class="hidden-xs">Criar</span>
                    </nsj-button>
                </nsj-headline>

                <nsj-toolbar ng-on-change_toolbar="crm_prpststnsfncs_lst_cntrllr.search($event.detail)" search="true"
                    refresh="true" holder="Busca" model-search="{{crm_prpststnsfncs_lst_cntrllr.service.filter}}"
                    select="{{crm_prpststnsfncs_lst_cntrllr.selectPage && crm_prpststnsfncs_lst_cntrllr.selected.length === crm_prpststnsfncs_lst_cntrllr.entities.length && !crm_prpststnsfncs_lst_cntrllr.selectAll && !crm_prpststnsfncs_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{crm_prpststnsfncs_lst_cntrllr.selectAll}}"
                    item-in-page="{{crm_prpststnsfncs_lst_cntrllr.entities.length}}"
                    item-all="{{crm_prpststnsfncs_lst_cntrllr.entities[0].full_count}}">
                </nsj-toolbar>
                <div class="panel-body body-list">
                    <div class="list-group" id="crm_propostasitensfuncoes_list"
                        infinite-scroll='crm_prpststnsfncs_lst_cntrllr.nextPage()'
                        infinite-scroll-disabled='crm_prpststnsfncs_lst_cntrllr.isBusy()' infinite-scroll-distance='1'>
                        <a href
                            ui-sref='crm_propostasitensfuncoes_show({propostaitem : crm_prpststnsfncs_lst_cntrllr.constructors.propostaitem,propostaitemfuncao : entity.propostaitemfuncao})'
                            class="list-group-item" ng-repeat="entity in crm_prpststnsfncs_lst_cntrllr.entities"
                            ui-sref-active="active">

                            <h4 class="list-group-item-heading">
                                {{ entity.quantidade }}
                            </h4>
                            <p class="list-group-item-text">
                                {{ entity.propostaitem }}
                            </p>
                            <p class="list-group-item-text"><strong>Descrição:</strong>

                                {{ entity.funcao.descricao }}
                            </p>
                            <p class="list-group-item-text"><strong>Código:</strong>

                                {{ entity.funcao.codigo }}
                            </p>
                        </a>
                        <p class="list-group-item"
                            ng-if="!crm_prpststnsfncs_lst_cntrllr.finished && (crm_prpststnsfncs_lst_cntrllr.service.to_load <= 0)">
                            <a href="" ng-click="crm_prpststnsfncs_lst_cntrllr.loadMore()">Ver mais...</a>
                        </p>
                        <p class="text-center article-loading height-full"
                            ng-class="{'onloading' : crm_prpststnsfncs_lst_cntrllr.isBusy() }"
                            ng-if="crm_prpststnsfncs_lst_cntrllr.isBusy()"></p>
                        <p class="text-center nfound"
                            ng-if="crm_prpststnsfncs_lst_cntrllr.entities.length == 0 && !crm_prpststnsfncs_lst_cntrllr.isBusy()">
                            Nenhum dado encontrado</p>
                    </div>

                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class="content-loading" ng-if="crm_prpststnsfncs_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>