<div class="row">

    <div class="height-full forms">
        <div class="col-md-12">

            <h2 class="text-center icon-lg">
                <i class="el el-exclamation-sign el-lg"></i>
            </h2>
            <h2 class="text-center">Usuário sem cliente vinculado</h2>
            <p class="text-center">Desculpe, mas não conseguimos encontrar nenhum cliente vinculado à sua conta.</p>
            <p class="text-center">Clique no botão abaixo para vincular um cliente à sua conta.</p>
            <p class="text-center">
                <button ng-click="controller.open()" class="btn btn-md btn-primary">Vincular Cliente</button>
            </p>
        </div>
    </div>

</div>