<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="fornecedor">Fornecedor</label>
                <nsj-lookup name="fornecedor" id-name="fornecedor" factory="NsFornecedores"
                    ng-model="$ctrl.entity.fornecedor" max-label="1" constructor="{  }" config='{ "nome":"Nome",  }'
                    disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="propostaitem">Proposta Item</label>
                <nsj-lookup name="propostaitem" id-name="propostaitem" factory="CrmPropostasitens"
                    ng-model="$ctrl.entity.propostaitem" max-label="1"
                    constructor="{ 'negocio' : $ctrl.entity.negocio, 'proposta' : $ctrl.entity.proposta,  }"
                    config='{ "nome":"Nome", "codigo":"Código", "descricao":"Descrição",  }'
                    disabled="$ctrl.entity.$$__submitting"
                    filter=" {'propostaitem':{'condition':'neq', 'value': $ctrl.constructors.propostaitem }}">
                </nsj-lookup>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="propostaitemfamilia">Propostas Itens
                    Familias</label>
                <nsj-lookup name="propostaitemfamilia" id-name="propostaitemfamilia" factory="CrmPropostasitensfamilias"
                    ng-model="$ctrl.entity.propostaitemfamilia" max-label="1"
                    constructor="{ 'propostaitem' : $ctrl.entity.propostaitem,  }"
                    config='{ "propostaitemfamilia":"familia", "valor":"valor",  }'
                    disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="propostaitemfuncao">Propostas Itens
                    Funcoes</label>
                <nsj-lookup name="propostaitemfuncao" id-name="propostaitemfuncao" factory="CrmPropostasitensfuncoes"
                    ng-model="$ctrl.entity.propostaitemfuncao" max-label="1"
                    constructor="{ 'propostaitem' : $ctrl.entity.propostaitem,  }"
                    config='{ "propostaitemfuncao":"funcao",  }' disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="itemfaturamento">Item faturamento</label>
                <nsj-lookup name="itemfaturamento" id-name="servico" factory="ServicosItensdefaturamento"
                    ng-model="$ctrl.entity.itemfaturamento" max-label="1" constructor="{  }"
                    config='{ "nome":"Nome", "codigo":"Código", "descricao":"Descrição",  }'
                    disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="valorreceber">valor receber</label><input
                    type='text' class="form-control" id="valorreceber" name="valorreceber"
                    ng-model="$ctrl.entity.valorreceber" ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="valor">valor</label><input type='text'
                    class="form-control" id="valor" name="valor" ng-model="$ctrl.entity.valor"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="desconto">desconto</label><input type='text'
                    class="form-control" id="desconto" name="desconto" ng-model="$ctrl.entity.desconto"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="acrescimo">acrescimo</label><input type='text'
                    class="form-control" id="acrescimo" name="acrescimo" ng-model="$ctrl.entity.acrescimo"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="negocio"></label><input type='text'
                    class="form-control" id="negocio" name="negocio" ng-model="$ctrl.entity.negocio"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="proposta"></label><input type='text'
                    class="form-control" id="proposta" name="proposta" ng-model="$ctrl.entity.proposta"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="execucaodeservico"></label><input type='text'
                    class="form-control" id="execucaodeservico" name="execucaodeservico"
                    ng-model="$ctrl.entity.execucaodeservico" ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="motivo"></label><input type='text'
                    class="form-control" id="motivo" name="motivo" ng-model="$ctrl.entity.motivo"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="custom-checkbox checkbox" ng-class="{'disabled':$ctrl.entity.$$__submitting}"><label
                    class="control-label" for="faturar"><input type='checkbox' class="" id="faturar" name="faturar"
                        ng-model="$ctrl.entity.faturar" ng-disabled="$ctrl.entity.$$__submitting" /><span
                        class="checkmark"></span>


                    faturar
                </label></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="tipoatualizacao">tipoatualizacao</label><input
                    type='text' class="form-control" id="tipoatualizacao" name="tipoatualizacao"
                    ng-model="$ctrl.entity.tipoatualizacao" ng-disabled="$ctrl.entity.$$__submitting"
                    convert-to-number=" " /></div>
        </div>
    </div>
</form>