 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-6" >
                                                    <div class="form-group"><label class="control-label" for="funcao">Função</label><nsj-lookup
            name="funcao"
            id-name="funcao"
            factory="GpFuncoes"  
            ng-model="$ctrl.entity.funcao" 
                                                max-label="2"
            constructor="{  }"
            config='{ "codigo":"Código", "descricao":"Descrição",  }'
            disabled = "$ctrl.entity.templatecomposicaofuncao||$ctrl.entity.$$__submitting"
                        required = "($ctrl.entity.templatecomposicaofuncao||$ctrl.entity.$$__submitting) !== true"
                                                ></nsj-lookup><div ng-messages="$ctrl.form.funcao.$error"  ng-if="$ctrl.form.funcao.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo função não pode ser vazio.
                    
                    
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="quantidade">Quantidade</label><input type='text' class="form-control"     id="quantidade" name="quantidade"           ng-model="$ctrl.entity.quantidade" ng-disabled="$ctrl.entity.$$__submitting" convert-to-number=" " /><div ng-messages="$ctrl.form.quantidade.$error"  ng-if="$ctrl.form.quantidade.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="greaterthan" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    A quantidade deve ser maior que 0.
                    
                    
                </div></div></div>
                        </div></div>
</form>
