           
                    <div class="row " ><div class="col-sm-12" ><fieldset ><legend>
            Informações Gerais                        
        </legend><div class="row  row-form-view" ><div class="col-sm-12" >
                            <div class="form-group clearfix">
        <label class="control-label">Nome Fantasia</label>
        <p class="form-control-static" >
            <span id="fornecedores" class="form-control-static" ng-bind="$ctrl.entity.fornecedores.nomefantasia || 'Não informado'" ></span>
            <br>
        </p>
    </div>
        </div></div><div class="row  row-form-view" ><div class="col-sm-12" >
                            <div class="form-group clearfix"><label class="control-label">Razão Social </label><p class="form-control-static" ><span
                id="razaosocial" class="form-control-static" ng-bind="($ctrl.entity.fornecedores.razaosocial) || 'Não informado'"
                ></span></p></div>
        </div></div><div class="row  row-form-view" ><div class="col-sm-12" >
                        	<div ng-if="$ctrl.entity.fornecedores.cnpj.length == 14" class="form-group clearfix">
		<label class="control-label">CNPJ
		</label>
		<p class="form-control-static">
			<span id="cnpj" class="form-control-static" ng-bind="($ctrl.entity.fornecedores.cnpj| mask: '99.999.999/9999-99') || 'Não informado'"></span>
		</p>
	</div>
	<div ng-if="$ctrl.entity.fornecedores.cnpj.length == 11" class="form-group clearfix">
		<label class="control-label">CPF
		</label>
		<p class="form-control-static">
			<span id="cnpj" class="form-control-static" ng-bind="($ctrl.entity.fornecedores.cnpj| mask: '999.999.999-99') || 'Não informado'"></span>
		</p>
	</div>
        </div></div></fieldset></div></div><div class="row " ><div class="col-sm-12" ><fieldset ><legend>
            Ficha de Suspensão                        
        </legend><div class="row  row-form-view" ><div class="col-sm-12" >
                                                    <div class="form-group clearfix"><label class="control-label">Tipo </label><p class="form-control-static" ><span
                                    id="tipo" class="form-control-static" ng-bind="({&quot;1&quot;:&quot;Suspens\u00e3o&quot;,&quot;2&quot;:&quot;Banimento&quot;}[$ctrl.entity.tipo])|| 'Não informado'"
                                ></span></p></div>
                        </div></div><div class="row  row-form-view" ><div class="col-sm-12" >
                                                    <div class="form-group clearfix"><label class="control-label">Justificativa </label><p class="form-control-static" ><span
                                    id="motivo_suspensao" class="form-control-static" ng-bind="($ctrl.entity.motivo_suspensao) || 'Não informado'"
                                ></span></p></div>
                        </div></div><div class="row  row-form-view" ><div class="col-sm-6" >
                                                    <div class="form-group clearfix"><label class="control-label">Data de Suspensão </label><p class="form-control-static" ><span
                                    id="created_at" class="form-control-static" ng-bind="($ctrl.entity.created_at| asDate | date: 'dd/MM/yyyy')|| 'Não informado'"
                                ></span></p></div>
                        </div><div class="col-sm-6" >
                                                    <div class="form-group clearfix"><label class="control-label">Data de Liberação </label><p class="form-control-static" ><span
                                    id="data_fim" class="form-control-static" ng-bind="($ctrl.entity.data_fim| asDate | date: 'dd/MM/yyyy')|| 'Não informado'"
                                ></span></p></div>
                        </div></div></fieldset></div></div>
