<div class="modal-solicitar-orcamento-email">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Solicitar orçamento por e-mail</h3>
    </div>
    <div class="modal-body form-loading-layout-wrapper-body">
        <div class="tela-container">
            <div class="dados-container prestador-container">
                <div class="titulo">Prestador de Serviços</div>
                <div class="compo-container">
                    <select class="form-control"
                        ng-model="crm_atcs_slc_orc_email_mdl_ctrl.fornecedorid"
                        ng-change="crm_atcs_slc_orc_email_mdl_ctrl.onPrestadorChange()">
                        <option 
                            ng-repeat="fornecedorEnvolvido in crm_atcs_slc_orc_email_mdl_ctrl.arrFornecedoresEnvolvidos"
                            ng-value="fornecedorEnvolvido.fornecedor.fornecedor"
                        >
                            {{fornecedorEnvolvido.fornecedor.nomefantasia}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- Lista de e-mails a serem enviados -->
            <div class="emails-container dados-container">
                <div class="titulo">Destinatários</div>
                <div class="tags-input-container">
                    <!-- {# Dados que já serão exibidos assim que o input for mostrado #} 
                    {# Propriedade a ser renderizada como o rótulo da tag #}
                    {# Permite adicionar a tag, faz a validação só no envio #} -->

                    <tags-input ng-model="crm_atcs_slc_orc_email_mdl_ctrl.emails" 
                    placeholder="Digite um e-mail"
                    display-property="email"
                    type="email"
                        allowed-tags-pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        ng-disabled="crm_atcs_slc_orc_email_mdl_ctrl.busyEnvio">

                        <!-- {# Função do controller que retorna a lista de emails buscando a string passada #}
                        {# Id do template customizado. Id porque estou definindo o template inline, se fosse em um arquivo HTML, seria a URL #} -->
                        <auto-complete source="crm_atcs_slc_orc_email_mdl_ctrl.buscarEmails($query)"
                        template="template-emails">
                        </auto-complete>
                    </tags-input>

                    <!-- {# 
                        Criando o template customizado inline
                        $getDisplayText(): Retorna o texto de exibição de acordo com a opção displayProperty definida na tags-input
                        data: Contém os dados correspondentes
                    #} -->
                    <script type="text/ng-template" id="template-emails">
                        <div class="email-busca-container">
                            <div class="nome-email">
                                {{ data.nomecompleto }} {{ "<" + data.email + ">" }}
                            </div>
                            <div class="referencia-contato">
                                {{ data.tipocontatodescricao }}, 
                                {{ data.pessoanomefantasia }}
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </div>
        <div class="content-loading" ng-if="crm_atcs_slc_orc_email_mdl_ctrl.isBusy()">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="fechar btn btn-sm" ng-click="crm_atcs_slc_orc_email_mdl_ctrl.close()"
            ng-disabled="crm_atcs_slc_orc_email_mdl_ctrl.isBusy() || crm_atcs_slc_orc_email_mdl_ctrl.busyEnvio">
            Cancelar
        </a>
        <button type="button" class="btn btn-sm btn-default btn-enviar-email"
            ng-disabled="crm_atcs_slc_orc_email_mdl_ctrl.isBusy() || crm_atcs_slc_orc_email_mdl_ctrl.busyEnvio"
            ng-click="crm_atcs_slc_orc_email_mdl_ctrl.enviarEmail()" ng-class="{loading: crm_atcs_slc_orc_email_mdl_ctrl.busyEnvio}">

            <i class="fas fa-paper-plane"></i>
            <span class="texto">Enviar</span>
        </button>
    </div>
</div>