<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        ng-click="cnfrmc_fnlzr_tndmnt_mdl_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
    <h3 nclass="modal-title" id="modal-title">Finalizar Atendimento</h3>
</div>

<div class="modal-body" id="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Ao finalizar o atendimento a situação passará a ser finalizado e somente os cards de pendências, acompanhamentos, 
                    documentos automáticos e documentos poderão ser alterados.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">

    <div class="pull-right">
        <a class="" ng-click="cnfrmc_fnlzr_tndmnt_mdl_cntrllr.close()" style="cursor: pointer;">
            <i class="fa fa-times" aria-hidden="true"></i>
            Cancelar</a>

        <button
            type="button" name="submit" class="btn btn-warning"
            ng-click="cnfrmc_fnlzr_tndmnt_mdl_cntrllr.submit()">
            <i class="fa fa-lock" aria-hidden="true"></i> Finalizar Atendimento
        </button>
        
    </div>
</div>