<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="contratante"></label><input type='text'
                    class="form-control" id="contratante" name="contratante" ng-model="$ctrl.entity.contratante"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.contratante.$error"
                    ng-if="$ctrl.form.contratante.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Contratante não pode estar vazio


                    </div>
                </div>
            </div>
        </div>
    </div>
</form>