<table ng-class="$tree_class">
   <thead>
       <tr>
           <th ng-class="expandingProperty.titleClass" ng-style="expandingProperty.titleStyle">
               {{expandingProperty.displayName || expandingProperty.field || expandingProperty}}
           </th>
           <th ng-repeat="col in colDefinitions" ng-class="col.titleClass" ng-style="col.titleStyle">
               {{col.displayName || col.field}}
           </th>
       </tr>
   </thead>
   <tbody tree-dnd-nodes>
       <tr tree-dnd-node="node" ng-repeat="node in tree_nodes track by node.__hashKey__" 
           ng-if="(node.__inited__ || node.__visible__)"
           ng-click="$ctrl.carregarFilhos(node)" 
           ng-class="(node.__selected__ ? \' active\':\'\')">
           <td tree-dnd-node-handle
               ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {\'padding-left\': $callbacks.calsIndent(node.__level__)}"
               ng-class="expandingProperty.cellClass"
               compile-template="expandingProperty.cellTemplate">
               <a data-nodrag>
                  <span ng-if="node.__children__.length == 0"> <i ng-if="node.__children__.length == 0" ng-class="$ctrl.getIcon(node)" ng-click="toggleExpand(node)" class="tree-icon"></i> </span>
                  <i ng-class="node.__icon_class__" ng-click="toggleExpand(node)" class="tree-icon"></i>  {{node["nome"]}} <span class="badge badge-info" ng-if="node._info_">{{node["_info_"]}}</span>
               </a>
              {{node[expandingProperty.field] || node[expandingProperty]}}
           </td>
           <td ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle" compile="col.cellTemplate">
               {{node[col.field]}}
           </td>
       </tr>
   </tbody>
   <tfooter>
       <tr>
           <td colspan="3">Testesese</td>
       </tr>
   </tfooter>
</table>