<div ng-if="ctrl_docsautomaticos.inicializado" class="div-atcsdocumentosautomaticos form-loading-layout-wrapper-body">
    <tree-grid ng-if="ctrl_docsautomaticos.dadosTreeEmCascata.length > 0 && (!ctrl_docsautomaticos.isBusyDocumentos() || ctrl_docsautomaticos.busyGeracaoDocumento)"
        tree-data="ctrl_docsautomaticos.dadosTreeEmCascata" 
        expand-on="ctrl_docsautomaticos.expanding_property" 
        tree-control="ctrl_docsautomaticos.treeDocsAutomaticos"
        col-defs="ctrl_docsautomaticos.col_defs" 
        sorted-asc="fas fa-sort-alpha-up-alt" 
        sorted-desc="fas fa-sort-alpha-down-alt" 
        icon-expand="fas fa-chevron-right" 
        icon-collapse="fas fa-chevron-down">
    </tree-grid>

    <div ng-if="ctrl_docsautomaticos.dadosTreeEmCascata.length == 0 && !ctrl_docsautomaticos.isBusyDocumentos()"
        class="msg-sem-documentos">
        <div class="texto">Nenhum documento a exibir.</div>
    </div>
    <div class="content-loading" ng-if="ctrl_docsautomaticos.isBusyDocumentos()">
        <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
        </div>
    </div>
</div>