<div class="nsj-form div-atcsdocumentos">
    <ns-dropzone 
        add-file="ctrl_documentos.addFile(file)" error-file="ctrl_documentos.errorFile(response)" 
        model="ctrl_documentos.modelDropzone" options="ctrl_documentos.options" 
        remove-file="ctrl_documentos.removeFile(file)" success-file="ctrl_documentos.successFile(response)"
        ng-disabled="ctrl_documentos.isBusyDocumentos()"></ns-dropzone>

    <div class="padding-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="div-form">
                    <label class="lbl-form" for="tipodocumento">Tipo de Documento</label>
                    <select class="form-control" id="tipodocumento" name="tipodocumento" 
                        ng-model="ctrl_documentos.tipoDocumentoSelecionado" 
                                                ng-options="tipo.nome for tipo in ctrl_documentos.documentosParaListar track by tipo.tipodocumento"
                        ng-disabled = "ctrl_documentos.documentosParaListar == null || ctrl_documentos.documentosParaListar == undefined || ctrl_documentos.documentosParaListar.length < 1"
                        ng-change="ctrl_documentos.habilitarDesabilitarEnvio()">
                        <option disabled select value="">Tipo de documento</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3">
                <div style="padding-top: 50px;">
                    <button class="btn btn-sm btn-warning btn-save"
                            id="btnEnviar"
                            name="btnEnviar"
                            ng-class="{loading:cddsnfrmcsfnrrs_frm_nw_cntrllr.entity.$$__submitting}"
                            ng-click=" ctrl_documentos.salvarDocumento()"
                            ng-disabled="!ctrl_documentos.isEnvioHabilitado() || ctrl_documentos.isBusyDocumentos() || ctrl_documentos.documentosParaListar.length < 1"
                            type="button">
                        <i class="fa fa-check"></i>
                        Enviar
                    </button>
                </div>
            </div>

            <div class="col-sm-3">
                <div style="padding-top: 50px;">
                    <button class="btn btn-sm btn-warning btn-save" id="btnEnviar" name="btnEnviar" 
                        ng-click="ctrl_documentos.crmAtcstiposdocumentosrequisitantesForm()" type="button"
                        ng-disabled="ctrl_documentos.isBusyDocumentos()">
                        <i class="fa fa-plus"></i>
                        Solicitar novo tipo de documento
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row div-documentos" ng-if="!ctrl_documentos.isBusyDocumentos()">
    <nsj-objectlist 
        ng-prop-list="ctrl_documentos.documentosParaListar" 
        ng-prop-columns="ctrl_documentos.configObjectlist"
        ng-prop-config="ctrl_documentos.montaListaDocumentos"
        max-info="5"
        view-mode="list"
        >
    </nsj-objectlist>
    </div>
</div>

<div class="content-loading"  ng-if="ctrl_documentos.isBusyDocumentos()">
    <div class="center-loading text-center">
    <div class="onloading"></div>
    Carregando...
    </div>
</div>
