<div class="div-documentos-modal">

    <h2 class="titulo-modal">Análise de documento</h2>

	<hr>

	<div class="row">
		<div class="col-sm-6">
			<div class="div-imagem" style="background-image: url({{ctrlModal.documento.url}});"></div>
		</div>

		<div class="col-sm-6">

			<p class="p-dados">
				<label class="lbl-atcdocumento-geral">Documento: </label>
				{{ctrlModal.documento.tipodocumento.nome}}

				<span ng-if="ctrlModal.documento.status == '1' && ctrlModal.documento.analiseFinalizada == true" class="span-status-modal" style="background-color: rgb(240, 173, 78);">
					RECEBIDO
				</span>

				<span ng-if="ctrlModal.documento.status == '2' && ctrlModal.documento.analiseFinalizada == true" class="span-status-modal" style="background-color: rgb(92, 182, 92);">
					PRÉ-APROVADO
				</span>

				<span ng-if="ctrlModal.documento.status == '3' && ctrlModal.documento.analiseFinalizada == true" class="span-status-modal" style="background-color: rgb(51, 121, 183);">
					ENVIADO PARA O REQUISITANTE
				</span>

				<span ng-if="ctrlModal.documento.status == '4' && ctrlModal.documento.analiseFinalizada == true" class="span-status-modal" style="background-color: rgb(92, 182, 92);">
					APROVADO
				</span>

				<span ng-if="ctrlModal.documento.status == '5'  && ctrlModal.documento.analiseFinalizada == true" class="span-status-modal" style="background-color: rgb(188, 70, 70);">
					RECUSADO
				</span>
			</p>
			<p class="p-dados">
				<label class="lbl-atcdocumento-geral">Recebido em:</label>
				{{ctrlModal.documento.created_at | amDateFormat:"DD/MM/YYYY" }}
			</p>
			<p class="p-dados">
				<label class="lbl-atcdocumento-geral">Exige cópia simples:</label>
				{{ctrlModal.copiasexigidas.copiasimples.exige ? 'Sim ' + '('+ctrlModal.copiasexigidas.copiasimples.requisitantes+')' : 'Não'}} 
			</p>
			<p class="p-dados">
				<label class="lbl-atcdocumento-geral">Exige cópia autenticada:</label>
				{{ctrlModal.copiasexigidas.copiaautenticada.exige ? 'Sim ' + '('+ctrlModal.copiasexigidas.copiaautenticada.requisitantes+')': 'Não'}}
			</p>
			<p class="p-dados">
				<label class="lbl-atcdocumento-geral">Exige original:</label>
				{{ctrlModal.copiasexigidas.original.exige ? 'Sim ' + '('+ctrlModal.copiasexigidas.original.requisitantes+')' : 'Não'}}
			</p>
			<p class="p-dados">
				<label class="lbl-atcdocumento-geral">Aguardado por:</label>
				{{ctrlModal.getRequisitante()}}
            </p>
            <p class="p-dados">
				<label class="lbl-atcdocumento-geral">Enviar por e-mail:</label>
				{{ctrlModal.copiasexigidas.enviarporemail ? 'Sim ' : 'Não'}}
			</p>
            <p class="p-dados">
				<label class="lbl-atcdocumento-geral">Pedir informações adicionais:</label>
				{{ctrlModal.copiasexigidas.pedirinformacoesadicionais ? 'Sim ' : 'Não'}}
			</p>

			<div class="div-modal-resultado" ng-if="ctrlModal.documento.analiseFinalizada == false">
				<fieldset class="field-set">
					<legend>Resultado da análise</legend>
					
					<div>
						<input type="radio" id="status" name="status" value="2" ng-model="ctrlModal.documento.status" ng-checked="ctrlModal.documento.status == 2"> Aprovado
					</div>
					<div>
						<input type="radio" id="status" name="status" value="5" ng-model="ctrlModal.documento.status"  ng-checked="ctrlModal.documento.status == 5"> Reprovado
					</div>
				</fieldset>

				<div class="div-descricao">
						<div ng-show="ctrlModal.documento.status == '5'">
						<label>Descrição:
						</label>
						<br>
						<textarea id="descricao" name="descricao" ng-model="ctrlModal.documento.descricao">
						</textarea>
					</div>
				</div>

			</div>

			<div class="div-modal-resultado" ng-if="ctrlModal.documento.analiseFinalizada == true">
				<span ng-if="ctrlModal.documento.status == '5'"><label class="lbl-atcdocumento-geral">Recusado porque:</label> {{ctrlModal.documento.descricao}}</span>
			</div>

			<div class="div-bottom">
				<hr>

				<button ng-if="ctrlModal.documento.analiseFinalizada == false" class="btn btn-warning" ng-click="ctrlModal.finalizarAnalise(ctrlModal.documento)">Finalizar Análise</button>
    			<button ng-if="ctrlModal.documento.analiseFinalizada == false" class="btn btn-default" ng-click="ctrlModal.close()">Cancelar</button>
				<button ng-if="ctrlModal.documento.analiseFinalizada == true" class="btn btn-default" ng-click="ctrlModal.close()">Fechar</button>
			</div>
		</div>
	</div>
</div>
