<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="mensagememail">Mensagem</label><input type='text'
                    class="form-control" id="mensagememail" name="mensagememail" ng-model="$ctrl.entity.mensagememail"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="atcconfiguracaodocumento">Configuração
                    documento</label><input type='hidden' class="form-control" id="atcconfiguracaodocumento"
                    name="atcconfiguracaodocumento" ng-model="$ctrl.entity.atcconfiguracaodocumento"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="atcconfiguracaotemplateemail">Template de
                    e-mail</label>
                <nsj-lookup name="atcconfiguracaotemplateemail" id-name="atcconfiguracaotemplateemail"
                    factory="CrmAtcsconfiguracoestemplatesemails" ng-model="$ctrl.entity.atcconfiguracaotemplateemail"
                    max-label="1" constructor="{ 'atcconfiguracaodocumento' : $ctrl.entity.atcconfiguracaodocumento,  }"
                    config='{ "codigo":"Código",  }' disabled="$ctrl.entity.$$__submitting"
                    required="($ctrl.entity.$$__submitting) !== true"></nsj-lookup>
                <div ng-messages="$ctrl.form.atcconfiguracaotemplateemail.$error"
                    ng-if="$ctrl.form.atcconfiguracaotemplateemail.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo Template de e-mail não pode estar vazio


                    </div>
                </div>
            </div>
        </div>
    </div>
</form>