<div ng-controller="CrmAtcsFormController as crm_tcs_frm_cntrllr" ng-inject="{entity:crm_tcs_cntrllr.entity}"
    ng-init="crm_tcs_frm_cntrllr.entity = crm_tcs_cntrllr.entity">
    <div class="height-full layout-table form-loading-layout-wrapper">
        <form nsj-focus name="crm_tcs_frm_cntrllr.form" novalidate="novalidate" role="form" class="height-full">
            <div class="nsj-form padding-content ">
                <crm-atcs-default entity="crm_tcs_frm_cntrllr.entity" ng-submit="crm_tcs_frm_cntrllr.submit()"
                    form="crm_tcs_frm_cntrllr.form" busy="crm_tcs_frm_cntrllr.busy" action="crm_tcs_frm_cntrllr.action"
                    constructors="crm_tcs_frm_cntrllr.constructors"></crm-atcs-default>
                <ul class="list-unstyled list-inline pull-left">
                    <li>
                        <div class="form-group pull-left btn-salvar-atc">

                            <button type="button" ng-click="crm_tcs_frm_cntrllr.submit()"
                                ng-class="{loading:crm_tcs_frm_cntrllr.busySubmit}"
                                ng-disabled="crm_tcs_frm_cntrllr.busySubmit || crm_tcs_frm_cntrllr.form.$pristine"
                                class="btn btn-sm btn-warning btn-save btn-geral">
                                <i class="fa fa-check"></i>
                                Salvar
                            </button>

                            <a class="btn btn-sm" ng-click="crm_tcs_cntrllr.mostrarEditar()"
                                ng-if="crm_tcs_cntrllr.criandoNovo()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancelar</a>

                        </div>
                    </li>
                </ul>
            </div>

            <div class="content-loading ajusta-flex" ng-if="crm_tcs_frm_cntrllr.busy">
                <div>
                    <div ng-class="{'onloading' : crm_tcs_frm_cntrllr.busy}"></div>
                    <p>Carregando...</p>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- {# 
    {% extends '@MDA/Crm/Atcs/form.html.twig' %}
    
    {% block viewedit_header_toolbar -%}
    <nsj-headline headline-title="{% block viewedit_header_toolbar_title -%} Atendimento Comercial {% endblock viewedit_header_toolbar_title -%}" headline-sub="true">
        <div ><span class="label top-buffer-min left-buffer"
                    id="status" name="status"
                                ng-class="{'label-primary' : crm_tcs_frm_cntrllr.entity.status == 0,
                                'label-default' : crm_tcs_frm_cntrllr.entity.status == 1,
                                'label-success' : crm_tcs_frm_cntrllr.entity.status == 2,
                                'label-danger' : crm_tcs_frm_cntrllr.entity.status == 3 }">
                {{'{{ crm_tcs_frm_cntrllr.entity.statusLabel }}'}}
            </span>
        </div>
        <div class="pull-right">
            {% block viewedit_toolbar_btn_area %}
    
            <a class="btn btn-sm btn-default" ui-sref="crm_atcs({})" title="Voltar à lista">Voltar à lista</a>
    
            {% endblock viewedit_toolbar_btn_area %}
    
        </div>
    </nsj-headline>
    {% endblock viewedit_header_toolbar -%} #} -->