<div ng-class="{'nsj-loading-page' : crm_tcs_lst_cntrllr.busy }" class='crm_atcs nsj-layout  layout-table '>
    <div class="nsj-aside-list height-full col-md-12"
        ng-class="{ 'hidden-sm hidden-xs' : (('crm_atcs_show'| isStateEq) || ('crm_atcs_edit'| isStateEq) || ('crm_atcs_new'| isStateEq ))}">
        <div class='row height-full'>

            <div class="panel panel-default height-full">
                <nsj-headline headline-title="Atendimentos Comerciais: {{crm_tcs_lst_cntrllr.areaFilter.nome}}"
                    ng-class="{ 'hidden-sm hidden-xs' : (('crm_atcs_show'| isStateEq) || ('crm_atcs_edit'| isStateEq) || ('crm_atcs_new'| isStateEq ))}">

                    <nsj-button tem-permissao="crm_atcs_create" color="warning" icon="fa fa-plus" size="xs"
                        class="hidden-xs"
                        ui-sref="crm_atcs_full_new({area:crm_tcs_lst_cntrllr.areaFilter.negocioarea})">
                        Criar
                    </nsj-button>


                    <nsj-button tem-permissao="crm_atcs_create" color="warning" format="fixed circle" icon="fa fa-plus"
                        size="lg" class="hidden-sm hidden-md hidden-lg"
                        ui-sref="{{ crm_tcs_lst_cntrllr.areaFilter.negocioarea ? 'crm_atcs_full_new({area:crm_tcs_lst_cntrllr.areaFilter.negocioarea})' : 'crm_atcs_full_new' }}">
                        <span class="hidden-xs">Criar</span>
                    </nsj-button>


                </nsj-headline>

                <div class="container-fluid">

					<!-- {# Radio Button que controla qual filtro vai ser exibido #} -->
                    <form>

                        <label>Filtrar por: </label>
                        <input type="radio" id="criacao" name="filtro"
                            ng-click="crm_tcs_lst_cntrllr.exibeFiltro('criacao')" checked>
                        <label for="criacao">Data de Criação</label>

                        <input type="radio" id="edicao" name="filtro"
                            ng-click="crm_tcs_lst_cntrllr.exibeFiltro('edicao')">
                        <label for="edicao">Data de Atualização</label>

                    </form>

                    <div class="row" ng-if="crm_tcs_lst_cntrllr.filtroExibido === 'criacao'">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="datahorainicio">De:</label>
                                <nsj-date-picker
                                    datepickeropts="{'disable-days-after': 'crm_tcs_lst_cntrllr.datacriacao.datahorafim'}"
                                    class="filter-date-pickers" editable='true' init-value='$ctrl.entity.datahorainicio'
                                    date-position="right" type-select="single"
                                    opts="{'class':'form-control', 'id':'datahorainicio', 'name':'datahorainicio' , 'ng-model':'crm_tcs_lst_cntrllr.datacriacao.datahorainicio' , 'ng-disabled':'$ctrl.entity.$$__submitting' }">
                                </nsj-date-picker>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="datahorafim">Até:</label>
                                <nsj-date-picker
                                    datepickeropts="{'disable-days-before': 'crm_tcs_lst_cntrllr.datacriacao.datahorainicio'}"
                                    class="filter-date-pickers" editable='true' init-value='$ctrl.entity.datahorafim'
                                    date-position="right" type-select="single"
                                    opts="{'class':'form-control', 'id':'datahorafim', 'name':'datahorafim' , 'ng-model':'crm_tcs_lst_cntrllr.datacriacao.datahorafim' , 'ng-disabled':'$ctrl.entity.$$__submitting' }">
                                </nsj-date-picker>
                            </div>
                        </div>
                    </div>
					<!-- {# Filtro por data de atualização #} -->
                    <div class="row" ng-if="crm_tcs_lst_cntrllr.filtroExibido === 'edicao'">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="datahorainicio">De: </label>
                                <nsj-date-picker
                                    datepickeropts="{'disable-days-after': 'crm_tcs_lst_cntrllr.dataedicao.datahorafim'}"
                                    class="filter-date-pickers" editable='true' init-value='$ctrl.entity.datahorainicio'
                                    date-position="right" type-select="single"
                                    opts="{'class':'form-control', 'id':'datahorainicioedicao', 'name':'datahorainicio' , 'ng-model':'crm_tcs_lst_cntrllr.dataedicao.datahorainicio' , 'ng-disabled':'$ctrl.entity.$$__submitting' }">
                                </nsj-date-picker>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="datahorafim">Até: </label>
                                <nsj-date-picker
                                    datepickeropts="{'disable-days-before': 'crm_tcs_lst_cntrllr.dataedicao.datahorainicio'}"
                                    class="filter-date-pickers" editable='true' init-value='$ctrl.entity.datahorafim'
                                    date-position="right" type-select="single"
                                    opts="{'class':'form-control', 'id':'datahorafimedicao', 'name':'datahorafim' , 'ng-model':'crm_tcs_lst_cntrllr.dataedicao.datahorafim' , 'ng-disabled':'$ctrl.entity.$$__submitting' }">
                                </nsj-date-picker>
                            </div>
                        </div>
                    </div>
                </div>
                <nsj-toolbar ng-on-change_toolbar="crm_tcs_lst_cntrllr.search($event.detail)" search="true"
                    refresh="true" holder="Busca" model-search="{{crm_tcs_lst_cntrllr.service.filter}}"
                    select="{{crm_tcs_lst_cntrllr.selectPage && crm_tcs_lst_cntrllr.selected.length === crm_tcs_lst_cntrllr.entities.length && !crm_tcs_lst_cntrllr.selectAll && !crm_tcs_lst_cntrllr.service.loadParams.finished}}"
                    select-all="{{crm_tcs_lst_cntrllr.selectAll}}"
                    item-in-page="{{crm_tcs_lst_cntrllr.entities.length}}"
                    item-all="{{crm_tcs_lst_cntrllr.entities[0].full_count}}">
                    <nsj-filters slot="filters">
                        <nsj-lookup name="cliente" placeholder="Filtrar por Cliente ..." factory="NsClientes"
                            max-label="1" ng-model='crm_tcs_lst_cntrllr.clienteFilter' constructor="{  }"
                            config='{ "nomefantasia":"Nome",  }'></nsj-lookup>
                        <nsj-filter-seletor options="{{crm_tcs_lst_cntrllr.$rootScope.OPTIONS_CrmAtcs}} "
                            max-occurs="{{crm_tcs_lst_cntrllr.$rootScope.MAXOCCURS_CrmAtcs}} "
                            input="{{crm_tcs_lst_cntrllr.$rootScope.SELECTS_CrmAtcs}} " text-disabled="Selecionar..."
                            model="{{crm_tcs_lst_cntrllr.filters}} "></nsj-filter-seletor>
                    </nsj-filters>
                </nsj-toolbar>
                <div class="panel-body body-table">
                    <nsj-table fields="crm_tcs_lst_cntrllr.entities" fields-config='crm_tcs_lst_cntrllr.fields'
                        config-page='crm_tcs_lst_cntrllr.service.loadParams'
                        has-more-page='crm_tcs_lst_cntrllr.loadMore()'>
                        <nsj-actions action-model="{{$parent.entity}}">
                            
                            <nsj-action tem-permissao="crm_atcs_get" icon="fas fa-eye"
                                tooltip="Visualizar" disabled="false"
                                ui-sref="crm_atcs_full({atc : $parent.entity.negocio})">
                            </nsj-action>

                            <nsj-action icon="fas fa-tasks" tooltip="Ir para o projeto"
                                ng-if="$parent.entity.projeto && ($parent.entity.projeto.projeto!=null)"
                                ng-click="crm_tcs_lst_cntrllr.abrirProjeto($parent.$parent.entity)">
                            </nsj-action>
                            
                        </nsj-actions>
                        <div class="empty-page" ng-if="crm_tcs_lst_cntrllr.isFilterEmpty()">
                            <div class="text-center">
                                <span class="icon-page">
                                    <i class="fas fa-table fa-fw"></i>
                                </span>
                                <h3>Atendimentos Comerciais</h3>
                                <p>Ainda não existem itens nesta lista.</p>

                                <a tem-permissao="crm_atcs_create" class="btn btn-warning btn-sm"
                                    ui-sref="crm_atcs_full({})">
                                    <i class="fas fa-plus"></i>
                                    Criar</a>
                            </div>
                        </div>
                        <div ng-if="!crm_tcs_lst_cntrllr.isFilterEmpty()" class="empty-page">
                            <div class="text-center">
                                <p>Não foram encontrados itens para esta pesquisa.</p>
                            </div>
                        </div>
                    </nsj-table>
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
    </div>

    <div class="content-loading" ng-if="crm_tcs_lst_cntrllr.busy">
        <div class="center-loading text-center">
            <div class="onloading"></div>
            Carregando...
        </div>
    </div>
</div>