<div class="modal-header">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="crm_orcmnts_prnchr_mdl_cntrllr.close()"><span aria-hidden="true">&times;</span></button> -->
    <h3 class="modal-title pull-left" id="modal-title">Preenchimento de Orçamento</h3>

    <button tem-permissao="crm_orcamentos_enviar" ng-click="crm_orcmnts_prnchr_mdl_cntrllr.enviarOrcamento()" 
        ng-disabled="crm_orcmnts_prnchr_mdl_cntrllr.isBusy()"
        type="submit" name="submit" class="btn btn-default pull-right">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
</div>



<div class="modal-body mdl-bd-overflow-scroll" id="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="darker-loading content-loading loading-absolute"  ng-if="crm_orcmnts_prnchr_mdl_cntrllr.isBusy()">
                    <div class="center-loading text-center">
                    <div class="onloading"></div>
                    Carregando...
                    </div>
                </div>
                <p ng-if="crm_orcmnts_prnchr_mdl_cntrllr.lstOrcamentosPreencher.length > 0">*Quando o checkbox da coluna Faturar estiver desmarcado, não será faturado o item.</p>

                <!-- 
                    **

                    Após merge com atividade de colocar action nesta tree(35993), 
                    verificar se o problema do alinhamento do checkboxse resolve sem adicionar a classe
                    a esta tree. 

                    **
                -->
                <div ng-if="crm_orcmnts_prnchr_mdl_cntrllr.lstOrcamentosPreencher">
                    <tree-grid 
                    class="no-actions-tree"
                    ng-if="crm_orcmnts_prnchr_mdl_cntrllr.lstOrcamentosPreencher.length > 0" 
                    tree-data="crm_orcmnts_prnchr_mdl_cntrllr.lstOrcamentosPreencher" 
                    expand-on="crm_orcmnts_prnchr_mdl_cntrllr.expanding_property" 
                    col-defs="crm_orcmnts_prnchr_mdl_cntrllr.col_defs" 
                    sorted-asc="fas fa-sort-alpha-up-alt" 
                    sorted-desc="fas fa-sort-alpha-down-alt" 
                    icon-expand="fas fa-chevron-right" 
                    icon-collapse="fas fa-chevron-down"
                    get-row-class="crm_orcmnts_prnchr_mdl_cntrllr.verificaAlteracao"></tree-grid>
                    <div ng-if="crm_orcmnts_prnchr_mdl_cntrllr.lstOrcamentosPreencher === 'undefined' || crm_orcmnts_prnchr_mdl_cntrllr.lstOrcamentosPreencher.length === 0">
                        <p>Nenhum dado a exibir.</p>
                    </div>
                </div>

                <!-- \/ Vai receber a soma dos valores digitados na tree grid. \/ -->
                <div class="tree-grid-footer-appendix">
                    <div class="tree-grid-footer-appendix-inner">
                        
                        <div class="input-wrapper">
                            <div>
                                <strong>Orçamento real</strong>
                                <input disabled class="form-control tree-input text-right" ng-model="(crm_orcmnts_prnchr_mdl_cntrllr.orcamentoRealTotal | currency : 'R$ ' : 2) || '-'" ng-model-options="{ getterSetter: true }">
                            </div>
                            <strong>-</strong>
                        </div>
                        <div class="input-wrapper">
                            <div>
                                <strong>Total de descontos</strong>
                                <input disabled class="form-control tree-input text-right" ng-model="(crm_orcmnts_prnchr_mdl_cntrllr.descontoTotal | currency : 'R$ ' : 2) || '-'" ng-model-options="{ getterSetter: true }">
                            </div>
                            <strong>+</strong>
                        </div>
                        <div class="input-wrapper">
                            <div>
                                <strong>Total de acréscimos</strong>
                                <input disabled class="form-control tree-input text-right" ng-model="(crm_orcmnts_prnchr_mdl_cntrllr.acrescimoTotal | currency : 'R$ ' : 2) || '-'" ng-model-options="{ getterSetter: true }">
                            </div>
                            <strong>=</strong>
                        </div>
                        <div class="input-wrapper">
                            <div>
                                <strong class="pull-right">Orçamento total</strong>
                                <input disabled class="pull-right form-control tree-input text-right" ng-model="(crm_orcmnts_prnchr_mdl_cntrllr.orcamentoTotal | currency : 'R$ ' : 2) || '-'" ng-model-options="{ getterSetter: true }">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-20 panel panel-default" ng-if="false">
                    <div class="panel-heading">Local definido para sepultamento</div>
                    <div class="panel-body">
                        <div class="nsj-form-view bottom-buffer top-buffer" >            
                            <div class="row row-form-view" >
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">País </label>
                                        <p class="form-control-static" >
                                            <span id="nome" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localSepultamento.pais) || 'Não informado'"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Estado </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localSepultamento.estado) || 'Não informado'"></span></p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Cidade </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localSepultamento.cidade) || 'Não informado'"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-form-view" >
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Cemitério </label>
                                        <p class="form-control-static" >
                                            <span id="nome" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localSepultamento.cemiterio) || 'Não informado'"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Sepultamento </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localSepultamento.sepultamento) || 'Não informado'"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-20 panel panel-default" ng-if="false">
                    <div class="panel-heading">
                        <button class="btn-default-layout checked" type="button"><i class="fas fa-check-square"></i></button>
                            1º local de preferência para velório
                    </div>
                    <div class="panel-body">
                        <div class="nsj-form-view bottom-buffer top-buffer" >            
                            <div class="row row-form-view" >
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">País </label>
                                        <p class="form-control-static" >
                                            <span id="nome" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio1.pais) || 'Não informado'"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Estado </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio1.estado) || 'Não informado'"></span></p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Cidade </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio1.cidade) || 'Não informado'"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-form-view" >
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Capela </label>
                                        <p class="form-control-static" >
                                            <span id="nome" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio1.capela) || 'Não informado'"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Previsão de início </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio1.previsaoInicio | asDateTime | date: 'dd/MM/yyyy HH:mm') || 'Não informado.'"></span></p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Previsão de fim </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio1.previsaoFim | asDateTime | date: 'dd/MM/yyyy HH:mm') || 'Não informado.'"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="mt-20 panel panel-default" ng-if="false">
                    <div class="panel-heading">
                        <button class="btn-default-layout checked" type="button"><i class="fas fa-check-square"></i></button>
                            2º local de preferência para velório
                    </div>
                    <div class="panel-body">
                        <div class="nsj-form-view bottom-buffer top-buffer" >            
                            <div class="row row-form-view" >
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">País </label>
                                        <p class="form-control-static" >
                                            <span id="nome" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio2.pais) || 'Não informado'"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Estado </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio2.estado) || 'Não informado'"></span></p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Cidade </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio2.cidade) || 'Não informado'"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-form-view" >
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Capela </label>
                                        <p class="form-control-static" >
                                            <span id="nome" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio2.capela) || 'Não informado'"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Previsão de início </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio2.previsaoInicio | asDateTime | date: 'dd/MM/yyyy HH:mm') || 'Não informado.'"></span></p>
                                    </div>
                                </div>
                                <div class="col-sm-12" >
                                    <div class="form-group clearfix">
                                        <label class="control-label">Previsão de fim </label>
                                        <p class="form-control-static"><span id="codigo" class="form-control-static" ng-bind="(crm_orcmnts_prnchr_mdl_cntrllr.locaisOrcamentosPreencherInfo.localVelorio2.previsaoFim | asDateTime | date: 'dd/MM/yyyy HH:mm') || 'Não informado.'"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="pull-left">
        <!-- \/ Vai receber orçamento final? \/ -->
        <p>
            <span style="margin-right: 20px;" >Valor recebido: <strong> {{(crm_orcmnts_prnchr_mdl_cntrllr.orcamentoTotal | currency : 'R$ ' : 2) || '-'}} <!--span class="color-danger">(5% a mais que o valor previsto)</span--></strong></span>
        </p>

    </div>

    <div class="pull-right">
        <a class="" 
            ng-click="crm_orcmnts_prnchr_mdl_cntrllr.close()"
            ng-disabled="crm_orcmnts_prnchr_mdl_cntrllr.isBusy()"
        ><i class="fa fa-times" aria-hidden="true"></i> Sair</a>

        <button type="submit" name="submit" class="btn btn-danger" ng-disabled="true">
            <i class="fa fa-times" aria-hidden="true"></i> Reprovar
        </button>
        <button ng-click="crm_orcmnts_prnchr_mdl_cntrllr.aceitarOrcamento()" 
            ng-disabled="crm_orcmnts_prnchr_mdl_cntrllr.isBusy()"
            type="submit" name="submit" class="btn btn-success">
            <i class="fa fa-check" aria-hidden="true"></i> Aceitar
        </button>
        <button 
            ng-show="false"
            ng-click="crm_orcmnts_prnchr_mdl_cntrllr.salvarOrcamento()"
            ng-disabled="crm_orcmnts_prnchr_mdl_cntrllr.isBusy()"
            type="submit" name="submit" class="btn btn-success">
            <i class="fa fa-save" aria-hidden="true"></i> Salvar
        </button>

    </div>
</div>