<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        ng-click="crm_orcmnts_rpvr_sb_mdl_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Motivo de Reprovação de Orçamento</h3>
</div>



<div class="modal-body mdl-bd-overflow-scroll" id="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <p>Atenção! Após a reprovação do orçamento para
                    este serviço não será mais possível desfazer
                    esta ação.</p>
                <p>Especifique o motivo de reprovação do orçamento
                    enviado pela prestadora:</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <textarea class="form-control"
                        id="motivoreprovacao" name="motivoreprovacao"
                        ng-model="crm_orcmnts_rpvr_sb_mdl_cntrllr.entity.motivo" 
                        ng-model-options="{ getterSetter: true }"></textarea>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">

    <div class="pull-right">
        <a class="" ng-click="crm_orcmnts_rpvr_sb_mdl_cntrllr.close()"><i class="fa fa-times" aria-hidden="true"></i>
            Cancelar</a>

        <button type="button" name="submit" class="btn btn-danger"
            ng-click="crm_orcmnts_rpvr_sb_mdl_cntrllr.submit()">
            <i class="fa fa-times" aria-hidden="true"></i> Reprovar orçamento
        </button>

    </div>
</div>