<div ng-if="ctrl_projeto_accrdn.entity.projeto">
    <p>Este atendimento está associado ao Projeto 
        <strong>
            <a ng-bind="ctrl_projeto_accrdn.entity.projeto.nome || 'Não informado'" href="{{'{{ctrl_projeto_accrdn.entity.projeto_href}}'}}" target="_blank" class="link-projeto-gp"></a>
        </strong>.
    </p>
    <p><strong>Data de início do projeto:</strong> <span ng-bind="(ctrl_projeto_accrdn.entity.datacriacao | asDate | date: 'dd/MM/yyyy HH:mm') || 'Não informado'"></span>.</p>
</div>

<div ng-if="!(ctrl_projeto_accrdn.entity.projeto)">
    <p>Este atendimento não está associado a um Projeto.</p>
</div>
    
 