 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-6" >
                                                    <div class="form-group"><label class="control-label" for="documentonecessario">Documento</label><nsj-lookup
            name="documentonecessario"
            id-name="tipodocumento"
            factory="NsTiposdocumentos"  
            ng-model="$ctrl.entity.documentonecessario" 
                            list-excluded = "$ctrl.collection"    
                                                max-label="1"
            constructor="{  }"
            config='{ "nome":"nome",  }'
            disabled = "$ctrl.entity.$$__submitting"

                                    ></nsj-lookup><div ng-messages="$ctrl.form.documentonecessario.$error"  ng-if="$ctrl.form.documentonecessario.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="unique" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo documentos necessários não pode ter documentos repetidos.
                    
                    
                </div></div></div>
                        </div></div>
</form>
