<div class="height-full layout-list">
    <nsj-headline headline-title="" headline-sub="true">
        <div class="pull-right">

            <a class="btn btn-sm btn-default hidden-md" ui-sref="operacoesordensservicos({})"
                title="Voltar"><i class="fas fa-reply"></i><span class="hidden-xs">Voltar</span></a>

            <button tem-permissao="servicos_operacoesordensservicos_put" type="button" class="btn btn-sm btn-warning btn-edit" ui-sref="operacoesordensservicos_edit({ 'operacaoordemservico' : prcsrdnssrvcs_frm_shw_cntrllr.entity.operacaoordemservico})">
                <i class="fas fa-edit"></i> <span class="hidden-xs">Editar</span></button>    


            <button tem-permissao="servicos_operacoesordensservicos_delete" type="button" class="btn btn-sm btn-default btn-delete btn-geral" ng-click="prcsrdnssrvcs_frm_shw_cntrllr.delete()" ng-if="prcsrdnssrvcs_frm_shw_cntrllr.entity.operacaoordemservico  ">
                <i class="fas fa-trash"></i> <span class="hidden-xs">Excluir</span></button>

        </div>
    </nsj-headline>
    <div class="nsj-form padding-content" ng-class="{'nsj-loading-page' : prcsrdnssrvcs_frm_shw_cntrllr.busy }">
        <div class="nsj-form-view top-buffer bottom-buffer">
            <operacoes-ordens-servicos-show-form entity="prcsrdnssrvcs_frm_shw_cntrllr.entity"
                action="prcsrdnssrvcs_frm_shw_cntrllr.action" busy="prcsrdnssrvcs_frm_shw_cntrllr.busy"
                constructors="prcsrdnssrvcs_frm_shw_cntrllr.constructors"></operacoes-ordens-servicos-show-form>
        </div>

        <div class="form-group pull-left">


        </div>
        <div class="content-loading" ng-if="prcsrdnssrvcs_frm_shw_cntrllr.busy">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </div>
</div>