<div class="height-full layout-list">
    <form nsj-focus name="tcncs_frm_nw_cntrllr.form" novalidate="novalidate"
        ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : tcncs_frm_nw_cntrllr.busy }" role="form"
        ng-submit="tcncs_frm_nw_cntrllr.submit()" class="height-full">
        <nsj-headline headline-title="" headline-sub="true">
            <ul class="list-unstyled list-inline pull-right">
                <li>
                    <div class="form-group pull-right">
                        <button type="button" ng-click="tcncs_frm_nw_cntrllr.submit()"
                            ng-class="{loading:tcncs_frm_nw_cntrllr.entity.$$__submitting}"
                            ng-disabled="tcncs_frm_nw_cntrllr.entity.$$__submitting || tcncs_frm_nw_cntrllr.form.$pristine"
                            class="btn btn-sm btn-warning btn-save btn-geral">
                            <i class="fa fa-check"></i> Salvar
                        </button>
                        <a class="btn btn-sm btn-default" ui-sref="tecnicos({})"><i class="fa fa-times" aria-hidden="true"></i>
                            Descartar</a>
                    </div>
                </li>
            </ul>
            <div class="nsj-form padding-content">
                <tecnicos-form entity="tcncs_frm_nw_cntrllr.entity" form="tcncs_frm_nw_cntrllr.form"
                    busy="tcncs_frm_nw_cntrllr.busy" action="tcncs_frm_nw_cntrllr.action"
                    constructors="tcncs_frm_nw_cntrllr.constructors"></tecnicos-form>
            </div>
            </div>
        </nsj-headline>
        <div class="content-loading" ng-if="tcncs_frm_nw_cntrllr.busy">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </form>
</div>