<div class="modal-desfazer-conta-pagar">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">
      Desfazer a geração de conta a pagar
    </h3>
  </div>
  <div class="modal-body form-loading-layout-wrapper-body">
    <div class="tela-container">
      <!-- Container de dados -->
      <div class="dados-container">
        <!-- Tabela de dados -->
        <table class="tabela-fornecedor table nsj-table">
          <thead>
            <!-- Linha de títulos do fornecedor-->
            <tr class="titulos">
              <th>Número do documento</th>
              <th>Data de recebimento</th>
              <th>Serviço / Produto</th>
              <th>Quantidade</th>
              <th>Valor acordado</th>
              <th>Total</th>
              <th>Valor a pagar</th>
            </tr>
          </thead>
          <tbody>
            <!-- Linhas dos serviços e produtos -->
            <tr
              class="dados"
              ng-repeat="linha in crm_atcs_dsfzr_cnt_pgr_ctrl.entity.linha"
            >
              <td class="numerodocumento">
                <div class="valor">
                  <div class="visualizacao">
                    {{ linha.contapagar.numerodocumento || '-' }}
                  </div>
                </div>
              </td>
              <!-- Data de recebimento -->
              <td class="datadocumento">
                <div class="valor">
                  <div class="visualizacao">
                    {{ linha.contapagar.datadocumento | asDate | date:
                    'dd/MM/yyyy'}}
                  </div>
                </div>
              </td>
              <!-- Serviço / Produto -->
              <td class="descricao">
                <div class="valor">
                  <div class="visualizacao">
                    {{ linha.contapagar.descricao }}
                  </div>
                </div>
              </td>
              <!-- Quantidade -->
              <td class="quantidade">
                <div class="valor">
                  <div class="visualizacao">
                    {{ linha.contapagar.quantidade }}
                  </div>
                </div>
              </td>
              <!-- Valor acordado -->
              <td class="valoracordado">
                <div class="valor">
                  <div class="visualizacao">
                    {{ linha.contapagar.valoracordado | currency : 'R$ ' : 2 }}
                  </div>
                </div>
              </td>
              <!-- Total -->
              <td class="total">
                <div class="valor">
                  <div class="visualizacao">
                    {{ linha.contapagar.total | currency : 'R$ ' : 2 }}
                  </div>
                </div>
              </td>
              <!-- Valor a pagar -->
              <td class="valorpagar">
                <div class="valor">
                  <div class="visualizacao">
                    {{ linha.contapagar.valorpagar | currency : 'R$ ' : 2 }}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        Você tem certeza que deseja desfazer a geração de conta a pagar da
        prestadora de serviços
        <b
          >{{crm_atcs_dsfzr_cnt_pgr_ctrl.entity.linha[0].contapagar.prestador.nomefantasia}} </b
        >?
      </p>
    </div>
    <div class="content-loading" ng-if="crm_atcs_dsfzr_cnt_pgr_ctrl.isBusy()">
      <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a
      class="fechar btn btn-md btn-default"
      ng-click="crm_atcs_dsfzr_cnt_pgr_ctrl.close()"
      ng-disabled="crm_atcs_dsfzr_cnt_pgr_ctrl.isBusy()"
    >
      <i class="fas fa-ban"></i>
      anular
    </a>
    <button
      type="button"
      class="btn btn-md btn-warning"
      ng-disabled="crm_atcs_dsfzr_cnt_pgr_ctrl.isBusy()"
      ng-click="crm_atcs_dsfzr_cnt_pgr_ctrl.defazerContaPagar()"
      ng-class="{loading: crm_atcs_dsfzr_cnt_pgr_ctrl.isBusy()}"
    >
      <i class="fas fa-check"></i>
      <span class="texto">Sim, desfazer a geração</span>
    </button>
  </div>
</div>
