<div class="height-full layout-list form-infos-adicionais">
  <!--Linha 1-->
  <div class="row">
    <div
      class="col-sm-6"
      ng-if="$ctrl.entity.tipoprojeto.exibirdeclaracaoescopoinfadic"
    >
      <div class="form-group">
        <label class="control-label" for="declaracaoescopo"
          >Declaração de escopo</label
        >
        <textarea
          class="form-control inputs-textarea"
          rows="3"
          id="declaracaoescopo"
          name="declaracaoescopo"
          placeholder="Informe as principais entregas, além de documentar o escopo do projeto."
          ng-model="$ctrl.entity.declaracaoescopo"
          ng-disabled="$ctrl.entity.$$__submitting"
          ng-required="($ctrl.entity.$$__submitting) !== true"
        ></textarea>
      </div>
    </div>

    <div
      class="col-sm-6"
      ng-if="$ctrl.entity.tipoprojeto.exibirobjetivosinfadic"
    >
      <div class="form-group">
        <label class="control-label" for="objetivoscriterios"
          >Objetivos e critérios</label
        >
        <textarea
          class="form-control inputs-textarea"
          rows="3"
          id="objetivoscriterios"
          name="objetivoscriterios"
          placeholder="Informe..."
          ng-model="$ctrl.entity.objetivoscriterios"
          ng-disabled="$ctrl.entity.$$__submitting"
          ng-required="($ctrl.entity.$$__submitting) !== true"
        ></textarea>
      </div>
    </div>

    <!--Linha 2-->

    <div
      class="col-sm-6"
      ng-if="$ctrl.entity.tipoprojeto.exibirpremissasinfadic"
    >
      <div class="form-group">
        <label class="control-label" for="premissas">Premissas</label>
        <textarea
          class="form-control inputs-textarea"
          rows="3"
          id="premissas"
          name="premissas"
          placeholder="Informe os pressupostos a respeito do projeto. As estimativas do projeto só são válidas enquanto as premissas se confirmarem verdadeiras."
          ng-model="$ctrl.entity.premissas"
          ng-disabled="$ctrl.entity.$$__submitting"
          ng-required="($ctrl.entity.$$__submitting) !== true"
        ></textarea>
      </div>
    </div>

    <div
      class="col-sm-6"
      ng-if="$ctrl.entity.tipoprojeto.exibirrestricoesinfadic"
    >
      <div class="form-group">
        <label class="control-label" for="restricoes">Restrições</label>
        <textarea
          class="form-control inputs-textarea"
          rows="3"
          id="restricoes"
          name="restricoes"
          placeholder="Informe os fatores que limitam a execução do projeto como, por exemplo, limitações de prazo e custo."
          ng-model="$ctrl.entity.restricoes"
          ng-disabled="$ctrl.entity.$$__submitting"
          ng-required="($ctrl.entity.$$__submitting) !== true"
        ></textarea>
      </div>
    </div>

    <!--Linha 3-->

    <div class="col-sm-6" ng-if="$ctrl.entity.tipoprojeto.exibirriscosinfadic">
      <div class="form-group">
        <label class="control-label" for="estimativasrisco"
          >Estimativas de risco</label
        >
        <textarea
          class="form-control inputs-textarea"
          rows="3"
          id="estimativasrisco"
          name="estimativasrisco"
          placeholder="Informe os possíveis problemas que podem ser encontrados ao longo do andamento do projeto."
          ng-model="$ctrl.entity.estimativasrisco"
          ng-disabled="$ctrl.entity.$$__submitting"
          ng-required="($ctrl.entity.$$__submitting) !== true"
        ></textarea>
      </div>
    </div>

    <p
      class="text-center passoquatro-empty"
      ng-if="!$ctrl.entity.tipoprojeto.exibirdeclaracaoescopoinfadic &&
    !$ctrl.entity.tipoprojeto.exibirobjetivosinfadic &&
    !$ctrl.entity.tipoprojeto.exibirpremissasinfadic &&
    !$ctrl.entity.tipoprojeto.exibirrestricoesinfadic &&
    !$ctrl.entity.tipoprojeto.exibirriscosinfadic
     "
    >
      Os campos de informações adicionais não estão habilitados para este tipo
      de projeto. Verifique no cadastro de tipos de projetos!
    </p>
  </div>
</div>
