<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
    ng-click="crm_tcspndncslsts_frm_dflt_cntrllr.close()"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title" id="modal-title">Pendência</h3>
</div>
<form nsg-focus name="crm_tcspndncslsts_frm_dflt_cntrllr.form" novalidate="novalidate" role="form"
  ng-submit="crm_tcspndncslsts_frm_dflt_cntrllr.submit()">
  <div class="modal-body" id="modal-body">
    <crm-atcspendenciaslistas-default entity="crm_tcspndncslsts_frm_dflt_cntrllr.entity"
      form="crm_tcspndncslsts_frm_dflt_cntrllr.form" action="crm_tcspndncslsts_frm_dflt_cntrllr.action"
      constructors="crm_tcspndncslsts_frm_dflt_cntrllr.constructors" busy="crm_tcspndncslsts_frm_dflt_cntrllr.busy">
    </crm-atcspendenciaslistas-default>
  </div>
  <div class="modal-footer">
    <div class="pull-left">

      <button ng-if="crm_tcspndncslsts_frm_dflt_cntrllr.action == 'insert'" type="submit" name="submit"
        ng-disabled="crm_tcspndncslsts_frm_dflt_cntrllr.form.$pristine || crm_tcspndncslsts_frm_dflt_cntrllr.entity.$$__submitting"
        class="btn btn-warning" ng-class="{loading:crm_tcspndncslsts_frm_dflt_cntrllr.entity.$$__submitting}">
        Adicionar
      </button>
      <button ng-if="crm_tcspndncslsts_frm_dflt_cntrllr.action == 'update'" type="submit" name="submit"
        ng-disabled="crm_tcspndncslsts_frm_dflt_cntrllr.form.$pristine || crm_tcspndncslsts_frm_dflt_cntrllr.entity.$$__submitting"
        class="btn btn-warning" ng-class="{loading:crm_tcspndncslsts_frm_dflt_cntrllr.entity.$$__submitting}">
        Salvar
      </button>
      <a class="btn btn-sm" ng-click="crm_tcspndncslsts_frm_dflt_cntrllr.close()"><i class="fa fa-times"
          aria-hidden="true"></i> Fechar</a>

    </div>
  </div>
</form>
<div class="content-loading" ng-if="crm_tcspndncslsts_frm_dflt_cntrllr.busy">
  <div class="center-loading text-center">
    <div class="onloading"></div>
    Carregando...
  </div>
</div>