<div class="height-full layout-list">

    <form nsj-focus name="crm_tcspndncslsts_frm_nw_cntrllr.form" novalidate="novalidate"
        ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : crm_tcspndncslsts_frm_nw_cntrllr.busy }"
        role="form" ng-submit="crm_tcspndncslsts_frm_nw_cntrllr.submit()" class="height-full">


        <nsj-headline headline-title="Lista de pendências " headline-sub="true">
            <div class="pull-right">




                <a class="btn btn-sm btn-default" ui-sref="crm_atcspendenciaslistas({})" title="Voltar à lista">Voltar à
                    lista</a>




            </div>
        </nsj-headline>
        <div class="nsj-form padding-content">
            <crm-atcspendenciaslistas-default entity="crm_tcspndncslsts_frm_nw_cntrllr.entity"
                form="crm_tcspndncslsts_frm_nw_cntrllr.form" busy="crm_tcspndncslsts_frm_nw_cntrllr.busy"
                action="crm_tcspndncslsts_frm_nw_cntrllr.action"
                constructors="crm_tcspndncslsts_frm_nw_cntrllr.constructors"></crm-atcspendenciaslistas-default>
            <ul class="list-unstyled list-inline pull-left">
                <li>

                    <div class="form-group pull-left">

                        <button type="button" ng-click="crm_tcspndncslsts_frm_nw_cntrllr.submit()"
                            ng-class="{loading:crm_tcspndncslsts_frm_nw_cntrllr.entity.$$__submitting}"
                            ng-disabled="crm_tcspndncslsts_frm_nw_cntrllr.entity.$$__submitting || crm_tcspndncslsts_frm_nw_cntrllr.form.$pristine"
                            class="btn btn-sm btn-warning btn-save btn-geral">
                            <i class="fa fa-check"></i> Salvar
                        </button>

                        <a class="btn btn-sm" ui-sref="crm_atcspendenciaslistas({})"><i class="fa fa-times"
                                aria-hidden="true"></i> Cancelar</a>

                    </div>
                </li>
            </ul>
        </div>
        <div class="content-loading" ng-if="crm_tcspndncslsts_frm_nw_cntrllr.busy">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </form>

</div>