.templates-projeto {
  padding: 20px 0 0 20px;
  border-radius: 5px;
  border: solid 1px #ddd;
  background-color: white;

  .templates-projetos_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: $max-xs) {
      display: flex;
      flex-direction: column;
    }
  }

  .em-branco {
    width: 95%;
    margin-bottom: 20px;

    border: solid 2px #ddd;
    height: auto;
    cursor: pointer;
    padding: 25px;
    border-radius: 5px;
    &:active,
    &:hover,
    &:focus {
      background-color: aliceblue;
    }

    .em-branco-interno {
      border: solid 2px #ddd;
      padding: 20px;
      border-radius: 5px;
      background-color: white;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .icone-template {
    font-size: 45px;
    color: $custom-color-1;
  }

  .titulo-descricao-template {
    .titulo-template {
      font-weight: bold;
      text-align: left;
      color: $custom-color-1;
    }

    .descricao-template {
      text-align: left;
      font-style: italic;
      color: gray;
    }
  }
}

.template-selecionado {
  background-color: aliceblue;
}

span {
  b {
    margin: -4px;
  }
}
