<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label" for="estabelecimento"
          >Estabelecimento</label
        ><nsj-lookup
          name="estabelecimento"
          id-name="estabelecimento"
          factory="NsEstabelecimentos"
          ng-model="$ctrl.entity.estabelecimento"
          max-label="1"
          constructor="{  }"
          config='{ "nomefantasia":"Nome",  }'
          disabled="$ctrl.entity.$$__submitting"
          required="($ctrl.entity.$$__submitting) !== true"
        ></nsj-lookup>
        <div
          ng-messages="$ctrl.form.estabelecimento.$error"
          ng-if="$ctrl.form.estabelecimento.$dirty || $ctrl.form.$submitted"
        >
          <div class="alert alert-danger" role="alert" ng-message="required">
            <span class="fa fa-exclamation-circle" aria-hidden="true"></span
            ><span class="sr-only">Erro:</span>
            O campo estabelecimento não pode ser vazio
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="control-label" for="responderpara">Responder para</label
        ><input
          type="text"
          class="form-control"
          id="responderpara"
          name="responderpara"
          ng-model="$ctrl.entity.responderpara"
          ng-disabled="$ctrl.entity.$$__submitting"
          ng-required="($ctrl.entity.$$__submitting) !== true"
        />
        <div
          ng-messages="$ctrl.form.responderpara.$error"
          ng-if="$ctrl.form.responderpara.$dirty || $ctrl.form.$submitted"
        >
          <div class="alert alert-danger" role="alert" ng-message="required">
            <span class="fa fa-exclamation-circle" aria-hidden="true"></span
            ><span class="sr-only">Erro:</span>
            O campo Responder Para não pode ser vazio
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="control-label" for="mensagem">Mensagem</label
        ><textarea
          class="form-control"
          id="mensagem"
          name="mensagem"
          ng-model="$ctrl.entity.mensagem"
          ng-disabled="$ctrl.entity.$$__submitting"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div
        class="custom-checkbox checkbox"
        ng-class="{'disabled':$ctrl.entity.$$__submitting}"
      >
        <label class="control-label" for="mostrarmotivoadvertencia"
          ><input
            type="checkbox"
            class=""
            id="mostrarmotivoadvertencia"
            name="mostrarmotivoadvertencia"
            ng-model="$ctrl.entity.mostrarmotivoadvertencia"
            ng-disabled="$ctrl.entity.$$__submitting"
          /><span class="checkmark"></span>

          Mostrar motivo da advertência
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="control-label" for="rodape">Rodapé</label
        ><textarea
          class="form-control"
          id="rodape"
          name="rodape"
          ng-model="$ctrl.entity.rodape"
          ng-disabled="$ctrl.entity.$$__submitting"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="control-label" for="assinatura">Assinatura</label
        ><textarea
          class="form-control"
          id="assinatura"
          name="assinatura"
          ng-model="$ctrl.entity.assinatura"
          ng-disabled="$ctrl.entity.$$__submitting"
        ></textarea>
      </div>
    </div>
  </div>
</form>
