<div class="height-full layout-list">
  <form
    nsj-focus
    name="crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.form"
    novalidate="novalidate"
    ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.busy }"
    role="form"
    ng-submit="crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.submit()"
    class="height-full"
  >
    <nsj-headline
      headline-title="Template de e-mail ao advertir um prestador de serviços "
      headline-sub="true"
    >
      <ul class="list-unstyled list-inline pull-right">
        <li>
          <div class="form-group pull-right">
            <button
              type="button"
              ng-click="crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.submit()"
              ng-class="{loading:crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.entity.$$__submitting}"
              ng-disabled="crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.entity.$$__submitting || crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.form.$pristine"
              class="btn btn-sm btn-warning btn-save btn-geral"
            >
              <i class="fa fa-check"></i> Salvar
            </button>

            <a
              class="btn btn-sm btn-default"
              ui-sref="crm_templatesemailadvertirprestador({})"
              ><i class="fa fa-times" aria-hidden="true"></i> Descartar</a
            >
          </div>
        </li>
      </ul>
    </nsj-headline>
    <div class="nsj-form padding-content">
      <crm-templatesemailadvertirprestador-default
        entity="crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.entity"
        form="crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.form"
        busy="crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.busy"
        action="crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.action"
        constructors="crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.constructors"
      ></crm-templatesemailadvertirprestador-default>
    </div>
    <div
      class="content-loading"
      ng-if="crm_tmpltsmldvrtrprstdr_frm_nw_cntrllr.busy"
    >
      <div class="center-loading text-center">
        <div class="onloading"></div>
        Carregando...
      </div>
    </div>
  </form>
</div>
