<!-- {% verbatim %}  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-config" content="none" />
    <meta name="google" content="notranslate">


    <title>Atendimento Comercial - Nasajon Sistemas</title>

    <link rel="icon"
        href="//s3.sa-east-1.amazonaws.com/imagens.nasajon/logos/sistemas-web/versao-padrao/icone/nova-marca/logo-padrao_gestao-de-servicos_icone.svg" />
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:300,400,700'>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed">


    <!-- {% endverbatim %}  -->
    <base href="/">
    <!-- {{ url('index', { }, true) }} -->
    <!-- {% verbatim %}  -->

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/css/25c08c0.css" />
        <![endif]-->
</head>

<body fixed-sidebar ng-controller="AppController as appCtrl">
    <!--[if lt IE 9]>
  <div class="alerta-navegador">
    <h1>    <img src="https://s3-us-west-2.amazonaws.com/static.nasajon/img/suporte-online.png" alt="Atendimento Comercial - Nasajon Sistemas">
</h1>

    <h2>Seu navegador está desatualizado!</h2>
    <p>Versões antigas podem apresentar problemas de segurança e, por <br />isso, não são compatíveis com os sistemas Nasajon.</p>
    <p>Para sua comodidade e segurança, copie o link: <br />
    <a class="url-sistema" href="http://dir.nasajonsistemas.com.br/gednasajon/admin/?funcao=admin">http://dir.nasajonsistemas.com.br/gednasajon/admin/?funcao=admin</a><br />
    e cole na barra de endereço de um dos navegadores indicados<br /> abaixo. Se não tiver nenhum deles, clique e baixe para continuar.</p>
    <div class="navegadores">
      <div class="browser">
          <div class="img-b"><img src="https://s3-us-west-2.amazonaws.com/static.nasajon/img/navegadores/ico-chrome.png" alt="Google Chrome"></div>
          Google Chrome<br />
          <a href="https://www.google.com.br/chrome/browser/desktop/" target="_blank" title="Baixe o Google Chrome">download</a>
      </div>
      <div class="browser">
        <div class="img-b"><img src="https://s3-us-west-2.amazonaws.com/static.nasajon/img/navegadores/ico-firefox.png" alt="Mozilla Firefox"></div>
        Mozilla Firefox<br />
        <a href="https://www.mozilla.org/pt-BR/firefox/new/" target="_blank" title="Baixe o Mozilla Firefox">download</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <![endif]-->

    <div ng-init="appLoad.remove()" class="nsj-app-load">
        <div class="load-area">
            <div class="app-load-icon"></div>
        </div>
    </div>


    <div id="wrap" ng-class="{
        'fullscreen-ativado': appCtrl.fullscreenService.isAtivado(),
        'menu-escondido': appCtrl.menuEscondido
    }">
        <nsj-header id="nsj-header" user-service="Usuarios" class="navbar-fixed-top">
            <navbar-logo
                data-mobile-src="//s3.sa-east-1.amazonaws.com/imagens.nasajon/logos/sistemas-web/versao-padrao/icone-mais-nome/nova-marca/logo-padrao_gestao-de-servicos_icone-nome.svg"
                data-src="//s3.sa-east-1.amazonaws.com/imagens.nasajon/logos/sistemas-web/versao-padrao/icone-mais-nome/nova-marca/logo-padrao_gestao-de-servicos_icone-nome.svg">
            </navbar-logo>


            <navbar-dropdown>

                <header-provisoes ng-if="usuario.nome" maintext="usuario.nome" subtext="usuario.email"
                    change-group="appCtrl.changeGrupoEmpresarial">
                </header-provisoes>

            </navbar-dropdown>

        </nsj-header>

        <nsj-menu>
            <nsj-menu-list>
                <nsj-menu-item ng-if="appCtrl.temPermissao('crm_atcs_index')" item-dropdown data-icon="fa fa-briefcase"
                    data-label="Atendimentos Comerciais" data-href data-link="crm_atcs">
                    <li class="ng-scope">
                        <a tem-permissao="crm_dashboard_atendimentos_pendencias" class="menu-item ng-scope"
                            ng-click="clickMenu($event)" data-label="Atendimentos / Pendências"
                            ui-sref="crm_dashboard_atendimentos_pendencias"
                            ui-sref-opts="{reload: true, notify: true, inherit:false}">
                        </a>
                    </li>
                    <li class="ng-scope">
                        <a class="menu-item ng-scope" ng-click="clickMenu($event)" data-label="Todos" ui-sref="crm_atcs"
                            ui-sref-opts="{reload: true, notify: true, inherit:false}"></a>
                    </li>

                    <li ng-repeat="item in appCtrl.atcsAreas" class="ng-scope">
                        <a class="menu-item ng-scope" ng-click="clickMenu($event)" data-label="{{item.nome}}"
                            ui-sref="crm_atcs({area:item.negocioarea})" ui-sref-opts="{reload: true, notify: true}"></a>
                    </li>
                </nsj-menu-item>


                <nsj-menu-item item-dropdown data-icon="fas fa-file-alt" data-label="Documentos" data-href
                    data-link="crm_atcsdocumentos" ng-if="appCtrl.temPermissao('crm_atcs_index') || appCtrl.temPermissao('crm_malotes_index')">
                    <nsj-menu-item data-label="Ver Todos" ng-if="appCtrl.temPermissao('crm_atcs_index')" data-href data-link="crm_atcsdocumentos"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('crm_malotes_index')" item-dropdown
                        data-label="Por malote" data-link="crm_malotes" data-href></nsj-menu-item>
                </nsj-menu-item>

                <nsj-menu-item ng-if="appCtrl.temPermissao('ns_fornecedores_index')" data-icon="fas fa-building"
                    data-label="Prestadoras de Serviços" data-href data-link="ns_fornecedores"></nsj-menu-item>
                <nsj-menu-item ng-if="appCtrl.temPermissao('ns_clientes_index')" data-icon="fas fa-users"
                    data-label="Clientes" data-href data-link="ns_clientes"></nsj-menu-item>
                <nsj-menu-item ng-if="appCtrl.temPermissao('crm_composicoes_index')" data-icon="fas fa-box"
                    data-label="Serviços" data-href data-link="crm_composicoes"></nsj-menu-item>
                <nsj-menu-item ng-if="appCtrl.temPermissao('crm_acordostercserv_gerenciar')" data-icon="fas fa-hands-helping" class="menu-acordos-terceirizacao"
                    data-label="Acordos de Terceirização de Serviços" data-href data-link="crm_acordosterceirizacoesservicos"></nsj-menu-item>

                <!-- Gestão de Projetos -->
                <nsj-menu-item item-dropdown data-icon="fas fa-folder-open" data-label="GESTÃO DE PROJETOS">
                    <nsj-menu-item data-label="PROJETOS" data-href data-link="projetos"></nsj-menu-item>
                </nsj-menu-item>

            </nsj-menu-list>
            <nsj-menu-list-bottom>
  
                <nsj-menu-item class="config-menu menu-item-config" item-dropdown data-icon="fas fa-cogs" data-label="Configurações">

                    <nsj-menu-item ng-show="appCtrl.temPermissao('gp_funcoes_index')" data-label="Funções" data-href
                        data-link="gp_funcoes"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('ns_fornecedores_index')"
                        data-label="Prestadoras de serviços suspensas" data-href data-link="ns_fornecedoressuspensos">
                    </nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('ns_tiposatividades_index')"
                        data-label="Tipos de atividades" data-href data-link="ns_tiposatividades"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('estoque_unidades_index')" data-label="Unidades"
                        data-href data-link="estoque_unidades"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('crm_atcsareas_index')"
                        data-label="Áreas de atendimento comercial" data-href data-link="crm_atcsareas"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('crm_midias_index')" data-label="Mídias de Origem"
                        data-href data-link="crm_midias"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('crm_tiposacionamentos_index')"
                        data-label="Tipos de Acionamento" data-href data-link="crm_tiposacionamentos"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('crm_vinculos_index')" data-label="Vínculos" data-href
                        data-link="crm_vinculos"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('ns_tiposdocumentos_index')"
                        data-label="Tipos de Documentos" data-href data-link="ns_tiposdocumentos"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('ns_cidadesinformacoesfunerarias_index')"
                        data-label="Cidades Informações Funerárias" data-href
                        data-link="ns_cidadesinformacoesfunerarias"></nsj-menu-item>
                    <nsj-menu-item data-label="Templates de e-mail ao advertir prestador de serviços" data-href
                        data-link="crm_templatesemailadvertirprestador"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('crm_historicospadrao_index')"
                        data-label="Históricos Padrões" data-href data-link="crm_historicospadrao"></nsj-menu-item>
                    <nsj-menu-item data-label="Configurações de Documentos" data-href
                        data-link="crm_atcsconfiguracoesdocumentos"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('ns_prioridades_index')" data-label="Prioridades" data-href data-link="ns_prioridades"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('crm_cfgtaxasadm_gerenciar')" data-label="Taxas Administrativas"
                        data-href data-link="crm_configuracoestaxasadministrativas"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('gp_projetosetapas_gerenciar')" data-label="Etapas" data-href data-link="etapas"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('servicos_tecnicos_index')" data-label="Técnicos" data-href data-link="tecnicos"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('ns_series_index')" data-label="Séries" data-href data-link="ns_series"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('servicos_tiposservicos_index')" data-label="Tipos de Serviço" data-href data-link="tiposservicos"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('servicos_tiposordensservicos_index')" data-label="Tipos de Ordem de Serviço" data-href data-link="tiposordensservicos"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('servicos_tiposmanutencoes_index')" data-label="Tipos de Manutenção" data-href data-link="tiposmanutencoes"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('servicos_equipes_index')" data-label="Equipes" data-href data-link="equipes"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('servicos_operacoesordensservicos_index')" data-label="Operações de Ordem de Serviço" data-href data-link="operacoesordensservicos"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('servicos_ordensservicostemplates_gerenciar')" data-label="Templates de Ordem de Serviço" data-href data-link="ordensservicos_templates"></nsj-menu-item>
                    <nsj-menu-item ng-show="appCtrl.temPermissao('servicos_servicostecnicos_index')" data-label="Serviços Técnicos" data-href data-link="servicostecnicos"></nsj-menu-item>

                </nsj-menu-item>
            </nsj-menu-list-bottom>
        </nsj-menu>


        <div class="container-fluid main-container" ng-cloak>

            <toaster-container
                toaster-options="{'time-out': 3000, 'close-button': true, 'limit':'1' ,'animation-class': 'toast-top-center'}">
            </toaster-container>
            <div class='geral clearfix' ui-view></div>

        </div>

    </div>
</body>

</html>