<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-9">
            <div class="form-group"><label class="control-label" for="nome">Nome</label><input type='text'
                    class="form-control" id="nome" name="nome" maxlength="60" ng-model="$ctrl.entity.nome"
                    ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" />
                <div ng-messages="$ctrl.form.nome.$error" ng-if="$ctrl.form.nome.$dirty || $ctrl.form.$submitted">
                    <div class="alert alert-danger" role="alert" ng-message="required"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>
                        O campo nome não pode estar vazio


                    </div>
                    <div class="alert alert-danger" role="alert" ng-message="maxlength"><span
                            class="fa fa-exclamation-circle" aria-hidden="true"></span><span
                            class="sr-only">Erro:</span>


                        O tamanho máximo é de 60 caracteres
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group"><label class="control-label" for="pai"></label><input type='hidden'
                    class="form-control" id="pai" name="pai" ng-model="$ctrl.entity.pai"
                    ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
</form>