<div class="height-full layout-list">
    <nsj-headline headline-title="Orcamentos " headline-sub="true">
        <div class="pull-right">

            <a class="btn btn-sm btn-default hidden-lg hidden-md"
                ui-sref="crm_responsabilidadesfinanceiras({'negocio' : crm_rspnsblddsfnncrs_frm_shw_cntrllr.constructors.negocio,})"
                title="Voltar"><i class="fas fa-reply"></i><span class="hidden-xs">Voltar</span></a>


            <button type="button" class="btn btn-sm btn-default btn-delete btn-geral"
                ng-click="crm_rspnsblddsfnncrs_frm_shw_cntrllr.delete()"
                ng-if="crm_rspnsblddsfnncrs_frm_shw_cntrllr.entity.responsabilidadefinanceira  "><i
                    class="fas fa-trash"></i> <span class="hidden-xs">Excluir</span></button>

            <a class="btn btn-sm btn-default"
                ui-sref="crm_responsabilidadesfinanceiras({'negocio' : crm_rspnsblddsfnncrs_frm_shw_cntrllr.constructors.negocio,})"
                title="Voltar à lista">Voltar à lista</a>


            <button type="button" class="btn btn-sm btn-warning btn-edit"
                ui-sref="crm_responsabilidadesfinanceiras_edit({'negocio' : crm_rspnsblddsfnncrs_frm_shw_cntrllr.constructors.negocio, 'responsabilidadefinanceira' : crm_rspnsblddsfnncrs_frm_shw_cntrllr.entity.responsabilidadefinanceira})"><i
                    class="fas fa-edit"></i> <span class="hidden-xs">Editar</span></button>


        </div>
    </nsj-headline>
    <div class="nsj-form padding-content" ng-class="{'nsj-loading-page' : crm_rspnsblddsfnncrs_frm_shw_cntrllr.busy }">
        <div class="nsj-form-view top-buffer bottom-buffer">
            <crm-responsabilidadesfinanceiras-default-show entity="crm_rspnsblddsfnncrs_frm_shw_cntrllr.entity"
                action="crm_rspnsblddsfnncrs_frm_shw_cntrllr.action" busy="crm_rspnsblddsfnncrs_frm_shw_cntrllr.busy"
                constructors="crm_rspnsblddsfnncrs_frm_shw_cntrllr.constructors">
            </crm-responsabilidadesfinanceiras-default-show>
        </div>

        <div class="form-group pull-left">


        </div>
        <div class="content-loading" ng-if="crm_rspnsblddsfnncrs_frm_shw_cntrllr.busy">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </div>
</div>