<div class="custom-form-view">
  <div class="nsj-form-view">
    <div class="row">
      <div class="col-sm-12">
        <fieldset class="field-set">
          <legend>Dados do Projeto</legend>
          <div class="row row-form-view">
            <div class="col-sm-4">
              <div class="form-group clear-fix">
                <label for="codigo" class="control-label">Código</label>
                <p class="form-control-static">
                  {{ $ctrl.entity.codigo || 'Não informado' }}
                </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group clear-fix">
                <label for="nome" class="control-label">Nome</label>
                <p class="form-control-static">
                  {{ $ctrl.entity.nome || 'Não informado' }}
                </p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group clear-fix">
                <label for="estabelecimento.nomefantasia" class="control-label">Estabelecimento</label>
                <p class="form-control-static">
                  {{ $ctrl.entity.estabelecimento.nomefantasia || 'Não informado' }}
                </p>
              </div>
            </div>
          </div>
          <div class="row row-form-view">
            <div class="col-sm-6">
              <div class="form-group clear-fix">
                <label for="tipoprojeto" class="control-label">Tipo de Projeto</label>
                <p class="form-control-static">
                  {{ $ctrl.entity.tipoprojeto ? $ctrl.entity.tipoprojeto.codigo + ' - ' +
                  $ctrl.entity.tipoprojeto.descricao : 'Não informado' }}
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group clear-fix">
                <label for="cliente.nomefantasia" class="control-label">Cliente</label>
                <p class="form-control-static">
                  {{ $ctrl.entity.cliente.nomefantasia || 'Não informado' }}
                </p>
              </div>
            </div>
          </div>
          <div class="row row-form-view">
            <div class="col-sm-6">
              <div class="form-group clear-fix">
                <label for="datainicio" class="control-label">Início</label>
                <p class="form-control-static">
                  {{ $ctrl.entity.datainicio ? ($ctrl.entity.datainicio | asDate | date: 'dd/MM/yyyy') : 'Não informado'
                  }}
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group clear-fix">
                <label for="datafim" class="control-label">Fim</label>
                <p class="form-control-static">
                  {{ $ctrl.entity.datafim ? ($ctrl.entity.datafim | asDate | date: 'dd/MM/yyyy') : 'Não informado' }}
                </p>
              </div>
            </div>
          </div>
          <div class="row row-form-view">
            <div class="col-sm-12">
              <div class="form-group clear-fix">
                <label for="codigo" class="control-label">Responsável</label>
                <p class="form-control-static">
                  {{ $ctrl.entity.responsavel_conta_nasajon.nome || 'Não informado' }}
                </p>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend ng-if="$ctrl.entity.tipoprojeto.exibirdeclaracaoescopoinfadic ||
          $ctrl.entity.tipoprojeto.exibirobjetivosinfadic ||
          $ctrl.entity.tipoprojeto.exibirpremissasinfadic ||
          $ctrl.entity.tipoprojeto.exibirrestricoesinfadic ||
          $ctrl.entity.tipoprojeto.exibirriscosinfadic
           ">Informações adicionais</legend>
          <div class="row row-form-view">
            <div class="col-sm-6" ng-if="$ctrl.entity.tipoprojeto.exibirdeclaracaoescopoinfadic">
              <div class="form-group clear-fix">
                <label for="declaracaoescopo" class="control-label">Declaração de escopo</label>
                <textarea name="declaracaoescopo" ng-model="$ctrl.entity.declaracaoescopo" class="form-control"
                  placeholder="Não informado" rows="3" disabled="true"></textarea>
              </div>
            </div>
            <div class="col-sm-6" ng-if="$ctrl.entity.tipoprojeto.exibirobjetivosinfadic">
              <div class="form-group clear-fix">
                <label for="objetivoscriterios" class="control-label">Objetivos e critério</label>
                <textarea name="objetivoscriterios" ng-model="$ctrl.entity.objetivoscriterios" class="form-control"
                  placeholder="Não informado" rows="3" disabled="true"></textarea>
              </div>
            </div>
          
          
            <div class="col-sm-6" ng-if="$ctrl.entity.tipoprojeto.exibirpremissasinfadic">
              <div class="form-group clear-fix">
                <label for="premissas" class="control-label">Premissas</label>
                <textarea name="premissas" ng-model="$ctrl.entity.premissas" class="form-control"
                  placeholder="Não informado" rows="3" disabled="true"></textarea>
              </div>
            </div>
            <div class="col-sm-6" ng-if="$ctrl.entity.tipoprojeto.exibirrestricoesinfadic">
              <div class="form-group clear-fix">
                <label for="restricoes" class="control-label">Restrições</label>
                <textarea name="restricoes" ng-model="$ctrl.entity.restricoes" class="form-control"
                  placeholder="Não informado" rows="3" disabled="true"></textarea>
              </div>
            </div>
          
          
            <div class="col-sm-6" ng-if="$ctrl.entity.tipoprojeto.exibirriscosinfadic">
              <div class="form-group clear-fix">
                <label for="estimativasrisco" class="control-label">Estimativa de risco</label>
                <textarea name="estimativasrisco" ng-model="$ctrl.entity.estimativasrisco" class="form-control"
                  placeholder="Não informado" rows="3" disabled="true"></textarea>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset ng-if="$ctrl.entity.dadosAtc">
          <legend>Dados do atendimento comercial</legend>
          <div class="row row-form-view align-center">
            <div class="col-sm-4">
              <div class="form-group clear-fix">
                <label for="codigo" class="control-label">Atendimento comercial</label>
                <p class="form-control-static">
                  {{ $ctrl.entity.dadosAtc.codigo }} - {{ $ctrl.entity.dadosAtc.nome }}
                </p>
              </div>
            </div>
            <div class="col-sm-1">
              <a ui-sref="crm_atcs_full({ atc: $ctrl.entity.atc })" target="_blank">
                <i class="fas fa-external-link-alt"></i>
              </a>
              <nsj-button class="ml-30" icon="fas fa-eye"
                ng-click="$ctrl.openDocumentosNecessariosModal($ctrl.entity.dadosAtc.negociostiposdocumentosrequisitantes)">
                  Documentos necessários
              </nsj-button>

            </div>
          </div>
          <div class="mt-20 row row-form-view">
            <div class="col-sm-12 form-group clearfix">
              <object-list class="object-list" entities='$ctrl.entity.dadosAtc.negociosdadosseguradoras'
                service="CrmAtcsdadosseguradoras" constructors="{ 'negocio' : $ctrl.entity.dadosAtc.negocio,  }"
                autosaveEnabled=>
                <div>
                  <div>
                    <table class="table table-striped table-hover table-condensed table-bordered">
                      <thead>
                        <tr>
                          <th>Seguradora</th>
                          <th>Telefone</th>
                          <th>Produto</th>
                          <th>Apólice</th>
                          <th>Valor</th>
                          <th>Sinistro</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="subentity in oblistctrl.entities" ng-controller="ObjectListItemCtrl as itemctrl">
                          <td>{{ subentity.seguradora.nomefantasia }} </td>
                          <td>
                            <!-- Tratando os possíveis inputs de DDI -->
                            {{ $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddi.length === 1 ?
                            ($ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddi | mask: '+9' ) : ''}}
                            {{ $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddi.length === 2 ?
                            ($ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddi | mask: '+99' ) : ''}}
                            {{ $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddi.length === 3 ?
                            ($ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddi | mask: '+999' ) : ''}}

                            <!-- Tratando os possíveis inputs de DDD -->
                            {{ $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddd.length === 1 ?
                            ($ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddd | mask: '(9)' ) : ''}}
                            {{ $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddd.length === 2 ?
                            ($ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddd | mask: '(99)') : ''}}
                            {{ $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddd.length === 3 ?
                            ($ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceiroddd | mask: '(999)') : ''}}

                            <!-- Tratando os possíveis inputs de telefone -->
                            {{ $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceirotelefone.length === 1 ? 'Não informado' : ''}}
                            {{ $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceirotelefone.length === 8 ?
                            ($ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceirotelefone | mask: '9999-9999') : '' }}
                            {{ $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceirotelefone.length === 9 ?
                            ($ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceirotelefone | mask: '99999-9999') : '' }}
                            {{ $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceirotelefone.length !== 0 &&
                            $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceirotelefone.length !== 8 &&
                            $ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceirotelefone.length !== 9 ?
                            ($ctrl.dadosSeguradoras[subentity.seguradora.cliente].respfinanceirotelefone) : ''
                            }}
                          </td>
                          <td>{{ subentity.produtoseguradora.nome ? subentity.produtoseguradora.nome : 'Não informado' }} </td>
                          <td> {{ subentity.apolice.nome ? subentity.apolice.nome : 'Não informado' }} </td>
                          <td>{{ subentity.apolice.valorapolice ? 'R$ ' + subentity.apolice.valorapolice : 'Não informado' }}</td>
                          <td>{{ subentity.sinistro ? subentity.sinistro : 'Não informado' }} </td>
                        </tr>
                      </tbody>
                      <tfoot ng-if="oblistctrl.entities.length == 0">
                        <tr>
                          <td colspan="15" class="state-empty">
                            <div class="empty-list">
                              <p class="text-center"> Não existem itens para mostrar nesta lista. </p>
                            </div>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </object-list>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <section ng-if="$ctrl.camposCustomizados.dadosResponsavelFull">
                <nsj-custom-field without-legend="true" id-field="camposCustomizadosDadosResponsavel"
                  ng-prop-custom_fields="$ctrl.camposCustomizados.dadosResponsavelFull"
                  ng-prop-visible_config="$ctrl.camposCustomizadosConfig"
                  ng-prop-model="$ctrl.entity.dadosAtc.camposcustomizados" mode="view">
                </nsj-custom-fields>
              </section>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <section ng-if="$ctrl.camposCustomizados.dadosFalecidoResumido">
                <nsj-custom-field without-legend="true" id-field="camposCustomizadosDadosFalecido"
                  ng-prop-custom_fields="$ctrl.camposCustomizados.dadosFalecidoResumido"
                  ng-prop-visible_config="$ctrl.camposCustomizadosConfig"
                  ng-prop-model="$ctrl.entity.dadosAtc.camposcustomizados" mode="view">
                </nsj-custom-fields>
              </section>
            </div>
          </div>
          <div class="row row-form-view">
            <div class="col-sm-12">
              <div class="form-group clear-fix">
                <label for="endereco" class="control-label">Endereço</label>
                <p class="form-control-static">
                  {{ $ctrl.entity.dadosAtc.localizacaotipologradouro.descricao }}
                  {{ $ctrl.entity.dadosAtc.localizacaorua }},
                  {{ $ctrl.entity.dadosAtc.localizacaonumero }} -
                  {{ $ctrl.entity.dadosAtc.localizacaomunicipio.nome }},
                  {{ $ctrl.entity.dadosAtc.localizacaoestado.nome }} -
                  {{ $ctrl.entity.dadosAtc.localizacaoestado.uf }},
                  {{ $ctrl.entity.dadosAtc.localizacaocep }}
                </p>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>