<!-- Ações -->
<div class="btn-adicionar bottom-buffer" ng-if="!$ctrl.busyServicos && $ctrl.entity.servicosCarregado">
  <button tem-permissao="servicos_ordensservicostemplates_gerenciar" class="btn btn-md btn-warning" ng-disabled="$ctrl.disableAction" ng-click="$ctrl.onBtnAddServicoClick()">
    <i class="fas fa-plus"></i> Adicionar
  </button>
</div>

<!-- Listagem de serviços -->
<div class="row row-form-view"
  ng-if="!$ctrl.busyServicos && $ctrl.entity.servicosCarregado">
  <div class="col-sm-12">
    <div class="form-group clearfix">
      <table class="nsj-table table table-striped table-hover table-condensed table-bordered btns-actions">
        <thead>
          <tr>
            <th>
              Serviço técnico
            </th>
            <th>
              Quantidade
            </th>
            <th>
              Valor
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="subentity in $ctrl.entity.arrItens track by $index">
            <td> {{ subentity.servicotecnico.descricao }} </td>
            <td> {{ subentity.quantidade }} </td>
            <td> {{ subentity.valor | currency : 'R$ ' }} </td>
            <!-- Ações -->
            <td class="td-acoes">
              <div class='table-btns-actions'>
                <nsj-actions>
                  <!-- Edição -->
                  <nsj-action tem-permissao="servicos_ordensservicostemplates_gerenciar" ng-click="$ctrl.onBtnEdtServicoClick(subentity)" icon="fas fa-edit" title="Editar">
                  </nsj-action>
                  <!-- Exclusao -->
                  <nsj-action tem-permissao="servicos_ordensservicostemplates_gerenciar" ng-click="$ctrl.onBtnExcluirServicoClick(subentity)" icon="fas fa-trash" title="Excluir">
                  </nsj-action>
                </nsj-actions>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot ng-if="$ctrl.entity.arrItens.length == 0">
          <tr>
              <td colspan="6" class="state-empty">
                  <div class="empty-list">
                      <p class="text-center"> Não existem itens para mostrar nesta lista. </p>
                  </div>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="content-loading" ng-if="$ctrl.busyServicos">
  <div class="center-loading text-center">
      <div class="onloading"></div>
      Carregando...
  </div>
</div>