<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Exclusão de {{ $ctrl.entity.tipoitem === 0 ? 'Etapa' : 'Ordem de Serviço' }}
  </h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert-modal nsj-alert alert-danger">
          <i class="fas fa-exclamation-triangle"></i>
          <strong>Atenção!</strong> <br> Após a exclusão não será possível reverter a ação.
        </div>
      </div>

      <div class="col-sm-12">
        <p>
          Você tem certeza que deseja excluir o {{ $ctrl.entity.tipoitem === 0 ? 'Etapa' : 'Ordem de Serviço' }}?
        </p>
      </div>

    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="pull-right">
    <button type="button" class="btn btn-default btn-delete btn-geral" ng-click="$ctrl.delete(false)">
      Manter {{ $ctrl.entity.tipoitem === 0 ? 'Etapa' : 'Ordem de Serviço' }}
    </button>
    <button type="button" name="submit" class="btn btn-primary btn-save btn-geral" ng-click="$ctrl.delete(true)">
      Sim, excluir a {{ $ctrl.entity.tipoitem === 0 ? 'Etapa' : 'Ordem de Serviço' }}
    </button>
  </div>
</div>