 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-6" >
                                                    <div class="form-group"><label class="control-label" for="composicao">Serviço</label><nsj-lookup
            name="composicao"
            id-name="composicao"
            factory="CrmComposicoes"  
            ng-model="$ctrl.entity.composicao" 
                                    template="crm-composicoes-default"
                                    max-label="3"
            constructor="{  }"
            config='{ "nome":"Nome", "codigo":"Código", "descricao":"Descrição",  }'
            disabled = "$ctrl.entity.$$__submitting"
                        required = "($ctrl.entity.$$__submitting) !== true"
                                                ></nsj-lookup><div ng-messages="$ctrl.form.composicao.$error"  ng-if="$ctrl.form.composicao.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo serviço não pode ser vazio.
                    
                    
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                        	<div class="form-group">
		<label class="control-label" for="observacao">Observação</label>
		<textarea class="form-control" rows="15" id="observacao" name="observacao" ng-model="$ctrl.entity.observacao" ng-disabled="$ctrl.entity.$$__submitting"></textarea>
	</div>
        </div></div><div class="row " ><div class="col-sm-6" >
                            <div class="form-group">
        <label class="control-label" for="templateproposta"></label>
        <input type='text' class="form-control"
            id="templateproposta" name="templateproposta"
            ng-model="$ctrl.entity.templateproposta"
            ng-disabled="$ctrl.entity.$$__submitting"
            ng-show="false"
            />
    </div>
        </div><div class="col-sm-6" >
                            <div class="form-group">
        <label class="control-label" for="templatepropostagrupo"></label>
            <input type='text' class="form-control"
            id="templatepropostagrupo" name="templatepropostagrupo"
            ng-model="$ctrl.entity.templatepropostagrupo"
            ng-disabled="$ctrl.entity.$$__submitting"
            ng-show="false"
            />
        </div>
        </div></div>
</form>
