<form name="$ctrl.form" novalidate="novalidate" role="form" class="height-full">

    <div class="row ">
        <div class="col-sm-6">
            <div class="form-group"><label class="control-label" for="malotedocumento"></label><input type='text'
                    class="form-control" id="malotedocumento" name="malotedocumento"
                    ng-model="$ctrl.entity.malotedocumento" ng-disabled="$ctrl.entity.$$__submitting" /></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="form-group"><label class="control-label" for="documento">Documento</label>
                <nsj-lookup name="documento" id-name="negociodocumento" factory="CrmAtcsdocumentos"
                    ng-model="$ctrl.entity.documento" max-label="1" constructor="{  }"
                    config='{ "negociodocumento":"documento",  }' disabled="$ctrl.entity.$$__submitting"></nsj-lookup>
            </div>
        </div>
    </div>
</form>