<div class="height-full layout-table">

    <form nsj-focus name="crm_mltsdcmnts_frm_cntrllr.form" novalidate="novalidate"
        ng-class="{'content-scroll':'table' === 'table','nsj-loading-page' : crm_mltsdcmnts_frm_cntrllr.busy }"
        role="form" ng-submit="crm_mltsdcmnts_frm_cntrllr.submit()" class="height-full">


        <nsj-headline headline-title="" headline-sub="true">
            <div class="pull-right">




                <a class="btn btn-sm btn-default"
                    ui-sref="crm_malotesdocumentos({'malote' : crm_mltsdcmnts_frm_cntrllr.constructors.malote,})"
                    title="Voltar à lista">Voltar à lista</a>




            </div>
        </nsj-headline>
        <div class="nsj-form padding-content">
            <crm-malotesdocumentos-default entity="crm_mltsdcmnts_frm_cntrllr.entity"
                form="crm_mltsdcmnts_frm_cntrllr.form" busy="crm_mltsdcmnts_frm_cntrllr.busy"
                action="crm_mltsdcmnts_frm_cntrllr.action" constructors="crm_mltsdcmnts_frm_cntrllr.constructors">
            </crm-malotesdocumentos-default>
            <ul class="list-unstyled list-inline pull-left">
                <li>

                    <div class="form-group pull-left">

                        <button type="button" ng-click="crm_mltsdcmnts_frm_cntrllr.submit()"
                            ng-class="{loading:crm_mltsdcmnts_frm_cntrllr.entity.$$__submitting}"
                            ng-disabled="crm_mltsdcmnts_frm_cntrllr.entity.$$__submitting || crm_mltsdcmnts_frm_cntrllr.form.$pristine"
                            class="btn btn-sm btn-warning btn-save btn-geral">
                            <i class="fa fa-check"></i> Salvar
                        </button>

                        <a class="btn btn-sm"
                            ui-sref="crm_malotesdocumentos({'malote' : crm_mltsdcmnts_frm_cntrllr.constructors.malote,})"><i
                                class="fa fa-times" aria-hidden="true"></i> Cancelar</a>

                    </div>
                </li>
            </ul>
        </div>
        <div class="content-loading" ng-if="crm_mltsdcmnts_frm_cntrllr.busy">
            <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
            </div>
        </div>
    </form>

</div>