{% extends '@NasajonMDABundle/Resources/js/Atendimento/Admin/Enderecosemails/index.html.twig' %}
{% block index_header -%}
    <div class="col-md-12 headline-page ng-scope">
        <div class="headline clearfix">
            <div class="breadcrumb-trail hidden-xs hidden-sm pull-left"><a ui-sref="atendimento_admin_configuracoes_list" href="#/configuracoes" title="Configurações">Configurações</a> > <span class="select-page">Endereços de e-mail</span></strong></div>
            <a class="btn btn-xs btn-warning" ui-sref="atendimento_admin_enderecosemails_new({})" href="#/configuracoes/enderecosemails/new">
                <i class="el el-plus"></i> Criar
            </a>
        </div>
    </div>
{% endblock %}
{% block index_panel_header -%}
    <div class="headline-sub clearfix hidden-lg hidden-md">
        <h3 class="pull-left"><a href  ui-sref="atendimento_admin_configuracoes_list" href="#/configuracoes" title="Voltar às configurações" class="hidden-md hidden-lg"><i class="el el-chevron-left"></i></a> Endereços de e-mail</h3>
    </div>
    {{ parent() }}
{% endblock %}

{% block index_list -%}
<div class="height-full" ng-class="{'onloading' : tndmnt_dmn_ndrcsmls_lst_cntrllr.isBusy() }">
  <ul class="list-group" id="atendimento_admin_enderecosemails_list" dnd-list="tndmnt_dmn_ndrcsmls_lst_cntrllr.entities">
      <li href ui-sref='atendimento_admin_enderecosemails_edit({enderecoemail : entity.enderecoemail})'  class="list-group-item"
          ng-repeat="entity in tndmnt_dmn_ndrcsmls_lst_cntrllr.entities"
          ui-sref-active="active"
          ng-class="{'selected': selected === entity}">
          {{'{{ entity.email }} '}}<br />
          <span class="label label-success" ng-if="entity.ativo">
            <strong>Ativo</strong>
          </span>
          <span class="label label-default" ng-if="!entity.ativo">
            <strong>Inativo</strong>
          </span>
      </li>
      <p class="text-center nfound" ng-if="tndmnt_dmn_ndrcsmls_lst_cntrllr.entities.length == 0 && !tndmnt_dmn_ndrcsmls_lst_cntrllr.isBusy()">Nenhum dado encontrado</p>
  </ul>
  </div>
{% endblock index_list -%}
