<div class="height-full layout-list">    
    
    <form nsj-focus name="crm_stcsprngcs_frm_nw_cntrllr.form" novalidate="novalidate" ng-class="{'content-scroll':'list' === 'table','nsj-loading-page' : crm_stcsprngcs_frm_nw_cntrllr.busy }" role="form"  ng-submit="crm_stcsprngcs_frm_nw_cntrllr.submit()" class="height-full">


        <nsj-headline headline-title="Situação do Negócio " headline-sub="true">
<div class="pull-right">

        
        
        
        
                
        
     
    </div>
</nsj-headline>
        <div class="nsj-form padding-content">
            <crm-situacoesprenegocios-default entity="crm_stcsprngcs_frm_nw_cntrllr.entity" form="crm_stcsprngcs_frm_nw_cntrllr.form" busy="crm_stcsprngcs_frm_nw_cntrllr.busy" action="crm_stcsprngcs_frm_nw_cntrllr.action" constructors="crm_stcsprngcs_frm_nw_cntrllr.constructors"></crm-situacoesprenegocios-default>
                            <ul class="list-unstyled list-inline pull-left">
                                <li>
                    
<div class="form-group pull-left">
        
                                    <button type="button" ng-click="crm_stcsprngcs_frm_nw_cntrllr.submit()" ng-class="{loading:crm_stcsprngcs_frm_nw_cntrllr.entity.$$__submitting}" ng-disabled="crm_stcsprngcs_frm_nw_cntrllr.entity.$$__submitting || crm_stcsprngcs_frm_nw_cntrllr.form.$pristine" class="btn btn-sm btn-warning btn-save btn-geral">
                    <i class="fa fa-check"></i> Salvar
                </button>
            
                            <a class="btn btn-sm" ui-sref="crm_situacoesprenegocios({})" ><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
                    
            </div>                </li>
            </ul>
            </div>
        <div class="content-loading"  ng-if="crm_stcsprngcs_frm_nw_cntrllr.busy">
                <div class="center-loading text-center">
                <div class="onloading"></div>
                Carregando...
                </div>
            </div>
    </form>

</div>
