 <form name="$ctrl.form" novalidate="novalidate" role="form"  class="height-full">
               
                    <div class="row " ><div class="col-sm-12" >
                        	<div class="form-group">
		<label class="control-label" for="codigo">Código</label>

		<input 
			type='text' 
			class="form-control" 
			id="codigo" 
			name="codigo" 
			maxlength="6" 
			ng-model="$ctrl.entity.codigo" 
			ng-disabled="$ctrl.entity.$$__submitting" 
			ng-required="($ctrl.entity.$$__submitting) !== true"
			ng-pattern=/^[a-zA-Z0-9-]+$/ 		/>

			<div ng-messages="$ctrl.form.codigo.$error" ng-if="$ctrl.form.codigo.$dirty || $ctrl.form.$submitted">
			<div class="alert alert-danger" role="alert" ng-message="required">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="sr-only">Erro:</span>
				O campo código não pode ser vazio.
			</div>

			<div class="alert alert-danger" role="alert" ng-message="maxlength">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="sr-only">Erro:</span>
				O campo código aceita no máximo 6 caracteres.
			</div>

			<div class="alert alert-danger" role="alert" ng-message="pattern">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="sr-only">Erro:</span>
				O código da unidade só pode conter números, letras e hifens.
			</div>

		</div>
	</div>
        </div></div><div class="row " ><div class="col-sm-12" >
                                                    <div class="form-group"><label class="control-label" for="descricao">Descrição</label><input type='text' class="form-control"     id="descricao" name="descricao"          maxlength="40" ng-model="$ctrl.entity.descricao" ng-disabled="$ctrl.entity.$$__submitting" ng-required="($ctrl.entity.$$__submitting) !== true" /><div ng-messages="$ctrl.form.descricao.$error"  ng-if="$ctrl.form.descricao.$dirty || $ctrl.form.$submitted"><div class="alert alert-danger" role="alert" ng-message="required" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    O campo descrição não pode ser vazio.
                    
                    
                </div><div class="alert alert-danger" role="alert" ng-message="maxlength" ><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="sr-only">Erro:</span>
                    
                    
                    O campo nome aceita no máximo 40 caracteres.
                </div></div></div>
                        </div></div><div class="row " ><div class="col-sm-12" >
                        	<div class="form-group">
		<label class="control-label" for="decimais">Decimais</label>
		<button class="btn btn-link" type='button' uib-popover-html="'
			                            Quantidade de casas decimais disponíveis no uso da Unidade. Máximo de quatro casas decimais.
			                        '" popover-placement='auto bottom' popover-trigger="'mouseenter click outsideClick'">
			<i class="fas fa-question-circle"></i>
		</button>
                <input type='tel'                 class="form-control"
               id="decimais"
               name="decimais"
			   maxlength="1"
			   size="1"
               ng-model="$ctrl.entity.decimais"
               ng-disabled="$ctrl.entity.$$__submitting"
               ng-required="($ctrl.entity.$$__submitting) !== true"
               onkeypress="return event.charCode >= 48 && event.charCode <= 52" #}
               onpaste="return false;"
        />
        
        <div ng-messages="$ctrl.form.decimais.$error" ng-if="$ctrl.form.decimais.$dirty || $ctrl.form.$submitted">
			<div class="alert alert-danger" role="alert" ng-message="number">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="sr-only">Erro:</span>
				Valor informado não é um número.


			</div>
			<div class="alert alert-danger" role="alert" ng-message="required">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="sr-only">Erro:</span>
				O campo decimais não pode ser vazio.


			</div>
			<div class="alert alert-danger" role="alert" ng-message="lessthan">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="sr-only">Erro:</span>
				O sistema não suporta mais do que 4 casas decimais.


			</div>
			<div class="alert alert-danger" role="alert" ng-message="maxlength">
				<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
				<span class="sr-only">Erro:</span>


				O campo decimais não aceita mais de um número
			</div>
		</div>
	</div>
        </div></div>
</form>
